Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs, validate-json, yamllint

Path conditions:
  collapse-extra-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  format-python-in-qmd: any of: ^book/quarto/contents/.*\.qmd$
  check-list-formatting: any of: ^book/.*\.qmd$
  check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  header-inline-check: any of: ^book/quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/quarto/contents/.*\.qmd$
  check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  prevent-svg-files: any of: ^book/.*\.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: ^book/.*\.svg$
  validate-json: any of: \.json$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$


refactor(vol2): optimize learning objectives for clarity and conciseness
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol2): optimize remaining learning objectives (introduction, sustainable AI, privacy/security)
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

adding a profile update on create account
  tinytorch/site/extra/community/app.js
  tinytorch/site/extra/community/dashboard.html
  tinytorch/site/extra/community/modules/auth.js
  tinytorch/site/extra/community/modules/candle.js
  tinytorch/site/extra/community/modules/guard.js
  tinytorch/site/extra/community/modules/noise.js
  tinytorch/site/extra/community/modules/profile.js
  tinytorch/site/extra/community/modules/terrain.js
  tinytorch/site/extra/community/modules/ui.js
  tinytorch/site/extra/community/profile_setup.html
Due: none

fix(bib): correct venue information and DOI formats
  book/quarto/contents/vol1/data_engineering/data_engineering.bib
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.bib
  book/quarto/contents/vol2/inference/inference.bib
  book/quarto/contents/vol2/robust_ai/robust_ai.bib
Due: none

chore(bib): update bibliography files
  book/quarto/contents/vol1/benchmarking/benchmarking.bib
  book/quarto/contents/vol1/conclusion/conclusion.bib
  book/quarto/contents/vol1/dl_primer/dl_primer.bib
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.bib
  book/quarto/contents/vol1/efficient_ai/efficient_ai.bib
  book/quarto/contents/vol1/introduction/introduction.bib
  book/quarto/contents/vol1/responsible_engr/responsible_engr.bib
  book/quarto/contents/vol1/serving/serving.bib
  book/quarto/contents/vol1/training/training.bib
  book/quarto/contents/vol1/workflow/workflow.bib
  book/quarto/contents/vol2/frontiers/frontiers.bib
  book/quarto/contents/vol2/infrastructure/infrastructure.bib
  book/quarto/contents/vol2/introduction/introduction.bib
  book/quarto/contents/vol2/ops_scale/ops_scale.bib
  book/quarto/contents/vol2/privacy_security/privacy_security.bib
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.bib
Due: none

Adds TikZ colors to PDF config
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
Due: yamllint

fix(quality): comprehensive SQS Phase 2 quality improvements across all chapters
  book/quarto/_quarto.yml
  book/quarto/contents/vol1/conclusion/conclusion.bib
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.bib
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.bib
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.bib
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.bib
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol2/ai_for_good/ai_for_good.bib
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.bib
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.bib
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.bib
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.bib
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, yamllint

chore: resolve stash conflicts keeping quality improvements
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(vol2): convert Training Compute Evolution table to grid format
  book/quarto/contents/vol2/introduction/introduction.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(styles): make operators visible in dark mode code listings
  book/quarto/assets/styles/dark-mode.scss
Due: none

Adds zebra drawing macro for TikZ
  book/quarto/contents/vol1/dnn_architectures/includes/zebra_pic.tex
Due: none

docs(refs): update bibliography files for vol2 chapters
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol2/communication/communication.bib
  book/quarto/contents/vol2/conclusion/conclusion.bib
  book/quarto/contents/vol2/distributed_training/distributed_training.bib
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.bib
  book/quarto/contents/vol2/privacy_security/privacy_security.bib
  book/quarto/contents/vol2/responsible_ai/responsible_ai.bib
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: update chapter content for vol1 and vol2
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol2/inference/inference.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: update vol2 introduction and privacy_security chapters
  book/quarto/contents/vol2/introduction/images/png/placeholder.png
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/privacy_security/images/png/placeholder.png
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references

docs: convert column margin placeholders to regular images
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: update frameworks chapter
  book/quarto/contents/vol1/frameworks/frameworks.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(vol2): resolve PDF build errors in TikZ and BibTeX
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/frontiers/frontiers.bib
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(vol2): remove duplicate title from chapter frontmatter
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/storage/storage.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol2): use inject_parts filter for PDF part structure
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontmatter/acknowledgements.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, yamllint

refactor(vol1): content refinements and section consolidation
  book/quarto/_quarto.yml
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ops/ops.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, yamllint

refactor(vol1): use inject_parts filter for PDF part structure
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/contents/parts/summaries-vol1.yml
  book/quarto/contents/parts/summaries-vol2.yml
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/frontmatter/acknowledgements.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, yamllint

style(pdf): remove part summary box from part divider pages
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/tex/header-includes.tex
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

style(vol1): improve academic tone and enhance glossaries
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/conclusion/conclusion_glossary.json
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer_glossary.json
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/introduction/introduction_glossary.json
  book/quarto/contents/vol1/ml_systems/ml_systems_glossary.json
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.bib
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol1/workflow/workflow_glossary.json
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/index.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, validate-json

style(vol1): section-by-section stylist polish across all 16 chapters
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(content): resolve pre-commit validation issues
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frontmatter/acknowledgements.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol2/frontmatter/acknowledgements.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs(vol1): surgical polish of all 16 chapters for academic rigor
  book/quarto/contents/vol1/benchmarking/benchmarking.bib
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.bib
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.bib
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.bib
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.bib
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.bib
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.bib
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.bib
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/optimizations.bib
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.bib
  book/quarto/contents/vol1/training/training.bib
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs(vol1): comprehensive review and refinement of all 16 chapters
  book/quarto/contents/vol1/benchmarking/benchmarking.bib
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.bib
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.bib
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer_glossary.json
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.bib
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems_glossary.json
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/optimizations.bib
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.bib
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.bib
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, validate-json

feat: introduce MPG metric and update Volume 2 content
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/ai_for_good/images/png/cover_ai_good.png
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/communication/images/png/cover_communication.png
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/conclusion/images/png/cover_conclusion.png
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/distributed_training/images/png/cover_distributed.png
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/edge_intelligence/images/png/cover_ondevice_learning.png
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/fault_tolerance/images/png/cover_fault_tolerance.png
  book/quarto/contents/vol2/frontiers/frontiers.bib
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/frontiers/images/png/cover_frontiers.png
  book/quarto/contents/vol2/inference/images/png/cover_inference_at_scale.png
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/cluster_networking.qmd
  book/quarto/contents/vol2/infrastructure/images/png/cover_infrastructure.png
  book/quarto/contents/vol2/infrastructure/infrastructure.bib
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/images/png/cover_ops_scale.png
  book/quarto/contents/vol2/ops_scale/ops_scale.bib
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/images/png/cover_security_privacy.png
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/images/png/cover_responsible_ai.png
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/images/png/cover_robust_ai.png
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/images/png/cover_storage.png
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/images/png/cover_sustainable_ai.png
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references

docs(vol1): refine definitions and callouts based on feedback
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: formalize physics of ML systems in Volume 2
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/inference/inference.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

feat: refine Volume 2 with archetypes and SRE pitfalls
  book/quarto/contents/frontmatter/about/about.qmd
  book/quarto/contents/parts/summaries-vol2.yml
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, yamllint

docs: align Volume II structure in index.qmd
  book/quarto/contents/vol2/index.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: integrate Three Systems Archetypes throughout Volume 2 chapters
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

style: apply IEEE unit formatting and fix bold paragraph starters in Volume 1
  book/quarto/contents/vol1/data_engineering/data_engineering.bib
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

wip: save current state before reviewing recent writing edits
  .gemini
  GEMINI.md
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(style): correct grammar errors introduced during style polish
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(style): capitalize 'understanding' in benchmarking table caption
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(style): capitalize sentence starters in Volume 2 captions
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(style): capitalize additional sentence starters in figure captions
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

feat: Implement 'Engineer's Notebook' callout style for all formats
  book/quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.css
  book/quarto/_quarto.yml
  book/quarto/assets/styles/epub.css
  book/quarto/assets/styles/style.scss
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, yamllint
