Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-validate-json, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-images, book-validate-external-images, book-validate-image-references, book-prevent-svg

Path conditions:
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-check-list-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  book-prevent-svg: any of: ^book/quarto/contents/.*\.svg$, but not: .*_files/mediabag/.*\.svg$

Refactor: Finalize Volume 2 P.I.C.O. refactor and TikZ standardization
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/mlsys/constants.py
  book/vscode-ext/src/providers/qmdChunkHighlighter.ts
  refactor_math_prompt.md
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Fix: make pipe table prettifier apply visible alignment changes
  book/tools/scripts/utilities/prettify_pipe_tables.py
  book/vscode-ext/src/commands/precommitCommands.ts
Due: none

fix(module16): correct sparsity percentage bugs in compression module
  tinytorch/src/16_compression/16_compression.py
Due: none

Refactor: stabilize non-PDF build workflows and semantic editor cues.
  book/cli/commands/build.py
  book/cli/main.py
  book/quarto/assets/styles/dark-mode-vol1.scss
  book/quarto/assets/styles/dark-mode-vol2.scss
  book/quarto/assets/styles/style-vol1.scss
  book/quarto/assets/styles/style-vol2.scss
  book/quarto/config/_quarto-epub-vol1.yml
  book/quarto/scripts/epub_postprocess.py
  book/quarto/scripts/fix_cross_references.py
  book/vscode-ext/package.json
  book/vscode-ext/src/providers/qmdChunkHighlighter.ts
  book/vscode-ext/src/utils/terminal.ts
Due: book-validate-json

Fix Windows install issues
  tinytorch/site/extra/install.sh
  tinytorch/tito/commands/setup.py
Due: none

Refactor: centralize Quarto shared config and streamline PDF build fragments.
  book/quarto/config/_quarto-epub-vol1.yml
  book/quarto/config/_quarto-epub-vol2.yml
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-html-vol2.yml
  book/quarto/config/_quarto-pdf-vol1-copyedit.yml
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2-copyedit.yml
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/config/shared/README.md
  book/quarto/config/shared/base/diagram.yml
  book/quarto/config/shared/epub/diagram.yml
  book/quarto/config/shared/epub/filter-metadata.yml
  book/quarto/config/shared/epub/filters.yml
  book/quarto/config/shared/html/diagram.yml
  book/quarto/config/shared/html/filter-metadata.yml
  book/quarto/config/shared/html/filters.yml
  book/quarto/config/shared/pdf/build-copyedit-common.yml
  book/quarto/config/shared/pdf/build-production-common.yml
  book/quarto/config/shared/pdf/titlepage-pdf-common.yml
  book/quarto/config/shared/pdf/titlepage-pdf-copyedit-common.yml
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/hw_acceleration/images/svg/int8_tops.svg
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references, book-prevent-svg

feat(vscode-ext): add inline Python value resolution and reduce visual noise
  book/vscode-ext/package.json
  book/vscode-ext/scripts/verify-highlight-palette.js
  book/vscode-ext/src/extension.ts
  book/vscode-ext/src/providers/qmdChunkHighlighter.ts
  book/vscode-ext/src/providers/qmdHighlightPalette.ts
  book/vscode-ext/src/providers/qmdInlinePythonProviders.ts
  book/vscode-ext/src/providers/qmdPythonValueResolver.ts
Due: book-validate-json

fix(vscode-ext): force matplotlib Agg backend more aggressively
  book/vscode-ext/src/providers/qmdPythonValueResolver.ts
Due: none

feat(vscode-ext): workspace-wide cross-reference validation and section ID commands
  book/vscode-ext/package.json
  book/vscode-ext/src/extension.ts
  book/vscode-ext/src/providers/qmdChunkHighlighter.ts
  book/vscode-ext/src/validation/qmdDiagnostics.ts
Due: book-validate-json

feat(binder): consolidate 18 custom scripts into native binder subcommands
  .pre-commit-config.yaml
  book/cli/commands/maintenance.py
  book/cli/commands/validate.py
  book/vscode-ext/src/extension.ts
Due: none

refactor(binder): rename validate/maintain subcommands for clarity
  .pre-commit-config.yaml
  book/cli/commands/maintenance.py
  book/cli/commands/validate.py
  book/vscode-ext/src/extension.ts
Due: none

feat(binder): restructure CLI into check/fix/format hierarchy
  .pre-commit-config.yaml
  book/cli/commands/formatting.py
  book/cli/commands/validate.py
  book/cli/main.py
  book/vscode-ext/src/commands/publishCommands.ts
  book/vscode-ext/src/constants.ts
  book/vscode-ext/src/extension.ts
  book/vscode-ext/src/providers/precommitTreeProvider.ts
Due: none

fix(binder): update fix command prog name in argparse
  book/cli/commands/maintenance.py
Due: none

fix(binder): include all label types by default, enable pattern checks
  book/cli/commands/validate.py
  book/vscode-ext/src/extension.ts
Due: none

Fix typo in SocratiQ introduction
  book/quarto/contents/frontmatter/socratiq/socratiq.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

fix(tinytorch): enforce progressive disclosure across 9 modules
  tinytorch/src/01_tensor/01_tensor.py
  tinytorch/src/02_activations/02_activations.py
  tinytorch/src/05_dataloader/05_dataloader.py
  tinytorch/src/06_autograd/06_autograd.py
  tinytorch/src/07_optimizers/07_optimizers.py
  tinytorch/src/10_tokenization/10_tokenization.py
  tinytorch/src/13_transformers/13_transformers.py
  tinytorch/src/14_profiling/14_profiling.py
  tinytorch/src/17_acceleration/17_acceleration.py
Due: none

Fix typo in SocratiQ introduction (#1170)
  book/quarto/contents/frontmatter/socratiq/socratiq.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

fix(tinytorch): clean up Windows install fix comments from PR #1169
  tinytorch/site/extra/install.sh
  tinytorch/tito/commands/setup.py
Due: none

fix(tinytorch): enforce progressive disclosure and move EmbeddingBackward to Module 11
  tinytorch/src/01_tensor/01_tensor.py
  tinytorch/src/02_activations/02_activations.py
  tinytorch/src/03_layers/03_layers.py
  tinytorch/src/04_losses/04_losses.py
  tinytorch/src/06_autograd/06_autograd.py
  tinytorch/src/06_autograd/ABOUT.md
  tinytorch/src/07_optimizers/07_optimizers.py
  tinytorch/src/08_training/08_training.py
  tinytorch/src/09_convolutions/09_convolutions.py
  tinytorch/src/10_tokenization/10_tokenization.py
  tinytorch/src/11_embeddings/11_embeddings.py
  tinytorch/src/12_attention/12_attention.py
  tinytorch/src/13_transformers/13_transformers.py
  tinytorch/src/17_acceleration/17_acceleration.py
  tinytorch/src/19_benchmarking/19_benchmarking.py
  tinytorch/src/20_capstone/20_capstone.py
Due: none

fixed google auth allow iframe, slow index.html
  tinytorch/site/extra/community/index.html
Due: none

refactor(vscode-ext): remove diagnostics system and clean up highlighter
  book/vscode-ext/package.json
  book/vscode-ext/src/extension.ts
  book/vscode-ext/src/providers/qmdChunkHighlighter.ts
  book/vscode-ext/src/providers/qmdHighlightPalette.ts
  book/vscode-ext/src/validation/qmdDiagnostics.ts
Due: book-validate-json

fix(tinytorch): correct INT8 zero-point values in Module 15 quantization docs
  tinytorch/src/15_quantization/15_quantization.py
  tinytorch/src/15_quantization/ABOUT.md
Due: none

fix(vscode-ext): fix typed reference colors and simplify settings
  book/vscode-ext/package.json
  book/vscode-ext/scripts/verify-highlight-palette.js
  book/vscode-ext/src/providers/qmdChunkHighlighter.ts
  book/vscode-ext/src/providers/qmdHighlightPalette.ts
Due: book-validate-json

fix(tinytorch): fix broken paths and references in CONTRIBUTING.md and INSTRUCTOR.md
  tinytorch/CONTRIBUTING.md
  tinytorch/INSTRUCTOR.md
Due: none

content(vol1): add thesis-driven titles to all Key Takeaways callouts
  book/quarto/contents/vol1/backmatter/appendix_algorithm.qmd
  book/quarto/contents/vol1/backmatter/appendix_assumptions.qmd
  book/quarto/contents/vol1/backmatter/appendix_dam.qmd
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

style(vol1): standardize multiplication notation across all chapters
  book/quarto/contents/vol1/backmatter/appendix_algorithm.qmd
  book/quarto/contents/vol1/backmatter/appendix_assumptions.qmd
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/frontmatter/about.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/parts/optimize_principles.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

feat(binder): add `render plots` command for matplotlib figure gallery
  .gitignore
  book/cli/commands/render.py
  book/cli/main.py
  book/tools/scripts/_archive/render_figures.py
  pyproject.toml
Due: none

style(vol1): fix remaining multiplication notation violations
  book/quarto/contents/vol1/backmatter/glossary/glossary.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

feat(vscode-ext): add health status bar and validation checks
  book/vscode-ext/package.json
  book/vscode-ext/src/extension.ts
  book/vscode-ext/src/providers/precommitTreeProvider.ts
  book/vscode-ext/src/validation/healthManager.ts
  book/vscode-ext/src/validation/qmdChecks.ts
Due: book-validate-json

docs(paper): add intra-module scaffolding subsection to progressive disclosure
  tinytorch/paper/paper.tex
Due: none

refactor(tinytorch): function decomposition, naming conventions, and progressive disclosure
  tinytorch/src/01_tensor/01_tensor.py
  tinytorch/src/02_activations/02_activations.py
  tinytorch/src/03_layers/03_layers.py
  tinytorch/src/04_losses/04_losses.py
  tinytorch/src/05_dataloader/05_dataloader.py
  tinytorch/src/06_autograd/06_autograd.py
  tinytorch/src/07_optimizers/07_optimizers.py
  tinytorch/src/08_training/08_training.py
  tinytorch/src/09_convolutions/09_convolutions.py
  tinytorch/src/10_tokenization/10_tokenization.py
  tinytorch/src/11_embeddings/11_embeddings.py
  tinytorch/src/12_attention/12_attention.py
  tinytorch/src/13_transformers/13_transformers.py
  tinytorch/src/14_profiling/14_profiling.py
  tinytorch/src/15_quantization/15_quantization.py
  tinytorch/src/18_memoization/18_memoization.py
  tinytorch/src/19_benchmarking/19_benchmarking.py
Due: none

style(tinytorch): standardize formatting and conventions across all 20 modules
  tinytorch/src/01_tensor/01_tensor.py
  tinytorch/src/02_activations/02_activations.py
  tinytorch/src/03_layers/03_layers.py
  tinytorch/src/05_dataloader/05_dataloader.py
  tinytorch/src/06_autograd/06_autograd.py
  tinytorch/src/07_optimizers/07_optimizers.py
  tinytorch/src/09_convolutions/09_convolutions.py
  tinytorch/src/11_embeddings/11_embeddings.py
  tinytorch/src/12_attention/12_attention.py
  tinytorch/src/13_transformers/13_transformers.py
  tinytorch/src/15_quantization/15_quantization.py
  tinytorch/src/16_compression/16_compression.py
  tinytorch/src/17_acceleration/17_acceleration.py
  tinytorch/src/18_memoization/18_memoization.py
Due: none

fix(vol1): correct stale backward references across 3 chapters
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

refactor(modules): decompose oversized solution blocks for pedagogical consistency
  tinytorch/src/01_tensor/01_tensor.py
  tinytorch/src/08_training/08_training.py
  tinytorch/src/09_convolutions/09_convolutions.py
  tinytorch/src/11_embeddings/11_embeddings.py
  tinytorch/src/19_benchmarking/19_benchmarking.py
Due: none
