Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$

test(docker): revert to Chocolatey TeX Live to test maintainer's fix
  docker/windows/Dockerfile
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

docs(quizzes): update quiz files across all chapters
  quarto/contents/core/ai_for_good/ai_for_good_quizzes.json
  quarto/contents/core/benchmarking/footnote_context_quizzes.json
  quarto/contents/core/data_engineering/data_engineering_quizzes.json
  quarto/contents/core/dl_primer/dl_primer_quizzes.json
  quarto/contents/core/dnn_architectures/dnn_architectures_quizzes.json
  quarto/contents/core/efficient_ai/efficient_ai_quizzes.json
  quarto/contents/core/frameworks/footnote_context_quizzes.json
  quarto/contents/core/frontiers/frontiers_quizzes.json
  quarto/contents/core/hw_acceleration/hw_acceleration_quizzes.json
  quarto/contents/core/introduction/introduction_quizzes.json
  quarto/contents/core/ml_systems/footnote_context_quizzes.json
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning_quizzes.json
  quarto/contents/core/ops/ops_quizzes.json
  quarto/contents/core/optimizations/optimizations_quizzes.json
  quarto/contents/core/privacy_security/privacy_security_quizzes.json
  quarto/contents/core/responsible_ai/responsible_ai_quizzes.json
  quarto/contents/core/robust_ai/footnote_context_quizzes.json
  quarto/contents/core/robust_ai/robust_ai_quizzes.json
  quarto/contents/core/sustainable_ai/sustainable_ai_quizzes.json
  quarto/contents/core/workflow/workflow_quizzes.json
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

docs(glossary): update glossary definitions
  quarto/contents/backmatter/glossary/glossary.qmd
  quarto/contents/data/global_glossary.json
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

docs(bibliography): update references in ondevice_learning, robust_ai, and training chapters
  quarto/contents/core/ondevice_learning/ondevice_learning.bib
  quarto/contents/core/robust_ai/robust_ai.bib
  quarto/contents/core/training/training.bib
Due: none

docs(bibliography): update references across all chapters
  quarto/contents/core/dnn_architectures/dnn_architectures.bib
  quarto/contents/core/introduction/introduction.bib
  quarto/contents/core/sustainable_ai/sustainable_ai.bib
Due: none

chore(config): update quarto configuration files
  quarto/config/_quarto-epub.yml
  quarto/config/_quarto-html.yml
  quarto/config/_quarto-pdf.yml
Due: yamllint

refactor(chapters): Standardize section order with Fallacies before Summary
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Update a Tikz figure in chapter-14
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixes internal links in introduction/ML systems
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/introduction/introduction_quizzes.json
  quarto/contents/core/ml_systems/ml_systems.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(content): correct cross-references and update quizzes
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/ai_for_good/ai_for_good_quizzes.json
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/benchmarking/benchmarking_quizzes.json
  quarto/contents/core/benchmarking/footnote_context_quizzes.json
  quarto/contents/core/conclusion/conclusion.bib
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/efficient_ai/efficient_ai_quizzes.json
  quarto/contents/core/frontiers/frontiers.bib
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/frontiers/frontiers_quizzes.json
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/footnote_context_quizzes.json
  quarto/contents/core/ml_systems/frontiers_quizzes.json
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ml_systems/ml_systems_quizzes.json
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/ops/ops_quizzes.json
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/optimizations/optimizations_quizzes.json
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/privacy_security/privacy_security_quizzes.json
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/responsible_ai/responsible_ai_quizzes.json
  quarto/contents/core/sustainable_ai/sustainable_ai.bib
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/workflow/workflow.qmd
  quarto/contents/core/workflow/workflow_quizzes.json
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

refactor(content): update section labels and improve CLI help
  cli/main.py
  quarto/contents/backmatter/glossary/README.md
  quarto/contents/backmatter/glossary/glossary.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/conclusion/footnote_context_quizzes.json
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/frameworks/footnote_context_quizzes.json
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frameworks/frameworks_quizzes.json
  quarto/contents/core/frameworks/frontiers_quizzes.json
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration_quizzes.json
  quarto/contents/core/introduction/introduction_quizzes.json
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning_quizzes.json
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/robust_ai/footnote_context_quizzes.json
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/robust_ai/robust_ai_quizzes.json
  quarto/contents/core/training/training.qmd
  quarto/contents/frontmatter/about/about.qmd
  quarto/contents/labs/arduino/nicla_vision/nicla_vision.qmd
  quarto/contents/labs/raspi/raspi.qmd
  quarto/contents/labs/seeed/grove_vision_ai_v2/grove_vision_ai_v2.qmd
  quarto/contents/labs/seeed/xiao_esp32s3/xiao_esp32s3.qmd
  quarto/contents/parts/foundations.qmd
  quarto/index.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

refactor(content): update section titles and cross-references
  quarto/contents/core/conclusion/conclusion_quizzes.json
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/optimizations/optimizations_quizzes.json
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

revert(docker): restore Windows Dockerfile to stable September version
  docker/windows/Dockerfile
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Updates AI Engineering definition and references
  docker/windows/Dockerfile.backup-2025-10-08
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  tools/scripts/genai/quizzes.py
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

chore: remove .claude directory from version control
  .claude/README.md
  .claude/agents/editorial/citation-validator.md
  .claude/agents/editorial/cross-reference-optimizer.md
  .claude/agents/editorial/editor.md
  .claude/agents/editorial/fact-checker.md
  .claude/agents/editorial/footnote.md
  .claude/agents/editorial/glossary-builder.md
  .claude/agents/editorial/independent-review.md
  .claude/agents/editorial/learning-objectives.md
  .claude/agents/editorial/narrative-flow-analyzer.md
  .claude/agents/editorial/reviewer.md
  .claude/agents/editorial/stylist.md
  .claude/agents/reviewer.md
  .claude/agents/stylist.md
  .claude/agents/workflow/consensus-builder.md
  .claude/agents/workflow/git-commit.md
  .claude/agents/workflow/polish.md
  .claude/docs/README.md
  .claude/docs/agents/footnote_complete_guide.md
  .claude/docs/agents/reviewer_narrative_report.md
  .claude/docs/shared/CONTEXT.md
  .claude/docs/shared/GIT_WORKFLOW.md
  .claude/docs/shared/KNOWLEDGE_MAP.md
  .claude/docs/shared/agent_commit_policy.md
Due: none

fix(docker): pin TeX Live to version 2025.20251008.0 to resolve install-tl.zip issue
  docker/windows/Dockerfile
Due: none

fix(bibliography): add frontiers.bib to all Quarto configurations
  quarto/config/_quarto-epub.yml
  quarto/config/_quarto-html.yml
  quarto/config/_quarto-pdf.yml
Due: yamllint

docs(training): improve callout formatting for better rendering
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(content): add empty lines before bullet lists for proper markdown rendering
  quarto/404.qmd
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/frontmatter/socratiq/socratiq.qmd
  quarto/contents/labs/labs.qmd
  quarto/contents/labs/raspi/object_detection/object_detection.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat(tools): add markdown list formatting checker and auto-fixer
  tools/scripts/utilities/README_LIST_FORMATTING.md
  tools/scripts/utilities/check_list_formatting.py
Due: none

refactor(tools): reorganize scripts directory structure for better maintainability
  .pre-commit-config.yaml
  tools/scripts/.backup_20251009_133211.json
  tools/scripts/content/fix_mid_paragraph_bold.py
  tools/scripts/content/format_python_in_qmd.py
  tools/scripts/content/format_tables.py
  tools/scripts/genai/prompt.txt
  tools/scripts/glossary/standardize_glossaries.py
  tools/scripts/images/README.md
  tools/scripts/images/__init__.py
  tools/scripts/images/analyze_image_sizes.py
  tools/scripts/images/compress_images.py
  tools/scripts/images/convert_svg_to_png.py
  tools/scripts/images/download_external_images.py
  tools/scripts/images/manage_external_images.py
  tools/scripts/images/manage_images.py
  tools/scripts/images/remove_bg.py
  tools/scripts/images/rename_auto_images.py
  tools/scripts/images/rename_downloaded_images.py
  tools/scripts/images/validate_image_references.py
  tools/scripts/infrastructure/README.md
  tools/scripts/infrastructure/__init__.py
  tools/scripts/infrastructure/cleanup_containers.py
  tools/scripts/infrastructure/cleanup_workflow_runs_gh.py
  tools/scripts/infrastructure/list_containers.py
  tools/scripts/maintenance/generate_release_notes.py
  tools/scripts/maintenance/preflight.py
  tools/scripts/reorganize_scripts.py
  tools/scripts/testing/test_format_tables.py
  tools/scripts/testing/test_image_extraction.py
  tools/scripts/testing/test_publish_live.py
  tools/scripts/utilities/check_custom_extensions.py
  tools/scripts/utilities/validate_part_keys.py
Due: yamllint

fix(scripts): correct workspace root path calculation in format_tables.py
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  tools/scripts/content/format_tables.py
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

enhance: improve Publish Live workflow AI prompt for better release notes
  .github/workflows/publish-live.yml
  quarto/assets/scripts/sidebar-auto-collapse.js
Due: yamllint

fix(conclusion): add missing bibliography entries
  quarto/contents/core/conclusion/conclusion.bib
Due: none

feat(pre-commit): add citation validation hook
  .pre-commit-config.yaml
  tools/scripts/content/validate_citations.py
Due: yamllint

docs(scripts): add citation validation documentation
  tools/scripts/content/README_CITATION_VALIDATION.md
Due: none

fix(citations): add missing bibliography entries and improve validation
  quarto/contents/core/frontiers/frontiers.bib
  quarto/contents/core/privacy_security/privacy_security.bib
  quarto/contents/core/robust_ai/robust_ai.bib
  tools/scripts/content/validate_citations.py
Due: none

Updates bibliography entries with missing dates
  quarto/contents/core/conclusion/conclusion.bib
  quarto/contents/core/frontiers/frontiers.bib
  quarto/contents/core/hw_acceleration/hw_acceleration.bib
  quarto/contents/core/privacy_security/privacy_security.bib
  quarto/contents/core/robust_ai/robust_ai.bib
  quarto/contents/core/sustainable_ai/sustainable_ai.bib
Due: none

Improves sidebar auto-collapse and link handling
  quarto/assets/scripts/sidebar-auto-collapse.js
  quarto/config/_quarto-html.yml
  quarto/scripts/README.md
  quarto/scripts/fix_cross_references.py
Due: yamllint

enhance: improve changelog generation to focus on user-facing changes
  CHANGELOG.md
  tools/scripts/maintenance/generate_release_content.py
Due: none

update: announcement banner to highlight recent content improvements
  quarto/config/announcement.yml
Due: yamllint

reorder: announcement items for better user flow
  quarto/config/announcement.yml
Due: yamllint

fix: correct MIT Press publication timeline to 2026
  quarto/config/announcement.yml
Due: yamllint

polish: refine announcement banner content for clarity
  quarto/config/announcement.yml
Due: yamllint

Simplifies date formatting in changelog
  CHANGELOG.md
Due: none

fix: uncomment all qmd files in PDF config for proper builds
  quarto/config/_quarto-pdf.yml
Due: yamllint

Improves sidebar auto-collapse behavior
  quarto/assets/scripts/sidebar-auto-collapse.js
Due: none

Fix example equation by adding transpose and clarify note on vector orientation (issue #974)
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fix: correct CNN architecture question option order (issue #976)
  quarto/contents/core/dnn_architectures/dnn_architectures_quizzes.json
Due: none
