Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-images, book-validate-external-images, book-validate-image-references

book-format-python:
  name: 'Book: Format Python code blocks (Black, 70 chars)'
  entry: ./book/binder format python
  language: system
  pass_filenames: true

book-collapse-blank-lines:
  name: 'Book: Collapse extra blank lines'
  entry: ./book/binder format blanks
  language: system
  pass_filenames: true

book-fix-list-spacing:
  name: 'Book: Fix list spacing (blank before lists, tight items)'
  entry: ./book/binder format lists
  language: system
  pass_filenames: true

book-validate-json:
  name: 'Book: Validate JSON files'
  entry: ./book/binder check json
  language: system
  pass_filenames: false

book-verify-section-ids:
  name: 'Book: Verify all sections have IDs'
  entry: ./book/binder check headers --vol1
  language: system
  pass_filenames: false

book-check-unreferenced-labels:
  name: 'Book: Check for unreferenced labels'
  entry: ./book/binder check labels --scope orphans --vol1
  language: system
  pass_filenames: false

book-check-duplicate-labels:
  name: 'Book: Check for duplicate labels'
  entry: ./book/binder check labels --scope duplicates --figures --tables --listings
  language: system
  pass_filenames: false

book-validate-citations:
  name: 'Book: Validate citation references'
  entry: ./book/binder check refs --scope citations
  language: system
  pass_filenames: false

book-check-references:
  name: 'Book: Check reference/citation issues'
  entry: ./book/binder check refs --scope cross-refs --citations-in-code
  language: system
  pass_filenames: false

book-validate-footnotes:
  name: 'Book: Validate footnote references'
  entry: ./book/binder check footnotes --scope integrity
  language: system
  pass_filenames: false

book-check-forbidden-footnotes:
  name: 'Book: Check for footnotes in tables/captions'
  entry: ./book/binder check footnotes --scope placement
  language: system
  pass_filenames: false

book-check-purpose-unnumbered:
  name: 'Book: Ensure Purpose sections are unnumbered'
  entry: bash -c 'grep -n "^## Purpose" "$@" | grep -v "\.unnumbered" && exit 1 || exit 0' --
  language: system
  pass_filenames: true

book-check-unclosed-divs:
  name: 'Book: Check for malformed div fences (:::)'
  entry: 'bash -c ''for f in "$@"; do grep -nE "^:::[ ]+[^{ ]" "$f" && echo "  ^^^ ERROR in $f: div fence (:::) has trailing text. The ::: must be on its own line to close a div." && exit 1; done; exit 0'' --'
  language: system
  pass_filenames: true

book-check-four-colon-space:
  name: 'Book: Check for malformed nested div fences (::::)'
  ...

book-check-figure-completeness:
  name: 'Book: Check figures have captions and alt-text'
  entry: ./book/binder check figures --scope captions
  language: system
  pass_filenames: false

book-check-figure-placement:
  name: 'Book: Check figure/table placement (near first reference)'
  entry: ./book/binder check figures --scope flow
  language: system
  pass_filenames: false

book-mlsys-test-units:
  name: 'Book: MLSys unit checks'
  entry: ./book/binder check units
  language: system
  pass_filenames: false

fix(staffml): track and clear toast auto-dismiss timers
  interviews/staffml/src/__tests__/toast-timer-cleanup.test.tsx
  interviews/staffml/src/components/Toast.tsx
Due: none

fix(staffml): guard localStorage access in ThemeProvider against strict-storage browsers
  interviews/staffml/src/__tests__/theme-provider-storage.test.tsx
  interviews/staffml/src/components/ThemeProvider.tsx
Due: none

fix(staffml): expose expanded state on Nav disclosure toggles
  interviews/staffml/src/__tests__/nav-disclosure-aria.test.tsx
  interviews/staffml/src/components/Nav.tsx
Due: none

fix(staffml): give StarGate proper dialog semantics and focus management
  interviews/staffml/src/__tests__/stargate-dialog-a11y.test.tsx
  interviews/staffml/src/components/StarGate.tsx
Due: none

fix(staffml): remove invalid HTML button nested inside the explore SVG
  interviews/staffml/src/__tests__/explore-svg-markup.test.tsx
  interviews/staffml/src/app/explore/page.tsx
Due: none

tinytorch modules 07 and 08 diagram fixes
  tinytorch/src/07_optimizers/07_optimizers.py
  tinytorch/src/08_training/08_training.py
Due: none

fix(staffml): give the framework primitive-detail modal dialog semantics and focus management
  interviews/staffml/src/__tests__/framework-modal-a11y.test.tsx
  interviews/staffml/src/app/framework/page.tsx
Due: none

fix(tinytorch): single backslashes in SGD diagrams under raw string
  tinytorch/src/07_optimizers/07_optimizers.py
Due: none

Refined the PDF layout for chapter 6 (nn_architectures.qmd)
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Audit napkin math assumptions
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/model_compression/model_compression.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/data_storage/images/svg/data_storage_checkpoint_storm_write_time.svg
  book/quarto/contents/vol2/inference/inference.qmd
  book/tools/scripts/margin_figures/generate_margin_figures.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Clarify napkin math assumptions
  book/quarto/contents/vol1/backmatter/appendix_algorithm.qmd
  book/quarto/contents/vol1/backmatter/appendix_dam.qmd
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol2/backmatter/appendix_c3.qmd
  book/quarto/contents/vol2/backmatter/appendix_communication.qmd
  book/quarto/contents/vol2/backmatter/appendix_dam.qmd
  book/quarto/contents/vol2/backmatter/appendix_fleet.qmd
  book/quarto/contents/vol2/backmatter/appendix_inference.qmd
  book/quarto/contents/vol2/backmatter/appendix_reliability.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Refined the PDF layout for chapter 7 (frameworks.qmd)
  book/quarto/contents/vol1/frameworks/frameworks.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Refined the PDF layout for chapter 7 (frameworks.qmd) (#1909)
  book/quarto/contents/vol1/frameworks/frameworks.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Refined the PDF layout for chapter 6 (nn_architectures.qmd) (#1908)
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Site QA polish: finish MLSys.im brand migration, fix broken links, add memory-tier figure
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  instructors/course-map.qmd
  instructors/foundations-syllabus.qmd
  instructors/getting-started.qmd
  mlsysim/docs/DATA_MODEL.md
  mlsysim/docs/accuracy.qmd
  mlsysim/docs/api/index.qmd
  mlsysim/docs/api/solvers.qmd
  mlsysim/docs/architecture.qmd
  mlsysim/docs/contributing.qmd
  mlsysim/docs/empirical-calibration.md
  mlsysim/docs/for-engineers.qmd
  mlsysim/docs/for-instructors.qmd
  mlsysim/docs/for-students.qmd
  mlsysim/docs/getting-started.qmd
  mlsysim/docs/glossary.qmd
  mlsysim/docs/index.qmd
  mlsysim/docs/math.qmd
  mlsysim/docs/provenance.qmd
  mlsysim/docs/solver-guide.qmd
  mlsysim/docs/styles/dark-mode.scss
  mlsysim/docs/styles/landing.css
  mlsysim/docs/tutorials/11_training_memory_capacity_moe.qmd
  mlsysim/mlsysim/hardware/data/cloud/DMatrix_Corsair.yaml
  mlsysim/mlsysim/hardware/data/cloud/Graphcore_GC200.yaml
  mlsysim/mlsysim/hardware/data/cloud/Groq_LPU.yaml
  mlsysim/mlsysim/hardware/data/cloud/Untether_speedAI240.yaml
  shared/config/_ecosystem-cards.qmd
  shared/config/navbar-common.yml
  slides/index.qmd
  slides/teaching.qmd
  slides/vol1/15_responsible_engr/15_responsible_engr.tex
  slides/vol1/15_responsible_engr/images/carbon-footprint-tco.svg
  slides/vol1/16_conclusion/16_conclusion.tex
  slides/vol2/15_sustainable_ai/15_sustainable_ai.tex
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Use namedtuple for memory-tier plotting helper to satisfy LEGO prose-ref check
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Refined the PDF layout for chapter 8 (training.qmd)
  book/quarto/contents/vol1/training/training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Replace generic Engine.solve calls with domain-specific solvers (SingleNodeModel, EfficiencyModel, CompressionModel, DataModel) across Vol 1 & 2
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/model_compression/model_compression.qmd
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Update mlsysim examples and add 'zoo' transitions to appendices
  book/quarto/contents/vol1/backmatter/appendix_algorithm.qmd
  book/quarto/contents/vol1/backmatter/appendix_assumptions.qmd
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  mlsysim/examples/01_basic_roofline.py
  mlsysim/examples/04_data_wall.py
  mlsysim/examples/05_huggingface_import.py
  mlsysim/examples/hello_world.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Fix codespell failure in paper.tex
  mlsysim/paper/paper.tex
Due: none

Update latex references to explicitly say Appendix instead of Section via Cref
  mlsysim/paper/paper.tex
Due: none

Scrub LLM phrasing and rewrite colon-style lists
  mlsysim/paper/paper.tex
Due: none

Restore inline bold heading tags
  mlsysim/paper/paper.tex
Due: none

Format appendices with 'Appendix' title prefix
  mlsysim/paper/paper.tex
Due: none

fix(staffml): format Footer build date in UTC to avoid hydration mismatch
  interviews/staffml/src/__tests__/footer-build-label.test.tsx
  interviews/staffml/src/components/Footer.tsx
Due: none

fix(staffml): keep practice-page Cmd+Enter handler fresh via latest-callback refs
  interviews/staffml/src/app/practice/page.tsx
Due: none

fix(staffml): cancel StarGate's verify-delay timer on unmount
  interviews/staffml/src/__tests__/stargate-timer-cleanup.test.tsx
  interviews/staffml/src/components/StarGate.tsx
Due: none

feat(binder): add markdown list-spacing check for bold lead-ins
  book/cli/checks/markdown_list_spacing.py
  book/cli/commands/formatting.py
  book/cli/commands/validate.py
  book/tests/test_markdown_list_spacing.py
Due: none

fix(vol2): normalize list spacing in DP and emissions worked examples
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

chore(mlperf-edu): add uv packaging workflow
  mlperf-edu/INSTALL.md
  mlperf-edu/PUBLIC_RULES.md
  mlperf-edu/QUALITY_TARGET_REVIEW.md
  mlperf-edu/README.md
  mlperf-edu/RELEASE_CHECKLIST.md
  mlperf-edu/TODAY_IMPLEMENTATION_PLAN.md
  mlperf-edu/pyproject.toml
  mlperf-edu/src/mlperf_edu/workloads.yaml
  mlperf-edu/tests/test_registry.py
  mlperf-edu/tools/export_flat_registry.py
  mlperf-edu/tools/export_registry_layout.py
Due: none

Refined the PDF layout for chapter 9 (data_selection.qmd)
  book/quarto/contents/vol1/data_selection/data_selection.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(book): apply Black + blank/list formatting to ch6/ch7/ch8
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Trim callout lead-in/opening repetition across vol1 + vol2
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/model_compression/model_compression.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/parts/build_principles.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/parts/fleet_principles.qmd
  book/quarto/contents/vol2/parts/responsible_fleet_principles.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

docs(book): make volumes read standalone; tidy whitespace
  book/quarto/contents/frontmatter/about/about.qmd
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/introduction/introduction_quizzes.json
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol2/backmatter/appendix_inference.qmd
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

arxiv update
  mlsysim/paper/figures/mlsysim-overview.svg
  mlsysim/paper/figures/solver-chaining.svg
  mlsysim/paper/mlsysim-paper-archive.zip
Due: none

Sharpen vol3 sketch: trajectory as the unit of engineering, reliability as a compounding baseline
  book/quarto/contents/vol3/README.md
Due: none

Refined the PDF layout for chapter 10 (model_compression.qmd)
  book/quarto/contents/vol1/model_compression/model_compression.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Refined the PDF layout for chapter 10 (model_compression.qmd) (#1916)
  book/quarto/contents/vol1/model_compression/model_compression.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Path conditions:
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-fix-list-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-verify-section-ids: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-check-references: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unclosed-divs: any of: ^book/quarto/contents/.*\.qmd$
  book-check-four-colon-space: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-completeness: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-check-grid-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-prettify-pipe-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-check-render-patterns: any of: ^book/quarto/contents/.*\.qmd$
  book-check-python-echo: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-dropcap: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-validate-inline: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-test-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-index-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-check-heading-levels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-words: any of: ^book/quarto/contents/.*\.qmd$
  book-check-percent-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unit-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-binary-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-contractions: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unblended-prose: any of: ^book/quarto/contents/.*\.qmd$
  book-check-times-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
