Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-images, book-validate-external-images, book-validate-image-references

book-format-python:
  name: 'Book: Format Python code blocks (Black, 70 chars)'
  entry: ./book/binder format python
  language: system
  pass_filenames: true

book-collapse-blank-lines:
  name: 'Book: Collapse extra blank lines'
  entry: ./book/binder format blanks
  language: system
  pass_filenames: true

book-fix-list-spacing:
  name: 'Book: Fix list spacing (blank before lists, tight items)'
  entry: ./book/binder format lists
  language: system
  pass_filenames: true

book-validate-json:
  name: 'Book: Validate JSON files'
  entry: ./book/binder check json
  language: system
  pass_filenames: false

book-verify-section-ids:
  name: 'Book: Verify all sections have IDs'
  entry: ./book/binder check headers --vol1
  language: system
  pass_filenames: false

book-check-unreferenced-labels:
  name: 'Book: Check for unreferenced labels'
  entry: ./book/binder check labels --scope orphans --vol1
  language: system
  pass_filenames: false

book-check-duplicate-labels:
  name: 'Book: Check for duplicate labels'
  entry: ./book/binder check labels --scope duplicates --figures --tables --listings
  language: system
  pass_filenames: false

book-validate-citations:
  name: 'Book: Validate citation references'
  entry: ./book/binder check refs --scope citations
  language: system
  pass_filenames: false

book-check-references:
  name: 'Book: Check reference/citation issues'
  entry: ./book/binder check refs --scope cross-refs --citations-in-code
  language: system
  pass_filenames: false

book-validate-footnotes:
  name: 'Book: Validate footnote references'
  entry: ./book/binder check footnotes --scope integrity
  language: system
  pass_filenames: false

book-check-forbidden-footnotes:
  name: 'Book: Check for footnotes in tables/captions'
  entry: ./book/binder check footnotes --scope placement
  language: system
  pass_filenames: false

book-check-purpose-unnumbered:
  name: 'Book: Ensure Purpose sections are unnumbered'
  entry: bash -c 'grep -n "^## Purpose" "$@" | grep -v "\.unnumbered" && exit 1 || exit 0' --
  language: system
  pass_filenames: true

book-check-unclosed-divs:
  name: 'Book: Check for malformed div fences (:::)'
  entry: 'bash -c ''for f in "$@"; do grep -nE "^:::[ ]+[^{ ]" "$f" && echo "  ^^^ ERROR in $f: div fence (:::) has trailing text. The ::: must be on its own line to close a div." && exit 1; done; exit 0'' --'
  language: system
  pass_filenames: true

book-check-four-colon-space:
  name: 'Book: Check for malformed nested div fences (::::)'
  ...

book-check-figure-completeness:
  name: 'Book: Check figures have captions and alt-text'
  entry: ./book/binder check figures --scope captions
  language: system
  pass_filenames: false

book-check-figure-placement:
  name: 'Book: Check figure/table placement (near first reference)'
  entry: ./book/binder check figures --scope flow
  language: system
  pass_filenames: false

book-mlsys-test-units:
  name: 'Book: MLSys unit checks'
  entry: ./book/binder check units
  language: system
  pass_filenames: false

Add storage price anchors for data economics
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  mlsysim-lego-ssot-registry-plan.md
  mlsysim/mlsysim/infrastructure/pricing.py
  mlsysim/tests/test_infrastructure_pricing.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Add monitoring price anchors
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  mlsysim-lego-ssot-registry-plan.md
  mlsysim/mlsysim/infrastructure/pricing.py
  mlsysim/tests/test_infrastructure_pricing.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Add training storage throughput profiles
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  mlsysim-lego-ssot-registry-plan.md
  mlsysim/mlsysim/systems/registry.py
  mlsysim/tests/test_system_registry.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Load checkpoint NVMe bandwidth from storage profile
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  mlsysim-lego-ssot-registry-plan.md
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Add small H100 fleet profiles
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  mlsysim-lego-ssot-registry-plan.md
  mlsysim/mlsysim/core/provenance_catalog.py
  mlsysim/mlsysim/systems/registry.py
  mlsysim/tests/test_system_registry.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Load GPU-hour price anchors from MLSysIM
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  mlsysim-lego-ssot-registry-plan.md
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Load PUE anchors from infrastructure registry
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  mlsysim-lego-ssot-registry-plan.md
  mlsysim/mlsysim/infrastructure/registry.py
  mlsysim/tests/test_infrastructure_registry.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Load GPU-hour prices from pricing registry
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  mlsysim-lego-ssot-registry-plan.md
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Tighten LEGO source audit confidence
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  book/tools/audit/book_check_lego_scenario_inputs.py
  book/tools/tests/test_lego_scenario_inputs_audit.py
  mlsysim-lego-ssot-registry-plan.md
Due: book-validate-json

Refine LEGO source audit word matching
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  book/tools/audit/book_check_lego_scenario_inputs.py
  book/tools/tests/test_lego_scenario_inputs_audit.py
  mlsysim-lego-ssot-registry-plan.md
Due: book-validate-json

Load per-node GPU counts from system nodes
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  mlsysim-lego-ssot-registry-plan.md
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Classify only GPU-hour prices as high confidence
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  book/tools/audit/book_check_lego_scenario_inputs.py
  book/tools/tests/test_lego_scenario_inputs_audit.py
  mlsysim-lego-ssot-registry-plan.md
Due: book-validate-json

Add low-cost GPU price anchors
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  mlsysim-lego-ssot-registry-plan.md
  mlsysim/mlsysim/infrastructure/pricing.py
  mlsysim/tests/test_infrastructure_registry.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Keep scenario assumptions out of high-confidence audit
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  book/tools/audit/book_check_lego_scenario_inputs.py
  book/tools/tests/test_lego_scenario_inputs_audit.py
  mlsysim-lego-ssot-registry-plan.md
Due: book-validate-json

Load fabric sizing from neutral registry anchors
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  mlsysim-lego-ssot-registry-plan.md
  mlsysim/mlsysim/core/provenance_catalog.py
  mlsysim/mlsysim/systems/registry.py
  mlsysim/tests/test_system_registry.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Load hardware storage facts from MLSysIM
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  mlsysim-lego-ssot-registry-plan.md
  mlsysim/mlsysim/systems/registry.py
  mlsysim/tests/test_system_registry.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Mark scenario inputs in LEGO load stages
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  mlsysim-lego-ssot-registry-plan.md
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Add rack profile for H100 topology
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  mlsysim-lego-ssot-registry-plan.md
  mlsysim/mlsysim/core/provenance_catalog.py
  mlsysim/mlsysim/systems/registry.py
  mlsysim/mlsysim/systems/types.py
  mlsysim/tests/test_system_registry.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Tighten medium LEGO memory assumptions
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/model_compression/model_compression.qmd
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Add semantic formatting audit support
  book/cli/checks/math_canonical.py
  book/tools/audit/fmt/audit_fmt_usage.py
  book/tools/audit/fmt/fmt_prose_contract.py
  mlsysim/mlsysim/fmt.py
  mlsysim/tests/test_fmt.py
Due: none

Harden MLSysIM registry ownership
  book/quarto/contents/vol2/backmatter/appendix_assumptions.qmd
  mlsysim/mlsysim/core/constants.py
  mlsysim/mlsysim/core/loader.py
  mlsysim/mlsysim/core/provenance_catalog.py
  mlsysim/mlsysim/hardware/data/tech/effective_compute.yaml
  mlsysim/mlsysim/hardware/data/tech/movement.yaml
  mlsysim/mlsysim/hardware/tech.py
  mlsysim/mlsysim/literature/data/batchsize.yaml
  mlsysim/mlsysim/literature/data/energy.yaml
  mlsysim/mlsysim/literature/data/overheads.yaml
  mlsysim/mlsysim/literature/data/scaling.yaml
  mlsysim/mlsysim/literature/data/sustainability.yaml
  mlsysim/mlsysim/literature/registry.py
  mlsysim/mlsysim/ops/__init__.py
  mlsysim/mlsysim/ops/registry.py
  mlsysim/mlsysim/ops/runtime.py
  mlsysim/mlsysim/ops/training.py
  mlsysim/mlsysim/scenarios/registry.py
  mlsysim/mlsysim/systems/registry.py
  mlsysim/mlsysim/systems/types.py
  mlsysim/mlsysim/tools/appendix_lineage.py
  mlsysim/mlsysim/tools/audit_provenance.py
  mlsysim/mlsysim/tools/migrate_defaults.py
  mlsysim/tests/test_ops_registry.py
  mlsysim/tests/test_system_registry.py
  mlsysim/tests/test_units_registry.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Update LEGO cells for semantic outputs
  book/quarto/contents/vol1/backmatter/appendix_algorithm.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/model_compression/model_compression.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/backmatter/appendix_c3.qmd
  book/quarto/contents/vol2/backmatter/appendix_communication.qmd
  book/quarto/contents/vol2/backmatter/appendix_fleet.qmd
  book/quarto/contents/vol2/backmatter/appendix_inference.qmd
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  book/quarto/scripts/fix_lightbox_paths.py
  book/tools/audits/mlsysim_constants/vol1_frameworks.yaml
  book/tools/audits/mlsysim_constants/vol2_fault_tolerance.yaml
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Update MLSysIM docs and tutorial guidance
  mlsysim-full-audit-render-verification-plan.md
  mlsysim/README.md
  mlsysim/docs/DATA_MODEL.md
  mlsysim/docs/api/engine.calibration.qmd
  mlsysim/docs/architecture.qmd
  mlsysim/docs/config/_quarto-html.yml
  mlsysim/docs/contributing.qmd
  mlsysim/docs/extending-the-engine.qmd
  mlsysim/docs/getting-started.qmd
  mlsysim/docs/models-and-solvers.qmd
  mlsysim/docs/provenance.qmd
  mlsysim/docs/tutorials/01_memory_wall.qmd
  mlsysim/docs/tutorials/04_starving_the_gpu.qmd
  mlsysim/docs/tutorials/06_scaling_1000_gpus.qmd
  mlsysim/docs/tutorials/07_geography.qmd
  mlsysim/docs/tutorials/08_nine_million_dollar.qmd
  mlsysim/docs/tutorials/09_sensitivity.qmd
  mlsysim/docs/tutorials/12_full_stack_audit.qmd
  mlsysim/docs/zoo/fleets.qmd
  mlsysim/docs/zoo/index.qmd
  mlsysim/docs/zoo/literature.qmd
  mlsysim/docs/zoo/ops.qmd
  mlsysim/docs/zoo/scenarios.qmd
  mlsysim/tutorial/slides/tutorial_module1.tex
  mlsysim/tutorial/slides/tutorial_module2.tex
  mlsysim/tutorial/slides/tutorial_module3.tex
  mlsysim/tutorial/slides/tutorial_module4.tex
  slides/mlsysim_tutorial.tex
Due: none

Fix storage economics unit conversion
  book/quarto/contents/vol2/data_storage/data_storage.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Refresh margin figure anchors after fmt merge
  book/tools/audit/margin_figure_opportunities.yml
Due: none

Align KV cache capacity example units
  book/quarto/contents/vol2/inference/inference.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Document overnight verification and dev promotion runbook
  mlsysim-full-audit-render-verification-plan.md
Due: none

Remove duplicated units from LEGO prose outputs
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Use neutral MLSysIM registry wording
  mlsysim/mlsysim/core/provenance_catalog.py
  mlsysim/mlsysim/core/units.py
  mlsysim/mlsysim/fmt.py
  mlsysim/mlsysim/scenarios/registry.py
  mlsysim/tests/test_golden_regressions.py
  mlsysim/tests/test_units_registry.py
Due: none

Clean rendered prose formatting from HTML audit
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems_quizzes.json
  book/quarto/contents/vol1/training/training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Fix PDF margin and page-boundary layout
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/model_compression/model_compression.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Remove temporary MLSysIM audit planning notes
  book/tools/audit/artifacts/lego_scenario_inputs_audit.md
  book/tools/audit/fmt/CODEX_HANDOFF.md
  book/tools/audit/fmt/NIGHT_RESUME.md
  mlsysim-domain-formatting-plan.md
  mlsysim-full-audit-render-verification-plan.md
  mlsysim-lego-ssot-registry-plan.md
  mlsysim-lego-unit-hardening-CODEX-HANDOFF.md
  mlsysim-lego-unit-hardening-PROGRESS.md
  mlsysim-lego-unit-hardening-agent-execution-plan.md
  mlsysim-lego-unit-hardening-plan.md
Due: none

Remove temporary fmt audit artifacts before dev push
  book/tools/audit/artifacts/lego_scenario_inputs_audit.json
  book/tools/audit/fmt/ASSESSMENT.md
  book/tools/audit/fmt/AUDIT_LEDGER.md
  book/tools/audit/fmt/MIGRATION.md
  book/tools/audit/fmt/PLAN.md
  book/tools/audit/fmt/PLAN_OF_RECORD.md
Due: book-validate-json

Make registry pytest gate independent of pytest-cov
  book/cli/commands/_registry_checks.py
Due: none

Make bib mechanical hook parse filenames on Python 3.11
  book/cli/checks/cli_contract.py
  book/cli/commands/bib.py
Due: none

Remove generated audit markdown artifacts
  book/tools/audit/artifacts/chapter_html_audit.md
  book/tools/audit/artifacts/chapter_pdf_audit.md
  book/tools/audit/artifacts/lego_unit_migration/JOURNAL.md
  book/tools/audit/artifacts/lego_unit_migration/PLAYBOOK.md
  book/tools/audit/artifacts/lego_unit_migration/chapters/README.md
  book/tools/audit/artifacts/lego_unit_migration/chapters/vol1_data_engineering.status.yaml
  book/tools/audit/artifacts/lego_unit_migration/chapters/vol1_frameworks.status.yaml
  book/tools/audit/artifacts/lego_unit_migration/chapters/vol1_introduction.status.yaml
  book/tools/audit/artifacts/lego_unit_migration/chapters/vol1_ml_systems.status.yaml
  book/tools/audit/artifacts/lego_unit_migration/chapters/vol1_ml_workflow.md
  book/tools/audit/artifacts/lego_unit_migration/chapters/vol1_ml_workflow.status.yaml
  book/tools/audit/artifacts/lego_unit_migration/chapters/vol1_model_serving.status.yaml
  book/tools/audit/artifacts/lego_unit_migration/chapters/vol1_nn_architectures.status.yaml
  book/tools/audit/artifacts/lego_unit_migration/chapters/vol1_nn_computation.status.yaml
  book/tools/audit/artifacts/lego_unit_migration/chapters/vol1_training.status.yaml
  book/tools/audit/artifacts/lego_unit_migration/chapters/vol1_training_llm.json
  book/tools/audit/margin_figure_style_audit.md
Due: book-validate-json

Path conditions:
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-fix-list-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-verify-section-ids: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-check-references: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unclosed-divs: any of: ^book/quarto/contents/.*\.qmd$
  book-check-four-colon-space: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-completeness: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-check-grid-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-prettify-pipe-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-check-render-patterns: any of: ^book/quarto/contents/.*\.qmd$
  book-check-python-echo: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-dropcap: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-validate-inline: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-test-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-index-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-check-heading-levels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-words: any of: ^book/quarto/contents/.*\.qmd$
  book-check-percent-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unit-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-binary-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-contractions: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unblended-prose: any of: ^book/quarto/contents/.*\.qmd$
  book-check-times-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
