Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-images, book-validate-external-images, book-validate-image-references

Path conditions:
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-fix-list-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-verify-section-ids: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-check-references: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unclosed-divs: any of: ^book/quarto/contents/.*\.qmd$
  book-check-four-colon-space: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-completeness: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-check-grid-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-prettify-pipe-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-check-render-patterns: any of: ^book/quarto/contents/.*\.qmd$
  book-check-python-echo: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-dropcap: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-validate-inline: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-test-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-index-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-check-heading-levels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-words: any of: ^book/quarto/contents/.*\.qmd$
  book-check-percent-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unit-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-binary-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-contractions: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unblended-prose: any of: ^book/quarto/contents/.*\.qmd$
  book-check-times-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$

fix(book): correct misleading margin figures and harden generator
  book/quarto/contents/vol1/benchmarking/images/svg/vol1_benchmarking_margin_003.svg
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/conclusion/images/svg/vol1_conclusion_margin_003.svg
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/frameworks/images/svg/vol1_frameworks_margin_001.svg
  book/quarto/contents/vol1/frameworks/images/svg/vol1_frameworks_margin_002.svg
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/ml_systems/images/svg/vol1_ml_systems_margin_003.svg
  book/quarto/contents/vol1/ml_systems/images/svg/vol1_ml_systems_margin_004.svg
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ml_workflow/images/svg/vol1_ml_workflow_margin_004.svg
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/model_compression/images/svg/vol1_model_compression_margin_004.svg
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/data_storage/images/svg/vol2_data_storage_margin_001.svg
  book/quarto/contents/vol2/data_storage/images/svg/vol2_data_storage_margin_003.svg
  book/quarto/contents/vol2/fault_tolerance/images/svg/vol2_fault_tolerance_margin_002.svg
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/images/svg/ops_scale_tco_dominance.svg
  book/quarto/contents/vol2/performance_engineering/images/svg/vol2_performance_engineering_margin_001.svg
  book/quarto/contents/vol2/security_privacy/images/svg/vol2_security_privacy_margin_002.svg
  book/quarto/contents/vol2/sustainable_ai/images/svg/vol2_sustainable_ai_margin_002.svg
  book/quarto/contents/vol2/sustainable_ai/images/svg/vol2_sustainable_ai_margin_004.svg
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  book/tools/scripts/margin_figures/generate_margin_figures.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt: add typed guarded formatters + semantic-suffix enforcement
  book/cli/checks/fmt_semantic_suffix.py
  book/cli/checks/math_canonical.py
  book/cli/commands/validate.py
  book/tests/test_fmt_semantic_suffix.py
  book/tools/audit/fmt/audit_fmt_usage.py
  book/tools/audit/fmt/prototype_typed_fmt.py
  mlsysim/mlsysim/__init__.py
  mlsysim/mlsysim/fmt.py
  mlsysim/tests/test_fmt.py
Due: none

fmt(migration): add MIGRATION.md map + per-chapter board
  book/tools/audit/fmt/MIGRATION.md
Due: none

fmt(assessment): add zero-error verification protocol + equivalence harness
  book/tools/audit/fmt/ASSESSMENT.md
  book/tools/audit/fmt/assess_equiv.py
Due: none

fmt(assessment): ground rules in MIT Press + integrate with existing audit stack
  book/tools/audit/fmt/ASSESSMENT.md
  book/tools/audit/fmt/MIGRATION.md
  book/tools/audit/fmt/assess_equiv.py
Due: none

fmt(plan): add master LEGO->prose governance plan
  book/tools/audit/fmt/PLAN.md
Due: none

fmt(plan): add Phase 3 render verification (build-it-and-look) for HTML + PDF
  book/tools/audit/fmt/MIGRATION.md
  book/tools/audit/fmt/PLAN.md
Due: none

fmt(assess): visible-text normalizer for Regime-2 equivalence
  book/tests/test_visible_text.py
  book/tools/audit/fmt/assess_equiv.py
  book/tools/audit/fmt/visible_text.py
Due: none

fmt(assess): prose-contract checker (glyph ownership, I2)
  book/tests/test_fmt_prose_contract.py
  book/tools/audit/fmt/fmt_prose_contract.py
Due: none

fmt(assess): paired multiplier codemod + adjudication queue
  book/tests/test_codemod_fmt.py
  book/tools/audit/fmt/codemod_fmt.py
Due: none

fmt: add fmt_range (MIT en-dash ranges, both endpoints in full)
  mlsysim/mlsysim/__init__.py
  mlsysim/mlsysim/fmt.py
  mlsysim/tests/test_fmt.py
Due: none

check(math): recognize the full typed-fmt family as canonical _str builders
  book/cli/checks/math_canonical.py
Due: none

fmt(WS1): multiplier lane — 5 chapters (auto-verified, gate-green)
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/tools/audit/fmt/run_multiplier_lane.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt(assess): harden multiplier codemod (commas default, exact-glyph only)
  book/tests/test_codemod_fmt.py
  book/tools/audit/fmt/codemod_fmt.py
Due: none

fmt(WS1): multiplier lane — ml_workflow + model_serving (gate-green)
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt(WS1): multiplier lane — responsible_engr (gate-green)
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt(assess): class-qualify multiplier vars (fix cross-class name collision)
  book/tests/test_codemod_fmt.py
  book/tools/audit/fmt/codemod_fmt.py
Due: none

fmt(WS1): multiplier lane — data_engineering (gate-green)
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt(WS1): data_storage multiplier + fix latent double-× render bugs
  book/quarto/contents/vol2/data_storage/data_storage.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt(WS1): multiplier variants — fmt_int + literal-x/space (transform-gated)
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/tools/audit/fmt/codemod_fmt.py
  book/tools/audit/fmt/run_multiplier_lane.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt(WS1): benchmarking multiplier variants + gate substring-collision fix
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/tools/audit/fmt/run_multiplier_lane.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt(WS1): percent -> guarded fmt_percent across 37 chapters (byte-identical)
  book/quarto/contents/vol1/backmatter/appendix_algorithm.qmd
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/model_compression/model_compression.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/backmatter/appendix_assumptions.qmd
  book/quarto/contents/vol2/backmatter/appendix_c3.qmd
  book/quarto/contents/vol2/backmatter/appendix_communication.qmd
  book/quarto/contents/vol2/backmatter/appendix_fleet.qmd
  book/quarto/contents/vol2/backmatter/appendix_reliability.qmd
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  book/tests/test_codemod_fmt.py
  book/tools/audit/fmt/codemod_fmt.py
  book/tools/audit/fmt/run_percent_lane.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt(WS1): percent for the 2 selective-import chapters + import-ensurer
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol2/backmatter/appendix_inference.qmd
  book/tools/audit/fmt/run_percent_lane.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt(WS1): per-edit bisect — migrate 81 more percent sites, queue 5 signed/>100%
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/tools/audit/fmt/run_percent_lane.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt(WS1): adjudicate 5 signed/>100% percents — fmt_percent allow_negative
  .gitignore
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  mlsysim/mlsysim/fmt.py
  mlsysim/tests/test_fmt.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt(WS1): fix silent-drop of multiline percent calls; migrate the 3 stragglers
  book/quarto/contents/vol2/backmatter/appendix_assumptions.qmd
  book/tests/test_codemod_fmt.py
  book/tools/audit/fmt/codemod_fmt.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt(WS1): migrate fmt_int percents (17 chapters) — percent now 100% done
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol2/backmatter/appendix_fleet.qmd
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/tests/test_codemod_fmt.py
  book/tools/audit/fmt/codemod_fmt.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt(WS1): scale division -> fmt_count across 10 chapters (byte-identical)
  .gitignore
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  book/tests/test_codemod_fmt.py
  book/tools/audit/fmt/codemod_fmt.py
  book/tools/audit/fmt/run_percent_lane.py
  book/tools/audit/fmt/run_scale_lane.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt: class-aware prose contract; fix real "26 percent percentage points" bug
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/tests/test_fmt_prose_contract.py
  book/tools/audit/fmt/fmt_prose_contract.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

docs(fmt): record live migration state — dangerous-870 lane complete
  book/tools/audit/fmt/MIGRATION.md
Due: none

fmt: add composite-prose semantic scanner; fix unit-duplication bugs
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
  book/tools/audit/fmt/NIGHT_RESUME.md
  book/tools/audit/fmt/audit_prose_semantics.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt: add numeric-aware semantic checks + regression tests for scanner
  book/tests/test_audit_prose_semantics.py
  book/tools/audit/fmt/NIGHT_RESUME.md
  book/tools/audit/fmt/audit_prose_semantics.py
Due: none

fmt: migrate 4 dangerous glyph-in-suffix stragglers (compound suffixes)
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol2/backmatter/appendix_reliability.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  book/tools/audit/fmt/NIGHT_RESUME.md
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt: make fmt_pp grammatically complete (singular/plural + attributive)
  mlsysim/mlsysim/fmt.py
  mlsysim/tests/test_fmt.py
Due: none

fmt: migrate 14 percentage-point sites to fmt_pp (byte-identical)
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/tools/audit/fmt/NIGHT_RESUME.md
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fmt: fix two attributive percentage-point grammar bugs (model_serving)
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/tools/audit/fmt/NIGHT_RESUME.md
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

docs(fmt): record overnight semantic+consistency+render verification
  book/tools/audit/fmt/MIGRATION.md
  book/tools/audit/fmt/NIGHT_RESUME.md
Due: none

docs(fmt): add Codex handoff plan for remaining migration work
  book/tools/audit/fmt/CODEX_HANDOFF.md
Due: none

Add byte-identical unit fmt lane
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol2/backmatter/appendix_reliability.qmd
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/tests/test_codemod_fmt.py
  book/tools/audit/fmt/CODEX_HANDOFF.md
  book/tools/audit/fmt/MIGRATION.md
  book/tools/audit/fmt/NIGHT_RESUME.md
  book/tools/audit/fmt/codemod_fmt.py
  book/tools/audit/fmt/run_unit_lane.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Resolve scale count spacing with fmt_count
  book/quarto/contents/vol1/backmatter/appendix_assumptions.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/backmatter/appendix_assumptions.qmd
  book/quarto/contents/vol2/backmatter/appendix_fleet.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/tests/test_codemod_fmt.py
  book/tools/audit/fmt/CODEX_HANDOFF.md
  book/tools/audit/fmt/MIGRATION.md
  book/tools/audit/fmt/NIGHT_RESUME.md
  book/tools/audit/fmt/codemod_fmt.py
  book/tools/audit/fmt/run_scale_style_lane.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references
