Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

collapse-extra-blank-lines:
  name: Collapse extra blank lines
  entry: python tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

yamllint:
  name: Validate YAML files
  entry: yamllint
  language: system
  args:
  - --config-file=.yamllint
  description: Validate all YAML files with custom config

check-duplicate-labels:
  name: Check for duplicate labels
  entry: python tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: Detect inline-style Markdown headers
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: Check for forbidden words
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

validate-images:
  name: Validate image files
  entry: python tools/scripts/utilities/manage_images.py
  language: python
  additional_dependencies:
  - pillow
  - rich
  pass_filenames: true

validate-external-images:
  name: Check for external images in Quarto files
  entry: python tools/scripts/manage_external_images.py --validate quarto/contents/
  language: python
  additional_dependencies:
  - requests
  pass_filenames: false
  description: Ensure all images are local for build reliability

validate-image-references:
  name: Check that all image references exist on disk
  entry: python tools/scripts/validate_image_references.py -d quarto/contents/ --quiet
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all referenced images exist on disk

prevent-svg-files:
  name: Prevent manual SVG files from being committed
  ...

sanitize-svgs:
  name: Remove control chars from existing SVGs
  entry: bash -c 'perl -pi -e '\''s/[\x00-\x08\x0B\x0C\x0E-\x1F]//g'\'' "$@"' --
  language: system
  description: Clean up control characters in generated/existing SVG files

Refines AI systems engineering content
  .pre-commit-config.yaml
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
  quarto/contents/frontmatter/about/about.qmd
  quarto/contents/frontmatter/acknowledgements/acknowledgements.qmd
  quarto/contents/frontmatter/foreword.qmd
  quarto/contents/frontmatter/index.qmd
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Improves fast build config handling
  PYTHON_ENV_SETUP.md
  SYSTEMATIC_WORKFLOW_ORCHESTRATOR.md
  activate_direnv.sh
  activate_venv.sh
  cli/commands/build.py
  mlsysbook.egg-info/PKG-INFO
  mlsysbook.egg-info/SOURCES.txt
  mlsysbook.egg-info/dependency_links.txt
  mlsysbook.egg-info/entry_points.txt
  mlsysbook.egg-info/requires.txt
  mlsysbook.egg-info/top_level.txt
Due: none

Implement comprehensive flow optimization for DNN architectures chapter
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

refactor(dl_primer): implement flow optimization fixes based on chapter analysis
  quarto/contents/core/dl_primer/dl_primer.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Refines footnote and review processes
  .claude/agents/editorial/editor.md
  .claude/agents/editorial/footnote.md
  .claude/agents/editorial/independent-review.md
  .claude/agents/reviewer.md
Due: none

Refines ML systems introduction
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Removes Claude Code working rules document
  CLAUDE.md
Due: none

Removes editorial workflow document.
  EDITORIAL_WORKFLOW.md
Due: none

feat: implement expert consensus recommendations for DNN architectures chapter
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Updates and standardizes BibTeX entries
  quarto/contents/core/ai_for_good/ai_for_good.bib
  quarto/contents/core/benchmarking/benchmarking.bib
  quarto/contents/core/conclusion/conclusion.bib
  quarto/contents/core/data_engineering/data_engineering.bib
  quarto/contents/core/dl_primer/dl_primer.bib
  quarto/contents/core/dnn_architectures/dnn_architectures.bib
  quarto/contents/core/efficient_ai/efficient_ai.bib
  quarto/contents/core/frameworks/frameworks.bib
  quarto/contents/core/frontiers/frontiers.bib
  quarto/contents/core/hw_acceleration/hw_acceleration.bib
  quarto/contents/core/introduction/introduction.bib
  quarto/contents/core/ml_systems/ml_systems.bib
  quarto/contents/core/ondevice_learning/ondevice_learning.bib
  quarto/contents/core/ops/ops.bib
  quarto/contents/core/optimizations/optimizations.bib
  quarto/contents/core/privacy_security/privacy_security.bib
  quarto/contents/core/responsible_ai/responsible_ai.bib
  quarto/contents/core/robust_ai/robust_ai.bib
  quarto/contents/core/sustainable_ai/sustainable_ai.bib
  quarto/contents/core/training/training.bib
  quarto/contents/core/workflow/workflow.bib
Due: none

feat: apply chapter flow optimization to maintain engineering insights while respecting conceptual dependencies
  quarto/_quarto.yml
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/generative_ai/._generative_ai_xref.json
  quarto/contents/core/generative_ai/generative_ai.bib
  quarto/contents/core/generative_ai/generative_ai.qmd
  quarto/contents/core/generative_ai/generative_ai_concepts.yml
  quarto/contents/core/generative_ai/generative_ai_glossary.json
  quarto/contents/core/generative_ai/generative_ai_xrefs.json
  quarto/contents/core/generative_ai/images/png/generative_ai_evolution.png
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references

Refines introduction to ML systems engineering
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Optimize conceptual flow and eliminate redundancy in Introduction chapter
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Refines content across core chapters
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix: resolve merge conflicts in introduction chapter
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish: remove AI writing patterns and improve flow
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix: apply pre-commit hook fixes across multiple chapters
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/conclusion/conclusion_glossary.json
  quarto/contents/core/data_engineering/data_engineering.bib
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

docs: update footnote formatting and catalog across all core chapters
  .claude/footnote_context.md
  footnote_catalog.json
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(validation): improve footnote validation to handle edge cases and nested references
  tools/scripts/content/footnote_cleanup.py
Due: none

fix(bib): reorder bibliography fields for consistency
  quarto/contents/core/data_engineering/data_engineering.bib
Due: none

fix(footnotes): resolve nested footnote reference in ml_systems chapter
  quarto/contents/core/ml_systems/ml_systems.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

style: improve academic tone and eliminate AI patterns in responsible AI chapter
  quarto/contents/core/responsible_ai/responsible_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

docs(content): clean up footnotes across all core chapters
  .claude/agents/editorial/footnote.md
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Resolves merge conflicts and refactors content
  .claude/agents/editorial/footnote.md
  .claude/agents/editorial/stylist.md
  .envrc
  fix_div_syntax.py
  quarto/config/_quarto-epub.yml
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/footnote_catalog.json
  quarto/contents/core/ml_systems/footnote_catalog.json
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Updates bibliography entries for accuracy
  quarto/contents/core/ai_for_good/ai_for_good.bib
  quarto/contents/core/conclusion/conclusion.bib
  quarto/contents/core/data_engineering/data_engineering.bib
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.bib
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/frontiers/frontiers.bib
  quarto/contents/core/hw_acceleration/hw_acceleration.bib
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.bib
  quarto/contents/core/ml_systems/ml_systems.bib
  quarto/contents/core/ondevice_learning/ondevice_learning.bib
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/responsible_ai/responsible_ai.bib
  quarto/contents/core/sustainable_ai/sustainable_ai.bib
  quarto/contents/core/training/training.bib
  quarto/contents/core/workflow/workflow.bib
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Refactors introductory and foundational content
  fix_div_syntax.py
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

style: improve Purpose sections across 8 chapters
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix: resolve all pre-commit linting issues
  .claude/agents/reviewer.md
  fix_div_syntax.py
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frontiers/footnote_catalog.json
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
  quarto/contents/footnote_catalog.json
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

New Tikz figures in chapters 4 & 12
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Clarifies im2col technique for convolutions
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: add pre-commit hook to prevent footnotes in tables/captions/divs
  .pre-commit-config.yaml
  quarto/contents/core/dl_primer/dl_primer.qmd
  tools/scripts/content/check_forbidden_footnotes.py
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Add missing bibliography entries to resolve citation warnings
  quarto/contents/core/dl_primer/dl_primer.bib
  quarto/contents/core/dnn_architectures/dnn_architectures.bib
  quarto/contents/core/efficient_ai/efficient_ai.bib
  quarto/contents/core/frontiers/frontiers.bib
  quarto/contents/core/hw_acceleration/hw_acceleration.bib
  quarto/contents/core/ops/ops.bib
  quarto/contents/core/sustainable_ai/sustainable_ai.bib
Due: none

Removes redundant glossary entries
  quarto/contents/backmatter/glossary/glossary.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

refactor: improve paragraph flow in frontiers multi-agent section
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/workflow/workflow.qmd
  quarto/tex/header-includes.tex
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Removes unnecessary LaTeX package
  quarto/tex/header-includes.tex
Due: none

Clarifies HBM definition and usage
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Refactors content for improved clarity
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/tex/header-includes.tex
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Disables margin-video shortcode
  quarto/_extensions/mlsysbook-ext/margin-video/margin-video.lua
Due: none

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$
