Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-images, book-validate-external-images, book-validate-image-references

Path conditions:
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-fix-list-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-verify-section-ids: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-check-references: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unclosed-divs: any of: ^book/quarto/contents/.*\.qmd$
  book-check-four-colon-space: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-completeness: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-check-grid-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-prettify-pipe-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-check-render-patterns: any of: ^book/quarto/contents/.*\.qmd$
  book-check-python-echo: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-dropcap: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-validate-inline: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-test-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-index-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-check-heading-levels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-words: any of: ^book/quarto/contents/.*\.qmd$
  book-check-percent-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unit-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-binary-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-contractions: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unblended-prose: any of: ^book/quarto/contents/.*\.qmd$
  book-check-times-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$

Unbold Amdahl's Law re-mentions across vol1 and vol2
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol1 degradation equation re-mentions per once-per-volume rule
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold verification gap re-mention in vol1 conclusion
  book/quarto/contents/vol1/conclusion/conclusion.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Update concept-caps hook: callout titles & captions are sentence-style
  book/tools/audit/checks/concept_term_capitalization.py
Due: none

Add **Bitter Lesson** body-prose first-def in vol1 introduction
  book/quarto/contents/vol1/introduction/introduction.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol1 Lighthouse Models re-mentions per once-per-volume rule
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold Roofline Model re-mentions across vol1 and vol2
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Sentence-style sweep of 28 callout titles per MIT Press style sheet
  book/quarto/contents/vol1/backmatter/appendix_assumptions.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/parts/build_principles.qmd
  book/quarto/contents/vol1/parts/deploy_principles.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
  book/quarto/contents/vol2/parts/distributed_ml_principles.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol1 TinyML re-mentions per once-per-volume rule
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol1 compute-bound / memory-bound emphasis bolds
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol1 named-principle re-mentions: Pareto Frontier, Energy-Movement Invariant, Training-Serving Skew
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Vol1 named-techniques cleanup: automatic differentiation, computational graph, Gradient Checkpointing case-fix + re-mention unbolds
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Tier 5 family sweep: callout titles + caption text + body-prose drift
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/parts/foundations_principles.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
  book/quarto/contents/vol2/parts/fleet_principles.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  book/tools/audit/checks/concept_term_capitalization.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol2 Fleet Stack re-mentions per once-per-volume rule
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/quarto/contents/vol2/index.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Final 3 callout titles missed in earlier sweep
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol2 Tensor/Pipeline/Data parallelism re-mentions
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol2 AllReduce + AllToAll re-mentions; AllToAll spelling normalization
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol2 archetype A/B/C body-prose re-mentions
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol2 Federated Learning re-mentions per once-per-volume rule
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol2 Speculative Decoding re-mentions per once-per-volume rule
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol2 Distribution Layer body-prose re-mentions
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/inference/inference.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol2 multi-term batch: bisection bandwidth + continuous batching + Differential Privacy + Critical Batch Size + Machine Learning Fleet
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol1 multi-term batch: ResNet-50, active learning, Smart Doorbell, tail latency
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Final pass: remaining body-prose + caption Tier 4/5 drift
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold Feature Store + Data Drift body-prose re-mentions
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol2 networking/parallelism term re-mentions
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol2 batch: scaling efficiency, data poisoning, coordination, fault tolerance, model extraction
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol2 batch: TCO + Communication-Computation Overlap re-mentions
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol1 generic-term emphasis bolds: latency, throughput, memory capacity
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol2 latency/throughput emphasis bolds
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/inference/inference.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Unbold vol1 ml_systems.qmd:643 D·A·M triplet re-mention
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(tinytorch): reuse Sigmoid class in GELU solution
  tinytorch/src/02_activations/02_activations.py
Due: none

Update GELU code to reflect src code change
  tinytorch/quarto/modules/02_activations.qmd
Due: none

Final consistency pass: 3 callout titles to Position 1 rule
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/parts/distributed_ml_principles.qmd
  book/quarto/contents/vol2/parts/fleet_principles.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(labs): catch missing wheel before deploy to prevent BadZipFile in browser
  labs/tests/test_static.py
  labs/tools/build_site.sh
Due: none

Add **Federated Learning** body-prose first-def in vol2 introduction
  book/quarto/contents/vol2/introduction/introduction.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(mlsysim): harden public API and solver correctness
  mlsysim/mlsysim/__init__.py
  mlsysim/mlsysim/core/evaluation.py
  mlsysim/mlsysim/core/scenarios.py
  mlsysim/mlsysim/core/solver.py
  mlsysim/mlsysim/labs/components.py
  mlsysim/mlsysim/viz/plots.py
  mlsysim/tests/test_evaluation_contract.py
  mlsysim/tests/test_solver_suite.py
Due: none

Vol1 mechanical bold cleanup: §3 body-prose unbolds + §7 checkpoint structural
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Revert vol1 nn_computation §7 P3 + add vol2 §3 unbold
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(italics): MIT Press R1 — italicize math variables per CMS §12
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references
