Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs, validate-json, yamllint

Path conditions:
  collapse-extra-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  format-python-in-qmd: any of: ^book/quarto/contents/.*\.qmd$
  check-list-formatting: any of: ^book/.*\.qmd$
  check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  header-inline-check: any of: ^book/quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/quarto/contents/.*\.qmd$
  check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  prevent-svg-files: any of: ^book/.*\.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: ^book/.*\.svg$
  validate-json: any of: \.json$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$


docs: remove outdated TINYTORCH_FORMATTING_STANDARDS.md file
  .github/TINYTORCH_FORMATTING_STANDARDS.md
  book/quarto/contents/vol1/serving/serving.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

feat: comprehensive upgrade of Chapter 13 (Serving) with systems-first rigor
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/conclusion/conclusion_quizzes.json
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer_quizzes.json
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/frontmatter/about.qmd
  book/quarto/contents/vol1/frontmatter/foreword.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/index.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/introduction/introduction_quizzes.json
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol2/backmatter/appendix_a.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontmatter/about.qmd
  book/quarto/contents/vol2/frontmatter/acknowledgements.qmd
  book/quarto/contents/vol2/frontmatter/foreword.qmd
  book/quarto/contents/vol2/index.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/optimization/optimization.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, validate-json

refactor: decouple Volume I and Volume II by removing cross-volume chapter references
  book/quarto/contents/vol2/index.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: resolve table formatting and pre-commit errors (converted tables to pipe format)
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/serving/serving.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

feat: add callout-lighthouse and fix callout icon issues
  book/quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.css
  book/quarto/assets/images/icons/callouts/icon_callout_lighthouse.png
  book/quarto/assets/images/icons/callouts/icon_callout_lighthouse.svg
  book/quarto/assets/images/icons/callouts/icon_callout_notebook.png
  book/quarto/assets/images/icons/callouts/icon_callout_notebook.svg
  book/quarto/assets/images/icons/callouts/icon_callout_resource_slides.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_resource_slides.png
  book/quarto/assets/images/icons/callouts/icon_callout_resource_slides.svg
  book/quarto/assets/images/icons/callouts/icon_callout_resource_videos.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_resource_videos.png
  book/quarto/assets/images/icons/callouts/icon_callout_resource_videos.svg
  book/quarto/config/_quarto-epub.yml
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-html-vol2.yml
  book/quarto/config/_quarto-html.yml
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/config/_quarto-pdf.yml
Due: prevent-svg-files, sanitize-svgs, yamllint

refactor: standardize Lighthouse Example format with property tables in Vol 1
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor: align Lighthouse Examples in Intro and Serving with Vol 1 roadmap
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/serving/serving.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: convert roofline table to pipe format in hw_acceleration.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: align ASCII diagrams and tables in TinyTorch modules
  tinytorch/src/01_tensor/01_tensor.py
  tinytorch/src/08_training/08_training.py
  tinytorch/src/09_convolutions/09_convolutions.py
  tinytorch/src/13_transformers/13_transformers.py
Due: none

feat: add Lighthouse Roster biographies to explain model history and context
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

feat: add callout-perspective for Systems Perspective content
  book/quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.css
  book/quarto/assets/images/icons/callouts/icon_callout_perspective.png
  book/quarto/assets/images/icons/callouts/icon_callout_perspective.svg
  book/quarto/config/_quarto-epub.yml
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-html-vol2.yml
  book/quarto/config/_quarto-html.yml
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/config/_quarto-pdf.yml
Due: prevent-svg-files, sanitize-svgs, yamllint

refactor: migrate Systems Perspective callouts to custom .callout-perspective class
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol2): align Foundations of Scale chapters with Lighthouse and Systems Perspective standards
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol2): align Infrastructure and Storage chapters with Lighthouse and Systems Perspective standards
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/storage/storage.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol2): align Deployment and Edge chapters with Lighthouse and Systems Perspective standards
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol2): align Society and Future chapters with Lighthouse and Systems Perspective standards
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol2): align Robust AI chapter with Lighthouse and Systems Perspective standards
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol2): align Networking chapter with Lighthouse and Systems Perspective standards
  book/quarto/contents/vol2/infrastructure/networking.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

chore(tinytorch): bump version to v0.1.4
  .github/TINYTORCH_FORMATTING_STANDARDS.md
  tinytorch/milestones/05_2017_transformer/01_vaswani_attention.py
  tinytorch/milestones/extras/01_baseline_profile.py
  tinytorch/milestones/extras/01_tinytalks.py
  tinytorch/milestones/extras/01_vaswani_generation.py
  tinytorch/milestones/extras/02_vaswani_dialogue.py
  tinytorch/milestones/extras/03_quickdemo.py
  tinytorch/src/02_activations/02_activations.py
  tinytorch/src/03_layers/03_layers.py
  tinytorch/src/04_losses/04_losses.py
  tinytorch/src/05_dataloader/05_dataloader.py
  tinytorch/src/08_training/08_training.py
  tinytorch/src/10_tokenization/10_tokenization.py
  tinytorch/src/11_embeddings/11_embeddings.py
  tinytorch/src/12_attention/12_attention.py
  tinytorch/src/13_transformers/13_transformers.py
  tinytorch/src/13_transformers/ABOUT.md
  tinytorch/src/14_profiling/14_profiling.py
  tinytorch/src/15_quantization/15_quantization.py
  tinytorch/src/16_compression/16_compression.py
  tinytorch/src/17_acceleration/17_acceleration.py
  tinytorch/src/18_memoization/18_memoization.py
  tinytorch/src/19_benchmarking/19_benchmarking.py
  tinytorch/src/20_capstone/20_capstone.py
  tinytorch/tests/13_transformers/test_transformer_gradient_flow.py
  tinytorch/tests/milestones/test_learning_verification.py
  tinytorch/tests/regression/test_gradient_flow_fixes.py
  tinytorch/tests/regression/test_nlp_components_gradient_flow.py
  tinytorch/tinytorch/__init__.py
Due: none

docs(tinytorch): reorganize site navigation and add update documentation
  tinytorch/site/_toc.yml
  tinytorch/site/_toc_pdf.yml
  tinytorch/site/datasets.md
  tinytorch/site/tito/troubleshooting.md
Due: yamllint

fix(tinytorch): update CLI validation script with system update and logo commands
  tinytorch/tools/dev/validate_cli_docs.py
Due: none
