Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

collapse-extra-blank-lines:
  name: Collapse extra blank lines
  entry: python tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

yamllint:
  name: Validate YAML files
  entry: yamllint
  language: system
  args:
  - --config-file=.yamllint
  description: Validate all YAML files with custom config

check-duplicate-labels:
  name: Check for duplicate labels
  entry: python tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: Detect inline-style Markdown headers
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: Check for forbidden words
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

validate-images:
  name: Validate image files
  entry: python tools/scripts/utilities/manage_images.py
  language: python
  additional_dependencies:
  - pillow
  - rich
  pass_filenames: true

validate-external-images:
  name: Check for external images in Quarto files
  entry: python tools/scripts/manage_external_images.py --validate quarto/contents/
  language: python
  additional_dependencies:
  - requests
  pass_filenames: false
  description: Ensure all images are local for build reliability

validate-image-references:
  name: Check that all image references exist on disk
  entry: python tools/scripts/validate_image_references.py -d quarto/contents/ --quiet
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all referenced images exist on disk

prevent-svg-files:
  name: Prevent manual SVG files from being committed
  ...

sanitize-svgs:
  name: Remove control chars from existing SVGs
  entry: bash -c 'perl -pi -e '\''s/[\x00-\x08\x0B\x0C\x0E-\x1F]//g'\'' "$@"' --
  language: system
  description: Clean up control characters in generated/existing SVG files

fix(docker): use official TeX Live installer (Chocolatey broken)
  docker/windows/Dockerfile
  quarto/contents/core/ai_for_good/ai_for_good_quizzes.json
  quarto/contents/core/dnn_architectures/dnn_architectures_quizzes.json
  quarto/contents/core/efficient_ai/efficient_ai_quizzes.json
  quarto/contents/core/ondevice_learning/ondevice_learning_quizzes.json
  quarto/contents/core/responsible_ai/responsible_ai_quizzes.json
  quarto/contents/core/sustainable_ai/sustainable_ai_quizzes.json
Due: none

fix(quizzes): improve language consistency across all quiz files
  quarto/contents/core/benchmarking/benchmarking_quizzes.json
  quarto/contents/core/benchmarking/footnote_context_quizzes.json
  quarto/contents/core/benchmarking/generative_ai_quizzes.json
  quarto/contents/core/conclusion/conclusion_quizzes.json
  quarto/contents/core/conclusion/footnote_context_quizzes.json
  quarto/contents/core/frameworks/emerging_topics_quizzes.json
  quarto/contents/core/frameworks/footnote_context_quizzes.json
  quarto/contents/core/frameworks/frameworks_quizzes.json
  quarto/contents/core/frontiers/frontiers_quizzes.json
  quarto/contents/core/ml_systems/emerging_topics_quizzes.json
  quarto/contents/core/ml_systems/footnote_context_quizzes.json
  quarto/contents/core/optimizations/optimizations_quizzes.json
  quarto/contents/core/robust_ai/footnote_context_quizzes.json
  quarto/contents/core/robust_ai/robust_ai_quizzes.json
  quarto/contents/core/workflow/workflow_quizzes.json
Due: none

fix(docker): remove empty continuation lines to prevent future errors
  docker/windows/Dockerfile
Due: none

Refactors conditional content rendering
  quarto/index.qmd
Due: none

Improve PDF table styling and documentation
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.tex
  quarto/tex/header-includes.tex
Due: none

Add multiline header support to table formatter
  tools/scripts/format_tables.py
Due: none

Add auto-alignment to table formatter + format all tables
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
  tools/scripts/format_tables.py
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Add table formatting check to pre-commit hooks
  .pre-commit-config.yaml
Due: yamllint

Format tables in labs directory
  quarto/contents/labs/kits.qmd
  quarto/contents/labs/labs.qmd
  quarto/contents/labs/raspi/raspi.qmd
  quarto/contents/labs/seeed/grove_vision_ai_v2/grove_vision_ai_v2.qmd
  quarto/contents/labs/seeed/xiao_esp32s3/xiao_esp32s3.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(docker): enable verbose real-time TeX Live installation output
  docker/windows/Dockerfile
Due: none

fix(docker): use direct call operator for TeX Live installer output
  docker/windows/Dockerfile
Due: none

fix(docker): use fast mirror and fix exit code handling
  docker/windows/Dockerfile
Due: none

Update two TikZ figures in chapter-13
  quarto/contents/core/ops/ops.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(docker): remove stderr redirect to show only stdout from TeX Live installer
  docker/windows/Dockerfile
Due: none

feat(docker): add comprehensive installation verification step
  docker/windows/Dockerfile
Due: none

fix(docker): set PATH at Docker image level to persist across RUN commands
  docker/windows/Dockerfile
Due: none

fix(docker): restore full Dockerfile with working TeX Live installation
  docker/windows/Dockerfile
Due: none

Updates content visibility logic
  quarto/contents/frontmatter/changelog/changelog.qmd
  quarto/contents/frontmatter/socratiq/socratiq.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(docker): replace failing TeX Live with MiKTeX for Windows container
  docker/windows/Dockerfile
Due: none

fix(docker): correct phase order - Scoop before MiKTeX
  docker/windows/Dockerfile
Due: none

Improves table readability
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/tex/header-includes.tex
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(docker): switch to TinyTeX via Quarto for LaTeX installation
  docker/windows/Dockerfile
Due: none

fix(docker): fix PowerShell path parsing for TinyTeX
  docker/windows/Dockerfile
Due: none

refactor(tables): apply improved table formatting across core chapters
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/labs/kits.qmd
  tools/scripts/format_tables.py
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

test(docker): revert to Chocolatey TeX Live to test workflow
  docker/windows/Dockerfile
Due: none

fix(docker): uncomment Chocolatey TeX Live installation
  docker/windows/Dockerfile
Due: none

fix(docker): restore working TinyTeX after confirming Chocolatey still broken
  docker/windows/Dockerfile
Due: none

test(docker): retry MiKTeX via Scoop installation
  docker/windows/Dockerfile
Due: none

docs(docker): document all LaTeX installation approaches
  docker/windows/Dockerfile
Due: none

feat(docker): configure MiKTeX properly for LuaLaTeX
  docker/windows/Dockerfile
Due: none

fix(docker): restore complete Windows PATH with MiKTeX
  docker/windows/Dockerfile
Due: none

fix(docker): preserve existing PATH instead of overwriting
  docker/windows/Dockerfile
Due: none

fix(docker): remove custom ENV PATH to match working Chocolatey config
  docker/windows/Dockerfile
Due: none

feat(content): add Netlify badge to main page
  .github/workflows/validate-dev.yml
  docker/windows/Dockerfile.chocolatey.broken
  quarto/config/_quarto-pdf.yml
  quarto/contents/core/benchmarking/benchmarking.bib
  quarto/contents/core/benchmarking/generative_ai_quizzes.json
  quarto/contents/core/conclusion/footnote_context_quizzes.json
  quarto/contents/core/dl_primer/dl_primer.bib
  quarto/contents/core/dnn_architectures/dnn_architectures.bib
  quarto/contents/core/frameworks/emerging_topics_quizzes.json
  quarto/contents/core/hw_acceleration/hw_acceleration.bib
  quarto/contents/core/introduction/introduction.bib
  quarto/contents/core/ml_systems/emerging_topics_quizzes.json
  quarto/contents/core/optimizations/optimizations.bib
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.bib
  quarto/contents/core/robust_ai/robust_ai.bib
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.bib
  quarto/contents/core/training/training.bib
  quarto/contents/core/training/training_quizzes.json
  quarto/contents/core/workflow/workflow.bib
  tools/scripts/genai/quizzes.py
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat(content): add Netlify badge to main page (bottom-right)
  quarto/index.qmd
Due: none

feat(ui): add Netlify badge to footer alongside GitHub and Star icons
  quarto/config/_quarto-html.yml
Due: yamllint

feat(ui): add Netlify badge to footer with proper spacing
  quarto/config/_quarto-html.yml
Due: yamllint

fix(filters): preserve citations in sidenote filter for proper citeproc processing
  quarto/filters/sidenote.lua
Due: none

refactor(introduction): improve section flow and narrative structure
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Update a Tikz figure in chapter-16
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$
