Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-validate-json, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-images, book-validate-external-images, book-validate-image-references, book-prevent-svg

book-collapse-blank-lines:
  name: 'Book: Collapse extra blank lines'
  entry: python book/tools/scripts/content/format_blank_lines.py
  language: python
  pass_filenames: true

book-format-python:
  name: 'Book: Format Python code blocks (Black, 70 chars)'
  entry: python book/tools/scripts/content/format_python_in_qmd.py
  language: python
  additional_dependencies:
  - black>=23.0.0
  pass_filenames: true

book-check-list-formatting:
  name: 'Book: Fix markdown list formatting'
  entry: python book/tools/scripts/utilities/check_list_formatting.py --fix
  language: python
  pass_filenames: true

book-validate-json:
  name: 'Book: Validate JSON files'
  entry: python book/tools/scripts/utilities/validate_json.py
  language: python
  pass_filenames: true

book-check-unreferenced-labels:
  name: 'Book: Check for unreferenced labels'
  entry: python book/tools/scripts/content/check_unreferenced_labels.py ./book/quarto/contents/core
  language: python
  pass_filenames: false

book-check-duplicate-labels:
  name: 'Book: Check for duplicate labels'
  entry: python book/tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - book/quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  pass_filenames: false

book-validate-citations:
  name: 'Book: Validate citation references'
  entry: python book/tools/scripts/content/validate_citations.py --quiet
  language: python
  pass_filenames: true

book-validate-footnotes:
  name: 'Book: Validate footnote references'
  entry: python book/tools/scripts/content/footnote_cleanup.py -d book/quarto/contents/ --validate
  language: python
  pass_filenames: false

book-check-forbidden-footnotes:
  name: 'Book: Check for footnotes in tables/captions'
  entry: python book/tools/scripts/content/check_forbidden_footnotes.py -d book/quarto/contents/
  language: python
  pass_filenames: false

book-check-purpose-unnumbered:
  name: 'Book: Ensure Purpose sections are unnumbered'
  entry: bash -c 'grep -n "^## Purpose" "$@" | grep -v "\.unnumbered" && exit 1 || exit 0' --
  language: system
  pass_filenames: true

book-check-table-formatting:
  name: 'Book: Check table formatting'
  entry: python book/tools/scripts/content/format_tables.py --check -d book/quarto/contents/
  language: python
  pass_filenames: false

book-validate-part-keys:
  name: 'Book: Validate part keys'
  entry: python book/tools/scripts/utilities/validate_part_keys.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

book-validate-images:
  name: 'Book: Validate image files'
  entry: python book/tools/scripts/images/manage_images.py
  language: python
  additional_dependencies:
  - pillow
  - rich
  pass_filenames: true

book-validate-external-images:
  name: 'Book: Check for external images'
  entry: python book/tools/scripts/images/manage_external_images.py --validate book/quarto/contents/
  language: python
  additional_dependencies:
  - requests
  pass_filenames: false

fix: update memoization test assertions for new error message format
  tinytorch/tests/18_memoization/test_kv_cache_integration.py
Due: none

style: standardize callout-perspective titles across volumes
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/infrastructure/networking.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

fix: audit and correct Vol1 bibliography references
  book/quarto/contents/vol1/backmatter/references.bib
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_efficiency/data_efficiency.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

fix: add missing FlashAttention citation in training chapter
  book/quarto/contents/vol1/training/training.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

fix: add missing citations in dl_primer chapter
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

ci: run stages 2-4 in parallel after stage 1
  .github/workflows/tinytorch-ci.yml
Due: none

fix: resolve PDF build errors in Vol2 chapters
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

fix: additional citation fixes from verification audit
  book/quarto/contents/vol1/backmatter/references.bib
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/serving/serving.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

chore: deduplicate references.bib by removing 25 unused entries
  book/quarto/contents/vol1/backmatter/references.bib
Due: none

fix: update page geometry to MIT Press 7x10 trim size
  book/quarto/tex/header-includes.tex
Due: none

feat: add distinct cover images for Vol I and Vol II
  book/quarto/assets/images/covers/cover-hardcover-book-vol1.png
  book/quarto/assets/images/covers/cover-hardcover-book-vol2.png
  book/quarto/assets/images/covers/cover-image-transparent-vol1.png
  book/quarto/assets/images/covers/cover-image-transparent-vol2.png
  book/quarto/assets/images/covers/cover-image-vol1.png
  book/quarto/assets/images/covers/cover-image-vol2.png
  book/quarto/assets/images/covers/cover-image-white-vol1.png
  book/quarto/assets/images/covers/cover-image-white-vol2.png
  book/quarto/assets/images/covers/cover_image_title-vol1.png
  book/quarto/assets/images/covers/cover_image_title-vol2.png
  book/quarto/config/_quarto-epub-vol1.yml
  book/quarto/config/_quarto-epub-vol2.yml
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
Due: none

feat: add slide deck cards to all module pages
  tinytorch/src/01_tensor/ABOUT.md
  tinytorch/src/02_activations/ABOUT.md
  tinytorch/src/03_layers/ABOUT.md
  tinytorch/src/04_losses/ABOUT.md
  tinytorch/src/05_dataloader/ABOUT.md
  tinytorch/src/06_autograd/ABOUT.md
  tinytorch/src/07_optimizers/ABOUT.md
  tinytorch/src/09_convolutions/ABOUT.md
  tinytorch/src/10_tokenization/ABOUT.md
  tinytorch/src/11_embeddings/ABOUT.md
  tinytorch/src/12_attention/ABOUT.md
  tinytorch/src/13_transformers/ABOUT.md
  tinytorch/src/14_profiling/ABOUT.md
  tinytorch/src/15_quantization/ABOUT.md
  tinytorch/src/16_compression/ABOUT.md
  tinytorch/src/17_acceleration/ABOUT.md
  tinytorch/src/18_memoization/ABOUT.md
  tinytorch/src/19_benchmarking/ABOUT.md
Due: none

Removes unused commands from CLI docs
  tinytorch/tools/dev/validate_cli_docs.py
Due: none

Update tagline for AI engineers
  README.md
Due: none

feat: add Iron Law lighthouse tables and improve narrative flow
  book/quarto/contents/vol1/data_efficiency/data_efficiency.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

fix(paper): align paper with actual TinyTorch implementation
  tinytorch/paper/paper.tex
Due: none

feat: add slide deck cards to modules 08 and 20
  tinytorch/src/08_training/ABOUT.md
  tinytorch/src/20_capstone/ABOUT.md
Due: none

fix(paper): address Gemini review feedback
  tinytorch/paper/paper.tex
Due: none

fix(paper): capitalize Module consistently per Gemini review
  tinytorch/paper/paper.tex
Due: none

fix(paper): remove last updated date for arXiv submission
  tinytorch/paper/paper.tex
Due: none

style(paper): improve title/author typography
  tinytorch/paper/paper.tex
Due: none

style(docs): convert test hierarchy to Mermaid diagram
  tinytorch/site/tito/testing.md
Due: none

docs: fix milestone requirements to match implementation
  tinytorch/milestones/ABOUT.md
  tinytorch/milestones/README.md
  tinytorch/site/big-picture.md
  tinytorch/site/getting-started.md
  tinytorch/site/tito/milestones.md
Due: none

docs: add 'Building systems creates irreversible understanding' quote
  tinytorch/site/intro.md
  tinytorch/site/preface.md
Due: none

docs(paper): add core philosophy quote to conclusion
  tinytorch/paper/paper.tex
Due: none

feat: introduce DAM Taxonomy as unifying diagnostic framework
  book/quarto/contents/vol1/backmatter/glossary/glossary.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer_quizzes.json
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/introduction/introduction_quizzes.json
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/parts/build_principles.qmd
  book/quarto/contents/vol1/parts/deploy_principles.qmd
  book/quarto/contents/vol1/parts/optimize_principles.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-validate-json, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

fix(ci): restore tinytorch-publish-dev.yml workflow
  .github/workflows/tinytorch-publish-dev.yml
Due: none

refactor(ci): rename TinyTorch CI to Validate (Dev) pattern
  .github/workflows/tinytorch-publish-dev.yml
  .github/workflows/tinytorch-validate-dev.yml
Due: none

fix(ci): update concurrency group name to match workflow
  .github/workflows/tinytorch-publish-dev.yml
  .github/workflows/tinytorch-validate-dev.yml
Due: none

feat: add Lighthouse Journey synthesis to conclusion
  book/quarto/contents/vol1/conclusion/conclusion.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

fix(ci): update publish-live to use tinytorch-validate-dev.yml
  .github/workflows/tinytorch-publish-live.yml
Due: none

fix(docs): update workflow references from tinytorch-ci to tinytorch-validate-dev
  README.md
  README/README_ja.md
  README/README_ko.md
  README/README_zh.md
  tinytorch/site/tito/testing.md
Due: none

Revise description for AI engineers in README
  README.md
Due: none

Update wording from 'around the world' to 'worldwide'
  README.md
Due: none

Path conditions:
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-check-list-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  book-prevent-svg: any of: ^book/quarto/contents/.*\.svg$, but not: .*_files/mediabag/.*\.svg$
