Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-images, book-validate-external-images, book-validate-image-references

book-format-python:
  name: 'Book: Format Python code blocks (Black, 70 chars)'
  entry: ./book/binder format python
  language: system
  pass_filenames: true

book-collapse-blank-lines:
  name: 'Book: Collapse extra blank lines'
  entry: ./book/binder format blanks
  language: system
  pass_filenames: true

book-fix-list-spacing:
  name: 'Book: Fix list spacing (blank before lists, tight items)'
  entry: ./book/binder format lists
  language: system
  pass_filenames: true

book-validate-json:
  name: 'Book: Validate JSON files'
  entry: ./book/binder check json
  language: system
  pass_filenames: false

book-verify-section-ids:
  name: 'Book: Verify all sections have IDs'
  entry: ./book/binder check headers --vol1
  language: system
  pass_filenames: false

book-check-unreferenced-labels:
  name: 'Book: Check for unreferenced labels'
  entry: ./book/binder check labels --scope orphans --vol1
  language: system
  pass_filenames: false

book-check-duplicate-labels:
  name: 'Book: Check for duplicate labels'
  entry: ./book/binder check labels --scope duplicates --figures --tables --listings
  language: system
  pass_filenames: false

book-validate-citations:
  name: 'Book: Validate citation references'
  entry: ./book/binder check refs --scope citations
  language: system
  pass_filenames: false

book-check-references:
  name: 'Book: Check reference/citation issues'
  entry: ./book/binder check refs --scope cross-refs --citations-in-code
  language: system
  pass_filenames: false

book-validate-footnotes:
  name: 'Book: Validate footnote references'
  entry: ./book/binder check footnotes --scope integrity
  language: system
  pass_filenames: false

book-check-forbidden-footnotes:
  name: 'Book: Check for footnotes in tables/captions'
  entry: ./book/binder check footnotes --scope placement
  language: system
  pass_filenames: false

book-check-purpose-unnumbered:
  name: 'Book: Ensure Purpose sections are unnumbered'
  entry: bash -c 'grep -n "^## Purpose" "$@" | grep -v "\.unnumbered" && exit 1 || exit 0' --
  language: system
  pass_filenames: true

book-check-unclosed-divs:
  name: 'Book: Check for malformed div fences (:::)'
  entry: 'bash -c ''for f in "$@"; do grep -nE "^:::[ ]+[^{ ]" "$f" && echo "  ^^^ ERROR in $f: div fence (:::) has trailing text. The ::: must be on its own line to close a div." && exit 1; done; exit 0'' --'
  language: system
  pass_filenames: true

book-check-four-colon-space:
  name: 'Book: Check for malformed nested div fences (::::)'
  ...

book-check-figure-completeness:
  name: 'Book: Check figures have captions and alt-text'
  entry: ./book/binder check figures --scope captions
  language: system
  pass_filenames: false

book-check-figure-placement:
  name: 'Book: Check figure/table placement (near first reference)'
  entry: ./book/binder check figures --scope flow
  language: system
  pass_filenames: false

book-mlsys-test-units:
  name: 'Book: MLSys unit checks'
  entry: ./book/binder check units
  language: system
  pass_filenames: false

feat: add announcement bars to site, instructors, and slides portals
  instructors/_quarto.yml
  instructors/config/announcement.yml
  site/_quarto.yml
  site/config/announcement.yml
  slides/_quarto.yml
  slides/config/announcement.yml
Due: none

chore(vol1/data_selection): re-audit 5 alt-text entries against current figures
  book/quarto/contents/vol1/data_selection/data_selection.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

chore(vol1/frameworks): re-audit 3 alt-text entries against current figures
  book/quarto/contents/vol1/frameworks/frameworks.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

chore(vol1/ml_ops): re-audit 1 alt-text entry against current figure
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

chore(vol1/nn_architectures): re-audit 9 alt-text entries against current figures
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

chore(vol1/nn_computation): re-audit 7 alt-text entries against current figures
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

chore(vol1/training): re-audit 3 alt-text entries against current figures
  book/quarto/contents/vol1/training/training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(shared): centralize font loading via site-head.html + fix carousel
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-html-vol2.yml
  instructors/_quarto.yml
  kits/config/_quarto-html.yml
  labs/config/_quarto-html.yml
  mlsysim/docs/config/_quarto-html.yml
  mlsysim/docs/index.qmd
  mlsysim/docs/styles/landing.css
  mlsysim/docs/styles/landing.js
  slides/_quarto.yml
  tinytorch/site-quarto/_quarto.yml
Due: none

fix(paper): replace hardcoded counts with macros
  interviews/paper/paper.tex
Due: none

fix(shared): centralize font loading via site-head.html + fix carousel (#1403)
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-html-vol2.yml
  instructors/_quarto.yml
  kits/config/_quarto-html.yml
  labs/config/_quarto-html.yml
  mlsysim/docs/config/_quarto-html.yml
  mlsysim/docs/index.qmd
  mlsysim/docs/styles/landing.css
  mlsysim/docs/styles/landing.js
  slides/_quarto.yml
  tinytorch/site-quarto/_quarto.yml
Due: none

fix(vol1/training): correct fig-activation-perf caption ordering
  book/quarto/contents/vol1/training/training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(site): add site-specific navbar dropdown to match ecosystem pattern
  site/_quarto.yml
Due: none

fix(navbar): standardize title color across all sites and modes
  shared/styles/_site-dark.scss
  shared/styles/partials/_mobile.scss
  shared/styles/partials/_navbar.scss
Due: none

fix(navbar): centralize dark mode title color in shared partial
  shared/styles/_site-dark.scss
  shared/styles/partials/_mobile.scss
  shared/styles/partials/_navbar.scss
Due: none

fix(staffml): align EcosystemBar colors with shared navbar standard
  interviews/staffml/src/components/EcosystemBar.tsx
Due: none

fix(staffml): add site-specific dropdown to ecosystem navbar
  interviews/staffml/src/components/EcosystemBar.tsx
Due: none

feat(staffml): add dark mode support to EcosystemBar navbar
  interviews/staffml/src/components/EcosystemBar.tsx
Due: none

fix(navbar): brand links to landing page + fix toggle position
  shared/config/navbar-common.yml
  shared/styles/partials/_navbar.scss
Due: none

fix(staffml): move dark mode toggle to ecosystem navbar, remove duplicates
  interviews/staffml/src/components/EcosystemBar.tsx
  interviews/staffml/src/components/Nav.tsx
Due: none

fix(tinytorch): add index.qmd to sidebar so landing page shows sidebar
  tinytorch/site-quarto/_quarto.yml
Due: none

preflight(config): fix YAML indentation of subscribe-modal.js script tag
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-html-vol2.yml
Due: none

chore(camera-ready): add overnight sweep helper scripts (run 20260418-204343)
  book/tools/scripts/testing/apply_fix.sh
  book/tools/scripts/testing/camera_ready_sweep.sh
  book/tools/scripts/testing/gemini_math_check.py
  book/tools/scripts/testing/struct_qa_html.py
  book/tools/scripts/testing/struct_qa_pdf.py
Due: none

preflight(config): add missing project.render block to _quarto-html-vol1.yml
  book/quarto/config/_quarto-html-vol1.yml
Due: none

fix(data_selection): latex-syntax — wrap runs subscript in text{} for N_runs
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/index.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(hw_acceleration): pdf-code-listing-leaked-latex — remove literal LaTeX (\times, $) from code-comment matrix shape annotations in Listing 11.5
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(robust_ai): yaml-frontmatter-opener-corrupt — repair YAML opener (json--- -> ---)
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/index.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(conclusion): yaml-frontmatter-empty — populate empty YAML frontmatter (engine: jupyter)
  book/quarto/contents/vol2/conclusion/conclusion.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(fleet_orchestration): pdf-currency-double-dollar — drop redundant $ from spot_price_str python value
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(vol2/introduction): replace $<$100 ms LaTeX leak with prose <100 ms (p.74)
  book/quarto/contents/vol2/introduction/introduction.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(vol1/model_serving): substitute SEC_PER_HOUR -> 3,600 in Unit Economics (p.798)
  book/quarto/contents/vol1/model_serving/model_serving.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(vol2/ops_scale): resolve raw @sec cross-ref token in monitoring-pyramid.svg (Fig 12.9, p.738)
  book/quarto/contents/vol2/ops_scale/images/svg/monitoring-pyramid.svg
Due: none

fix(vol2/inference): bulkhead TikZ — reposition Complete Isolation label and shorten Standard Tier title (Fig 10.24, p.607)
  book/quarto/contents/vol2/inference/inference.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(vol2/distributed_training): resolve PipelineYes label overlap in parallelism-decision-tree.svg (Fig 5.18, p.299)
  book/quarto/contents/vol2/distributed_training/images/svg/parallelism-decision-tree.svg
Due: none

fix(vol2/references): drop DBLP 0003 suffix from Mu Li parameter-server entry (p.1047)
  book/quarto/contents/vol2/backmatter/references.bib
Due: none

fix(vol2/references): merge duplicate Szegedy 2013a/b Intriguing Properties entries (p.1060)
  book/quarto/contents/vol2/backmatter/references.bib
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Revert "fix(vol2/distributed_training): resolve PipelineYes label overlap in parallelism-decision-tree.svg (Fig 5.18, p.299)"
  book/quarto/contents/vol2/distributed_training/images/svg/parallelism-decision-tree.svg
Due: none

fix(vol2/distributed_training): resolve PipelineYes label overlap in parallelism-flowchart.svg (Fig 5.18, p.252)
  book/quarto/contents/vol2/distributed_training/images/svg/parallelism-flowchart.svg
Due: none

fix(styles): unify navbar font across ecosystem, widen tinytorch hero
  book/quarto/assets/styles/style-vol1.scss
  book/quarto/assets/styles/style-vol2.scss
  tinytorch/site-quarto/assets/styles/style.scss
Due: none

chore: archive deprecated landing variants and orphaned filters
  book/quarto/filters/_archive/README.md
  book/quarto/filters/_archive/auto-glossary-advanced.lua
  book/quarto/filters/_archive/auto-glossary.lua
  book/quarto/filters/_archive/inject_glossary.lua
  site/_archive/README.md
  site/_archive/index-v1.qmd
  site/_archive/index-v2.qmd
  site/_archive/landing-v2.css
  site/_archive/neural-bg-dark.js
Due: none

Path conditions:
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-fix-list-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-verify-section-ids: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-check-references: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unclosed-divs: any of: ^book/quarto/contents/.*\.qmd$
  book-check-four-colon-space: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-completeness: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-check-grid-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-prettify-pipe-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-check-render-patterns: any of: ^book/quarto/contents/.*\.qmd$
  book-check-python-echo: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-dropcap: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-validate-inline: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-test-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-index-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-check-heading-levels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-words: any of: ^book/quarto/contents/.*\.qmd$
  book-check-percent-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unit-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-binary-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-contractions: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unblended-prose: any of: ^book/quarto/contents/.*\.qmd$
  book-check-times-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
