Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$

fix: standardize glossary chapter references to use 'Appears in:' consistently
  quarto/contents/backmatter/glossary/glossary.qmd
  tools/scripts/glossary/generate_glossary.py
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: add post-processing script to fix glossary cross-reference links
  quarto/scripts/fix-glossary-html.py
Due: none

config: integrate glossary fix script into HTML post-render hooks
  quarto/config/_quarto-html.yml
Due: yamllint

refactor: rename fix-glossary-html.py to snake_case convention
  quarto/config/_quarto-html.yml
  quarto/scripts/README.md
  quarto/scripts/fix-glossary-html.py
  quarto/scripts/fix_glossary_html.py
Due: yamllint

fix: implement selective PDF/EPUB builds in binder CLI
  cli/commands/build.py
Due: none

Simplifies window title for clarity
  .vscode/settings.json
Due: none

Removes outdated generation timestamp
  quarto/contents/backmatter/glossary/glossary.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

revert: restore QMD files to pre-cross-referencing state
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: enhance frontiers chapter with comprehensive improvements
  quarto/contents/core/frontiers/frontiers.bib
  quarto/contents/core/frontiers/frontiers.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: complete frontiers chapter with comprehensive improvements
  quarto/contents/core/frontiers/frontiers.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Update frontiers concept map for AGI Systems chapter
  footnote_analysis_report.md
  footnote_catalog.json
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/frontiers/frontiers_concepts.yml
  quarto/contents/core/frontiers/images/png/cover_frontiers.png
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/workflow/workflow.qmd
  quarto/diagram-4ae7960299078afeff6e437af54c5e8151e88c95.pdf
  quarto/test-xref-analysis.md
  requirements-dev.txt
  test-xref-modes.sh
  tools/scripts/content/manage_section_ids.py
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references

Add key AGI terms to frontiers glossary
  quarto/contents/core/frontiers/frontiers_glossary.json
Due: none

Rebuild global glossary and generate updated glossary page
  quarto/contents/backmatter/glossary/glossary.qmd
  quarto/contents/data/global_glossary.json
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Partially update frontiers quiz section IDs
  quarto/contents/core/frontiers/frontiers_quizzes.json
Due: none

Add key AGI terms to frontiers glossary and rebuild global glossary
  quarto/contents/backmatter/glossary/glossary.qmd
  quarto/contents/core/frontiers/frontiers_glossary.json
  quarto/contents/data/global_glossary.json
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Complete frontiers polish with glossary updates and build improvements
  .envrc
  .vscode/settings.json
  PYTHON_ENV_SETUP.md
  activate_direnv.sh
  activate_venv.sh
  cli/commands/build.py
  cli/main.py
  debug_section_ids.py
  mlsysbook.egg-info/PKG-INFO
  mlsysbook.egg-info/SOURCES.txt
  mlsysbook.egg-info/dependency_links.txt
  mlsysbook.egg-info/entry_points.txt
  mlsysbook.egg-info/requires.txt
  mlsysbook.egg-info/top_level.txt
  pyproject.toml
  quarto/config/_quarto-html.yml
  quarto/config/_quarto-pdf.yml
  quarto/contents/core/frontiers/diagram-52a87d5641145f9e75a213d86be7ad9fd8f3cd91.pdf
  quarto/contents/core/frontiers/frontiers_files/libs/bootstrap/bootstrap-81267100e462c21b3d6c0d5bf76a3417.min.css
  quarto/contents/core/frontiers/frontiers_files/libs/bootstrap/bootstrap-icons.css
  quarto/contents/core/frontiers/frontiers_files/libs/bootstrap/bootstrap-icons.woff
  quarto/contents/core/frontiers/frontiers_files/libs/bootstrap/bootstrap.min.js
  quarto/contents/core/frontiers/frontiers_files/libs/clipboard/clipboard.min.js
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/anchor.min.js
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/popper.min.js
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/quarto-syntax-highlighting-e1a5c8363afafaef2c763b6775fbf3ca.css
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/quarto.js
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/tabsets/tabsets.js
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/tippy.css
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/tippy.umd.min.js
  quarto/contents/core/ml_systems/ml_systems.qmd
  setup_binder.py
  tools/dependencies/requirements.txt
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Polish Chapter 1; align callout icon colors; add new TikZ figures
  .codespell-ignore
  quarto/assets/images/icons/callouts/icon_callout-definition.pdf
  quarto/assets/images/icons/callouts/icon_callout-definition.png
  quarto/assets/images/icons/callouts/icon_callout-example.pdf
  quarto/assets/images/icons/callouts/icon_callout-example.png
  quarto/assets/images/icons/callouts/icon_callout-quiz-answer.pdf
  quarto/assets/images/icons/callouts/icon_callout-quiz-answer.png
  quarto/assets/images/icons/callouts/icon_callout-quiz-question.pdf
  quarto/assets/images/icons/callouts/icon_callout-quiz-question.png
  quarto/assets/images/icons/callouts/icon_callout_quiz_answer.png
  quarto/assets/images/icons/callouts/icon_callout_quiz_question.png
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dl_primer/images/jpg/usps_examples_new.jpg
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures_quizzes.json
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/images/png/adversarial_robustness_new.png
  quarto/contents/core/responsible_ai/images/png/diffusion_memorization_new.png
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/images/png/gradient_attack.png
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references

feat: implement comprehensive classroom feedback improvements across Foundation chapters
  .envrc
  PYTHON_ENV_SETUP.md
  activate_direnv.sh
  activate_venv.sh
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/._dnn_architectures_xref.json
  quarto/contents/core/dnn_architectures/dnn_architectures.bib
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/frontiers/frontiers_quizzes.json
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/frontmatter/about/about.qmd
  setup_binder.py
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Improve DNN architectures chapter flow and add decision framework quiz
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures_quizzes.json
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix: update cross-reference mappings for DNN Architectures chapter
  quarto/contents/core/dnn_architectures/._dnn_architectures_xref.json
Due: none

Explains ML framework selection and comparison
  quarto/contents/core/frameworks/frameworks.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Enhance introduction with Sutton's bitter lesson and systems thinking
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: enhance AI Training chapter based on student feedback
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: enhance Data Engineering chapter with production reality and systems perspective
  quarto/contents/core/data_engineering/data_engineering.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Improve pedagogical philosophy section with clearer foundations-first approach
  quarto/contents/frontmatter/about/about.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: enhance Efficient AI chapter with foundational improvements
  quarto/contents/core/efficient_ai/efficient_ai.bib
  quarto/contents/core/efficient_ai/efficient_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Adds a bibliography for efficient AI
  quarto/contents/core/efficient_ai/efficient_ai.bib
Due: none

feat: enhance Model Optimizations chapter with pedagogical improvements
  quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

style: standardize Model Optimizations chapter formatting
  quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: enhance AI Acceleration chapter with practical improvements
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: enhance AI Acceleration chapter with three-phase student feedback improvements
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: comprehensive benchmarking improvements with systems-level precision insights
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: enhance ML Operations chapter with three-phase student feedback improvements
  quarto/contents/core/ops/ops.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: add stakeholder communication section to ML Operations chapter
  quarto/contents/core/ops/ops.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

refactor: improve stakeholder communication section tone and flow
  quarto/contents/core/ops/ops.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

improve: add transition bridge between collaboration sections
  quarto/contents/core/ops/ops.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: add foundational Infrastructure as Code explanation for beginners
  quarto/contents/core/ops/ops.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: add monitoring resilience and gradual degradation detection to ML Ops
  quarto/contents/core/ops/ops.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: enhance on-device learning chapter based on student feedback
  quarto/contents/core/ondevice_learning/ondevice_learning.bib
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Adds carbon footprint tracking example
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references
