Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-images, book-validate-external-images, book-validate-image-references

Path conditions:
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-fix-list-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-verify-section-ids: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-check-references: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unclosed-divs: any of: ^book/quarto/contents/.*\.qmd$
  book-check-four-colon-space: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-completeness: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-check-grid-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-prettify-pipe-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-check-render-patterns: any of: ^book/quarto/contents/.*\.qmd$
  book-check-python-echo: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-dropcap: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-validate-inline: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-test-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-index-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-check-heading-levels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-words: any of: ^book/quarto/contents/.*\.qmd$
  book-check-percent-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unit-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-binary-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-contractions: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unblended-prose: any of: ^book/quarto/contents/.*\.qmd$
  book-check-times-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$

Clarify causal fairness assumptions
  book/quarto/contents/references.bib
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai_concepts.yml
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Assemble end-to-end evaluation contract
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale_concepts.yml
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Explain AllToAll schedule selection
  book/quarto/contents/references.bib
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/collective_communication/collective_communication_concepts.yml
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(tinytorch): correct arithmetic, stale paths, and export targets across all 19 modules
  tinytorch/src/01_tensor/01_tensor.py
  tinytorch/src/02_activations/02_activations.py
  tinytorch/src/03_layers/03_layers.py
  tinytorch/src/04_losses/04_losses.py
  tinytorch/src/05_dataloader/05_dataloader.py
  tinytorch/src/06_autograd/06_autograd.py
  tinytorch/src/08_training/08_training.py
  tinytorch/src/09_convolutions/09_convolutions.py
  tinytorch/src/10_tokenization/10_tokenization.py
  tinytorch/src/11_embeddings/11_embeddings.py
  tinytorch/src/12_attention/12_attention.py
  tinytorch/src/13_transformers/13_transformers.py
  tinytorch/src/14_profiling/14_profiling.py
  tinytorch/src/15_quantization/15_quantization.py
  tinytorch/src/16_compression/16_compression.py
  tinytorch/src/17_acceleration/17_acceleration.py
  tinytorch/src/18_memoization/18_memoization.py
  tinytorch/src/19_benchmarking/19_benchmarking.py
  tinytorch/src/20_capstone/20_capstone.py
Due: none

fix(tinytorch): correct quantize_model signature in module 20's API hint
  tinytorch/src/20_capstone/20_capstone.py
Due: none

Work dominant-resource fairness allocation
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration_concepts.yml
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Add storage hierarchy reliability models
  book/quarto/contents/vol2/data_storage/data_storage.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Add edge adaptation admission condition
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Strengthen fleet-scale concept recurrence
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Tighten Volume II concept contracts
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Tighten privacy accounting transition
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Preserve chapter anchors in HTML
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(tinytorch): make tiled_matmul actually tile and stop fabricating accuracy
  tinytorch/src/17_acceleration/17_acceleration.py
  tinytorch/src/19_benchmarking/19_benchmarking.py
  tinytorch/tests/17_acceleration/test_acceleration_core.py
Due: none

Enforce sentence case in bold concepts
  book/cli/checks/footnote_caps.py
  book/cli/commands/validate.py
  book/cli/data/concept_terms.yaml
  book/quarto/contents/vol1/frontmatter/about.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/backmatter/appendix_assumptions.qmd
  book/quarto/contents/vol2/backmatter/appendix_dam.qmd
  book/quarto/contents/vol2/backmatter/appendix_fleet.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  book/tests/test_footnote_caps.py
  book/tools/audit/checks/concept_term_capitalization.py
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

style(site): polish four-volume landing cards, announcements, and hero layout
  book/quarto/config/shared/html/announcement-book.yml
  book/quarto/config/shared/html/announcement-vol1.yml
  book/quarto/config/shared/html/announcement-vol2.yml
  site/config/stats-cache.json
  site/index.qmd
  site/landing.css
Due: none

Style figures as shared image cards
  book/quarto/assets/styles/_base-styles.scss
  book/quarto/assets/styles/_dark-mode-base.scss
  book/quarto/assets/styles/epub/layout.css
Due: none

chore: add root compatibility symlinks for mlperf-edu and slides
  mlperf-edu
  slides
Due: none

Exclude website anchor shims from EPUB
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

style(site): preserve two-volume showcase on public landing and read menu
  shared/config/navbar-common.yml
  site/config/stats-cache.json
  site/index.qmd
  site/landing.css
Due: none

fix(tinytorch): restore gradient flow in BatchNorm and Embedding, correct BPE walkthrough and mask test
  tinytorch/src/09_convolutions/09_convolutions.py
  tinytorch/src/10_tokenization/10_tokenization.py
  tinytorch/src/11_embeddings/11_embeddings.py
  tinytorch/src/13_transformers/13_transformers.py
Due: none

Repair monorepo validation paths and style mirrors
  book/cli/commands/_registry_checks.py
  book/tools/audit/run_registry_audit.py
  shared/styles/_brand.scss
Due: none

refactor(tinytorch): align monograph chapter numbering 1-to-1 with TinyTorch modules
  books/tinytorch/00_welcome.qmd
  books/tinytorch/01_tensors.qmd
  books/tinytorch/02_activations.qmd
  books/tinytorch/03_layers.qmd
  books/tinytorch/04_losses.qmd
  books/tinytorch/05_dataloader.qmd
  books/tinytorch/06_autograd.qmd
  books/tinytorch/07_optimizers.qmd
  books/tinytorch/08_training.qmd
  books/tinytorch/21_extensions.qmd
  books/tinytorch/_quarto.yml
  books/tinytorch/assets/images/cover.png
  site/covers/cover-hardcover-book-tinytorch.png
Due: none

chore(site): update cached stats
  site/config/stats-cache.json
Due: none

fix(tinytorch): export OlympicEvent by moving its nbdev directive to the top of the cell
  tinytorch/src/19_benchmarking/19_benchmarking.py
Due: none

feat(mlsysim): add initial physics placeholders for Volume 3 and Volume 4
  book/tests/test_vol3_vol4_physics_placeholders.py
  packages/mlsysim/mlsysim/physics/__init__.py
  packages/mlsysim/mlsysim/physics/agents.py
  packages/mlsysim/mlsysim/physics/robotics.py
Due: none

fix(tinytorch): resolve table of contents numbering and duplicate chapter prefixes
  books/tinytorch/00_welcome.qmd
  books/tinytorch/02_activations.qmd
  books/tinytorch/03_layers.qmd
  books/tinytorch/04_losses.qmd
  books/tinytorch/05_dataloader.qmd
  books/tinytorch/06_autograd.qmd
  books/tinytorch/07_optimizers.qmd
  books/tinytorch/08_training.qmd
  books/tinytorch/09_convolutions.qmd
  books/tinytorch/10_tokenization.qmd
  books/tinytorch/11_embeddings.qmd
  books/tinytorch/12_attention.qmd
  books/tinytorch/13_transformers.qmd
  books/tinytorch/14_profiling.qmd
  books/tinytorch/15_quantization.qmd
  books/tinytorch/16_compression.qmd
  books/tinytorch/17_acceleration.qmd
  books/tinytorch/18_memoization.qmd
  books/tinytorch/19_benchmarking.qmd
  books/tinytorch/20_capstone.qmd
  books/tinytorch/21_extensions.qmd
  books/tinytorch/TinyTorch-Book.tex
  books/tinytorch/_quarto.yml
  books/tinytorch/milestone_01.qmd
  books/tinytorch/milestone_02.qmd
  books/tinytorch/milestone_03.qmd
  books/tinytorch/preface.qmd
  books/tinytorch/tex/header-includes.tex
Due: none

docs(tinytorch): add systems bridge callouts and hardware acceleration details
  books/tinytorch/00_welcome.qmd
  books/tinytorch/01_tensors.qmd
  books/tinytorch/05_dataloader.qmd
  books/tinytorch/06_autograd.qmd
  books/tinytorch/09_convolutions.qmd
  books/tinytorch/10_tokenization.qmd
  books/tinytorch/11_embeddings.qmd
  books/tinytorch/14_profiling.qmd
  books/tinytorch/15_quantization.qmd
Due: none

style(tinytorch): apply pre-commit formatting fixes
  books/tinytorch/00_welcome.qmd
  books/tinytorch/01_tensors.qmd
  books/tinytorch/02_activations.qmd
  books/tinytorch/05_dataloader.qmd
  books/tinytorch/06_autograd.qmd
  books/tinytorch/07_optimizers.qmd
  books/tinytorch/09_convolutions.qmd
  books/tinytorch/10_tokenization.qmd
  books/tinytorch/11_embeddings.qmd
  books/tinytorch/12_attention.qmd
  books/tinytorch/14_profiling.qmd
  books/tinytorch/15_quantization.qmd
  books/tinytorch/16_compression.qmd
Due: none

refactor(tinytorch): complete 10-pass pedagogical polish and hardware systems bridges
  books/tinytorch/03_layers.qmd
  books/tinytorch/04_losses.qmd
  books/tinytorch/07_optimizers.qmd
  books/tinytorch/08_training.qmd
  books/tinytorch/13_transformers.qmd
  books/tinytorch/17_acceleration.qmd
  books/tinytorch/18_memoization.qmd
  books/tinytorch/19_benchmarking.qmd
  books/tinytorch/20_capstone.qmd
  books/tinytorch/21_extensions.qmd
  books/tinytorch/TinyTorch-Book.tex
  books/tinytorch/milestone_02.qmd
  books/tinytorch/milestone_03.qmd
Due: none

design(tinytorch): deploy official hardcover cover matching the MLSysBook tetralogy aesthetic
  books/tinytorch/assets/images/cover.png
  site/covers/cover-hardcover-book-tinytorch.png
  site/covers/cover-hardcover-book-tinytorch.webp
Due: none

style(tinytorch): make all 20 modules structurally identical
  tinytorch/src/01_tensor/01_tensor.py
  tinytorch/src/02_activations/02_activations.py
  tinytorch/src/03_layers/03_layers.py
  tinytorch/src/04_losses/04_losses.py
  tinytorch/src/05_dataloader/05_dataloader.py
  tinytorch/src/06_autograd/06_autograd.py
  tinytorch/src/07_optimizers/07_optimizers.py
  tinytorch/src/08_training/08_training.py
  tinytorch/src/09_convolutions/09_convolutions.py
  tinytorch/src/10_tokenization/10_tokenization.py
  tinytorch/src/11_embeddings/11_embeddings.py
  tinytorch/src/12_attention/12_attention.py
  tinytorch/src/13_transformers/13_transformers.py
  tinytorch/src/14_profiling/14_profiling.py
  tinytorch/src/15_quantization/15_quantization.py
  tinytorch/src/16_compression/16_compression.py
  tinytorch/src/17_acceleration/17_acceleration.py
  tinytorch/src/18_memoization/18_memoization.py
  tinytorch/src/19_benchmarking/19_benchmarking.py
  tinytorch/src/20_capstone/20_capstone.py
Due: none

style(tinytorch): apply pre-push hook markdown formatting
  books/tinytorch/02_activations.qmd
  books/tinytorch/03_layers.qmd
  books/tinytorch/04_losses.qmd
  books/tinytorch/07_optimizers.qmd
  books/tinytorch/08_training.qmd
  books/tinytorch/12_attention.qmd
  books/tinytorch/13_transformers.qmd
  books/tinytorch/16_compression.qmd
  books/tinytorch/18_memoization.qmd
  books/tinytorch/19_benchmarking.qmd
  books/tinytorch/21_extensions.qmd
  books/tinytorch/TinyTorch-Book.tex
  books/tinytorch/_quarto.yml
  books/tinytorch/milestone_01.qmd
  books/tinytorch/milestone_02.qmd
  books/tinytorch/milestone_03.qmd
  books/tinytorch/preface.qmd
Due: none

fix(materials): add instructors root symlink and fix relative include paths
  instructors
  materials/instructors/_quarto.yml
  materials/instructors/assets/styles/style.scss
  materials/instructors/index.qmd
  materials/slides/_quarto.yml
  materials/slides/assets/styles/style.scss
  materials/slides/index.qmd
Due: none

Polish Volume II introduction figures
  book/quarto/contents/vol2/introduction/images/svg/reliability-gap-collapse.svg
  book/quarto/contents/vol2/introduction/images/svg/scale-moment-discontinuity.svg
  book/quarto/contents/vol2/introduction/images/svg/traditional-vs-ml-fleet.svg
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/tex/header-includes.tex
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(mlsysim,ci): fix packaging doc/slide paths and split book badges into volumes
  .github/workflows/physical-validate-dev.yml
  README.md
  packages/mlsysim/docs/config/_quarto-html.yml
  packages/mlsysim/docs/empirical-calibration.html
  packages/mlsysim/docs/index.qmd
  packages/mlsysim/docs/math.html
  packages/mlsysim/docs/site_libs/bootstrap/bootstrap-dark-aa62ee545db9f8c0bb24325f82e1cc68.min.css
  packages/mlsysim/docs/site_libs/bootstrap/bootstrap-fec8dc7f5183e1860d954199ff057e25.min.css
  packages/mlsysim/docs/site_libs/bootstrap/bootstrap-icons.css
  packages/mlsysim/docs/site_libs/bootstrap/bootstrap-icons.woff
  packages/mlsysim/docs/site_libs/bootstrap/bootstrap.min.js
  packages/mlsysim/docs/site_libs/clipboard/clipboard.min.js
  packages/mlsysim/docs/site_libs/quarto-html/anchor.min.js
  packages/mlsysim/docs/site_libs/quarto-html/popper.min.js
  packages/mlsysim/docs/site_libs/quarto-html/quarto-syntax-highlighting-0bb0b530e54782cf39a30b39ef8a2d6c.css
  packages/mlsysim/docs/site_libs/quarto-html/quarto-syntax-highlighting-dark-7bf7ec51a0ae41cf919e5f30745009cc.css
  packages/mlsysim/docs/site_libs/quarto-html/quarto.js
  packages/mlsysim/docs/site_libs/quarto-html/tabsets/tabsets.js
  packages/mlsysim/docs/site_libs/quarto-html/tippy.css
  packages/mlsysim/docs/site_libs/quarto-html/tippy.umd.min.js
  packages/mlsysim/docs/site_libs/quarto-html/zenscroll-min.js
  packages/mlsysim/docs/site_libs/quarto-nav/quarto-nav.js
  packages/mlsysim/docs/site_libs/quarto-search/autocomplete.umd.js
  packages/mlsysim/docs/site_libs/quarto-search/fuse.min.js
  packages/mlsysim/docs/site_libs/quarto-search/quarto-search.js
  packages/mlsysim/docs/styles/style.scss
  packages/mlsysim/docs/tutorials/01_memory_wall.html
  packages/mlsysim/docs/tutorials/01_memory_wall_files/figure-html/cell-6-output-1.png
  packages/mlsysim/docs/tutorials/02_differential_explainer.html
  packages/mlsysim/docs/tutorials/02_two_phases.html
  packages/mlsysim/docs/tutorials/11_training_memory_capacity_moe.html
  packages/mlsysim/docs/tutorials/12_design_space_exploration.html
  packages/mlsysim/docs/tutorials/12_full_stack_audit.html
  packages/mlsysim/tutorial/slides/tutorial_module1.tex
  packages/mlsysim/tutorial/slides/tutorial_module2.tex
  packages/mlsysim/tutorial/slides/tutorial_module3.tex
  packages/mlsysim/tutorial/slides/tutorial_module4.tex
Due: none

test(tinytorch): make the suite able to fail, and independent of test order
  tinytorch/src/05_dataloader/05_dataloader.py
  tinytorch/src/06_autograd/06_autograd.py
  tinytorch/src/07_optimizers/07_optimizers.py
  tinytorch/src/09_convolutions/09_convolutions.py
  tinytorch/src/10_tokenization/10_tokenization.py
  tinytorch/src/11_embeddings/11_embeddings.py
  tinytorch/src/14_profiling/14_profiling.py
  tinytorch/src/15_quantization/15_quantization.py
  tinytorch/src/19_benchmarking/19_benchmarking.py
  tinytorch/src/20_capstone/20_capstone.py
  tinytorch/tests/08_training/test_08_training_progressive.py
  tinytorch/tests/13_transformers/test_training_simple.py
  tinytorch/tests/conftest.py
  tinytorch/tests/environment/test_all_requirements.py
  tinytorch/tests/integration/test_cnn_integration.py
  tinytorch/tests/integration/test_integration_gradient_flow.py
  tinytorch/tests/integration/test_loss_gradients.py
  tinytorch/tests/integration/test_module_integration.py
  tinytorch/tests/integration/test_training_capabilities.py
  tinytorch/tests/regression/test_conv_linear_dimensions.py
  tinytorch/tests/regression/test_transformer_reshaping.py
Due: none

chore: untrack generated site_libs and html from packages/mlsysim/docs
  .gitignore
  packages/mlsysim/docs/empirical-calibration.html
  packages/mlsysim/docs/math.html
  packages/mlsysim/docs/site_libs/bootstrap/bootstrap-dark-aa62ee545db9f8c0bb24325f82e1cc68.min.css
  packages/mlsysim/docs/site_libs/bootstrap/bootstrap-fec8dc7f5183e1860d954199ff057e25.min.css
  packages/mlsysim/docs/site_libs/bootstrap/bootstrap-icons.css
  packages/mlsysim/docs/site_libs/bootstrap/bootstrap-icons.woff
  packages/mlsysim/docs/site_libs/bootstrap/bootstrap.min.js
  packages/mlsysim/docs/site_libs/clipboard/clipboard.min.js
  packages/mlsysim/docs/site_libs/quarto-html/anchor.min.js
  packages/mlsysim/docs/site_libs/quarto-html/popper.min.js
  packages/mlsysim/docs/site_libs/quarto-html/quarto-syntax-highlighting-0bb0b530e54782cf39a30b39ef8a2d6c.css
  packages/mlsysim/docs/site_libs/quarto-html/quarto-syntax-highlighting-dark-7bf7ec51a0ae41cf919e5f30745009cc.css
  packages/mlsysim/docs/site_libs/quarto-html/quarto.js
  packages/mlsysim/docs/site_libs/quarto-html/tabsets/tabsets.js
  packages/mlsysim/docs/site_libs/quarto-html/tippy.css
  packages/mlsysim/docs/site_libs/quarto-html/tippy.umd.min.js
  packages/mlsysim/docs/site_libs/quarto-html/zenscroll-min.js
  packages/mlsysim/docs/site_libs/quarto-nav/quarto-nav.js
  packages/mlsysim/docs/site_libs/quarto-search/autocomplete.umd.js
  packages/mlsysim/docs/site_libs/quarto-search/fuse.min.js
  packages/mlsysim/docs/site_libs/quarto-search/quarto-search.js
  packages/mlsysim/docs/tutorials/01_memory_wall.html
  packages/mlsysim/docs/tutorials/01_memory_wall_files/figure-html/cell-6-output-1.png
  packages/mlsysim/docs/tutorials/02_differential_explainer.html
  packages/mlsysim/docs/tutorials/02_two_phases.html
  packages/mlsysim/docs/tutorials/11_training_memory_capacity_moe.html
  packages/mlsysim/docs/tutorials/12_design_space_exploration.html
  packages/mlsysim/docs/tutorials/12_full_stack_audit.html
Due: none
