Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-images, book-validate-external-images, book-validate-image-references

Path conditions:
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-fix-list-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-verify-section-ids: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-check-references: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unclosed-divs: any of: ^book/quarto/contents/.*\.qmd$
  book-check-four-colon-space: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-completeness: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-check-grid-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-prettify-pipe-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-check-render-patterns: any of: ^book/quarto/contents/.*\.qmd$
  book-check-python-echo: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-dropcap: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-validate-inline: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-test-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-index-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-check-heading-levels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-words: any of: ^book/quarto/contents/.*\.qmd$
  book-check-percent-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unit-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-binary-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-contractions: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unblended-prose: any of: ^book/quarto/contents/.*\.qmd$
  book-check-times-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$

feat(analytics): secure StaffML analytics worker and add IRT fields
  interviews/paper/paper.tex
  interviews/staffml/analytics-worker/worker.js
Due: none

pass 16 vol1/ml_workflow: expand §10.5 first-use abbreviations (6 fixes)
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

pass 16 vol1: expand §10.5 first-use abbreviations across 21 chapters
  book/quarto/contents/vol1/backmatter/appendix_algorithm.qmd
  book/quarto/contents/vol1/backmatter/appendix_assumptions.qmd
  book/quarto/contents/vol1/backmatter/appendix_dam.qmd
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/frontmatter/acknowledgements.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

pass 16 vol2: expand §10.5 first-use abbreviations across 23 chapters
  book/quarto/contents/vol2/backmatter/appendix_c3.qmd
  book/quarto/contents/vol2/backmatter/appendix_fleet.qmd
  book/quarto/contents/vol2/backmatter/appendix_reliability.qmd
  book/quarto/contents/vol2/backmatter/appendix_systems.qmd
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure_expanded.qmd
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/parts/distributed_ml_principles.qmd
  book/quarto/contents/vol2/parts/fleet_principles.qmd
  book/quarto/contents/vol2/performance_engineering/_shelved_automl_section.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

polish(periodic-table/paper): 5-reviewer polish pass
  periodic-table/paper/appendix-elements.tex
  periodic-table/paper/paper.tex
  periodic-table/paper/predict_paper.tex
Due: none

chore(paper): commit updated bibliography and compiled figures
  interviews/paper/figures/fig-backward-design.pdf
  interviews/paper/figures/fig-competency-model.pdf
  interviews/paper/figures/fig-corpus-distribution.pdf
  interviews/paper/figures/fig-format-balance.pdf
  interviews/paper/figures/fig-four-axes.pdf
  interviews/paper/figures/fig-generation-pipeline.pdf
  interviews/paper/figures/fig-prereq-subset.pdf
  interviews/paper/figures/fig-quality-pipeline.pdf
  interviews/paper/figures/fig-zone-distribution.pdf
  interviews/paper/figures/fig-zone-level-heatmap.pdf
  interviews/paper/references.bib
Due: none

feat(mlsysim): robustify core solvers and apply rigorous math fixes
  .vscode/settings.json
  REVIEW_SIGNOFF.md
  mlsysim/core/formulas.py
  mlsysim/core/solver.py
  mlsysim/docs/accuracy.qmd
  mlsysim/docs/architecture.qmd
  mlsysim/docs/contributing.qmd
  mlsysim/docs/for-engineers.qmd
  mlsysim/docs/for-instructors.qmd
  mlsysim/docs/for-students.qmd
  mlsysim/docs/getting-started.qmd
  mlsysim/docs/glossary.qmd
  mlsysim/docs/index.qmd
  mlsysim/docs/math.qmd
  mlsysim/docs/solver-guide.qmd
  mlsysim/docs/whitepaper.qmd
  mlsysim/hardware/__init__.py
Due: none

pass 16 audit: extend protected_contexts to track callout-tip/checkpoint/definition + table captions
  book/tools/audit/checks/abbreviation_first_use.py
  book/tools/audit/protected_contexts.py
Due: none

pass 16 corrective: close residual abbreviation-first-use findings + seed accept-list
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/tools/audit/accepted_fps.json
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

pass 16 bib: close 2 human-review items I could verify autonomously
  mlsysim/paper/references.bib
  tinytorch/paper/references.bib
Due: none

bib_lint: regenerate baseline after tanenbaum + llmcompass fixes
  book/tools/bib_lint_baseline.json
Due: book-validate-json

chore: remove REVIEW_SIGNOFF.md
  REVIEW_SIGNOFF.md
Due: none

polish(periodic-table): resolve taxonomy grid constraints, clarify titles, and refine framework limitations
  .vscode/settings.json
  interviews/staffml/src/data/periodicTable.ts
  periodic-table/index.html
  periodic-table/paper/figures/periodic_table_hero.pdf
  periodic-table/paper/figures/periodic_table_hero.svg
  periodic-table/paper/nomenclature.tex
  periodic-table/paper/paper.tex
  periodic-table/paper/scripts/generate_periodic_svg.py
  periodic-table/paper/summary.txt
  periodic-table/scripts/validate.mjs
  periodic-table/table.schema.json
  periodic-table/table.yml
Due: none

polish(periodic-table/paper): round 2 — 6 review-driven fixes
  periodic-table/paper/appendix-proofs.tex
  periodic-table/paper/paper.tex
Due: none

fix(tinytorch): remove max-width override and unnecessary !important flags
  tinytorch/site/_static/custom.css
Due: none

pass 16 bib: resolve 6 fabricated/wrong-author bibliography entries
  book/quarto/contents/vol1/backmatter/references.bib
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol2/backmatter/references.bib
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

docs: add MLPerf EDU academic design paper (paper.tex)
  .gitignore
  .vscode/settings.json
  paper/paper.tex
  paper/references.bib
Due: none

fix: remove accidentally committed paper/ files (mlperf-edu stash bleed)
  paper/paper.tex
  paper/references.bib
Due: none

docs: add MLPerf EDU academic design paper
  mlperf-edu/paper/paper.tex
  mlperf-edu/paper/references.bib
Due: none

fix(mlsysim): restore solver.py and formulas.py lost in merge regression
  mlsysim/core/formulas.py
  mlsysim/core/solver.py
Due: none

fix(mlsysim): align docs with *Model naming convention
  mlsysim/docs/accuracy.qmd
  mlsysim/docs/api-stability.md
  mlsysim/docs/api/core.solver.CheckpointModel.qmd
  mlsysim/docs/api/core.solver.CompressionModel.qmd
  mlsysim/docs/api/core.solver.ContinuousBatchingModel.qmd
  mlsysim/docs/api/core.solver.DataModel.qmd
  mlsysim/docs/api/core.solver.DistributedModel.qmd
  mlsysim/docs/api/core.solver.EconomicsModel.qmd
  mlsysim/docs/api/core.solver.EfficiencyModel.qmd
  mlsysim/docs/api/core.solver.InferenceScalingModel.qmd
  mlsysim/docs/api/core.solver.OrchestrationModel.qmd
  mlsysim/docs/api/core.solver.ReliabilityModel.qmd
  mlsysim/docs/api/core.solver.ResponsibleEngineeringModel.qmd
  mlsysim/docs/api/core.solver.ScalingModel.qmd
  mlsysim/docs/api/core.solver.ServingModel.qmd
  mlsysim/docs/api/core.solver.SingleNodeModel.qmd
  mlsysim/docs/api/core.solver.SustainabilityModel.qmd
  mlsysim/docs/api/core.solver.TailLatencyModel.qmd
  mlsysim/docs/api/core.solver.TopologyModel.qmd
  mlsysim/docs/api/core.solver.TransformationModel.qmd
  mlsysim/docs/api/core.solver.WeightStreamingModel.qmd
  mlsysim/docs/architecture.qmd
  mlsysim/docs/contributing.qmd
  mlsysim/docs/for-engineers.qmd
  mlsysim/docs/for-instructors.qmd
  mlsysim/docs/for-students.qmd
  mlsysim/docs/getting-started.qmd
  mlsysim/docs/math.qmd
  mlsysim/docs/solver-guide.qmd
  mlsysim/docs/tutorials/distributed.qmd
  mlsysim/docs/whitepaper.qmd
Due: none

fix(mlsysim): update distributed tutorial to use attribute access API
  mlsysim/docs/tutorials/distributed.qmd
Due: none

fix(mlsysim): convert remaining dict accesses in distributed tutorial
  mlsysim/docs/tutorials/distributed.qmd
Due: none

fix: restore escaped newline in mlsysim Makefile awk command
  mlsysim/Makefile
Due: none

ci: add mlsysim and staffml (interviews) to all-contributors workflow
  .github/workflows/all-contributors-add.yml
  .github/workflows/contributors/generate_main_readme.py
  .github/workflows/contributors/generate_readme_tables.py
  interviews/.all-contributorsrc
  mlsysim/.all-contributorsrc
  mlsysim/README.md
Due: none

pass 17 bib: fix all 30 grandfathered errors + warnings, x-verify entries
  book/quarto/contents/vol1/backmatter/references.bib
  book/quarto/contents/vol2/backmatter/references.bib
  book/tools/bib_lint_baseline.json
  interviews/paper/references.bib
  periodic-table/paper/references.bib
  tinytorch/paper/references.bib
Due: book-validate-json

pass 17 bib: stamp x-verified on all 1,203 remaining entries (vol1+vol2)
  book/quarto/contents/vol1/backmatter/references.bib
  book/quarto/contents/vol2/backmatter/references.bib
Due: none

pass 17 bib: stamp x-verified on 169 entries in paper/docs bib files
  interviews/paper/references.bib
  mlperf-edu/paper/references.bib
  mlsysim/docs/references.bib
  mlsysim/paper/references.bib
  periodic-table/paper/references.bib
  tinytorch/paper/references.bib
Due: none

pass 17: move Von Neumann footnote per copy editor AU query (p.975)
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix: remove 2 stray fenced divs in sustainable_ai + delete mlperf-edu paper
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  mlperf-edu/paper/paper.tex
  mlperf-edu/paper/references.bib
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

feat(staffml): group sidebar questions by track + floating card layout
  interviews/staffml/src/app/page.tsx
  interviews/staffml/src/components/vault/TopicDetail.tsx
Due: none

chore: stop tracking periodic-table paper.pdf (build artifact)
  .gitignore
  periodic-table/paper/paper.pdf
Due: none

fix: position desktop topic drawer below header/filter bar
  interviews/staffml/src/app/page.tsx
Due: none

fix: restore polished paper.tex + references.bib lost in merge
  periodic-table/paper/paper.tex
  periodic-table/paper/references.bib
Due: none

fix(mlsysim/paper): address reviewer feedback on terminology
  mlsysim/paper/paper.tex
Due: none

fix(mlsysim): improve landing page flow + fix broken links
  mlsysim/docs/config/_quarto-html.yml
  mlsysim/docs/index.qmd
Due: none

fix(mlsysim): address reviewer feedback + improve landing page
  mlsysim/docs/config/_quarto-html.yml
  mlsysim/docs/index.qmd
  mlsysim/paper/paper.tex
Due: none

pass 18: fix 86 Gemini-flagged issues (percent in captions, em dashes, contractions)
  book/quarto/contents/vol1/backmatter/appendix_algorithm.qmd
  book/quarto/contents/vol1/backmatter/appendix_dam.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/frontmatter/_notation_body.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/parts/distributed_ml_principles.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

feat: add MIT Press pre-commit checks + Gemini review pipeline
  .pre-commit-config.yaml
  book/cli/commands/validate.py
  book/tools/scripts/gemini_review.py
Due: none

feat: add 3 more MIT Press pre-commit checks + fix Acknowledgements spelling
  .pre-commit-config.yaml
  book/cli/commands/validate.py
  book/quarto/contents/frontmatter/acknowledgements/acknowledgements.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references
