Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs, validate-json, yamllint

Path conditions:
  collapse-extra-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  format-python-in-qmd: any of: ^book/quarto/contents/.*\.qmd$
  check-list-formatting: any of: ^book/.*\.qmd$
  check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  header-inline-check: any of: ^book/quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/quarto/contents/.*\.qmd$
  check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  prevent-svg-files: any of: ^book/.*\.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: ^book/.*\.svg$
  validate-json: any of: \.json$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$


refactor(tests): reorganize test folders and fix misplaced files
  tinytorch/tests/03_layers/test_dense_integration.py
  tinytorch/tests/03_layers/test_dense_layer.py
  tinytorch/tests/18_memoization/test_kv_cache_integration.py
  tinytorch/tests/integration/test_forward_passes.py
  tinytorch/tests/integration/test_gradients.py
  tinytorch/tests/integration/test_network_capability.py
  tinytorch/tests/integration/test_performance.py
  tinytorch/tests/integration/test_shapes.py
  tinytorch/tests/integration/test_training_capabilities.py
  tinytorch/tests/performance/README.md
  tinytorch/tests/performance/performance_test_framework.py
  tinytorch/tests/system/test_gradient_flow_overall.py
  tinytorch/tests/system/test_integration.py
  tinytorch/tests/system/test_milestones.py
Due: none

refactor: standardize Part intro pages with consistent structure
  book/quarto/contents/vol1/parts/build_principles.qmd
  book/quarto/contents/vol1/parts/deploy_principles.qmd
  book/quarto/contents/vol1/parts/foundations_principles.qmd
  book/quarto/contents/vol1/parts/optimize_principles.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(tests): skip flaky performance and transformer training tests in CI
  tinytorch/tests/integration/test_performance.py
  tinytorch/tests/milestones/test_milestones_run.py
Due: none

refactor(tests): remove redundant milestone tests
  tinytorch/tests/milestones/test_learning_verification.py
  tinytorch/tests/milestones/test_milestones_run.py
Due: none

refactor(tests): remove performance benchmark tests
  tinytorch/tests/integration/test_performance.py
Due: none

refactor(tests): remove tests for unimplemented attention components
  tinytorch/tests/12_attention/test_attention_pipeline_integration.py
  tinytorch/tests/12_attention/test_tensor_attention_integration.py
Due: none

feat: add pedagogical footnotes across all Vol 1 chapters
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_efficiency/data_efficiency.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor: deduplicate footnotes with progressive knowledge building
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_efficiency/data_efficiency.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(ci): remove milestone stage and fix interactive prompt in CI
  .github/workflows/tinytorch-ci.yml
  tinytorch/tito/commands/module/workflow.py
Due: yamllint

test: skip Conv2d/MaxPool2d gradient tests (known limitation)
  tinytorch/tests/09_convolutions/test_convolutions_core.py
  tinytorch/tests/09_convolutions/test_convolutions_gradient_flow.py
  tinytorch/tests/integration/test_cnn_integration.py
  tinytorch/tests/integration/test_gradients.py
  tinytorch/tests/integration/test_integration_gradient_flow.py
Due: none

feat: add etymology-focused footnotes across Vol 1 chapters
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_efficiency/data_efficiency.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/parts/optimize_principles.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor: remove duplicate footnotes, keep canonical definitions
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/serving/serving.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

style: polish narrative flow across all Vol 1 chapters
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: restore Conv2dBackward and MaxPool2dBackward for CNN gradient flow
  tinytorch/src/09_convolutions/09_convolutions.py
  tinytorch/src/11_embeddings/11_embeddings.py
  tinytorch/tests/09_convolutions/test_convolutions_core.py
  tinytorch/tests/09_convolutions/test_convolutions_gradient_flow.py
  tinytorch/tests/integration/test_cnn_integration.py
  tinytorch/tests/integration/test_gradients.py
  tinytorch/tests/integration/test_integration_gradient_flow.py
Due: none

Add mobile-friendly coverflow carousel to Peek Inside section
  book/quarto/index.qmd
Due: check-list-formatting

refactor: reorder Optimize part chapters
  book/quarto/config/_quarto-epub-vol1.yml
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-pdf-vol1.yml
Due: yamllint

chore: remove Quarto build artifacts from repo
  book/quarto/site_libs/bootstrap/bootstrap-949ea376dcebb5b7a35db63d262af5b4.min.css
  book/quarto/site_libs/bootstrap/bootstrap-dark-7974d2f2043e54d362046d38f2a35653.min.css
  book/quarto/site_libs/bootstrap/bootstrap-icons.css
  book/quarto/site_libs/bootstrap/bootstrap-icons.woff
  book/quarto/site_libs/bootstrap/bootstrap.min.js
  book/quarto/site_libs/clipboard/clipboard.min.js
  book/quarto/site_libs/quarto-contrib/foldbox/foldbox.css
  book/quarto/site_libs/quarto-contrib/glightbox/glightbox.min.css
  book/quarto/site_libs/quarto-contrib/glightbox/glightbox.min.js
  book/quarto/site_libs/quarto-contrib/glightbox/lightbox.css
  book/quarto/site_libs/quarto-html/anchor.min.js
  book/quarto/site_libs/quarto-html/axe/axe-check.js
  book/quarto/site_libs/quarto-html/popper.min.js
  book/quarto/site_libs/quarto-html/quarto-syntax-highlighting-90ccfe836b84d5d55b6a529ab96c6775.css
  book/quarto/site_libs/quarto-html/quarto-syntax-highlighting-dark-90ccfe836b84d5d55b6a529ab96c6775.css
  book/quarto/site_libs/quarto-html/quarto.js
  book/quarto/site_libs/quarto-html/tabsets/tabsets.js
  book/quarto/site_libs/quarto-html/tippy.css
  book/quarto/site_libs/quarto-html/tippy.umd.min.js
  book/quarto/site_libs/quarto-nav/quarto-nav.js
  book/quarto/site_libs/quarto-search/autocomplete.umd.js
  book/quarto/site_libs/quarto-search/fuse.min.js
  book/quarto/site_libs/quarto-search/quarto-search.js
Due: none

fix(optimizers,tokenization): set gradients after optimizer init, make vocab_size optional
  .vscode/settings.json
  tinytorch/src/07_optimizers/07_optimizers.py
  tinytorch/src/10_tokenization/10_tokenization.py
Due: validate-json

style(modules): standardize unit test emoji to test tube
  tinytorch/src/01_tensor/01_tensor.py
  tinytorch/src/02_activations/02_activations.py
  tinytorch/src/03_layers/03_layers.py
  tinytorch/src/04_losses/04_losses.py
  tinytorch/src/05_dataloader/05_dataloader.py
  tinytorch/src/08_training/08_training.py
  tinytorch/src/09_convolutions/09_convolutions.py
  tinytorch/src/11_embeddings/11_embeddings.py
  tinytorch/src/12_attention/12_attention.py
  tinytorch/src/13_transformers/13_transformers.py
  tinytorch/src/14_profiling/14_profiling.py
  tinytorch/src/15_quantization/15_quantization.py
  tinytorch/src/16_compression/16_compression.py
  tinytorch/src/17_acceleration/17_acceleration.py
  tinytorch/src/18_memoization/18_memoization.py
  tinytorch/src/19_benchmarking/19_benchmarking.py
  tinytorch/src/20_capstone/20_capstone.py
Due: none

style(milestones): minor formatting fixes in milestone files
  tinytorch/milestones/02_1969_xor/01_xor_crisis.py
  tinytorch/milestones/03_1986_mlp/01_rumelhart_tinydigits.py
  tinytorch/milestones/06_2018_mlperf/02_generation_speedup.py
  tinytorch/tito/commands/milestone.py
Due: none

test(milestones): add full milestone run tests
  tinytorch/tests/milestones/test_milestones_run.py
Due: none

fix(tests): skip slow milestone tests in unit test runs
  tinytorch/tito/commands/dev/test.py
Due: none

style: polish prose across all Vol1 chapters
  .vscode/settings.json
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_efficiency/data_efficiency.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, validate-json

style(vscode): update peacock color to blue for colab feature branch
  .vscode/settings.json
Due: validate-json

fix: resolve pre-commit hook failures
  book/quarto/contents/vol1/data_efficiency/data_efficiency.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol2/storage/storage.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

ci: run install test on dev branch only, not main
  .github/workflows/tinytorch-install-test.yml
Due: yamllint

fix: resolve contributors update workflow failures
  .github/workflows/contributors/requirements.txt
  .github/workflows/contributors/update_contributors.py
  .github/workflows/update-contributors.yml
Due: yamllint

fix: resolve all pre-commit hook failures
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/parts/build_principles.qmd
  book/quarto/contents/vol1/parts/foundations_principles.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/index.qmd
  tinytorch/tools/dev/validate_cli_docs.py
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: use Python 3.11 for pre-commit checks and improve error output
  .github/workflows/book-validate-dev.yml
Due: yamllint

chore: remove TinyTorch CLI docs validation hook
  .pre-commit-config.yaml
Due: yamllint

feat: upgrade error messages to 3-part educational pattern
  tinytorch/src/01_tensor/01_tensor.py
  tinytorch/src/03_layers/03_layers.py
  tinytorch/src/05_dataloader/05_dataloader.py
  tinytorch/src/07_optimizers/07_optimizers.py
  tinytorch/src/09_convolutions/09_convolutions.py
  tinytorch/src/10_tokenization/10_tokenization.py
  tinytorch/src/11_embeddings/11_embeddings.py
  tinytorch/src/12_attention/12_attention.py
  tinytorch/src/15_quantization/15_quantization.py
  tinytorch/src/17_acceleration/17_acceleration.py
  tinytorch/src/18_memoization/18_memoization.py
  tinytorch/src/19_benchmarking/19_benchmarking.py
Due: none

fix: integrate fresh install test into CI pipeline
  .github/workflows/tinytorch-ci.yml
  .github/workflows/tinytorch-install-test.yml
  tinytorch/scripts/test-fresh-install.sh
  tinytorch/site/extra/install.sh
Due: yamllint

fix: add missing checkpoint group to pdf-vol1 config
  book/quarto/config/_quarto-pdf-vol1.yml
Due: yamllint

feat: add index.qmd symlink management for volume builds
  book/cli/core/config.py
Due: none

feat: add verbose mode (-v) to stream build output in real-time
  book/cli/commands/build.py
Due: none

feat: add -v/--verbose global flag and help text
  book/cli/main.py
Due: none

chore: convert index.qmd to symlink pointing to vol1/index.qmd
  book/quarto/index.qmd
Due: check-list-formatting

fix: remove column-margin class from introduction cover image
  book/quarto/contents/vol1/introduction/introduction.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: resolve config path detection and table parsing issue
  book/cli/core/config.py
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: update test assertion for new error message format
  tinytorch/src/01_tensor/ABOUT.md
  tinytorch/tests/integration/test_optimizers_integration.py
Due: none
