Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs, validate-json, yamllint

collapse-extra-blank-lines:
  name: '[Book] Collapse extra blank lines'
  entry: python book/tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

format-python-in-qmd:
  name: '[Book] Format Python code blocks (Black, 70 chars)'
  entry: python book/tools/scripts/content/format_python_in_qmd.py
  language: python
  additional_dependencies:
  - black>=23.0.0
  pass_filenames: true

check-list-formatting:
  name: '[Book] Fix markdown list formatting'
  entry: python book/tools/scripts/utilities/check_list_formatting.py --fix
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: Ensure bullet lists are preceded by blank lines for proper markdown rendering

check-duplicate-labels:
  name: '[Book] Check for duplicate labels'
  entry: python book/tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - book/quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

validate-citations:
  name: '[Book] Validate citation references in .qmd files'
  entry: python book/tools/scripts/content/validate_citations.py --quiet
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: Ensure all @key citations have corresponding entries in .bib files

validate-footnotes:
  name: '[Book] Validate footnote references and definitions'
  entry: python book/tools/scripts/content/footnote_cleanup.py -d book/quarto/contents/ --validate
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

check-forbidden-footnotes:
  name: '[Book] Check for footnotes in tables/captions/divs'
  entry: python book/tools/scripts/content/check_forbidden_footnotes.py -d book/quarto/contents/
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: '[Book] Detect inline-style Markdown headers'
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: '[Book] Check for forbidden words'
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

check-purpose-unnumbered:
  name: '[Book] Ensure Purpose sections are unnumbered'
  entry: bash -c 'grep -n "^## Purpose" "$@" | grep -v "\.unnumbered" && exit 1 || exit 0' --
  language: system
  pass_filenames: true
  description: 'Ensure all ## Purpose sections have {.unnumbered} attribute'

check-table-formatting:
  name: '[Book] Check table formatting (alignment, bolding, spacing)'
  entry: python book/tools/scripts/content/format_tables.py --check -d quarto/contents/
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all tables have proper bolding, alignment, and spacing

Ensures consistent link color
  book/quarto/assets/styles/style.scss
Due: none

fix: add tito.png to PDF build workflow
  .github/workflows/tinytorch-build-pdfs.yml
Due: yamllint

Refactors project for preview release
  tinytorch/README.md
  tinytorch/site/getting-started.md
  tinytorch/site/intro.md
Due: none

fix: use bin/tito wrapper for CI preflight checks
  .github/workflows/tinytorch-ci.yml
  tinytorch/bin/tito
  tinytorch/tito/commands/dev/preflight.py
Due: yamllint

fix: use vars.TINYTORCH_ROOT without fallback
  .github/workflows/tinytorch-ci.yml
Due: yamllint

feat: require preflight checks before dev deploy
  .github/workflows/tinytorch-ci.yml
  .github/workflows/tinytorch-publish-dev.yml
Due: yamllint

feat: require preflight checks before live deploy
  .github/workflows/tinytorch-publish-live.yml
Due: yamllint

docs: update AI Bricks box - history range and end goal
  tinytorch/site/intro.md
Due: none

refactor: standardize workflow naming convention
  .github/workflows/book-build-baremetal.yml
  .github/workflows/book-build-container.yml
  .github/workflows/book-deploy-preview.yml
  .github/workflows/book-publish-live.yml
  .github/workflows/book-update-contributors.yml
  .github/workflows/book-validate-dev.yml
  .github/workflows/infra-cleanup-caches.yml
  .github/workflows/infra-container-linux.yml
  .github/workflows/infra-container-windows.yml
  .github/workflows/infra-health-check.yml
  .github/workflows/infra-link-check.yml
Due: yamllint

fix: use 🔥 emoji for TinyTorch Build PDFs workflow
  .github/workflows/tinytorch-build-pdfs.yml
Due: yamllint

fix: clean up broken links in site documentation
  tinytorch/site/chapters/00-introduction.md
  tinytorch/site/intro.md
Due: none

modularize layout.js --> app.js and updated auth.py ensure we redirect to a logged in state
  tinytorch/site/extra/community/about.html
  tinytorch/site/extra/community/app.js
  tinytorch/site/extra/community/community.html
  tinytorch/site/extra/community/contact.html
  tinytorch/site/extra/community/dashboard.html
  tinytorch/site/extra/community/events.html
  tinytorch/site/extra/community/index.html
  tinytorch/site/extra/community/layout.js
  tinytorch/site/extra/community/modules/auth.js
  tinytorch/site/extra/community/modules/camera.js
  tinytorch/site/extra/community/modules/config.js
  tinytorch/site/extra/community/modules/profile.js
  tinytorch/site/extra/community/modules/state.js
  tinytorch/site/extra/community/modules/styles.js
  tinytorch/site/extra/community/modules/ui.js
  tinytorch/site/extra/community/modules/utils.js
  tinytorch/tito/core/auth.py
Due: none

fix: simplify footer using built-in Jupyter Book fields
  .pre-commit-config.yaml
  tinytorch/.pre-commit-config.yaml
  tinytorch/site/_config.yml
  tinytorch/site/_static/custom.css
  tinytorch/site/intro.md
Due: yamllint

update email confirm flow
  tinytorch/site/extra/community/modules/auth.js
  tinytorch/site/extra/community/modules/config.js
Due: none

fix: correct invalid tito CLI commands in documentation
  book/.pre-commit-config.yaml
  tinytorch/CONTRIBUTING.md
  tinytorch/INSTRUCTOR.md
  tinytorch/milestones/06_2018_mlperf/README.md
  tinytorch/site/PRIVACY_DATA_RETENTION.md
  tinytorch/site/STUDENT_QUICKSTART.md
  tinytorch/site/TEAM_ONBOARDING.md
  tinytorch/site/chapters/milestones.md
  tinytorch/site/community.md
  tinytorch/site/development/DEVELOPER_SETUP.md
  tinytorch/site/development/module-rules.md
  tinytorch/site/faq.md
  tinytorch/site/for-instructors.md
  tinytorch/site/getting-started.md
  tinytorch/site/instructor-guide.md
  tinytorch/site/instructor/README.md
  tinytorch/site/modules/04_losses_ABOUT.md
  tinytorch/site/quickstart-guide.md
  tinytorch/site/student-workflow.md
  tinytorch/site/tiers/olympics.md
  tinytorch/site/tito/data.md
  tinytorch/site/tito/milestones.md
  tinytorch/site/tito/modules.md
  tinytorch/site/tito/overview.md
  tinytorch/site/tito/quick-reference.md
  tinytorch/site/tito/troubleshooting.md
  tinytorch/site/usage-paths/team-onboarding.md
  tinytorch/src/04_losses/ABOUT.md
  tinytorch/tests/environment/HOW_TO_USE.md
  tinytorch/tests/environment/README.md
  tinytorch/tests/milestones/API.md
  tinytorch/tests/milestones/SYSTEM_DESIGN.md
  tinytorch/tests/milestones/WORKFLOW.md
  tinytorch/tools/dev/validate_cli_docs.py
Due: yamllint

feat: add DataLoader visibility to CNN milestone Part 2
  tinytorch/milestones/04_1998_cnn/02_lecun_cifar10.py
  tinytorch/milestones/04_1998_cnn/README.md
  tinytorch/milestones/data_manager.py
Due: none

docs: improve paragraph structure in TinyTorch paper introduction
  tinytorch/paper/paper.tex
Due: none

Updates CIFAR-10 doc images
  tinytorch/milestones/04_1998_cnn/02_lecun_cifar10.py
Due: none

updated-login-for-harvard-github-test-site
  tinytorch/requirements.txt
  tinytorch/site/extra/community/dashboard.html
Due: none

feat: add Part 2 (CIFAR-10) to CNN milestone with DataLoader showcase
  tinytorch/tito/commands/milestone.py
Due: none

cleanup: remove redundant setup shell scripts
  tinytorch/activate.sh
  tinytorch/setup-dev.sh
  tinytorch/setup-environment.sh
Due: none

refactor: apply pedagogical documentation structure to CIFAR-10 milestone
  tinytorch/milestones/04_1998_cnn/02_lecun_cifar10.py
Due: none

docs: add YOUR MODULES IN ACTION reference table to CIFAR-10 milestone
  tinytorch/milestones/04_1998_cnn/02_lecun_cifar10.py
Due: none

docs: add pedagogical section headers to CIFAR-10 milestone
  tinytorch/milestones/04_1998_cnn/02_lecun_cifar10.py
Due: none

docs: implement educational improvements from expert review
  tinytorch/milestones/04_1998_cnn/02_lecun_cifar10.py
Due: none

docs: add consistent pedagogical documentation to all milestone scripts
  tinytorch/milestones/02_1969_xor/01_xor_crisis.py
  tinytorch/milestones/02_1969_xor/02_xor_solved.py
  tinytorch/milestones/03_1986_mlp/01_rumelhart_tinydigits.py
  tinytorch/milestones/04_1998_cnn/01_lecun_tinydigits.py
  tinytorch/milestones/04_1998_cnn/02_lecun_cifar10.py
  tinytorch/milestones/05_2017_transformer/01_vaswani_attention.py
  tinytorch/milestones/06_2018_mlperf/01_optimization_olympics.py
Due: none

style: fix ASCII box alignment in milestone scripts
  tinytorch/milestones/02_1969_xor/01_xor_crisis.py
  tinytorch/milestones/02_1969_xor/02_xor_solved.py
  tinytorch/milestones/03_1986_mlp/01_rumelhart_tinydigits.py
  tinytorch/milestones/05_2017_transformer/01_vaswani_attention.py
  tinytorch/milestones/extras/03_generation_opts.py
Due: none

docs: add consistent pedagogical documentation to extras milestone scripts
  tinytorch/milestones/extras/01_baseline_profile.py
  tinytorch/milestones/extras/01_tinytalks.py
  tinytorch/milestones/extras/01_vaswani_generation.py
  tinytorch/milestones/extras/01_xor_crisis.py
  tinytorch/milestones/extras/02_compression.py
  tinytorch/milestones/extras/02_rosenblatt_trained.py
  tinytorch/milestones/extras/02_rumelhart_mnist.py
  tinytorch/milestones/extras/02_vaswani_dialogue.py
  tinytorch/milestones/extras/03_generation_opts.py
  tinytorch/milestones/extras/03_quickdemo.py
Due: none

feat: add ABOUT.md generation system with agent instructions
  tinytorch/settings.json
  tinytorch/site/_config.yml
  tinytorch/site/development/MODULE_ABOUT_TEMPLATE.md
  tinytorch/site/intro.md
  tinytorch/site/preface.md
  tinytorch/src/01_tensor/ABOUT.md
  tinytorch/src/02_activations/ABOUT.md
Due: validate-json, yamllint

docs: generate standardized ABOUT.md files for all 19 modules (02-20)
  tinytorch/src/02_activations/ABOUT.md
  tinytorch/src/03_layers/ABOUT.md
  tinytorch/src/04_losses/ABOUT.md
  tinytorch/src/05_autograd/ABOUT.md
  tinytorch/src/06_optimizers/ABOUT.md
  tinytorch/src/07_training/ABOUT.md
  tinytorch/src/08_dataloader/ABOUT.md
  tinytorch/src/09_spatial/ABOUT.md
  tinytorch/src/10_tokenization/ABOUT.md
  tinytorch/src/11_embeddings/ABOUT.md
  tinytorch/src/12_attention/ABOUT.md
  tinytorch/src/13_transformers/ABOUT.md
  tinytorch/src/14_profiling/ABOUT.md
  tinytorch/src/15_quantization/ABOUT.md
  tinytorch/src/16_compression/ABOUT.md
  tinytorch/src/17_memoization/ABOUT.md
  tinytorch/src/18_acceleration/ABOUT.md
  tinytorch/src/19_benchmarking/ABOUT.md
  tinytorch/src/20_capstone/ABOUT.md
Due: none

fix: minor improvements to ABOUT.md files based on parallel review
  tinytorch/src/07_training/ABOUT.md
  tinytorch/src/10_tokenization/ABOUT.md
  tinytorch/src/12_attention/ABOUT.md
  tinytorch/src/15_quantization/ABOUT.md
  tinytorch/src/16_compression/ABOUT.md
Due: none

fix: add TOC depth settings to PDF preamble for subsection numbering
  tinytorch/site/_config_pdf.yml
Due: yamllint

feat: add pre-commit hook to collapse extra blank lines
  tinytorch/.pre-commit-config.yaml
  tinytorch/tools/dev/collapse_blank_lines.py
Due: yamllint

fix: improve ABOUT.md accuracy and PDF-compatible Get Started sections
  tinytorch/src/01_tensor/ABOUT.md
  tinytorch/src/02_activations/ABOUT.md
  tinytorch/src/03_layers/ABOUT.md
  tinytorch/src/04_losses/ABOUT.md
  tinytorch/src/05_autograd/ABOUT.md
  tinytorch/src/06_optimizers/ABOUT.md
  tinytorch/src/07_training/ABOUT.md
  tinytorch/src/08_dataloader/ABOUT.md
  tinytorch/src/09_spatial/ABOUT.md
  tinytorch/src/10_tokenization/ABOUT.md
  tinytorch/src/11_embeddings/ABOUT.md
  tinytorch/src/12_attention/ABOUT.md
  tinytorch/src/13_transformers/ABOUT.md
  tinytorch/src/14_profiling/ABOUT.md
  tinytorch/src/15_quantization/ABOUT.md
  tinytorch/src/16_compression/ABOUT.md
  tinytorch/src/17_memoization/ABOUT.md
  tinytorch/src/18_acceleration/ABOUT.md
  tinytorch/src/19_benchmarking/ABOUT.md
  tinytorch/src/20_capstone/ABOUT.md
Due: none

fix: correct workspace root path calculation in format_tables.py
  .gitmodules
  book/tools/scripts/content/format_tables.py
Due: none

Path conditions:
  collapse-extra-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  format-python-in-qmd: any of: ^book/quarto/contents/.*\.qmd$
  check-list-formatting: any of: ^book/.*\.qmd$
  check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  header-inline-check: any of: ^book/quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/quarto/contents/.*\.qmd$
  check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  prevent-svg-files: any of: ^book/.*\.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: ^book/.*\.svg$
  validate-json: any of: \.json$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

