Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs, validate-json, yamllint

Path conditions:
  collapse-extra-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  format-python-in-qmd: any of: ^book/quarto/contents/.*\.qmd$
  check-list-formatting: any of: ^book/.*\.qmd$
  check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  header-inline-check: any of: ^book/quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/quarto/contents/.*\.qmd$
  check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  prevent-svg-files: any of: ^book/.*\.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: ^book/.*\.svg$
  validate-json: any of: \.json$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$


addding google and github
  tinytorch/site/extra/community/app.js
  tinytorch/site/extra/community/modules/styles.js
  tinytorch/site/extra/community/modules/ui.js
Due: none

fixed google flow
  tinytorch/site/extra/community/app.js
  tinytorch/site/extra/community/modules/auth.js
  tinytorch/site/extra/community/modules/config.js
  tinytorch/site/extra/community/modules/ui.js
Due: none

style: unify kits styling with book, matching navbar and accent colors
  _brand/base.scss
  kits/_quarto.yml
Due: yamllint

style: unify navbar with Projects dropdown across ecosystem
  book/quarto/config/_quarto-html.yml
  kits/_quarto.yml
Due: yamllint

Fix: Update installer to require Python 3.10+ and detect Homebrew versions
  tinytorch/site/extra/install.sh
Due: none

Retained removal of files and folders not required by students
  tinytorch/site/extra/install.sh
Due: none

refactor: remove labs from book PDF and EPUB builds
  book/quarto/config/_quarto-epub.yml
  book/quarto/config/_quarto-pdf.yml
  book/quarto/contents/core/conclusion/conclusion.qmd
  book/quarto/contents/parts/summaries.yml
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, yamllint

style: unify book navbar with Projects dropdown
  book/quarto/config/_quarto-html.yml
Due: yamllint

feat: add standalone PDF build infrastructure for Kits
  kits/Makefile
  kits/_quarto/profiles/pdf/_quarto.yml
  kits/filters/inject_parts.lua
  kits/tex/after-body-includes.tex
  kits/tex/before-body-includes.tex
  kits/tex/copyright.tex
  kits/tex/cover_page.tex
  kits/tex/header-includes.tex
Due: yamllint

feat: add hardware carousel and enhanced styling to Kits landing page
  kits/assets/styles/style.scss
  kits/index.qmd
Due: none

style: update Kits navbar to match ecosystem structure
  kits/_quarto.yml
Due: yamllint

refactor: reorganize Kits content structure
  kits/contents/getting-started.qmd
  kits/contents/ide-setup.qmd
  kits/contents/labs.qmd
  kits/contents/platforms.qmd
Due: none

chore: update gitignore for kits build artifacts
  .gitignore
Due: none

refactor: improve Kits content organization per MIT Press standards
  kits/assets/styles/style.scss
  kits/contents/getting-started.qmd
  kits/contents/ide-setup.qmd
  kits/contents/platforms.qmd
Due: none

fix: update hardware kit prices to December 2025 values
  kits/assets/styles/style.scss
  kits/contents/getting-started.qmd
  kits/contents/platforms.qmd
  kits/index.qmd
Due: none

style: remove top margin from carousel caption bar
  kits/assets/styles/style.scss
  kits/index.qmd
Due: none

docs: add textbook connection to Kits opening paragraph
  kits/index.qmd
Due: none

docs: add purchase links to platform overview pages
  kits/contents/arduino/nicla_vision/nicla_vision.qmd
  kits/contents/raspi/raspi.qmd
  kits/contents/seeed/grove_vision_ai_v2/grove_vision_ai_v2.qmd
  kits/contents/seeed/xiao_esp32s3/xiao_esp32s3.qmd
Due: none

feat: add dark mode support to Kits site
  kits/_quarto.yml
  kits/assets/styles/dark-mode.scss
Due: yamllint

refactor: simplify PDF profile to use only titlepage-pdf format
  kits/Makefile
  kits/_quarto/profiles/pdf/_quarto.yml
Due: yamllint

style: update Kits PDF cover to match book's title structure
  kits/_quarto/profiles/pdf/_quarto.yml
Due: yamllint

fix: correct PDF build command for unified book output
  kits/Makefile
  kits/_quarto/profiles/pdf/_quarto.yml
Due: yamllint

refactor: switch from profiles to symlink config approach for PDF builds
  kits/Makefile
  kits/_quarto.yml
  kits/config/_quarto-html.yml
  kits/config/_quarto-pdf.yml
Due: yamllint

feat: add subscribe popup modal to Kits site
  kits/assets/scripts/subscribe-modal.js
  kits/config/_quarto-html.yml
Due: yamllint

fix: correct PDF config for part filter and author formatting
  kits/config/_quarto-pdf.yml
Due: yamllint

fix: add titlepage-pdf format check to inject_parts filter
  kits/filters/inject_parts.lua
Due: none

feat: add cover background image to Kits PDF
  kits/assets/images/covers/cover-image-transparent.png
  kits/config/_quarto-pdf.yml
Due: yamllint

fix: use Arabic page numbers throughout Kits PDF
  kits/tex/before-body-includes.tex
  kits/tex/header-includes.tex
Due: none

style: redesign Kits PDF cover per MIT Press guidance
  kits/config/_quarto-pdf.yml
Due: yamllint

feat(kits): add custom TikZ cover page with circuit board design
  kits/config/_quarto-pdf.yml
  kits/tex/before-body-includes.tex
  kits/tex/titlepage-bg.tex
Due: yamllint

feat(ci): add PDF build and publish workflow for Hardware Kits
  .github/workflows/kits-build-pdfs.yml
  .github/workflows/kits-publish-dev.yml
  .github/workflows/kits-publish-live.yml
  kits/_quarto.yml
  kits/_redirects
  kits/config/_quarto-html.yml
Due: yamllint

refactor(kits): update CI/CD workflows and add README
  .github/workflows/kits-build-pdfs.yml
  .github/workflows/kits-publish-dev.yml
  .github/workflows/kits-publish-live.yml
  kits/README.md
Due: yamllint

style: unify subscribe modal branding and use relative navbar links
  book/quarto/assets/scripts/subscribe-modal.js
  book/quarto/config/_quarto-html.yml
  kits/assets/scripts/subscribe-modal.js
  kits/config/_quarto-html.yml
  tinytorch/site/_config.yml
  tinytorch/site/_static/subscribe-modal.js
Due: yamllint

style: use relative navbar links for cross-site navigation
  book/quarto/config/_quarto-html.yml
Due: yamllint

feat: add Co-Labs placeholder infrastructure
  .github/workflows/collabs-publish-dev.yml
  book/quarto/.gitignore
  book/quarto/config/_quarto-html.yml
  book/quarto/index.tex
  collabs/.gitignore
  collabs/_quarto.yml
  collabs/assets/images/favicon.png
  collabs/assets/scripts/subscribe-modal.js
  collabs/assets/styles/style.scss
  collabs/config/_quarto-html.yml
  collabs/index.qmd
  kits/config/_quarto-html.yml
Due: yamllint

style: add dark mode support to collabs
  collabs/assets/styles/dark-mode.scss
  collabs/config/_quarto-html.yml
Due: yamllint

content: update Co-Labs landing page with personal vision and signature
  collabs/index.qmd
Due: none

content: add call for community input on Co-Labs
  collabs/index.qmd
Due: none
