Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-texlive-packages, check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

.pre-commit-config.yaml:

ci:
  skip: true

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0  # Or latest stable
    hooks:
      - id: codespell
        name: "Check for common misspellings"
        args: ["--ignore-words", ".codespell-ignore"]
        files: \.qmd$
        exclude: ".venv|_book|_site|node_modules|images"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        name: "Validate _quarto.yml"
        files: ^_quarto\.yml$

      - id: trailing-whitespace
        name: "Trim trailing whitespace"
        files: ^contents/.*\.qmd$
        verbose: false

      - id: end-of-file-fixer
        name: "Fix end of file newlines"
        files: ^contents/.*\.qmd$
        verbose: false

  - repo: https://github.com/FlamingTempura/bibtex-tidy
    rev: v1.14.0
    hooks:
      - id: bibtex-tidy
        name: "Tidy bibtex files"
        args: [
          '--align=space',
          '--curly',
          '--sort=key',
          '--sort-fields',
          '--duplicates=key',
          '--remove-empty-fields',
          '--space=2',
          '--trailing-commas',
          '--escape',
          '--wrap=100',
          '--blank-lines'
        ]
        files: ^contents/.*\.bib$

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        name: "Lint quarto markdown"
        types: [text]
        files: ^contents/.*\.qmd$
        args: ["--quiet", "-c", ".mdlintconfig.yml"]
        entry: bash -c 'markdownlint "$@" || true'

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.9
    hooks:
      - id: mdformat
        name: "Format quarto markdown"
        additional_dependencies: [mdformat-frontmatter]
        files: ^contents/.*\.qmd$
        pass_filenames: true

  - repo: local
    hooks:
      # Configuration and setup hooks (run first)
      - id: update-texlive-packages
        name: "Update TeX Live package list"
        entry: python scripts/update_texlive_packages.py
        language: python
        additional_dependencies: [PyYAML]
        pass_filenames: false
        files: ^(tex/header-includes\.tex|_quarto\.yml)$

      # Content validation hooks (check for issues)
      - id: check-unreferenced-labels
        name: "Check for unreferenced labels"
        entry: python ./scripts/find_unreferenced_labels.py ./contents/core
        language: python
        additional_dependencies: []
        files: ''
        pass_filenames: false

      - id: check-section-ids
        name: "Check section IDs"
        entry: python scripts/section_id_manager.py -d contents/ --verify --yes
        language: python
        additional_dependencies: [nltk>=3.8]
        pass_filenames: false
        files: ^contents/.*\.qmd$

      - id: header-inline-check
        name: "Detect inline-style Markdown headers"
        entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
        language: system
        pass_filenames: false
        files: ^contents/.*\.qmd$

      - id: grep-forbidden-phrases
        name: "Check for forbidden words"
        entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
        language: system
        pass_filenames: true
        files: ^contents/.*\.qmd$

      # Formatting and cleanup hooks (fix formatting issues)
      - id: collapse-extra-blank-lines
        name: "Collapse extra blank lines"
        entry: python scripts/collapse_blank_lines.py
        language: python
        pass_filenames: true
        files: ^contents/.*\.qmd$

Add comprehensive design space analysis and model comparison
  scripts/llm_experiments/README.md
  scripts/llm_experiments/enhanced_design_space.py
  scripts/llm_experiments/experiment_runner.py
  scripts/llm_experiments/quick_model_test.py
  scripts/llm_experiments/results/quick_model_comparison.json
  scripts/llm_experiments/run_experiments.py
Due: none

Optimize cross-reference generation: switch to llama3.1:8b with flexible 6-12 word explanations
  scripts/cross_refs/cross_refs.py
Due: none

Fix _quarto.yml ordering to process all chapters in correct sequence
  data/cross_refs.json
  scripts/cross_refs/cross_refs.py
Due: none

Add sophisticated explanation cleanup and optimize model recommendations based on systematic experiments
  data/cross_refs.json
  scripts/cross_refs/cross_refs.py
Due: none

Remove debug statements from cross-reference injection filter
  lua/inject_crossrefs.lua
Due: none

sweep study
  scripts/llm_experiments/flexible_length_test.py
  scripts/llm_experiments/models_with_flexible_length.py
  scripts/llm_experiments/quality_model_comparison.py
  scripts/llm_experiments/real_examples_length_test.py
  scripts/llm_experiments/results/flexible_model_comparison.json
  scripts/llm_experiments/results/quality_model_comparison.json
  scripts/llm_experiments/results/real_examples_length_test.json
Due: none

Adds cross-reference data and Lua injection logic
  data/cross_refs.json
  lua/inject_crossrefs.lua
Due: none

Improves cross-reference generation with AI explanations
  _quarto.yml
  data/cross_refs_final.json
  data/cross_refs_no_explanation.json
  lua/inject_crossrefs.lua
  scripts/cross_refs/cross_refs.py
Due: update-texlive-packages

Remove large model dir and ignore going forward
  .gitignore
Due: none

Fix figure captions to be inline instead of in margin
  _quarto.yml
  tex/header-includes.tex
Due: update-texlive-packages

Adds pre-commit hook for large file check
  .pre-commit-config.yaml
Due: none

Add AI-powered figure caption improvement script
  contents/frontmatter/socratiq/socratiq.qmd
  scripts/improve_figure_captions.py
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Removes trailing whitespace in YAML file
  _quarto.yml
Due: update-texlive-packages

feat: Add comprehensive caption validation and repair system
  .gitignore
  scripts/improve_figure_captions.py
Due: none

feat: Add YAML-based book structure processing
  scripts/improve_figure_captions.py
Due: none

fix: Add TikZ figure detection and improve nested bracket handling
  scripts/improve_figure_captions.py
Due: none

feat: Add consistency checking for commented chapter content
  scripts/improve_figure_captions.py
Due: none

feat: Add --tex-file option to specify custom LaTeX input
  scripts/improve_figure_captions.py
Due: none

feat: Switch default input to caps.tex for comprehensive coverage
  scripts/improve_figure_captions.py
Due: none

feat: Improve pattern flexibility for ID placement
  scripts/improve_figure_captions.py
Due: none

Add QMD-focused content map building with save-json option
  scripts/improve_figure_captions.py
Due: none

Remove tex-file functionality and simplify workflow
  scripts/improve_figure_captions.py
Due: none

Update table caption detection to support format transition
  scripts/improve_figure_captions.py
Due: none

Implement robust file-based caption update mechanism
  scripts/improve_figure_captions.py
Due: none

Simplify JSON structure to essential fields only
  scripts/improve_figure_captions.py
Due: none

Replace custom title case with professional titlecase library
  scripts/improve_figure_captions.py
Due: none

Implement complete LLM integration for caption improvement
  scripts/improve_figure_captions.py
Due: none

Fix caption formatting: title case bold, sentence case explanation
  scripts/improve_figure_captions.py
Due: none

Enhances caption improvement workflow
  scripts/improve_figure_captions.py
Due: none

Fixes typo in figure caption
  contents/core/privacy_security/privacy_security.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Enhances figure caption generation with Ollama
  scripts/improve_figure_captions.py
Due: none

feat: Validate and test figure caption extraction system
  contents/core/introduction/introduction.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Adds instruction to keep source in caption
  scripts/improve_figure_captions.py
Due: none

Improves figure captioning and extraction stats
  scripts/improve_figure_captions.py
Due: none

Fixes table caption rendering
  contents/core/introduction/introduction.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Improves figure caption generation with LLM
  scripts/improve_figure_captions.py
Due: none

Improves figure and table caption formatting
  _quarto.yml
  scripts/cross_refs/RECIPE.md
  scripts/improve_figure_captions.py
Due: update-texlive-packages

Remove llm_experiments directory
  scripts/llm_experiments/README.md
  scripts/llm_experiments/enhanced_design_space.py
  scripts/llm_experiments/experiment_runner.py
  scripts/llm_experiments/flexible_length_test.py
  scripts/llm_experiments/llm_judge.py
  scripts/llm_experiments/models_with_flexible_length.py
  scripts/llm_experiments/quality_model_comparison.py
  scripts/llm_experiments/quick_model_test.py
  scripts/llm_experiments/real_examples_length_test.py
  scripts/llm_experiments/results/flexible_model_comparison.json
  scripts/llm_experiments/results/length_optimization_latest.json
  scripts/llm_experiments/results/model_comparison_latest.json
  scripts/llm_experiments/results/quality_model_comparison.json
  scripts/llm_experiments/results/quick_model_comparison.json
  scripts/llm_experiments/results/real_examples_length_test.json
  scripts/llm_experiments/results/recommendations_latest.json
  scripts/llm_experiments/run_experiments.py
  scripts/llm_experiments/test_cases.py
Due: none

Reduce large file limit in pre-commit from 10MB to 1MB
  .pre-commit-config.yaml
Due: none
