Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs, validate-json, yamllint

collapse-extra-blank-lines:
  name: '[Book] Collapse extra blank lines'
  entry: python book/tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

format-python-in-qmd:
  name: '[Book] Format Python code blocks (Black, 70 chars)'
  entry: python book/tools/scripts/content/format_python_in_qmd.py
  language: python
  additional_dependencies:
  - black>=23.0.0
  pass_filenames: true

check-list-formatting:
  name: '[Book] Fix markdown list formatting'
  entry: python book/tools/scripts/utilities/check_list_formatting.py --fix
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: Ensure bullet lists are preceded by blank lines for proper markdown rendering

check-duplicate-labels:
  name: '[Book] Check for duplicate labels'
  entry: python book/tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - book/quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

validate-citations:
  name: '[Book] Validate citation references in .qmd files'
  entry: python book/tools/scripts/content/validate_citations.py --quiet
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: Ensure all @key citations have corresponding entries in .bib files

validate-footnotes:
  name: '[Book] Validate footnote references and definitions'
  entry: python book/tools/scripts/content/footnote_cleanup.py -d book/quarto/contents/ --validate
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

check-forbidden-footnotes:
  name: '[Book] Check for footnotes in tables/captions/divs'
  entry: python book/tools/scripts/content/check_forbidden_footnotes.py -d book/quarto/contents/
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: '[Book] Detect inline-style Markdown headers'
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: '[Book] Check for forbidden words'
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

check-purpose-unnumbered:
  name: '[Book] Ensure Purpose sections are unnumbered'
  entry: bash -c 'grep -n "^## Purpose" "$@" | grep -v "\.unnumbered" && exit 1 || exit 0' --
  language: system
  pass_filenames: true
  description: 'Ensure all ## Purpose sections have {.unnumbered} attribute'

check-table-formatting:
  name: '[Book] Check table formatting (alignment, bolding, spacing)'
  entry: python book/tools/scripts/content/format_tables.py --check -d quarto/contents/
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all tables have proper bolding, alignment, and spacing

feat(vol1/ch9): add knowledge distillation theory section
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

feat(vol1/ch9): add AutoML for efficiency NAS theory section
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

feat: implement expert review revisions across 6 chapters
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor: improve volume I/II boundary clarity and self-containment
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

style: comprehensive textbook-wide academic tone polish
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol1/ch1): improve narrative flow and transitions
  book/quarto/contents/vol1/introduction/introduction.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol1): improve narrative flow across all 16 chapters
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.bib
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol2): improve narrative flow across all 16 chapters (first pass)
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol2): second pass narrative flow improvements (15 chapters)
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol2): third pass narrative flow improvements (all 15 chapters)
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol2): third pass narrative flow - batch 1 chapters
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/storage/storage.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

feat(volumes): implement volume separation for textbook
  .github/workflows/book-build-container.yml
  .github/workflows/book-publish-live.yml
  README.md
  book/README.md
  book/cli/commands/build.py
  book/cli/core/config.py
  book/cli/main.py
  book/quarto/config/_quarto-epub-vol1.yml
  book/quarto/config/_quarto-epub-vol2.yml
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-html-vol2.yml
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/contents/vol1/backmatter/references.qmd
  book/quarto/contents/vol1/frontmatter/about.qmd
  book/quarto/contents/vol1/frontmatter/acknowledgements.qmd
  book/quarto/contents/vol1/frontmatter/foreword.qmd
  book/quarto/contents/vol1/index.qmd
  book/quarto/contents/vol2/backmatter/references.qmd
  book/quarto/contents/vol2/frontmatter/about.qmd
  book/quarto/contents/vol2/frontmatter/acknowledgements.qmd
  book/quarto/contents/vol2/frontmatter/foreword.qmd
  book/quarto/contents/vol2/index.qmd
  kits/config/_quarto-html.yml
  labs/config/_quarto-html.yml
  landing/index.html
  landing/logo.png
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, yamllint

docs: update volume abstracts with AI engineering framing
  book/quarto/contents/vol1/index.qmd
  book/quarto/contents/vol2/index.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor: fix concept progression issues across all chapters
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.bib
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol2/frontiers/frontiers.bib
  book/quarto/contents/vol2/introduction/introduction.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor: fix concept progression issues in Volume II chapters
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol1): standardize code listing formats across all chapters
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(style): remove paragraphs between Learning Objectives and section headers
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/storage/storage.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(style): blend transitional paragraphs into section content
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/storage/storage.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol2-infra): add pedagogical comments to YAML code block
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor: apply aggressive Format 1 upgrades to code listings across volumes
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor: additional concept progression refinements for Volume II
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: ensure consistent code listing format across all chapters
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

feat(content): add data-centric AI section and FinOps coverage
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/storage/storage.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor: convert all pipe-style tables to grid format
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontmatter/about.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  book/tools/scripts/content/convert_pipe_to_grid_tables.py
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(citations): add missing BibTeX references across chapters
  book/quarto/contents/vol1/data_engineering/data_engineering.bib
  book/quarto/contents/vol2/privacy_security/privacy_security.bib
  book/quarto/contents/vol2/responsible_ai/responsible_ai.bib
  book/quarto/contents/vol2/robust_ai/robust_ai.bib
Due: none

fix(citations): update bibliography files across Volume II chapters
  book/quarto/contents/vol2/distributed_training/distributed_training.bib
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.bib
  book/quarto/contents/vol2/frontiers/frontiers.bib
  book/quarto/contents/vol2/inference/inference.bib
  book/quarto/contents/vol2/infrastructure/infrastructure.bib
  book/quarto/contents/vol2/introduction/introduction.bib
  book/quarto/contents/vol2/ops_scale/ops_scale.bib
  book/quarto/contents/vol2/privacy_security/privacy_security.bib
  book/quarto/contents/vol2/responsible_ai/responsible_ai.bib
  book/quarto/contents/vol2/robust_ai/robust_ai.bib
  book/quarto/contents/vol2/storage/storage.bib
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.bib
Due: none

fix(citations): update Volume II bibliography files
  book/quarto/contents/vol2/ai_for_good/ai_for_good.bib
  book/quarto/contents/vol2/communication/communication.bib
  book/quarto/contents/vol2/conclusion/conclusion.bib
  book/quarto/contents/vol2/distributed_training/distributed_training.bib
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.bib
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.bib
  book/quarto/contents/vol2/frontiers/frontiers.bib
  book/quarto/contents/vol2/inference/inference.bib
  book/quarto/contents/vol2/infrastructure/infrastructure.bib
  book/quarto/contents/vol2/introduction/introduction.bib
  book/quarto/contents/vol2/ops_scale/ops_scale.bib
  book/quarto/contents/vol2/privacy_security/privacy_security.bib
  book/quarto/contents/vol2/robust_ai/robust_ai.bib
  book/quarto/contents/vol2/storage/storage.bib
Due: none

fix(citations): remove invalid Zimmermann citation and sync bib files
  book/quarto/contents/vol1/data_engineering/data_engineering.bib
  book/quarto/contents/vol1/efficient_ai/efficient_ai.bib
  book/quarto/contents/vol1/introduction/introduction.bib
  book/quarto/contents/vol1/ml_systems/ml_systems.bib
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.bib
  book/quarto/contents/vol2/frontiers/frontiers.bib
  book/quarto/contents/vol2/introduction/introduction.bib
  book/quarto/contents/vol2/privacy_security/privacy_security.bib
  book/quarto/contents/vol2/storage/storage.bib
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.bib
Due: none

fix(citations): remove zimmermann2007neural reference from frontiers.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

feat(cli): add volume flag support and fuzzy chapter matching
  book/cli/commands/build.py
  book/cli/core/discovery.py
  book/cli/main.py
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-html-vol2.yml
Due: yamllint

docs: update Volume I subtitle from 'Introduction' to 'Foundations'
  book/quarto/config/_quarto-epub-vol1.yml
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-pdf-vol1.yml
Due: yamllint

fix(config): revert Volume I subtitle from Foundations to Introduction
  book/quarto/config/_quarto-epub-vol1.yml
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-pdf-vol1.yml
Due: yamllint

fix(citations): update Volume I bibliography files and add cross-references
  .codespell-ignore-words.txt
  book/quarto/_quarto.yml
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/optimizations/optimizations.bib
  book/quarto/contents/vol1/serving/serving.bib
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, yamllint

fix(config): correct Volume II part numbering in HTML config
  book/quarto/config/_quarto-html-vol2.yml
Due: yamllint

fix(config): correct Volume II part numbering in PDF config
  book/quarto/config/_quarto-pdf-vol2.yml
Due: yamllint

fix(config): correct Volume II part numbering in EPUB config
  book/quarto/config/_quarto-epub-vol2.yml
Due: yamllint

refactor(vol1): optimize learning objectives for clarity and conciseness
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: finalize Volume I part titles and sync all configs
  book/quarto/config/_quarto-epub-vol2.yml
  book/quarto/config/_quarto-html-vol1.yml
Due: yamllint

refactor: flatten Volume I configs and update part titles
  book/quarto/_quarto.yml
  book/quarto/config/_quarto-epub-vol1.yml
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/filters/inject_parts.lua
Due: yamllint

refactor: remove custom part commands from QMD files
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

Path conditions:
  collapse-extra-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  format-python-in-qmd: any of: ^book/quarto/contents/.*\.qmd$
  check-list-formatting: any of: ^book/.*\.qmd$
  check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  header-inline-check: any of: ^book/quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/quarto/contents/.*\.qmd$
  check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  prevent-svg-files: any of: ^book/.*\.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: ^book/.*\.svg$
  validate-json: any of: \.json$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

