Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-validate-json, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-images, book-validate-external-images, book-validate-image-references, book-prevent-svg

Path conditions:
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-check-list-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  book-prevent-svg: any of: ^book/quarto/contents/.*\.svg$, but not: .*_files/mediabag/.*\.svg$

Update Vol 1 and Vol 2 content, CLI tooling, and PDF config
  book/cli/commands/build.py
  book/cli/core/discovery.py
  book/quarto/config/_quarto-pdf-vol1-copyedit.yml
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/optimization/optimization.qmd
  book/quarto/contents/vol2/orchestration/orchestration.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Enable List of Figures and List of Tables in PDF output
  book/quarto/config/_quarto-pdf-vol1-copyedit.yml
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
Due: none

Update Vol 1 and Vol 2 chapter content
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol2/infrastructure/networking.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Refactor callout definitions to functional format
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Add callout example boxes with italicized lead-in text across Vol 1 chapters
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Add missing fig-alt accessibility text to 22 figures in Vol 1
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Add generic figure extraction script for MIT Press documentation
  book/quarto/FIGURE_LIST_VOL1.md
  book/tools/scripts/extract_figures.py
Due: none

Update extract_figures.py to group output by figure
  book/quarto/FIGURE_LIST_VOL1.md
  book/tools/scripts/extract_figures.py
Due: none

Add figure relocation script and fix unreferenced figures
  book/quarto/contents/vol1/backmatter/appendix_foundations.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/tools/scripts/relocate_figures.py
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Strengthen opening paragraphs in first substantive sections across Vol 1 chapters
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Fix figure captions across all Vol 1 chapters
  book/quarto/FIGURE_LIST_VOL1.md
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering_glossary.json
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer_glossary.json
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/tools/scripts/extract_figures_vol1.py
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-validate-json, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Update Vol 1 figure captions and alt-text across all chapters
  book/quarto/FIGURE_LIST_VOL1.md
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/data_selection/images/png/cover_data_efficiency.png
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-images, book-validate-external-images, book-validate-image-references

Add badge for last commit update in README
  README.md
Due: none

Add checkpoint callouts and standardize callout types across Vol 1 chapters
  book/quarto/contents/vol1/backmatter/appendix_foundations.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/parts/optimize_principles.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Add transition sentences before callout blocks across all chapters
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Standardize callout formatting and remove redundant content across Vol 1 chapters
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Fix pre-commit issues: restore missing images, add figure/table references, apply auto-fixes
  .pre-commit-config.yaml
  book/quarto/FIGURE_LIST_VOL1.md
  book/quarto/contents/vol1/backmatter/appendix_foundations.qmd
  book/quarto/contents/vol1/backmatter/glossary/glossary.qmd
  book/quarto/contents/vol1/backmatter/glossary/vol1_glossary.json
  book/quarto/contents/vol1/backmatter/references.bib
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection_glossary.json
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures_glossary.json
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/backmatter/appendix_a.qmd
  book/quarto/contents/vol2/backmatter/glossary/vol2_glossary.json
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/fault_tolerance/images/jpg/google_sdc_jeff_dean_anomaly.jpg
  book/quarto/contents/vol2/fault_tolerance/images/jpg/sdc-google-jeff-dean.jpeg
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/infrastructure/networking.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/optimization/images/png/cover_optimization.png
  book/quarto/contents/vol2/optimization/optimization.qmd
  book/quarto/contents/vol2/orchestration/orchestration.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-validate-json, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-images, book-validate-external-images, book-validate-image-references

updated the bundle remove auto o
  tinytorch/tinytorch/__init__.py
Due: none

Fix PDF build failures in ml_systems and training chapters
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Fix another float-inside-callout PDF build error in training chapter
  book/quarto/contents/vol1/training/training.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

restoring init file that was accidently changed
  tinytorch/tinytorch/__init__.py
Due: none

Improve ops chapter table and heading formatting
  book/quarto/contents/vol1/ops/ops.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Rewrite Vol 1 About page following Hennessy and Patterson front matter model
  book/quarto/contents/vol1/frontmatter/about.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Polish all Vol 1 chapters for MIT Press submission
  book/quarto/contents/vol1/backmatter/references.bib
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.bib
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/frontmatter/about.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Organize scripts directory: move active scripts to subdirectories, remove stale files
  book/tools/scripts/README.md
  book/tools/scripts/README_TABLE_FORMATTER.md
  book/tools/scripts/check_keys.sh
  book/tools/scripts/check_workflow_changes.sh
  book/tools/scripts/clean_build.sh
  book/tools/scripts/content/relocate_figures.py
  book/tools/scripts/convert_icons.sh
  book/tools/scripts/extract_figures_vol1.py
  book/tools/scripts/extract_vol2_headers.py
  book/tools/scripts/feedback_processing_system.md
  book/tools/scripts/issue_branch_workflow.md
  book/tools/scripts/issue_workflow_quick_reference.md
  book/tools/scripts/publish/extract_figures.py
  book/tools/scripts/redownload_with_better_names.sh
  book/tools/scripts/test_lua_error.sh
Due: none

Add .callout-principle custom callout for part principles pages
  book/quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.css
  book/quarto/assets/images/icons/callouts/icon_callout_principle.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_principle.png
  book/quarto/assets/images/icons/callouts/icon_callout_principle.svg
  book/quarto/assets/styles/dark-mode.scss
  book/quarto/assets/styles/epub.css
  book/quarto/assets/styles/style.scss
  book/quarto/config/_quarto-epub-vol1.yml
  book/quarto/config/_quarto-epub-vol2.yml
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/contents/vol1/parts/build_principles.qmd
  book/quarto/contents/vol1/parts/deploy_principles.qmd
  book/quarto/contents/vol1/parts/foundations_principles.qmd
  book/quarto/contents/vol1/parts/optimize_principles.qmd
  book/quarto/contents/vol2/parts/inference_principles.qmd
  book/quarto/contents/vol2/parts/infrastructure_principles.qmd
  book/quarto/contents/vol2/parts/production_principles.qmd
  book/quarto/contents/vol2/parts/responsible_principles.qmd
  book/quarto/contents/vol2/parts/scale_principles.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Fix callout-definition color inconsistency in foldbox.css
  book/quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.css
Due: none

docs(slides): specify genai usage
  tinytorch/src/01_tensor/ABOUT.md
  tinytorch/src/02_activations/ABOUT.md
  tinytorch/src/03_layers/ABOUT.md
  tinytorch/src/04_losses/ABOUT.md
  tinytorch/src/05_dataloader/ABOUT.md
  tinytorch/src/06_autograd/ABOUT.md
  tinytorch/src/07_optimizers/ABOUT.md
  tinytorch/src/08_training/ABOUT.md
  tinytorch/src/09_convolutions/ABOUT.md
  tinytorch/src/10_tokenization/ABOUT.md
  tinytorch/src/11_embeddings/ABOUT.md
  tinytorch/src/12_attention/ABOUT.md
  tinytorch/src/13_transformers/ABOUT.md
  tinytorch/src/14_profiling/ABOUT.md
  tinytorch/src/15_quantization/ABOUT.md
  tinytorch/src/16_compression/ABOUT.md
  tinytorch/src/17_acceleration/ABOUT.md
  tinytorch/src/18_memoization/ABOUT.md
  tinytorch/src/19_benchmarking/ABOUT.md
  tinytorch/src/20_capstone/ABOUT.md
Due: none

Revise Vol 1 Acknowledgements for accuracy, tone, and global inclusivity
  book/quarto/contents/vol1/frontmatter/acknowledgements.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Rewrite Vol 1 Author's Note with personal voice and dual dedication
  book/quarto/contents/vol1/frontmatter/foreword.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Add section headers to acknowledgements; remove index.qmd from PDF/EPUB configs
  book/quarto/config/_quarto-epub-vol1.yml
  book/quarto/config/_quarto-epub-vol2.yml
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/contents/vol1/frontmatter/acknowledgements.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Restore index.qmd in build configs; gate its content to HTML only
  book/quarto/config/_quarto-epub-vol1.yml
  book/quarto/config/_quarto-epub-vol2.yml
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/contents/vol1/index.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Use html:js format gate in index.qmd to exclude EPUB
  book/quarto/contents/vol1/index.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Add figure/table flow audit script for placement diagnostics
  book/tools/scripts/content/figure_table_flow_audit.py
Due: none

Fix figure/table flow across 8 chapters
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Split monolithic appendix into DAM-aligned appendices (Machine, Algorithm, Data, Historical)
  book/quarto/config/_quarto-epub-vol1.yml
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/contents/vol1/backmatter/appendix_algorithm.qmd
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/backmatter/appendix_foundations.qmd
  book/quarto/contents/vol1/backmatter/appendix_historical.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references
