Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$

Update Tikz figures in chapter 20
  quarto/contents/core/frontiers/frontiers.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Update a Tikz figure in chapter 10
  quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fix LaTeX typo in Section 4.7.3 (replace $ imes$ with $\times$)
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat(lint): add Purpose section check and FO to ignore list
  .pre-commit-config.yaml
  config/linting/.codespell-ignore
Due: yamllint

fix(optimizations): clean up chapter formatting and references
  quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

chore(bib): format bibliography files with bibtex-tidy
  quarto/contents/core/frontiers/frontiers.bib
  quarto/contents/core/hw_acceleration/hw_acceleration.bib
  quarto/contents/core/privacy_security/privacy_security.bib
  quarto/contents/core/robust_ai/robust_ai.bib
Due: none

chore(config): switch quarto symlink to HTML config
  quarto/_quarto.yml
Due: yamllint

Adds self-referential section checker
  quarto/contents/core/frameworks/frameworks.qmd
  tools/scripts/content/check_self_referential_sections.py
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Adds quizzes to the optimizations chapter
  quarto/contents/core/optimizations/optimizations_quizzes.json
Due: none

Relates benchmark engineering to Goodhart's Law
  quarto/contents/core/benchmarking/benchmarking.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Update new Tikz figures in chapter 15 and chapter
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/tex/header-includes.tex
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(content): correct table formatting and improve readability
  config/linting/.codespell-ignore
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/index.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Missing space between 2 words.
  quarto/contents/labs/seeed/grove_vision_ai_v2/image_classification/image_classification.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fix small typo on Figure 10.7.
  quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fix dark mode stylings for callout examples
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.css
Due: none

feat(dark-mode): improve and extend callout dark mode support
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.css
Due: none

feat(dark-mode): add user-controlled dark mode toggle with comprehensive styling
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.css
  quarto/assets/styles/dark-mode.scss
Due: none

fix(dark-mode): add styling for embedded iframes in dark mode
  quarto/assets/styles/dark-mode.scss
Due: none

fix(dark-mode): fix critical readability issues in tables, TOC, and code
  quarto/assets/styles/dark-mode.scss
Due: none

refine(dark-mode): lighten crimson and unify sidebar styling
  quarto/assets/styles/dark-mode.scss
Due: none

fix(dark-mode): fix footnote/margin text and further mute sidebar
  quarto/assets/styles/dark-mode.scss
Due: none

fix(dark-mode): increase CSS specificity for sidebar text color
  quarto/assets/styles/dark-mode.scss
Due: none

refactor(dark-mode): redefine crimson as bright by default in dark mode
  quarto/assets/styles/dark-mode.scss
Due: none

fix(config): ensure dark mode toggle is enabled
  quarto/config/_quarto-html.yml
Due: yamllint

fix(dark-mode): force bright text in all callout headers for accessibility
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.css
Due: none

fix(styles): improve dark mode legibility and persistence
  quarto/assets/styles/dark-mode.scss
  quarto/config/_quarto-html.yml
Due: yamllint

fix(workflows): escape PowerShell variables in Windows container commands
  .github/workflows/quarto-build-container.yml
Due: yamllint

fix(pdf): resolve Windows PDF build error in optimizations TikZ code
  quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(styles): enhance announcement banner visibility in dark mode
  quarto/assets/styles/dark-mode.scss
Due: none

Adds required dependencies
  tools/scripts/genai/requirements.txt
Due: none

Fix typo in IMU data description
  quarto/contents/labs/arduino/nicla_vision/setup/setup.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(styles): improve contrast for links, blockquotes, and footer in dark mode
  quarto/assets/styles/dark-mode.scss
Due: none

fix(config): respect OS theme preference for dark mode
  quarto/config/_quarto-html.yml
Due: yamllint

feat(ux): add clear sun/moon icons to theme toggle
  quarto/assets/styles/dark-mode.scss
  quarto/assets/styles/style.scss
Due: none

fix(styles): ensure sun icon appears in dark mode toggle
  quarto/assets/styles/dark-mode.scss
Due: none

fix(styles): add dark mode styling for book preview card
  quarto/assets/styles/dark-mode.scss
Due: none

Enhance README with special features and contribution info
  README.md
Due: none

fix(styles): remove transparency from announcement banner
  quarto/assets/styles/dark-mode.scss
  quarto/assets/styles/style.scss
Due: none

Updates documentation for clarity and completeness
  README.md
Due: none

feat(ux): style dismiss button for announcement banner
  quarto/assets/styles/dark-mode.scss
  quarto/assets/styles/style.scss
Due: none
