Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs, validate-json, yamllint

Path conditions:
  collapse-extra-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  format-python-in-qmd: any of: ^book/quarto/contents/.*\.qmd$
  check-list-formatting: any of: ^book/.*\.qmd$
  check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  header-inline-check: any of: ^book/quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/quarto/contents/.*\.qmd$
  check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  prevent-svg-files: any of: ^book/.*\.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: ^book/.*\.svg$
  validate-json: any of: \.json$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$


style: simplify Co-Labs landing page design
  collabs/index.qmd
Due: none

style: redesign Co-Labs landing page with ML Systems focus
  collabs/assets/styles/dark-mode.scss
  collabs/assets/styles/style.scss
  collabs/config/_quarto-html.yml
  collabs/index.qmd
Due: yamllint

style: add consistent dark/light mode toggle icons to kits and collabs
  collabs/assets/styles/dark-mode.scss
  collabs/assets/styles/style.scss
  kits/assets/styles/dark-mode.scss
  kits/assets/styles/style.scss
Due: none

style: ensure subscribe button matches other navbar icons across all projects
  collabs/assets/styles/style.scss
  kits/assets/styles/style.scss
Due: none

style: remove redundant title header from Co-Labs landing page
  collabs/index.qmd
Due: none

style: update workflow icons for Kits and Co-Labs
  .github/workflows/collabs-publish-dev.yml
  .github/workflows/kits-build-pdfs.yml
  .github/workflows/kits-publish-dev.yml
  .github/workflows/kits-publish-live.yml
Due: yamllint

style: update Kits workflow icons to toolbox emoji
  .github/workflows/kits-build-pdfs.yml
  .github/workflows/kits-publish-dev.yml
  .github/workflows/kits-publish-live.yml
Due: yamllint

style: update Co-Labs workflow icon to crystal ball emoji
  .github/workflows/collabs-publish-dev.yml
Due: yamllint

style: update Kits workflow icons to package emoji
  .github/workflows/kits-build-pdfs.yml
  .github/workflows/kits-publish-dev.yml
  .github/workflows/kits-publish-live.yml
Due: yamllint

fix: align journey card icons on Co-Labs landing page
  collabs/assets/styles/style.scss
Due: none

refactor: add Co-Labs live workflow and make all live deploys manual
  .github/workflows/collabs-publish-dev.yml
  .github/workflows/collabs-publish-live.yml
  .github/workflows/kits-publish-live.yml
Due: yamllint

fix: add favicon config to Kits and Co-Labs html configs
  collabs/config/_quarto-html.yml
  kits/config/_quarto-html.yml
Due: yamllint

content: update announcements and goals for 2026
  book/quarto/config/announcement.yml
  book/quarto/index.qmd
Due: check-list-formatting, yamllint

content: simplify support section, focus on 2026 goal
  book/quarto/index.qmd
Due: check-list-formatting

style: update announcement banner for 2025 launch
  book/quarto/config/announcement.yml
Due: yamllint

docs: reframe README as AI engineering discipline flagship
  README.md
  book/README.md
  kits/README.md
Due: none

restructure: move Start Here before Learning Stack, merge vision into Mission
  README.md
Due: none

adding arena site for better dashboard experience and future hackathons
  tinytorch/site/extra/community/arena.html
  tinytorch/site/extra/community/dashboard.html
  tinytorch/site/extra/community/modules/auth.js
  tinytorch/site/extra/community/modules/ui.js
Due: none

updated arena title
  tinytorch/site/extra/community/arena.html
Due: none

updated the arena and dash to remove usernames
  tinytorch/site/extra/community/arena.html
  tinytorch/site/extra/community/dashboard.html
  tinytorch/site/extra/community/modules/camera.js
  tinytorch/site/extra/community/modules/profile.js
  tinytorch/site/extra/community/modules/ui.js
Due: none

Fix: Update installer to require Python 3.10+ and detect Homebrew version (#1086)
  tinytorch/site/extra/install.sh
Due: none

Update README with clearer mission and ecosystem details
  README.md
Due: none

Revise README for improved clarity and focus
  README.md
Due: none

Unify navbar, fonts, and styles across book, kits, and collabs
  _brand/base.scss
  _brand/tokens.scss
  book/quarto/assets/styles/style.scss
  book/quarto/config/_quarto-html.yml
  collabs/assets/styles/style.scss
  collabs/config/_quarto-html.yml
  kits/assets/styles/style.scss
  kits/config/_quarto-html.yml
Due: yamllint

Align TinyTorch styling with MLSysBook brand tokens
  tinytorch/site/_static/custom.css
Due: none

fix: remove unsupported ogp_title and ogp_description config options
  tinytorch/site/_config.yml
Due: yamllint

Add Open Graph and Twitter Card metadata to all Quarto sites
  book/quarto/config/_quarto-html.yml
  collabs/config/_quarto-html.yml
  kits/config/_quarto-html.yml
Due: yamllint

feat: ecosystem consistency improvements
  _brand/scripts/subscribe-modal.js
  _brand/site.webmanifest
  book/quarto/config/_quarto-html.yml
  book/quarto/site.webmanifest
  collabs/404.qmd
  collabs/assets/images/covers/cover-hardcover-book.png
  collabs/config/_quarto-html.yml
  collabs/site.webmanifest
  kits/404.qmd
  kits/assets/images/covers/cover-hardcover-book.png
  kits/config/_quarto-html.yml
  kits/site.webmanifest
  tinytorch/site/404.md
Due: yamllint

feat(kits): add dev preview announcement banner
  .github/workflows/kits-publish-dev.yml
  kits/config/_quarto-html.yml
  kits/config/announcement.yml
Due: yamllint

feat(collabs): add dev preview announcement banner
  .github/workflows/collabs-publish-dev.yml
  collabs/config/_quarto-html.yml
  collabs/config/announcement.yml
Due: yamllint

updated the location flow
  tinytorch/site/extra/community/app.js
  tinytorch/site/extra/community/community.html
  tinytorch/site/extra/community/modules/auth.js
  tinytorch/site/extra/community/modules/cloud.js
  tinytorch/site/extra/community/modules/profile.js
  tinytorch/site/extra/community/modules/styles.js
  tinytorch/site/extra/community/modules/ui.js
Due: none

fix: correct workflow trigger name for book deploy preview
  .github/workflows/book-deploy-preview.yml
Due: yamllint

style(collabs): change accent from purple to deep blue, fix card headers
  _brand/tokens.scss
  collabs/assets/styles/style.scss
Due: none

fix(book): make announcement bar extend full width
  book/quarto/assets/styles/style.scss
Due: none

fix: restore all 4 cards to dev landing page
  .github/dev-landing/index.html
Due: none

docs: add approved two-volume structure outline
  book/docs/reviewer-feedback-synthesis-r1.md
  book/docs/volume-outline-draft.md
Due: none

proposal: Minor re-phrasing + Cost Effective concepts earlier introduction
  book/quarto/contents/core/data_engineering/data_engineering.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: minor typo
  book/quarto/contents/core/data_engineering/data_engineering.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references
