Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs, validate-json, yamllint

Path conditions:
  collapse-extra-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  format-python-in-qmd: any of: ^book/quarto/contents/.*\.qmd$
  check-list-formatting: any of: ^book/.*\.qmd$
  check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  header-inline-check: any of: ^book/quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/quarto/contents/.*\.qmd$
  check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  prevent-svg-files: any of: ^book/.*\.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: ^book/.*\.svg$
  validate-json: any of: \.json$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$


Przepisanie rozdziału frameworks dla lepszej zrozumiałości
  book/quarto/contents/core/frameworks/frameworks.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

Przepisanie rozdziałów frameworks i optimizations
  book/quarto/contents/core/frameworks/frameworks.qmd
  book/quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

Security: mitigate shell injection in build workflow
  .github/workflows/book-build-baremetal.yml
Due: yamllint

chnage navbar
  book/quarto/assets/styles/style.scss
Due: none

Fix navbar overflow by adjusting collapse breakpoint
  book/quarto/config/_quarto-html.yml
Due: yamllint

feat: restructure sidebar for two-volume organization
  book/quarto/config/_quarto-html.yml
  book/quarto/contents/advanced/ops_scale/ops_scale.bib
  book/quarto/contents/advanced/ops_scale/ops_scale.qmd
  book/quarto/contents/core/responsible_systems/responsible_systems.bib
  book/quarto/contents/core/responsible_systems/responsible_systems.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, yamllint

docs: rename DL Primer to Deep Learning Primer
  book/quarto/contents/core/dl_primer/dl_primer.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: rename DNN Architectures to Neural Network Architectures
  book/quarto/contents/core/dnn_architectures/dnn_architectures.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: rename Fault Tolerance chapter to include Reliability
  book/quarto/contents/advanced/fault_tolerance/fault_tolerance.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor: rename Vol II introduction to advanced_intro
  book/quarto/contents/advanced/advanced_intro/advanced_intro.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

style: update sidebar with consistent two-word Part names
  book/quarto/config/_quarto-html.yml
Due: yamllint

docs: update ops_scale placeholder to Coming 2026
  book/quarto/contents/advanced/ops_scale/ops_scale.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: restructure summaries.yml for two-volume organization
  book/quarto/contents/parts/summaries.yml
Due: yamllint

feat: restructure _quarto-pdf.yml for two-volume layout
  book/quarto/config/_quarto-pdf.yml
Due: yamllint

docs: update Vol I part divider keys in chapter files
  book/quarto/contents/core/ai_for_good/ai_for_good.qmd
  book/quarto/contents/core/benchmarking/benchmarking.qmd
  book/quarto/contents/core/conclusion/conclusion.qmd
  book/quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/core/robust_ai/robust_ai.qmd
  book/quarto/contents/core/training/training.qmd
  book/quarto/contents/frontmatter/socratiq/socratiq.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: add Vol II part divider keys in advanced chapter files
  book/quarto/contents/advanced/communication/communication.qmd
  book/quarto/contents/advanced/conclusion/conclusion.qmd
  book/quarto/contents/advanced/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/advanced/ops_scale/ops_scale.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor: update inject_xrefs.lua for vol1/vol2 paths
  book/quarto/filters/inject_xrefs.lua
Due: none

refactor: update epub config for two-volume structure
  book/quarto/config/_quarto-epub.yml
Due: yamllint

fix: update remaining core/ references to vol1/vol2
  .github/workflows/infra-link-check.yml
  book/quarto/config/_quarto-pdf.yml
  book/quarto/contents/vol1/benchmarking/benchmarking_quizzes.json
  book/quarto/contents/vol1/benchmarking/footnote_context_quizzes.json
  book/quarto/contents/vol1/conclusion/conclusion_quizzes.json
  book/quarto/contents/vol1/conclusion/footnote_context_quizzes.json
  book/quarto/contents/vol1/data_engineering/data_engineering_quizzes.json
  book/quarto/contents/vol1/dl_primer/dl_primer_quizzes.json
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures_quizzes.json
  book/quarto/contents/vol1/efficient_ai/efficient_ai_quizzes.json
  book/quarto/contents/vol1/frameworks/footnote_context_quizzes.json
  book/quarto/contents/vol1/frameworks/frameworks_quizzes.json
  book/quarto/contents/vol1/frameworks/frontiers_quizzes.json
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration_quizzes.json
  book/quarto/contents/vol1/introduction/introduction_quizzes.json
  book/quarto/contents/vol1/ml_systems/footnote_context_quizzes.json
  book/quarto/contents/vol1/ml_systems/frontiers_quizzes.json
  book/quarto/contents/vol1/ml_systems/ml_systems_quizzes.json
  book/quarto/contents/vol1/ops/ops_quizzes.json
  book/quarto/contents/vol1/optimizations/optimizations_quizzes.json
  book/quarto/contents/vol1/training/training_quizzes.json
  book/quarto/contents/vol1/workflow/workflow_quizzes.json
  book/quarto/contents/vol2/ai_for_good/ai_for_good_quizzes.json
  book/quarto/contents/vol2/frontiers/frontiers_quizzes.json
  book/quarto/contents/vol2/ondevice_learning/ondevice_learning_quizzes.json
  book/quarto/contents/vol2/privacy_security/privacy_security_quizzes.json
  book/quarto/contents/vol2/responsible_ai/responsible_ai_quizzes.json
  book/quarto/contents/vol2/robust_ai/footnote_context_quizzes.json
  book/quarto/contents/vol2/robust_ai/robust_ai_quizzes.json
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai_quizzes.json
  book/quarto/filters/inject_glossary.lua
  book/quarto/filters/inject_quizzes.lua
Due: validate-json, yamllint

fix: highlight key terms in data engineering definition
  book/quarto/contents/core/data_engineering/data_engineering.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references
