Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-images, book-validate-external-images, book-validate-image-references

book-format-python:
  name: 'Book: Format Python code blocks (Black, 70 chars)'
  entry: ./book/binder format python
  language: system
  pass_filenames: true

book-collapse-blank-lines:
  name: 'Book: Collapse extra blank lines'
  entry: ./book/binder format blanks
  language: system
  pass_filenames: true

book-fix-list-spacing:
  name: 'Book: Fix list spacing (blank before lists, tight items)'
  entry: ./book/binder format lists
  language: system
  pass_filenames: true

book-validate-json:
  name: 'Book: Validate JSON files'
  entry: ./book/binder check json
  language: system
  pass_filenames: false

book-verify-section-ids:
  name: 'Book: Verify all sections have IDs'
  entry: ./book/binder check headers --vol1
  language: system
  pass_filenames: false

book-check-unreferenced-labels:
  name: 'Book: Check for unreferenced labels'
  entry: ./book/binder check labels --scope orphans --vol1
  language: system
  pass_filenames: false

book-check-duplicate-labels:
  name: 'Book: Check for duplicate labels'
  entry: ./book/binder check labels --scope duplicates --figures --tables --listings
  language: system
  pass_filenames: false

book-validate-citations:
  name: 'Book: Validate citation references'
  entry: ./book/binder check refs --scope citations
  language: system
  pass_filenames: false

book-check-references:
  name: 'Book: Check reference/citation issues'
  entry: ./book/binder check refs --scope cross-refs --citations-in-code
  language: system
  pass_filenames: false

book-validate-footnotes:
  name: 'Book: Validate footnote references'
  entry: ./book/binder check footnotes --scope integrity
  language: system
  pass_filenames: false

book-check-forbidden-footnotes:
  name: 'Book: Check for footnotes in tables/captions'
  entry: ./book/binder check footnotes --scope placement
  language: system
  pass_filenames: false

book-check-purpose-unnumbered:
  name: 'Book: Ensure Purpose sections are unnumbered'
  entry: bash -c 'grep -n "^## Purpose" "$@" | grep -v "\.unnumbered" && exit 1 || exit 0' --
  language: system
  pass_filenames: true

book-check-unclosed-divs:
  name: 'Book: Check for malformed div fences (:::)'
  entry: 'bash -c ''for f in "$@"; do grep -nE "^:::[ ]+[^{ ]" "$f" && echo "  ^^^ ERROR in $f: div fence (:::) has trailing text. The ::: must be on its own line to close a div." && exit 1; done; exit 0'' --'
  language: system
  pass_filenames: true

book-check-four-colon-space:
  name: 'Book: Check for malformed nested div fences (::::)'
  ...

book-check-figure-completeness:
  name: 'Book: Check figures have captions and alt-text'
  entry: ./book/binder check figures --scope captions
  language: system
  pass_filenames: false

book-check-figure-placement:
  name: 'Book: Check figure/table placement (near first reference)'
  entry: ./book/binder check figures --scope flow
  language: system
  pass_filenames: false

book-mlsys-test-units:
  name: 'Book: MLSys unit checks'
  entry: ./book/binder check units
  language: system
  pass_filenames: false

fix(vol1): resolve a term pair the introduction no longer defines
  book/quarto/contents/vol1/introduction/introduction.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(vol1): correct errors three adversarial audits found in my own caption edits
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/model_compression/model_compression.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(vol1): remove described-but-absent elements from my own alt-text commit
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(vol1): rescale the remaining tbl-colwidths vectors that do not sum to 100
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/frontmatter/_notation_body.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(vol1): three captions whose numbers disagree with their own tables
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(vol1): frameworks tables that promise columns they do not contain
  book/quarto/contents/vol1/frameworks/frameworks.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(vol1): ml_ops captions that contradict their own figures and tables
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(vol1): correct two errors I introduced in the appendix_assumptions opening
  book/quarto/contents/vol1/backmatter/appendix_assumptions.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Remove AI session handoff artifacts from the public repo
  .gitignore
  AUDIT_INTEGRATION_TASKS.md
  CLAUDE_RESUME_FULL_AUDIT.md
  book/tools/audit/editorial_rules_narrative_todo.md
  interviews/vault-cli/docs/CHAIN_ROADMAP.md
  interviews/vault-cli/docs/CORPUS_HARDENING_PLAN.md
  interviews/vault-cli/docs/PHASE_4_HANDOFF.md
  interviews/vault-cli/docs/PHASE_6_HANDOFF.md
  interviews/vault-cli/docs/RELEASE_AUDIT_PLAN.md
  labs/LAB_IMPLEMENTATION_NOTES.md
Due: none

fix(vol1): correct an unsupported margin caption in ml_workflow
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix: give each volume its own callout conventions table
  book/quarto/contents/vol2/frontmatter/_conventions.qmd
  book/quarto/contents/vol2/frontmatter/about.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

docs(vol1): tighten the AI assistance note
  book/quarto/contents/vol1/frontmatter/ai_use.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

docs(vol1): trim front-matter and drop the tool name from chapter prose
  book/quarto/contents/vol1/backmatter/appendix_assumptions.qmd
  book/quarto/contents/vol1/frontmatter/about.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(vol1): expand three acronyms on first use and degeneralize a table row
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

docs(vol1): describe the course halves as ML systems, not ML
  book/quarto/contents/vol1/frontmatter/about.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(vol1): stop appendix references from deferring a term as they define it
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(vol1): ground five terms a first-time reader could not resolve
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix: use one incident-callout convention across both volumes
  book/quarto/contents/vol1/frontmatter/_conventions.qmd
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/quarto/contents/vol2/frontmatter/_conventions.qmd
  book/quarto/contents/vol2/frontmatter/about.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(vol1): stop the PDF from rendering the dedication twice
  book/quarto/config/_quarto-pdf-vol1.yml
Due: none

chore(vol1): drop the explanatory comment block from the PDF config
  book/quarto/config/_quarto-pdf-vol1.yml
Due: none

quarto(vol1): apply 13-chapter surgical clarity edits for student comprehension
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/model_compression/model_compression.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

quarto(vol1): refine meta-chatter and PR noise while preserving real-world anchors
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

quarto(vol1): revert TikZ block changes per user directive
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

frontmatter: polish author note thesis, preface physics scaling thesis, and notation underbraces
  book/quarto/contents/vol1/frontmatter/_notation_body.qmd
  book/quarto/contents/vol1/frontmatter/about.qmd
  book/quarto/contents/vol1/frontmatter/author_note.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

ch01(intro): frame GPT-3 timeline milestone around 175B parameter compute scale
  book/quarto/contents/vol1/introduction/introduction.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

ch01(intro): eliminate sentence-level phrase echo in AlexNet GPU memory split
  book/quarto/contents/vol1/introduction/introduction.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

ch01(intro): smooth zettaFLOP definition and dataset storage scaling
  book/quarto/contents/vol1/introduction/introduction.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

ch01(intro): complete student-perspective clarity and pedagogical flow pass
  book/quarto/contents/vol1/introduction/introduction.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

vol1: complete student-perspective clarity and pedagogical flow pass for ch02, ch03, and ch04
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

ch06(data_engineering): complete student-perspective clarity and pedagogical flow pass
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

ch10(model_compression): complete student-perspective clarity and pedagogical flow pass
  book/quarto/contents/vol1/model_compression/model_compression.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

vol1: surgical content-only clarity, typo, math notation, and deduplication pass across ch10-ch13
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/model_compression/model_compression.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

vol1 & vol2: surgical content-only clarity, typo, punctuation, and math notation pass
  book/quarto/contents/vol1/backmatter/appendix_algorithm.qmd
  book/quarto/contents/vol2/backmatter/appendix_assumptions.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

refine clarity and math scaffolding across volume 2 and backmatter appendices
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol2/backmatter/appendix_communication.qmd
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix relu_intensity_str LEGO integration and tbl-dam-scorecard column widths
  book/quarto/contents/vol1/backmatter/appendix_dam.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

adopt unheaded orientation paragraph in appendix_reliability.qmd
  book/quarto/contents/vol2/backmatter/appendix_reliability.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

remove meta-narration sentence from vol2 introduction Purpose section
  book/quarto/contents/vol2/introduction/introduction.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

remove redundant section landing paragraph in security_privacy.qmd
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

adopt unheaded orientation in appendix_fleet and fix callout bullets in distributed_training
  book/quarto/contents/vol2/backmatter/appendix_fleet.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix math notation and remove parenthetical duplication in edge_intelligence.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Path conditions:
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-fix-list-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-verify-section-ids: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-check-references: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unclosed-divs: any of: ^book/quarto/contents/.*\.qmd$
  book-check-four-colon-space: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-completeness: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-check-grid-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-prettify-pipe-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-check-render-patterns: any of: ^book/quarto/contents/.*\.qmd$
  book-check-python-echo: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-dropcap: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-validate-inline: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-test-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-index-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-check-heading-levels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-words: any of: ^book/quarto/contents/.*\.qmd$
  book-check-percent-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unit-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-binary-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-contractions: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unblended-prose: any of: ^book/quarto/contents/.*\.qmd$
  book-check-times-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
