Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines, validate-images

Path conditions:
  check-section-ids: any of: ^book/contents/.*\.qmd$
  header-inline-check: any of: ^book/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/contents/.*\.qmd$
  collapse-extra-blank-lines: any of: ^book/contents/.*\.qmd$
  validate-images: any of: ^book/contents/core.*\.(png|jpg|jpeg|gif)$

feat: organize PDF in assets folder for better structure
  .github/workflows/publish-live.yml
  .github/workflows/quarto-build.yml
  netlify.toml
Due: none

Enhance UI styling and fix navigation issues
  book/assets/styles/style.scss
  book/config/_quarto-html.yml
Due: none

Clean up redundant table styling classes
  book/contents/core/ai_for_good/ai_for_good.qmd
  book/contents/core/benchmarking/benchmarking.qmd
  book/contents/core/data_engineering/data_engineering.qmd
  book/contents/core/dl_primer/dl_primer.qmd
  book/contents/core/efficient_ai/efficient_ai.qmd
  book/contents/core/frameworks/frameworks.qmd
  book/contents/core/hw_acceleration/hw_acceleration.qmd
  book/contents/core/ondevice_learning/ondevice_learning.qmd
  book/contents/core/ops/ops.qmd
  book/contents/core/optimizations/optimizations.qmd
  book/contents/core/privacy_security/privacy_security.qmd
  book/contents/core/responsible_ai/responsible_ai.qmd
  book/contents/core/robust_ai/robust_ai.qmd
  book/contents/core/sustainable_ai/sustainable_ai.qmd
  book/contents/core/training/training.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Improve table formatting and presentation
  book/contents/core/dnn_architectures/dnn_architectures.qmd
  book/contents/core/frameworks/frameworks.qmd
  book/contents/core/ml_systems/ml_systems.qmd
  book/contents/labs/kits.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Enable full PDF book build
  book/config/_quarto-pdf.yml
Due: none

Clean up changelog date formatting
  CHANGELOG.md
Due: none

Update frameworks chapter content
  book/contents/core/frameworks/frameworks.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Update changelog maintenance script
  tools/scripts/maintenance/update_changelog.py
Due: none

Remove emerging_topics.qmd references from all yml config files
  book/config/_quarto-epub.yml
  book/config/_quarto-html.yml
  book/config/_quarto-pdf.yml
Due: none

Restructures and updates textbook content
  CHANGELOG.md
  tools/scripts/maintenance/update_changelog.py
Due: none

feat: add specific commit hash control to Publish Live workflow
  .github/workflows/publish-live.yml
Due: none

refactor: update Publish Live workflow for academic textbook publishing
  .github/workflows/publish-live.yml
Due: none

Improve navigation and update section titles
  book/config/_quarto-html.yml
  book/part_summaries.yml
Due: none

fix: correct YAML indentation in publish-live workflow
  .github/workflows/publish-live.yml
Due: none

fix: add missing PDF redirects to Netlify configurations
  book/_redirects
  book/netlify.toml
Due: none

Fix image format validation and organization
  .pre-commit-config.yaml
  book/_quarto.yml
  book/contents/core/frameworks/frameworks.qmd
  book/contents/core/frameworks/images/jpeg/onnx_new.jpg
  book/contents/labs/seeed/xiao_esp32s3/image_classification/image_classification.qmd
  book/contents/labs/seeed/xiao_esp32s3/image_classification/images/jpeg/inf_banana.jpg
  book/contents/labs/seeed/xiao_esp32s3/motion_classification/images/jpeg/anomaly.jpg
  book/contents/labs/seeed/xiao_esp32s3/motion_classification/images/png/lib.png
  book/contents/labs/seeed/xiao_esp32s3/motion_classification/images/png/model.png
  book/contents/labs/seeed/xiao_esp32s3/motion_classification/motion_classification.qmd
  book/contents/labs/seeed/xiao_esp32s3/object_detection/images/png/monitor.png
  book/contents/labs/seeed/xiao_esp32s3/object_detection/object_detection.qmd
  book/contents/labs/seeed/xiao_esp32s3/setup/images/jpeg/antenna.jpg
  book/contents/labs/seeed/xiao_esp32s3/setup/images/jpeg/heat-sink.jpg
  book/contents/labs/seeed/xiao_esp32s3/setup/images/jpeg/hello_world.jpg
  book/contents/labs/seeed/xiao_esp32s3/setup/images/jpeg/sink1.jpg
  book/contents/labs/seeed/xiao_esp32s3/setup/setup.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines, validate-images

Fix spelling error: 'effiicent' to 'efficient' in AI Frameworks Purpose section
  book/contents/core/frameworks/frameworks.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Update TOC part formatting and add QTDublinIrish font
  book/QTDublinIrish.otf
  config/tex/header-includes.tex
Due: none

remove font file
  book/QTDublinIrish.otf
Due: none

Add type and numbered fields to part summaries with auto-generated numbering
  book/part_summaries.yml
  config/lua/inject-partsummary.lua
Due: none

Rename inject-partsummary.lua to inject-parts.lua and update references
  book/config/_quarto-html.yml
  book/config/_quarto-pdf.yml
  config/lua/inject-parts.lua
Due: none

Update lab files to use \lab* command instead of \part*
  book/contents/labs/arduino/nicla_vision/motion_classification/motion_classification.qmd
  book/contents/labs/ide_setup.qmd
  book/contents/labs/seeed/grove_vision_ai_v2/object_detection/object_detection.qmd
  book/contents/labs/seeed/xiao_esp32s3/motion_classification/motion_classification.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Revert to using \part*{key:value} in all QMD files - let Lua filter handle rendering
  book/contents/labs/arduino/nicla_vision/motion_classification/motion_classification.qmd
  book/contents/labs/ide_setup.qmd
  book/contents/labs/seeed/grove_vision_ai_v2/object_detection/object_detection.qmd
  book/contents/labs/seeed/xiao_esp32s3/motion_classification/motion_classification.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Simplify to only use \part and \part* commands - remove \lab commands
  config/lua/inject-parts.lua
Due: none

Standardize all QMD files to use \part{key:value} - let YAML numbered field control rendering
  book/contents/core/ai_for_good/ai_for_good.qmd
  book/contents/core/benchmarking/benchmarking.qmd
  book/contents/core/conclusion/conclusion.qmd
  book/contents/core/dnn_architectures/dnn_architectures.qmd
  book/contents/core/robust_ai/robust_ai.qmd
  book/contents/core/training/training.qmd
  book/contents/frontmatter/socratiq/socratiq.qmd
  book/contents/labs/arduino/nicla_vision/motion_classification/motion_classification.qmd
  book/contents/labs/ide_setup.qmd
  book/contents/labs/seeed/grove_vision_ai_v2/object_detection/object_detection.qmd
  book/contents/labs/seeed/xiao_esp32s3/motion_classification/motion_classification.qmd
  book/index.qmd
  config/lua/inject-parts.lua
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Add division field to YAML structure - follows standard book hierarchy
  book/part_summaries.yml
Due: none

Add Main Content division between frontmatter and foundations
  book/contents/frontmatter/socratiq/socratiq.qmd
  book/part_summaries.yml
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Add backmatter division for references and supplementary materials
  book/part_summaries.yml
Due: none

Add backmatter division before references in DSP spectral features lab
  book/contents/labs/shared/dsp_spectral_features_block/dsp_spectral_features_block.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Add \division and \lab commands with distinct visual styling
  config/lua/inject-parts.lua
  config/tex/header-includes.tex
Due: none

Update lab styling with distinct visual treatment and workshop theme
  config/tex/header-includes.tex
Due: none

Fix part styling by adding \numberedpart command for proper Roman numeral layout
  book/QTDublinIrish.otf
  config/lua/inject-parts.lua
  config/tex/header-includes.tex
Due: none

Remove descriptions from divisions - they are just organizational markers
  config/lua/inject-parts.lua
Due: none

Fix \numberedpart command to properly increment part counter and display Roman numerals
  config/tex/header-includes.tex
Due: none

Update subtitles on vlm.qmd
  book/contents/labs/raspi/vlm/vlm.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Complete part and division styling system - Roman numerals for numbered parts, centered divisions with proper page breaks
  config/tex/header-includes.tex
Due: none

Fix part styling to match dev branch - use simple logic for numbered vs unnumbered parts with correct Roman numeral display
  book/config/_quarto-pdf.yml.fast-build-backup
  config/lua/inject-parts.lua
  config/tex/header-includes.tex
Due: none

Add comprehensive documentation to part styling system - explain LaTeX commands and Lua filter routing logic
  book/config/_quarto-pdf.yml
  book/config/_quarto-pdf.yml.fast-build-backup
  config/lua/inject-parts.lua
  config/tex/header-includes.tex
Due: none

Make labs use division styling for consistent centered text layout
  config/lua/inject-parts.lua
Due: none

Route lab platforms to division styling
  config/lua/inject-parts.lua
Due: none
