Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$

fix: add overview text for sections missing introductions
  footnote_analysis_report.md
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

refactor: comprehensive refinement of all Purpose sections for academic consistency
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

refine: improve clarity of Purpose section questions
  .claude/agents/stylist.md
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

style: final academic refinement of all Purpose sections
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

improve: enhance pre-commit hook label checker with better error reporting
  tools/scripts/content/check_unreferenced_labels.py
Due: none

Refines phrasing for core concept clarity
  quarto/contents/core/ops/ops.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix: resolve all footnote duplicates and unused references
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Removes redundant footnotes
  quarto/contents/core/ml_systems/ml_systems.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

assets: update definition callout icons
  quarto/assets/images/icons/callouts/icon_callout-definition.pdf
  quarto/assets/images/icons/callouts/icon_callout-definition.png
Due: none

config: update Quarto build configurations
  quarto/_quarto.yml
  quarto/config/_quarto-pdf.yml
Due: yamllint

content: update chapter cross-references
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

chore: add quarto config backup to gitignore
  .gitignore
Due: none

chore: add lab build artifacts and swap files to gitignore
  .gitignore
Due: none

Removes redundant configuration link
  quarto/_quarto.yml
Due: yamllint

tools: add script for reorganizing footnotes in chapters
  tools/scripts/content/reorganize_footnotes.py
Due: none

feat(content): add unified footnote cleanup tool with precommit integration
  .pre-commit-config.yaml
  quarto/_quarto.yml
  quarto/contents/core/benchmarking/benchmarking.qmd.bak
  quarto/contents/core/introduction/introduction.qmd.bak
  quarto/contents/core/responsible_ai/responsible_ai.qmd.bak
  quarto/contents/core/robust_ai/robust_ai.qmd.bak
  tools/scripts/content/footnote_cleanup.py
  tools/scripts/content/reorganize_footnotes.py
Due: yamllint

feat(content): safe footnote reorganization with verification system
  quarto/contents/core/ai_for_good/ai_for_good.qmd.bak
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd.bak
  quarto/contents/core/data_engineering/data_engineering.qmd.bak
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd.bak
  quarto/contents/core/efficient_ai/efficient_ai.qmd.bak
  quarto/contents/core/frameworks/frameworks.qmd.bak
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/introduction/introduction.qmd.bak
  quarto/contents/core/ml_systems/ml_systems.qmd.bak
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd.bak
  quarto/contents/core/ops/ops.qmd.bak
  quarto/contents/core/optimizations/optimizations.qmd.bak
  quarto/contents/core/privacy_security/privacy_security.qmd.bak
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd.bak
  quarto/contents/core/training/training.qmd.bak
  tools/scripts/content/footnote_cleanup.py
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

cleanup: remove backup files from repository
  quarto/contents/core/ai_for_good/ai_for_good.qmd.bak
  quarto/contents/core/benchmarking/benchmarking.qmd.bak
  quarto/contents/core/data_engineering/data_engineering.qmd.bak
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd.bak
  quarto/contents/core/efficient_ai/efficient_ai.qmd.bak
  quarto/contents/core/frameworks/frameworks.qmd.bak
  quarto/contents/core/introduction/introduction.qmd.bak
  quarto/contents/core/ml_systems/ml_systems.qmd.bak
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd.bak
  quarto/contents/core/ops/ops.qmd.bak
  quarto/contents/core/optimizations/optimizations.qmd.bak
  quarto/contents/core/privacy_security/privacy_security.qmd.bak
  quarto/contents/core/responsible_ai/responsible_ai.qmd.bak
  quarto/contents/core/robust_ai/robust_ai.qmd.bak
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd.bak
  quarto/contents/core/training/training.qmd.bak
Due: none

chore: add backup files to .gitignore
  .gitignore
Due: none

Refactors callout styles and configurations
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/custom-numbered-blocks.lua
  quarto/config/_quarto-epub.yml
  quarto/config/_quarto-html.yml
  quarto/config/_quarto-pdf.yml
Due: yamllint

feat(workspace): add MLSysBook purple theme configuration
  .vscode/settings.json
Due: none

fix(gitignore): allow workspace settings.json for theme configuration
  .gitignore
Due: none

feat: implement AutoQuiz optimization system
  tools/quiz_system/EXPERIMENT_DESIGN.md
  tools/quiz_system/OPTIMIZATION_SUMMARY.md
  tools/quiz_system/RESEARCH_PLAN.md
  tools/quiz_system/analyze_current_quizzes.py
  tools/quiz_system/autoquiz.py
  tools/quiz_system/autoquiz_optimizer.py
  tools/quiz_system/core/quiz_generator.py
  tools/quiz_system/knowledge_map.py
  tools/quiz_system/run_experiments.py
  tools/quiz_system/run_optimization.sh
Due: none

feat: complete quiz optimization with measurable improvements
  tools/quiz_system/FINAL_OPTIMIZATION_REPORT.md
  tools/quiz_system/apply_optimizations.py
  tools/quiz_system/generate_optimized.py
  tools/quiz_system/optimize_quizzes.py
  tools/scripts/genai/quizzes_original.py
Due: none

Add new Tikz figures in chapter 15
  quarto/contents/core/robust_ai/images/png/adversarial_attack_detection_new.png
  quarto/contents/core/robust_ai/images/png/adversarial_googlenet_new.png
  quarto/contents/core/robust_ai/images/png/data_augmentation_new.png
  quarto/contents/core/robust_ai/images/png/dirty_label_example_new.png
  quarto/contents/core/robust_ai/images/png/gradient_attack_new.png
  quarto/contents/core/robust_ai/images/png/hardware_errors_new.png
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references

Adds Python3 execution rule.
  CLAUDE.md
Due: none

feat: implement three-phase quiz generation pipeline
  tools/scripts/genai/quizzes.py
Due: none

feat: enhance CALC question generation in quiz system
  tools/scripts/genai/quizzes.py
Due: none

feat: implement intelligent section classification for quiz generation
  tools/scripts/genai/quizzes.py
Due: none

refactor: improve classification system to provide hints without prescription
  tools/scripts/genai/quizzes.py
Due: none

feat: add Ollama support and LLM-based section classification
  tools/scripts/genai/quizzes.py
Due: none

refactor: centralize prompts and improve code organization
  tools/scripts/genai/quizzes.py
Due: none

docs: add comprehensive section headers and improve code organization
  tools/scripts/genai/quizzes.py
Due: none

fix: improve Ollama support and schema validation for quiz generation
  tools/scripts/genai/quizzes.py
Due: none

Removes unused files.
  quarto/contents/core/introduction/VERSION_COMPARISON.md
  quarto/contents/core/privacy_security/.claude/footnote_context.md
Due: none

refactor: remove duplicate generate_for_directory function
  tools/scripts/genai/quizzes.py
Due: none

refactor: remove duplicate run_clean_mode_directory and run_verify_mode_directory functions
  tools/scripts/genai/quizzes.py
Due: none

refactor: remove unused placeholder function run_verify_directory
  tools/scripts/genai/quizzes.py
Due: none

refactor: move QUIZ_JSON_SUFFIX constant to proper location
  tools/scripts/genai/quizzes.py
Due: none
