Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs, validate-json, yamllint

collapse-extra-blank-lines:
  name: '[Book] Collapse extra blank lines'
  entry: python book/tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

format-python-in-qmd:
  name: '[Book] Format Python code blocks (Black, 70 chars)'
  entry: python book/tools/scripts/content/format_python_in_qmd.py
  language: python
  additional_dependencies:
  - black>=23.0.0
  pass_filenames: true

check-list-formatting:
  name: '[Book] Fix markdown list formatting'
  entry: python book/tools/scripts/utilities/check_list_formatting.py --fix
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: Ensure bullet lists are preceded by blank lines for proper markdown rendering

check-duplicate-labels:
  name: '[Book] Check for duplicate labels'
  entry: python book/tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - book/quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

validate-citations:
  name: '[Book] Validate citation references in .qmd files'
  entry: python book/tools/scripts/content/validate_citations.py --quiet
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: Ensure all @key citations have corresponding entries in .bib files

validate-footnotes:
  name: '[Book] Validate footnote references and definitions'
  entry: python book/tools/scripts/content/footnote_cleanup.py -d book/quarto/contents/ --validate
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

check-forbidden-footnotes:
  name: '[Book] Check for footnotes in tables/captions/divs'
  entry: python book/tools/scripts/content/check_forbidden_footnotes.py -d book/quarto/contents/
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: '[Book] Detect inline-style Markdown headers'
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: '[Book] Check for forbidden words'
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

check-purpose-unnumbered:
  name: '[Book] Ensure Purpose sections are unnumbered'
  entry: bash -c 'grep -n "^## Purpose" "$@" | grep -v "\.unnumbered" && exit 1 || exit 0' --
  language: system
  pass_filenames: true
  description: 'Ensure all ## Purpose sections have {.unnumbered} attribute'

check-table-formatting:
  name: '[Book] Check table formatting (alignment, bolding, spacing)'
  entry: python book/tools/scripts/content/format_tables.py --check -d quarto/contents/
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all tables have proper bolding, alignment, and spacing

feat(ci): comprehensive CI/CD testing infrastructure
  .github/workflows/tinytorch-ci.yml
  .github/workflows/tinytorch-install-test.yml
  .github/workflows/tinytorch-publish-live.yml
  tinytorch/scripts/test-fresh-install.sh
Due: yamllint

[Doc]: fixing some typos (#1133)
  .github/TINYTORCH_ISSUE_TEMPLATE/module_architecture_improvement.md
  book/quarto/_extensions/mlsysbook-ext/titlepage/_author-affiliation-themes.tex
  kits/_extensions/mlsysbook-ext/titlepage/_author-affiliation-themes.tex
  tinytorch/INSTRUCTOR.md
  tinytorch/src/02_activations/ABOUT.md
  tinytorch/src/05_dataloader/ABOUT.md
  tinytorch/src/11_embeddings/ABOUT.md
  tinytorch/src/17_acceleration/17_acceleration.py
  tinytorch/src/18_memoization/ABOUT.md
  tinytorch/tito/commands/milestone.py
Due: none

fix(ci): make release run after all stages pass, not standalone
  .github/workflows/tinytorch-ci.yml
Due: yamllint

fix: broken chapter links in README (#1132)
  README.md
Due: none

feat(workflow): let LLM parse entire all-contributors comment
  .github/workflows/all-contributors-add.yml
Due: yamllint

docs(contributors): add @BunningsWarehouseOfficial for doc
  .all-contributorsrc
  book/quarto/contents/frontmatter/acknowledgements/acknowledgements.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(workflow): trigger all-contributors on edited comments too
  .github/workflows/all-contributors-add.yml
Due: yamllint

fix(workflow): resolve merge conflict in generate_main_readme.py
  .github/workflows/contributors/generate_main_readme.py
Due: none

feat(ci): add verbose per-module output for inline tests
  tinytorch/tito/commands/dev/test.py
Due: none

feat(ci): add verbose streaming output for all pytest-based tests
  tinytorch/tito/commands/dev/test.py
Due: none

feat(tinytorch): single source of truth for version management
  tinytorch/README.md
  tinytorch/scripts/release.sh
  tinytorch/site/extra/install.sh
Due: none

fix(ci): proper exit codes and error counting in test output
  tinytorch/bin/tito
  tinytorch/tito/commands/dev/test.py
Due: none

fix(ci): use 'module complete --all' to fully build package before tests
  tinytorch/tito/commands/dev/test.py
Due: none

feat: add 'tito system reset' command for pristine state reset
  tinytorch/tito/commands/system/reset.py
  tinytorch/tito/commands/system/system.py
Due: none

fix(ci): inline tests must export notebooks before module complete
  tinytorch/tito/commands/dev/test.py
Due: none

fix(ci): use dev export --all for package builds instead of module complete
  tinytorch/tito/commands/dev/test.py
Due: none

feat(cli): implement tito module complete --all
  tinytorch/tito/commands/module/workflow.py
Due: none

fix(tests): add PYTHONPATH to inline test subprocess
  tinytorch/tito/commands/module/workflow.py
Due: none

fix(tests): correct import paths in milestone learning verification
  tinytorch/tests/milestones/test_learning_verification.py
Due: none

fix(tests): add PYTHONPATH to pytest subprocess for CI imports
  tinytorch/tito/commands/dev/test.py
Due: none

debug(tests): show import errors in CI output for debugging
  tinytorch/tito/commands/dev/test.py
Due: none

fix: Use callout-definition for Laws and Invariants in principles chapters
  book/quarto/contents/vol1/build_principles.qmd
  book/quarto/contents/vol1/deploy_principles.qmd
  book/quarto/contents/vol1/foundations_principles.qmd
  book/quarto/contents/vol1/optimize_principles.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: Correct callout types for worked examples and Back-of-the-Napkin calculations
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor: Relocate Back-of-the-Napkin calculations from Fallacies sections
  book/quarto/contents/vol1/data_efficiency/data_efficiency.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

feat: Add Iron Law of ML Systems as unifying quantitative framework
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: Remove incorrect callout-lighthouse from Hardware Selection Checklist
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(tests): resolve import issues and test naming collisions
  tinytorch/pyproject.toml
  tinytorch/tests/01_tensor/test_01_tensor_progressive.py
  tinytorch/tests/02_activations/test_02_activations_progressive.py
  tinytorch/tests/03_layers/test_03_layers_progressive.py
  tinytorch/tests/04_losses/test_04_losses_progressive.py
  tinytorch/tests/05_dataloader/test_05_dataloader_progressive.py
  tinytorch/tests/06_autograd/test_06_autograd_progressive.py
  tinytorch/tests/06_autograd/test_autograd_gradient_flow.py
  tinytorch/tests/07_optimizers/test_07_optimizers_progressive.py
  tinytorch/tests/08_training/test_08_training_progressive.py
  tinytorch/tests/09_convolutions/test_09_convolutions_progressive.py
  tinytorch/tests/10_tokenization/test_10_tokenization_progressive.py
  tinytorch/tests/11_embeddings/test_11_embeddings_progressive.py
  tinytorch/tests/11_embeddings/test_embedding_gradient_flow.py
  tinytorch/tests/11_embeddings/test_embeddings_core.py
  tinytorch/tests/12_attention/test_12_attention_progressive.py
  tinytorch/tests/13_transformers/test_13_transformers_progressive.py
  tinytorch/tests/14_profiling/test_14_profiling_progressive.py
  tinytorch/tests/18_memoization/test_18_memoization_progressive.py
  tinytorch/tests/checkpoints/checkpoint_08_differentiation.py
  tinytorch/tests/checkpoints/checkpoint_09_optimization.py
  tinytorch/tests/checkpoints/checkpoint_10_training.py
  tinytorch/tests/checkpoints/checkpoint_11_regularization.py
  tinytorch/tests/diagnostic/student_helpers.py
  tinytorch/tests/integration/integration_tests.py
  tinytorch/tests/integration/test_integration_gradient_flow.py
  tinytorch/tests/integration/test_layers_integration.py
  tinytorch/tests/integration/test_module_05_dense.py
  tinytorch/tests/integration/test_module_integration.py
  tinytorch/tests/integration_tests.py
  tinytorch/tests/module_template/test_module_template_integration.py
  tinytorch/tests/performance/performance_test_framework.py
  tinytorch/tests/system/test_forward_passes.py
  tinytorch/tests/system/test_gradients.py
  tinytorch/tests/system/test_integration.py
  tinytorch/tests/system/test_milestones.py
  tinytorch/tests/system/test_performance.py
  tinytorch/tests/system/test_shapes.py
  tinytorch/tests/system/test_training_capabilities.py
  tinytorch/tests/test_gradient_flow_overall.py
Due: none

feat: Add consistent callout definitions across all YAML configs
  book/quarto/config/_quarto-epub-vol1.yml
  book/quarto/config/_quarto-epub-vol2.yml
  book/quarto/config/_quarto-epub.yml
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-html-vol2.yml
  book/quarto/config/_quarto-html.yml
  book/quarto/config/_quarto-pdf-vol2.yml
Due: yamllint

feat: Add callout-theorem styling to foldbox.css
  book/quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.css
Due: none

fix: Correct callout types and improve chapter content flow
  book/quarto/contents/vol1/data_efficiency/data_efficiency.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/serving/serving.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

feat: Add consistent callout definitions to _quarto-pdf.yml
  book/quarto/config/_quarto-pdf.yml
Due: yamllint

fix: Update Iron Law reference in responsible_engr chapter
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

feat: Add missing callout icons and PDF conversions
  book/quarto/assets/images/icons/callouts/icon_callout_chapter_forward.png
  book/quarto/assets/images/icons/callouts/icon_callout_chapter_forward.svg
  book/quarto/assets/images/icons/callouts/icon_callout_chapter_recall.png
  book/quarto/assets/images/icons/callouts/icon_callout_chapter_recall.svg
  book/quarto/assets/images/icons/callouts/icon_callout_code.png
  book/quarto/assets/images/icons/callouts/icon_callout_code.svg
  book/quarto/assets/images/icons/callouts/icon_callout_theorem.png
  book/quarto/assets/images/icons/callouts/icon_callout_theorem.svg
Due: prevent-svg-files, sanitize-svgs

feat: Add PDF versions of callout icons for LaTeX rendering
  book/quarto/assets/images/icons/callouts/icon_callout_chapter_forward.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_chapter_recall.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_code.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_lighthouse.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_notebook.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_perspective.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_theorem.pdf
Due: none

fix: Redesign theorem icon with proof lines and Q.E.D. square
  book/quarto/assets/images/icons/callouts/icon_callout_theorem.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_theorem.png
  book/quarto/assets/images/icons/callouts/icon_callout_theorem.svg
Due: prevent-svg-files, sanitize-svgs

fix: Use balance scale icon for theorem callout
  book/quarto/assets/images/icons/callouts/icon_callout_theorem.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_theorem.png
  book/quarto/assets/images/icons/callouts/icon_callout_theorem.svg
Due: prevent-svg-files, sanitize-svgs

refactor: Restructure Introduction chapter for improved narrative flow
  book/quarto/contents/vol1/introduction/introduction.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

Improve narrative flow transitions in data engineering chapter
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

Improve narrative flow in ML Systems chapter
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

Polish workflow chapter: improve transitions and narrative flow
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

Path conditions:
  collapse-extra-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  format-python-in-qmd: any of: ^book/quarto/contents/.*\.qmd$
  check-list-formatting: any of: ^book/.*\.qmd$
  check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  header-inline-check: any of: ^book/quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/quarto/contents/.*\.qmd$
  check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  prevent-svg-files: any of: ^book/.*\.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: ^book/.*\.svg$
  validate-json: any of: \.json$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

