Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, validate-github-workflows, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  validate-github-workflows: any of: ^\.github/workflows/.*\.(yml|yaml)$
  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$

fix(ml-systems): standardize ML paradigm figure organization and fix content categorization
  quarto/contents/core/ml_systems/ml_systems.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

improve(ml-systems): enhance writing clarity and remove dashes/hyphens
  quarto/contents/core/ml_systems/ml_systems.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Elaborates on adversarial example detection
  quarto/contents/core/robust_ai/robust_ai.bib
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Clarifies dropout usage for uncertainty estimation
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixes typo in robust AI explanation
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(scripts): improve SVG cleanup script with Quarto integration and better error handling
  quarto/scripts/clean-svgs.sh
Due: none

docs(workflow): add no-fast-forward policy for dev branch merges
  .cursorrules
Due: none

Clarifies dropout's role in uncertainty estimation.
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Updates labels for data engineering diagram
  quarto/contents/core/data_engineering/data_engineering.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Configures diagrams and disables filters for epub
  quarto/config/_quarto-epub.yml
Due: yamllint

Replaces perl with tr for cleaning SVGs
  quarto/scripts/clean-svgs.sh
Due: none

Refines data governance figure for clarity
  quarto/contents/core/data_engineering/data_engineering.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Filters frontmatter includes for single chapters
  binder
Due: none

feat(epub): align CSS styles with Harvard Crimson website theme
  quarto/assets/styles/epub.css
Due: none

refactor(styles): move inline styles from index.qmd to style.scss
  quarto/assets/styles/style.scss
  quarto/index.qmd
Due: none

feat(index): add multi-format support for abstract and book info
  quarto/index.qmd
Due: none

Updates SocratiQ visibility conditions
  quarto/contents/frontmatter/socratiq/socratiq.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Updates changelog visibility by format
  quarto/contents/frontmatter/changelog/changelog.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Removes unnecessary repo-branch setting
  quarto/config/_quarto-html.yml
  quarto/config/_quarto-pdf.yml
Due: yamllint

fix(epub): improve image display and caption alignment
  quarto/assets/styles/epub.css
Due: none

feat(epub): enhance footnote styling and typography
  quarto/assets/styles/epub.css
Due: none

fix(epub): configure footnotes to display at document bottom
  quarto/config/_quarto-epub.yml
Due: yamllint

Enables hover effects and link citations in EPUB.
  quarto/config/_quarto-epub.yml
Due: yamllint

Adds whitespace for readability
  quarto/index.qmd
Due: none

Adds spacing to support section
  quarto/index.qmd
Due: none

Enables all content parts in epub config
  quarto/config/_quarto-epub.yml
Due: yamllint

Adds cover image for title.
  quarto/assets/images/covers/cover_image_title.png
Due: none

Adds support for building EPUB format
  .github/workflows/quarto-build-baremetal.yml
  .github/workflows/quarto-build-container.yml
Due: yamllint, validate-github-workflows

Adds EPUB generation and publishing
  .github/workflows/publish-live.yml
Due: yamllint, validate-github-workflows

feat(epub): improve code block spacing and center tables
  quarto/assets/styles/epub.css
Due: none

feat(html): add EPUB download button to navbar
  quarto/config/_quarto-html.yml
Due: yamllint

feat(routing): add EPUB download redirects and headers
  netlify.toml
  quarto/_redirects
Due: none

fix(workflows): resolve container build failures on scheduled runs
  .github/workflows/build-linux-container.yml
  .github/workflows/build-windows-container.yml
Due: yamllint, validate-github-workflows

fix(containers): resolve Docker build issues for both platforms
  .github/workflows/build-windows-container.yml
  docker/linux/dockerfile
Due: yamllint, validate-github-workflows

fix(dockerfile): correct phase numbering and R script execution order
  docker/linux/dockerfile
Due: none

fix(dockerfile): break down massive TeX Live RUN command into manageable steps
  docker/linux/dockerfile
Due: none

fix(dockerfile): further break down TeX Live installation and add missing tl_packages
  docker/linux/dockerfile
Due: none

feat(containers): optimize Linux buildx configuration for better caching
  .github/workflows/build-linux-container.yml
Due: yamllint, validate-github-workflows

feat(containers): comprehensive buildx optimization for production reliability
  .github/workflows/build-linux-container.yml
Due: yamllint, validate-github-workflows

fix(containers): resolve buildx deprecated parameter and container restart issues
  .github/workflows/build-linux-container.yml
Due: yamllint, validate-github-workflows
