Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs, validate-json, yamllint

collapse-extra-blank-lines:
  name: '[Book] Collapse extra blank lines'
  entry: python book/tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

format-python-in-qmd:
  name: '[Book] Format Python code blocks (Black, 70 chars)'
  entry: python book/tools/scripts/content/format_python_in_qmd.py
  language: python
  additional_dependencies:
  - black>=23.0.0
  pass_filenames: true

check-list-formatting:
  name: '[Book] Fix markdown list formatting'
  entry: python book/tools/scripts/utilities/check_list_formatting.py --fix
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: Ensure bullet lists are preceded by blank lines for proper markdown rendering

check-duplicate-labels:
  name: '[Book] Check for duplicate labels'
  entry: python book/tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - book/quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

validate-citations:
  name: '[Book] Validate citation references in .qmd files'
  entry: python book/tools/scripts/content/validate_citations.py --quiet
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: Ensure all @key citations have corresponding entries in .bib files

validate-footnotes:
  name: '[Book] Validate footnote references and definitions'
  entry: python book/tools/scripts/content/footnote_cleanup.py -d book/quarto/contents/ --validate
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

check-forbidden-footnotes:
  name: '[Book] Check for footnotes in tables/captions/divs'
  entry: python book/tools/scripts/content/check_forbidden_footnotes.py -d book/quarto/contents/
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: '[Book] Detect inline-style Markdown headers'
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: '[Book] Check for forbidden words'
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

check-purpose-unnumbered:
  name: '[Book] Ensure Purpose sections are unnumbered'
  entry: bash -c 'grep -n "^## Purpose" "$@" | grep -v "\.unnumbered" && exit 1 || exit 0' --
  language: system
  pass_filenames: true
  description: 'Ensure all ## Purpose sections have {.unnumbered} attribute'

check-table-formatting:
  name: '[Book] Check table formatting (alignment, bolding, spacing)'
  entry: python book/tools/scripts/content/format_tables.py --check -d quarto/contents/
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all tables have proper bolding, alignment, and spacing

refactor(vol1): finalize quantitative and structural polish
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

chore(vol2): commit remaining structural and framework updates
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/backmatter/appendix_a.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

chore(vol2): final narrative and structural alignment
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.bib
  book/quarto/contents/vol1/frameworks/frameworks.bib
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.bib
  book/quarto/contents/vol1/introduction/introduction.bib
  book/quarto/contents/vol1/ops/ops.bib
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.bib
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/backmatter/appendix_a.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.bib
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.bib
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.bib
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/cluster_networking.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.bib
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.bib
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.bib
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.bib
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.bib
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(vol2): resolve broken links, missing images, and critical unreferenced figures
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/infrastructure/images/png/cover_networking.png
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references

fix(vol2): ensure all pre-commit hooks pass
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/cluster_networking.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(tinytorch): fix integration tests and improve update command
  tinytorch/src/01_tensor/01_tensor.py
  tinytorch/src/07_optimizers/07_optimizers.py
  tinytorch/src/08_training/08_training.py
  tinytorch/tests/08_training/test_training_core.py
  tinytorch/tito/commands/module/workflow.py
  tinytorch/tito/commands/system/update.py
Due: none

style(tito): use Panel warnings consistently for destructive actions
  tinytorch/tito/commands/login.py
  tinytorch/tito/commands/module/reset.py
  tinytorch/tito/commands/package/reset.py
  tinytorch/tito/commands/setup.py
Due: none

fix(tito): rewrite update command to preserve student work
  tinytorch/tito/commands/system/update.py
Due: none

chore(tito): remove unused TestCommand and ExportCommand
  tinytorch/tito/commands/__init__.py
  tinytorch/tito/commands/export.py
  tinytorch/tito/commands/milestone.py
  tinytorch/tito/commands/test.py
Due: none

refactor(content): improve cross-reference integration across all chapters
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(content): migrate TikZ captions to fig-cap attribute
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/cluster_networking.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  book/tools/scripts/content/migrate_tikz_captions.py
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol2): add Fallacy/Pitfall labels to Distributed Training F&P section
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor: improve F&P sections to Patterson standard across 5 chapters
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor: improve F&P sections to Patterson standard (Batch 1: 5 chapters)
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

updating the manual email flow
  tinytorch/site/extra/community/dashboard.html
  tinytorch/site/extra/community/modules/auth.js
  tinytorch/site/extra/community/modules/guard.js
  tinytorch/site/extra/community/profile_setup.html
Due: none

refactor: upgrade Batch 2 F&P sections to Patterson standard (5 chapters)
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: correct factual errors in Batch 2 F&P sections
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(content): complete F&P sections to Patterson Standard across all chapters
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(tests): complete progressive disclosure audit and fix all modules
  tinytorch/tests/11_embeddings/test_progressive_integration.py
  tinytorch/tests/12_attention/test_attention_pipeline_integration.py
  tinytorch/tests/12_attention/test_progressive_integration.py
  tinytorch/tests/12_attention/test_tensor_attention_integration.py
  tinytorch/tests/13_transformers/test_progressive_integration.py
  tinytorch/tests/14_profiling/test_progressive_integration.py
  tinytorch/tests/18_memoization/test_progressive_integration.py
Due: none

fix(tests): enforce progressive disclosure in integration tests
  tinytorch/tests/05_dataloader/test_progressive_integration.py
  tinytorch/tests/06_autograd/test_progressive_integration.py
  tinytorch/tests/07_optimizers/test_progressive_integration.py
  tinytorch/tests/08_training/test_progressive_integration.py
  tinytorch/tests/09_convolutions/test_progressive_integration.py
Due: none

chore: remove unused scripts and documentation
  .github/TINYTORCH_RELEASE_PROCESS.md
  .github/scripts/gs_compress_pdf.py
  .github/tinytorch-scripts/check_checkpoints.py
  .github/tinytorch-scripts/check_learning_objectives.py
  .github/tinytorch-scripts/check_progressive_disclosure.py
  .github/tinytorch-scripts/validate_dependencies.py
  .github/tinytorch-scripts/validate_difficulty_ratings.py
  .github/tinytorch-scripts/validate_documentation.py
  .github/tinytorch-scripts/validate_educational_standards.py
  .github/tinytorch-scripts/validate_exports.py
  .github/tinytorch-scripts/validate_imports.py
  .github/tinytorch-scripts/validate_nbgrader.py
  .github/tinytorch-scripts/validate_systems_analysis.py
  .github/tinytorch-scripts/validate_testing_patterns.py
  .github/tinytorch-scripts/validate_time_estimates.py
  book/scripts/catalog_footnotes.py
  book/scripts/remove_footnotes.py
  book/tools/scripts/reorganize_scripts.py
  tinytorch/site/scripts/check_no_emojis.py
Due: none

refactor: complete remaining F&P sections and fix factual errors
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  tinytorch/src/01_tensor/01_tensor.py
  tinytorch/src/07_optimizers/07_optimizers.py
  tinytorch/src/17_acceleration/17_acceleration.py
  tinytorch/src/18_memoization/18_memoization.py
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(tinytorch): comprehensive module compliance fixes across 20 modules
  tinytorch/milestones/05_2017_transformer/01_vaswani_attention.py
  tinytorch/milestones/extras/01_baseline_profile.py
  tinytorch/milestones/extras/01_vaswani_generation.py
  tinytorch/milestones/extras/02_vaswani_dialogue.py
  tinytorch/milestones/extras/03_quickdemo.py
  tinytorch/src/05_dataloader/05_dataloader.py
  tinytorch/src/08_training/08_training.py
  tinytorch/src/10_tokenization/10_tokenization.py
  tinytorch/src/13_transformers/13_transformers.py
  tinytorch/src/19_benchmarking/19_benchmarking.py
  tinytorch/tests/13_transformers/test_transformer_gradient_flow.py
  tinytorch/tests/18_memoization/test_progressive_integration.py
  tinytorch/tests/milestones/test_learning_verification.py
  tinytorch/tests/regression/test_gradient_flow_fixes.py
  tinytorch/tests/regression/test_nlp_components_gradient_flow.py
  tinytorch/tinytorch/__init__.py
Due: none

fix(tinytorch): add TinyGPT alias for backward compatibility
  tinytorch/src/13_transformers/13_transformers.py
Due: none

refactor(tinytorch): rename GPT class to TinyGPT with backward compat
  tinytorch/src/13_transformers/13_transformers.py
  tinytorch/tinytorch/__init__.py
Due: none

fix(tinytorch): remove backward() stubs from Module 02 for progressive disclosure
  tinytorch/src/02_activations/02_activations.py
Due: none

refactor: eliminate content repetition in Vol 1 clusters
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  tinytorch/src/18_memoization/18_memoization.py
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(vol2): restructure Volume II into symmetric 4x4 design
  README.md
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/contents/parts/summaries.yml
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/context_notes.md
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/infrastructure/networking.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/optimization/images/png/cover_optimization.png
  book/quarto/contents/vol2/optimization/optimization.bib
  book/quarto/contents/vol2/optimization/optimization.qmd
  book/quarto/contents/vol2/orchestration/images/png/cover_orchestration.png
  book/quarto/contents/vol2/orchestration/orchestration.bib
  book/quarto/contents/vol2/orchestration/orchestration.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  book/tools/scripts/images/manage_images.py
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, yamllint

refactor(vol2): consolidate fragmented bibliography into unified vol2_references.bib
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/contents/vol2/ai_for_good/ai_for_good.bib
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/communication/communication.bib
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/conclusion/conclusion.bib
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.bib
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.bib
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.bib
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.bib
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.bib
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.bib
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/infrastructure/networking.qmd
  book/quarto/contents/vol2/introduction/introduction.bib
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.bib
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/optimization/optimization.bib
  book/quarto/contents/vol2/optimization/optimization.qmd
  book/quarto/contents/vol2/orchestration/orchestration.bib
  book/quarto/contents/vol2/orchestration/orchestration.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.bib
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.bib
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.bib
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.bib
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.bib
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  book/quarto/contents/vol2/vol2_references.bib
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, yamllint

refactor(vol1): consolidate fragmented bibliography into unified vol1_references.bib
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/contents/vol1/benchmarking/benchmarking.bib
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.bib
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.bib
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.bib
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.bib
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.bib
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.bib
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.bib
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.bib
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.bib
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.bib
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/optimizations.bib
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.bib
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.bib
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.bib
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/vol1_references.bib
  book/quarto/contents/vol1/workflow/workflow.bib
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, yamllint

refactor(bib): move consolidated bibliographies to backmatter
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/contents/vol1/backmatter/references.bib
  book/quarto/contents/vol2/backmatter/references.bib
Due: yamllint

Path conditions:
  collapse-extra-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  format-python-in-qmd: any of: ^book/quarto/contents/.*\.qmd$
  check-list-formatting: any of: ^book/.*\.qmd$
  check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  header-inline-check: any of: ^book/quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/quarto/contents/.*\.qmd$
  check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  prevent-svg-files: any of: ^book/.*\.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: ^book/.*\.svg$
  validate-json: any of: \.json$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

