Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

collapse-extra-blank-lines:
  name: Collapse extra blank lines
  entry: python tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

yamllint:
  name: Validate YAML files
  entry: yamllint
  language: system
  args:
  - --config-file=.yamllint
  description: Validate all YAML files with custom config

check-duplicate-labels:
  name: Check for duplicate labels
  entry: python tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: Detect inline-style Markdown headers
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: Check for forbidden words
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

validate-images:
  name: Validate image files
  entry: python tools/scripts/utilities/manage_images.py
  language: python
  additional_dependencies:
  - pillow
  - rich
  pass_filenames: true

validate-external-images:
  name: Check for external images in Quarto files
  entry: python tools/scripts/manage_external_images.py --validate quarto/contents/
  language: python
  additional_dependencies:
  - requests
  pass_filenames: false
  description: Ensure all images are local for build reliability

validate-image-references:
  name: Check that all image references exist on disk
  entry: python tools/scripts/validate_image_references.py -d quarto/contents/ --quiet
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all referenced images exist on disk

prevent-svg-files:
  name: Prevent manual SVG files from being committed
  ...

sanitize-svgs:
  name: Remove control chars from existing SVGs
  entry: bash -c 'perl -pi -e '\''s/[\x00-\x08\x0B\x0C\x0E-\x1F]//g'\'' "$@"' --
  language: system
  description: Clean up control characters in generated/existing SVG files

feat(infra): Fix Netlify bandwidth issue and update navbar
  netlify.toml
  quarto/config/_quarto-html.yml
Due: yamllint

fix: Update Netlify config to use redirects instead of proxying
  netlify.toml
Due: none

chore: Remove redirect folders (not needed with Netlify fix)
  quarto/changelog/index.html
  quarto/epub/index.html
  quarto/kits/index.html
  quarto/labs/index.html
  quarto/pdf/index.html
  quarto/tinytorch/index.html
Due: none

refactor(navbar): Reorder items for better UX
  quarto/config/_quarto-html.yml
Due: yamllint

feat(subscribe): Add embedded Buttondown newsletter signup page
  quarto/config/_quarto-html.yml
  quarto/subscribe.qmd
Due: yamllint

feat(subscribe): add elegant modal popup for newsletter subscription
  quarto/assets/scripts/subscribe-modal.js
  quarto/config/_quarto-html.yml
Due: yamllint

refactor(subscribe): remove standalone subscribe page
  quarto/subscribe.qmd
Due: none

fix(subscribe): improve modal UX
  quarto/assets/scripts/subscribe-modal.js
Due: none

fix(dev): change dev preview banner timestamp from UTC to EST
  tools/scripts/publish/modify_dev_announcement.py
Due: none

chore: remove deprecated build scripts directory
  docs/BUILD.md
  tools/scripts/build/README.md
  tools/scripts/build/generate_stats.py
  tools/scripts/build/standardize_sources.sh
Due: none

docs: streamline documentation and remove redundant files
  docs/BINDER.md
  docs/BUILD.md
  docs/DEVELOPMENT.md
  docs/MAINTENANCE_GUIDE.md
  docs/PUBLISH_LIVE_WORKFLOW.md
  docs/RELEASE_PROCESS.md
Due: none

docs: update README with accurate links and simplified workflow
  README.md
Due: none

fix(frameworks): clarify TensorFlow 1.x legacy code examples
  quarto/contents/core/frameworks/frameworks.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

docs(frontiers): update chapter with 2025 AI developments
  quarto/contents/core/frontiers/frontiers.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

docs(frontiers): update chapter with 2025 AI developments
  quarto/config/_quarto-html.yml
  quarto/contents/core/frontiers/frontiers.qmd
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

[Doc] removed all remaining 'teeths'
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

[Doc] removed all remaining 'teeths' (#1062)
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat(nav): reorder navbar and update announcements
  quarto/config/_quarto-html.yml
  quarto/config/announcement.yml
Due: yamllint

feat(readme): add Star History chart to Support section
  README.md
Due: none

style(readme): resize star history chart and add learner context
  README.md
Due: none

docs(readme): add star history chart with punchy narrative
  README.md
Due: none

style(subscribe): add emojis to role selection buttons
  quarto/assets/scripts/subscribe-modal.js
Due: none

style(subscribe): redesign modal with improved layout
  quarto/assets/scripts/subscribe-modal.js
Due: none

fix(darkmode): ensure consistent navbar icon colors
  quarto/assets/styles/dark-mode.scss
Due: none

style(navbar): show icons only on medium screens (769-1100px)
  quarto/assets/styles/style.scss
Due: none

[Doc] fixing incorrect sample code
  quarto/contents/labs/shared/dsp_spectral_features_block/dsp_spectral_features_block.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

[Doc] fixing incorrect sample code (#1063)
  quarto/contents/labs/shared/dsp_spectral_features_block/dsp_spectral_features_block.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

[Doc] removing duplicate on Moore's Law in glossary
  quarto/contents/backmatter/glossary/glossary.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

[Doc] Last 2 spotted typos in content
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

[Doc] removing duplicate on Moore's Law in glossary (#1064)
  quarto/contents/backmatter/glossary/glossary.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

[Doc] Last 2 spotted typos in content (#1065)
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

[Doc] typos in .py and CHANGELOG.md
  CHANGELOG.md
  cli/commands/maintenance.py
  tools/scripts/cross_refs/manage_cross_references.py
Due: none

[Doc] typos in .py and CHANGELOG.md (#1066)
  CHANGELOG.md
  cli/commands/maintenance.py
  tools/scripts/cross_refs/manage_cross_references.py
Due: none

[Doc] Hyperlink to non-existing file removed
  docs/BUILD.md
Due: none

[Doc] Hyperlink to non-existing file removed (#1067)
  docs/BUILD.md
Due: none

Update pre-commit hooks for book/ subdirectory
  .pre-commit-config.yaml
Due: yamllint

Update .gitignore for book/ subdirectory structure
  .gitignore
Due: none

Update GitHub workflows for book/ subdirectory
  .github/workflows/build-linux-container.yml
  .github/workflows/build-windows-container.yml
  .github/workflows/container-health-check.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/link-check.yml
  .github/workflows/publish-live.yml
  .github/workflows/quarto-build-baremetal.yml
  .github/workflows/quarto-build-container.yml
  .github/workflows/update-contributors.yml
Due: yamllint

Update CLI config to support book/ subdirectory
  book/cli/core/config.py
Due: none

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$
