Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs, validate-json, yamllint

collapse-extra-blank-lines:
  name: '[Book] Collapse extra blank lines'
  entry: python book/tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

format-python-in-qmd:
  name: '[Book] Format Python code blocks (Black, 70 chars)'
  entry: python book/tools/scripts/content/format_python_in_qmd.py
  language: python
  additional_dependencies:
  - black>=23.0.0
  pass_filenames: true

check-list-formatting:
  name: '[Book] Fix markdown list formatting'
  entry: python book/tools/scripts/utilities/check_list_formatting.py --fix
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: Ensure bullet lists are preceded by blank lines for proper markdown rendering

check-duplicate-labels:
  name: '[Book] Check for duplicate labels'
  entry: python book/tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - book/quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

validate-citations:
  name: '[Book] Validate citation references in .qmd files'
  entry: python book/tools/scripts/content/validate_citations.py --quiet
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: Ensure all @key citations have corresponding entries in .bib files

validate-footnotes:
  name: '[Book] Validate footnote references and definitions'
  entry: python book/tools/scripts/content/footnote_cleanup.py -d book/quarto/contents/ --validate
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

check-forbidden-footnotes:
  name: '[Book] Check for footnotes in tables/captions/divs'
  entry: python book/tools/scripts/content/check_forbidden_footnotes.py -d book/quarto/contents/
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: '[Book] Detect inline-style Markdown headers'
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: '[Book] Check for forbidden words'
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

check-purpose-unnumbered:
  name: '[Book] Ensure Purpose sections are unnumbered'
  entry: bash -c 'grep -n "^## Purpose" "$@" | grep -v "\.unnumbered" && exit 1 || exit 0' --
  language: system
  pass_filenames: true
  description: 'Ensure all ## Purpose sections have {.unnumbered} attribute'

check-table-formatting:
  name: '[Book] Check table formatting (alignment, bolding, spacing)'
  entry: python book/tools/scripts/content/format_tables.py --check -d quarto/contents/
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all tables have proper bolding, alignment, and spacing

docs(contributors): regenerate README with cleaner section headings
  README.md
Due: none

chore: set Peacock color (orange) for tito worktree
  .vscode/settings.json
Due: validate-json

fix(tinytorch): fix test ordering and non-interactive mode issues
  tinytorch/milestones/03_1986_mlp/01_rumelhart_tinydigits.py
  tinytorch/src/06_autograd/06_autograd.py
  tinytorch/tests/05_dataloader/test_autograd_core.py
  tinytorch/tests/06_autograd/test_autograd_core.py
  tinytorch/tests/06_autograd/test_gradient_flow.py
  tinytorch/tinytorch/__init__.py
  tinytorch/tito/commands/milestone.py
  tinytorch/tito/commands/module/test.py
Due: none

refactor(workflow): use pyproject.toml as single source of truth for version
  .github/workflows/tinytorch-publish-live.yml
Due: yamllint

feat(workflow): add GitHub Release creation to publish workflow
  .github/workflows/tinytorch-publish-live.yml
Due: yamllint

feat(ci): run tito dev validate on dev pushes
  .github/workflows/tinytorch-ci.yml
Due: yamllint

simplify(ci): one workflow, one command
  .github/workflows/tinytorch-ci.yml
Due: yamllint

feat(ci): comprehensive test suite
  .github/workflows/tinytorch-ci.yml
Due: yamllint

refactor(ci): combine tests and dev deploy into one workflow
  .codespell-ignore-words.txt
  .github/workflows/tinytorch-ci.yml
  .github/workflows/tinytorch-publish-dev.yml
  .vscode/settings.json
Due: validate-json, yamllint

fix(tests): use ff_dim instead of hidden_dim in TinyGPT integration test
  tinytorch/tests/integration/integration_tinygpt_test.py
Due: none

fix(tests): use normalized_shape instead of embed_dim for LayerNorm
  tinytorch/tests/integration/integration_tinygpt_test.py
Due: none

fix(tests): skip integration tests that require advanced autograd features
  tinytorch/tests/integration/test_cnn_integration.py
  tinytorch/tests/integration/test_gradient_flow.py
  tinytorch/tests/integration/test_nlp_pipeline_flow.py
  tinytorch/tests/integration/test_optimizers_integration.py
  tinytorch/tests/integration/test_training_flow.py
Due: none

fix(ci): disable coverage for test suites
  .github/workflows/tinytorch-ci.yml
Due: yamllint

fix(ci): mark E2E/CLI tests as non-blocking temporarily
  .github/workflows/tinytorch-ci.yml
Due: yamllint

fix(tests): fix regression test imports and skip advanced autograd tests
  tinytorch/tests/regression/test_conv_linear_dimensions.py
  tinytorch/tests/regression/test_gradient_flow_fixes.py
  tinytorch/tests/regression/test_nlp_components_gradient_flow.py
  tinytorch/tests/regression/test_transformer_reshaping.py
Due: none

fix(tests): fix E2E tests and add CI test summary
  .github/workflows/tinytorch-ci.yml
  tinytorch/tests/e2e/test_user_journey.py
Due: yamllint

fix(tests): fix remaining E2E test failures
  tinytorch/tests/e2e/test_user_journey.py
Due: none

fix(tests): update CLI tests for current command structure
  tinytorch/tests/cli/test_cli_execution.py
  tinytorch/tests/cli/test_cli_help_consistency.py
  tinytorch/tests/cli/test_cli_registry.py
Due: none

chore: add release.yml for auto-generated release notes
  .github/release.yml
Due: yamllint

style: make contributor tables more compact (9 cols, 50px avatars)
  .github/workflows/contributors/generate_main_readme.py
  README.md
Due: none

style: update README footer with heart, remove all-contributors instruction
  .github/workflows/contributors/generate_main_readme.py
  README.md
Due: none

docs: add wz1114841863 to TinyTorch contributors
  README.md
  tinytorch/.all-contributorsrc
Due: none

fix: broken chapter links in README
  README.md
Due: none

[Doc]: fixing some typos
  .github/TINYTORCH_ISSUE_TEMPLATE/module_architecture_improvement.md
  book/quarto/_extensions/mlsysbook-ext/titlepage/_author-affiliation-themes.tex
  kits/_extensions/mlsysbook-ext/titlepage/_author-affiliation-themes.tex
  tinytorch/INSTRUCTOR.md
  tinytorch/src/02_activations/ABOUT.md
  tinytorch/src/05_dataloader/ABOUT.md
  tinytorch/src/11_embeddings/ABOUT.md
  tinytorch/src/17_acceleration/17_acceleration.py
  tinytorch/src/18_memoization/ABOUT.md
  tinytorch/tito/commands/milestone.py
Due: none

feat(workflow): LLM-powered all-contributors with natural language
  .github/workflows/all-contributors-add.yml
  .github/workflows/contributors/generate_main_readme.py
  .github/workflows/contributors/generate_readme_tables.py
  tinytorch/tito/commands/module/workflow.py
Due: yamllint

fix: remove dataset files from Git LFS
  tinytorch/.gitattributes
  tinytorch/datasets/tinydigits/test.pkl
  tinytorch/datasets/tinydigits/train.pkl
Due: none

fix(tests): remove misplaced autograd tests from 05_dataloader
  tinytorch/tests/05_dataloader/test_autograd_core.py
Due: none

fix(tests): add guards for requires_grad usage in integration tests
  tinytorch/tests/integration/test_module_dependencies.py
Due: none

fix(tests): correct MODULE_NUMBER and MODULE_NAME in all run_all_tests.py
  tinytorch/tests/01_tensor/run_all_tests.py
  tinytorch/tests/02_activations/run_all_tests.py
  tinytorch/tests/03_layers/run_all_tests.py
  tinytorch/tests/04_losses/run_all_tests.py
  tinytorch/tests/05_dataloader/run_all_tests.py
  tinytorch/tests/06_autograd/run_all_tests.py
  tinytorch/tests/07_optimizers/run_all_tests.py
  tinytorch/tests/08_training/run_all_tests.py
  tinytorch/tests/09_convolutions/run_all_tests.py
  tinytorch/tests/10_tokenization/run_all_tests.py
  tinytorch/tests/11_embeddings/run_all_tests.py
  tinytorch/tests/12_attention/run_all_tests.py
  tinytorch/tests/13_transformers/run_all_tests.py
  tinytorch/tests/14_profiling/run_all_tests.py
  tinytorch/tests/15_quantization/run_all_tests.py
  tinytorch/tests/18_memoization/run_all_tests.py
Due: none

refactor(cli): remove standalone validate command
  tinytorch/tito/commands/dev/validate.py
Due: none

feat(cli): add unified tito dev test command
  tinytorch/tito/commands/dev/test.py
Due: none

refactor(cli): update dev command group for new test infrastructure
  tinytorch/tito/commands/dev/__init__.py
  tinytorch/tito/commands/dev/dev.py
Due: none

docs(tito): add comprehensive Developer Testing Guide
  tinytorch/site/tito/testing.md
Due: none

docs(tito): update overview.md with new test commands
  tinytorch/site/tito/overview.md
Due: none

docs(toc): add Developer Testing to TITO CLI Reference section
  tinytorch/site/_toc.yml
  tinytorch/site/_toc_pdf.yml
Due: yamllint

fix(docs): replace non-existent tito src with tito dev export
  tinytorch/site/tito/modules.md
  tinytorch/site/tito/overview.md
  tinytorch/tito/main.py
Due: none

feat: apply stashed improvements after merge
  .github/workflows/tinytorch-ci.yml
  .github/workflows/tinytorch-publish-live.yml
  tinytorch/site/extra/install.sh
  tinytorch/src/06_autograd/06_autograd.py
  tinytorch/src/08_training/08_training.py
  tinytorch/src/09_convolutions/09_convolutions.py
  tinytorch/tests/conftest.py
  tinytorch/tito/commands/dev/preflight.py
  tinytorch/tito/commands/package/nbdev.py
Due: yamllint

Path conditions:
  collapse-extra-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  format-python-in-qmd: any of: ^book/quarto/contents/.*\.qmd$
  check-list-formatting: any of: ^book/.*\.qmd$
  check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  header-inline-check: any of: ^book/quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/quarto/contents/.*\.qmd$
  check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  prevent-svg-files: any of: ^book/.*\.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: ^book/.*\.svg$
  validate-json: any of: \.json$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

