Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

collapse-extra-blank-lines:
  name: Collapse extra blank lines
  entry: python tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

yamllint:
  name: Validate YAML files
  entry: yamllint
  language: system
  args:
  - --config-file=.yamllint
  description: Validate all YAML files with custom config

check-duplicate-labels:
  name: Check for duplicate labels
  entry: python tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: Detect inline-style Markdown headers
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: Check for forbidden words
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

validate-images:
  name: Validate image files
  entry: python tools/scripts/utilities/manage_images.py
  language: python
  additional_dependencies:
  - pillow
  - rich
  pass_filenames: true

validate-external-images:
  name: Check for external images in Quarto files
  entry: python tools/scripts/manage_external_images.py --validate quarto/contents/
  language: python
  additional_dependencies:
  - requests
  pass_filenames: false
  description: Ensure all images are local for build reliability

validate-image-references:
  name: Check that all image references exist on disk
  entry: python tools/scripts/validate_image_references.py -d quarto/contents/ --quiet
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all referenced images exist on disk

prevent-svg-files:
  name: Prevent manual SVG files from being committed
  ...

sanitize-svgs:
  name: Remove control chars from existing SVGs
  entry: bash -c 'perl -pi -e '\''s/[\x00-\x08\x0B\x0C\x0E-\x1F]//g'\'' "$@"' --
  language: system
  description: Clean up control characters in generated/existing SVG files

fix(pdf): move TikZ Line style definitions outside makeatletter blocks for Windows
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Simplifies TikZ dashed style definition
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(workflow): ensure baremetal builds run when build_method is 'both'
  .github/workflows/validate-dev.yml
Due: yamllint

fix(latex): Reduce table font/spacing aggressiveness for Windows compatibility
  quarto/tex/header-includes.tex
Due: none

fix(optimizations): define TikZ Line style used in quantization roadmap figure
  quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

refactor(ml_systems): simplify hardware spectrum table to representative examples
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/tex/header-includes.tex
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Adjusts LaTeX table caption formatting
  quarto/tex/header-includes.tex
Due: none

Updates ML system hardware examples
  quarto/contents/core/ml_systems/ml_systems.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixes incorrect DOI for ImageNet paper
  quarto/contents/core/benchmarking/benchmarking.bib
Due: none

Aligns figure captions to the left
  quarto/assets/styles/style.scss
Due: none

fix(epub): enable custom callouts in ePub format
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/custom-numbered-blocks.lua
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.lua
  quarto/assets/styles/epub.css
Due: none

Simplifies MYCIN example callout
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Ensures structural lines are uncommented
  cli/commands/build.py
Due: none

refactor(workflows): standardize Windows bare-metal to match container installation methods
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

fix(workflows): add Scoop to PATH for subsequent workflow steps
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

docs(contributors): add Jahnic-kb and remove cursoragent
  .all-contributorsrc
  README.md
  docs/LEARNING_OBJECTIVES_FRAMEWORK.md
  quarto/contents/frontmatter/acknowledgements/acknowledgements.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(workflows): avoid PowerShell R alias conflict
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

fix(workflows): use R.exe to match container and avoid PowerShell alias
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

feat(workflows): add container-matching enhancements to bare-metal
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

fix(workflows): ensure Scoop Python 3.13 is used instead of GitHub Actions Python 3.9
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

fix(epub): ensure XHTML compliance in index.qmd
  quarto/index.qmd
Due: none

fix(frontmatter): correct abstract visibility for HTML formats
  quarto/index.qmd
Due: none

fix(workflows): accept Python 3.14+ from Scoop, check for 3.10+ minimum
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

fix(styles): add dark mode styling for 'On this page' sidebar toggle
  quarto/assets/styles/dark-mode.scss
Due: none

Updates changelog visibility logic
  quarto/contents/frontmatter/changelog/changelog.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(workflows): pin Scoop Python to 3.13, pydantic-core incompatible with 3.14
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

fix(workflows): use Scoop versions bucket to install Python 3.13
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

refactor(workflows): simplify Python 3.13 installation logic
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

fix(workflows): add Scoop Python to GITHUB_PATH for persistence across steps
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

fix(workflows): handle multiple Python app names in Scoop
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

Adapts quote formatting for different outputs
  quarto/index.qmd
Due: none

Fixing typos in 2 files
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(quizzes): move silent performance degradation question to correct section
  quarto/contents/core/introduction/introduction_quizzes.json
Due: none

docs(introduction): improve training-serving skew explanation and expand quiz coverage
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/introduction/introduction_quizzes.json
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Refines quiz questions for accuracy/clarity
  quarto/contents/core/ai_for_good/ai_for_good_quizzes.json
  quarto/contents/core/data_engineering/data_engineering_quizzes.json
  quarto/contents/core/dl_primer/dl_primer_quizzes.json
  quarto/contents/core/efficient_ai/efficient_ai_quizzes.json
  quarto/contents/core/frameworks/frameworks_quizzes.json
  quarto/contents/core/frontiers/frontiers_quizzes.json
  quarto/contents/core/hw_acceleration/hw_acceleration_quizzes.json
  quarto/contents/core/introduction/introduction_quizzes.json
  quarto/contents/core/ml_systems/ml_systems_quizzes.json
  quarto/contents/core/ondevice_learning/ondevice_learning_quizzes.json
  quarto/contents/core/responsible_ai/responsible_ai_quizzes.json
  quarto/contents/core/robust_ai/robust_ai_quizzes.json
  quarto/contents/core/sustainable_ai/sustainable_ai_quizzes.json
  quarto/contents/core/training/training_quizzes.json
  quarto/contents/core/workflow/workflow_quizzes.json
Due: none

Fixes answer redistribution in MCQs
  tools/scripts/genai/quizzes.py
Due: none

feat(publish): automate version number updates in publish workflow
  .github/workflows/publish-live.yml
  docs/PUBLISH_LIVE_WORKFLOW.md
  quarto/assets/scripts/version-link.js
  quarto/config/_quarto-html.yml
  quarto/index.qmd
Due: yamllint

refactor(maintenance): consolidate release notes scripts into unified tool
  .gitignore
  tools/scripts/maintenance/change_log.py
  tools/scripts/maintenance/changelog-releasenotes.py
  tools/scripts/maintenance/generate_release_notes.py
  tools/scripts/maintenance/release_notes.py
Due: none

Refactors and improves book content
  CHANGELOG.md
Due: none

feat(release): intelligent release notes generator with no fallback text
  tools/scripts/maintenance/changelog-releasenotes.py
Due: none

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$
