Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

collapse-extra-blank-lines:
  name: Collapse extra blank lines
  entry: python tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

yamllint:
  name: Validate YAML files
  entry: yamllint
  language: system
  args:
  - --config-file=.yamllint
  description: Validate all YAML files with custom config

check-duplicate-labels:
  name: Check for duplicate labels
  entry: python tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: Detect inline-style Markdown headers
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: Check for forbidden words
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

validate-images:
  name: Validate image files
  entry: python tools/scripts/utilities/manage_images.py
  language: python
  additional_dependencies:
  - pillow
  - rich
  pass_filenames: true

validate-external-images:
  name: Check for external images in Quarto files
  entry: python tools/scripts/manage_external_images.py --validate quarto/contents/
  language: python
  additional_dependencies:
  - requests
  pass_filenames: false
  description: Ensure all images are local for build reliability

validate-image-references:
  name: Check that all image references exist on disk
  entry: python tools/scripts/validate_image_references.py -d quarto/contents/ --quiet
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all referenced images exist on disk

prevent-svg-files:
  name: Prevent manual SVG files from being committed
  ...

sanitize-svgs:
  name: Remove control chars from existing SVGs
  entry: bash -c 'perl -pi -e '\''s/[\x00-\x08\x0B\x0C\x0E-\x1F]//g'\'' "$@"' --
  language: system
  description: Clean up control characters in generated/existing SVG files

feat(definitions): add Backpropagation and Gradient Descent definitions
  quarto/contents/core/dl_primer/dl_primer.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat(definitions): add Tier 1 and Tier 2 missing definitions
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(definitions): move Overfitting definition to optimal pedagogical location
  quarto/contents/core/dl_primer/dl_primer.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

docs(definitions): add comprehensive placement audit report
  definition_placement_audit.md
Due: none

chore(docs): remove completed missing definitions analysis
  missing_definitions_analysis.md
Due: none

ci(workflows): default validate-dev to container builds only
  .github/workflows/validate-dev.yml
Due: yamllint

Revert "ci(workflows): default validate-dev to container builds only"
  .github/workflows/validate-dev.yml
Due: yamllint

feat(colabs): Add interactive Colab infrastructure and quantization demo
  colabs/README.md
  colabs/ch10_optimizations/quantization_demo.ipynb
  colabs/docs/COLAB_CHAPTER_OUTLINE.md
  colabs/docs/COLAB_INTEGRATION_PLAN.md
  colabs/docs/COLAB_PLACEMENT_MATRIX.md
  colabs/docs/COLAB_STANDARDS_SUMMARY.md
  colabs/docs/COLAB_TEMPLATE_EXAMPLE.md
  colabs/docs/COLAB_TEMPLATE_SPECIFICATION.md
  colabs/docs/README.md
Due: none

feat(colabs): Add Colab callout styling and integration strategy
  colabs/CALLOUT_EXAMPLE.md
  colabs/docs/COLAB_INTEGRATION_STRATEGY.md
  colabs/requirements.txt
  docs/LEARNING_OBJECTIVES_FRAMEWORK.md
  quarto/assets/scripts/version-link.js
  quarto/config/_quarto-epub.yml
  quarto/config/_quarto-html.yml
  quarto/config/_quarto-pdf.yml
Due: yamllint

docs(colabs): Add comprehensive status and decision summary
  colabs/STATUS.md
Due: none

fix(quizzes): correct MCQ answer explanations and add validation
  quarto/contents/core/ai_for_good/ai_for_good_quizzes.json
  quarto/contents/core/benchmarking/footnote_context_quizzes.json
  quarto/contents/core/conclusion/footnote_context_quizzes.json
  quarto/contents/core/data_engineering/data_engineering_quizzes.json
  quarto/contents/core/dl_primer/dl_primer_quizzes.json
  quarto/contents/core/dnn_architectures/dnn_architectures_quizzes.json
  quarto/contents/core/efficient_ai/efficient_ai_quizzes.json
  quarto/contents/core/frameworks/footnote_context_quizzes.json
  quarto/contents/core/frameworks/frontiers_quizzes.json
  quarto/contents/core/frontiers/frontiers_quizzes.json
  quarto/contents/core/hw_acceleration/hw_acceleration_quizzes.json
  quarto/contents/core/introduction/introduction_quizzes.json
  quarto/contents/core/ml_systems/footnote_context_quizzes.json
  quarto/contents/core/ondevice_learning/ondevice_learning_quizzes.json
  quarto/contents/core/ops/ops_quizzes.json
  quarto/contents/core/optimizations/optimizations_quizzes.json
  quarto/contents/core/privacy_security/privacy_security_quizzes.json
  quarto/contents/core/responsible_ai/responsible_ai_quizzes.json
  quarto/contents/core/robust_ai/footnote_context_quizzes.json
  quarto/contents/core/robust_ai/robust_ai_quizzes.json
  tools/scripts/genai/fix_mcq_answer_explanations.py
  tools/scripts/genai/quizzes.py
Due: none

fix(quizzes): correct MCQ answer explanations and add validation (#1035)
  quarto/contents/core/ai_for_good/ai_for_good_quizzes.json
  quarto/contents/core/benchmarking/footnote_context_quizzes.json
  quarto/contents/core/conclusion/footnote_context_quizzes.json
  quarto/contents/core/data_engineering/data_engineering_quizzes.json
  quarto/contents/core/dl_primer/dl_primer_quizzes.json
  quarto/contents/core/dnn_architectures/dnn_architectures_quizzes.json
  quarto/contents/core/efficient_ai/efficient_ai_quizzes.json
  quarto/contents/core/frameworks/footnote_context_quizzes.json
  quarto/contents/core/frameworks/frontiers_quizzes.json
  quarto/contents/core/frontiers/frontiers_quizzes.json
  quarto/contents/core/hw_acceleration/hw_acceleration_quizzes.json
  quarto/contents/core/introduction/introduction_quizzes.json
  quarto/contents/core/ml_systems/footnote_context_quizzes.json
  quarto/contents/core/ondevice_learning/ondevice_learning_quizzes.json
  quarto/contents/core/ops/ops_quizzes.json
  quarto/contents/core/optimizations/optimizations_quizzes.json
  quarto/contents/core/privacy_security/privacy_security_quizzes.json
  quarto/contents/core/responsible_ai/responsible_ai_quizzes.json
  quarto/contents/core/robust_ai/footnote_context_quizzes.json
  quarto/contents/core/robust_ai/robust_ai_quizzes.json
  tools/scripts/genai/fix_mcq_answer_explanations.py
  tools/scripts/genai/quizzes.py
Due: none

fix(deploy): make PDF and EPUB links work in dev preview
  .github/workflows/deploy-preview.yml
  quarto/config/_quarto-html.yml
Due: yamllint

Removes DOI verification reports
  betterbib_doi_verification_report.md
  definition_placement_audit.md
  doi_verification_summary.md
Due: none

Adds citations and expands AGI discussion
  quarto/contents/core/frontiers/frontiers.bib
  quarto/contents/core/frontiers/frontiers.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(deploy): add HTML redirect files for GitHub Pages
  .github/workflows/deploy-preview.yml
  quarto/epub.html
  quarto/pdf.html
Due: yamllint

fix(build): ensure HTML redirect files are included in build output
  quarto/config/_quarto-html.yml
Due: yamllint

refactor(deploy): simplify PDF/EPUB links to direct asset paths
  frontiers_review_summary.md
  quarto/config/_quarto-html.yml
  quarto/epub.html
  quarto/pdf.html
Due: yamllint

docs(frontiers): improve math formatting and add chain-of-thought citation
  quarto/contents/core/frontiers/frontiers.bib
  quarto/contents/core/frontiers/frontiers.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Removes duplicate words in DL primer
  quarto/contents/core/dl_primer/dl_primer.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Removes duplicate words in DL primer (#1037)
  quarto/contents/core/dl_primer/dl_primer.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos in labs section
  quarto/contents/labs/raspi/vlm/vlm.qmd
  quarto/contents/labs/seeed/xiao_esp32s3/image_classification/image_classification.qmd
  quarto/contents/labs/seeed/xiao_esp32s3/motion_classification/motion_classification.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos in labs section (#1038)
  quarto/contents/labs/raspi/vlm/vlm.qmd
  quarto/contents/labs/seeed/xiao_esp32s3/image_classification/image_classification.qmd
  quarto/contents/labs/seeed/xiao_esp32s3/motion_classification/motion_classification.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos re. spelling of Ultralytics library
  quarto/contents/labs/raspi/object_detection/object_detection.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos re. spelling of Ultralytics library (#1039)
  quarto/contents/labs/raspi/object_detection/object_detection.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Revise wording in 'Why This Book Exists' section
  README.md
Due: none

Refine wording in 'Why This Book Exists' section
  README.md
Due: none

Update TinyML report reference in bibliography
  quarto/contents/core/ml_systems/ml_systems.bib
Due: none

Change source reference in ML systems documentation
  quarto/contents/core/ml_systems/ml_systems.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Replace market growth report with ABI research report
  quarto/contents/core/ml_systems/ml_systems.bib
Due: none

Change source reference in ml_systems.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Suggest an alternate research article (#1040)
  quarto/contents/core/ml_systems/ml_systems.bib
Due: none

fix(dl_primer): correct output weight matrix dimensions
  quarto/contents/core/dl_primer/dl_primer.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix: standardize matrix multiplication convention across all chapters
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Refactors and condenses Frontiers chapter
  frontiers_review_summary.md
Due: none

Corrects weight matrix and forward propagation
  quarto/contents/core/dl_primer/dl_primer.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Removes extraneous blank lines.
  quarto/assets/scripts/version-link.js
Due: none

feat(icons): Add callout-colab icon infrastructure
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.lua
  quarto/_quarto.yml
  quarto/assets/images/icons/callouts/README_ICONS.md
  quarto/assets/images/icons/callouts/icon_callout-code.pdf
  quarto/assets/images/icons/callouts/icon_callout-code.png
  quarto/assets/images/icons/callouts/icon_callout-definition.pdf
  quarto/assets/images/icons/callouts/icon_callout-definition.png
  quarto/assets/images/icons/callouts/icon_callout-example.pdf
  quarto/assets/images/icons/callouts/icon_callout-example.png
  quarto/assets/images/icons/callouts/icon_callout-quiz-answer.pdf
  quarto/assets/images/icons/callouts/icon_callout-quiz-answer.png
  quarto/assets/images/icons/callouts/icon_callout-quiz-question.pdf
  quarto/assets/images/icons/callouts/icon_callout-quiz-question.png
  quarto/assets/images/icons/callouts/icon_callout_colab.pdf
  quarto/assets/images/icons/callouts/icon_callout_colab.png
Due: yamllint

feat(icons): Add callout-colab to format-specific configs
  quarto/config/_quarto-epub.yml
  quarto/config/_quarto-html.yml
  quarto/config/_quarto-pdf.yml
Due: yamllint

feat(icons): Complete callout styling with restored original icons
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.css
  quarto/assets/images/icons/callouts/icon_callout_definition.pdf
  quarto/assets/images/icons/callouts/icon_callout_definition.png
  quarto/assets/images/icons/callouts/icon_callout_example.pdf
  quarto/assets/images/icons/callouts/icon_callout_example.png
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$
