Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, validate-github-workflows, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  validate-github-workflows: any of: ^\.github/workflows/.*\.(yml|yaml)$
  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$

Refactors changelog generation for ML textbook
  tools/scripts/maintenance/change_log.py
Due: none

Refactors changelog generation process
  CHANGELOG.md
  tools/scripts/maintenance/change_log.py
Due: none

Removes outdated changelog entries
  CHANGELOG.md
Due: none

Enables Windows builds in CI
  .github/workflows/validate-dev.yml
Due: yamllint, validate-github-workflows

Fixes image path in CI/CD pipeline figure
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat(scripts): add cross-platform Python SVG cleaner
  quarto/config/_quarto-epub.yml
  quarto/config/_quarto-html.yml
  quarto/config/_quarto-pdf.yml
  quarto/scripts/clean-svgs.sh
  quarto/scripts/clean_svgs.py
Due: yamllint

refactor(scripts): remove deprecated bash SVG cleaner
  quarto/scripts/clean-svgs.sh
Due: none

Removes redundant Roboflow dataset link
  quarto/contents/labs/raspi/object_detection/object_detection.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(workflows): add packages read permission to publish-live workflow
  .github/workflows/publish-live.yml
Due: yamllint, validate-github-workflows

feat(workflows): add EPUB support to validate-dev workflow
  .github/workflows/validate-dev.yml
Due: yamllint, validate-github-workflows

docs: remove outdated documentation files
  docs/ENHANCED_BUILD_MANAGER_TESTING.md
  docs/PRE_COMMIT_EXTERNAL_IMAGES.md
  docs/PRE_COMMIT_VALIDATION_SUMMARY.md
Due: none

feat(binder): add EPUB support and improve CLI interface
  binder
Due: none

docs: update README with new project structure and binder commands
  README.md
Due: none

docs: update BUILD.md with current versions and requirements
  docs/BUILD.md
Due: none

fix(setup): update Python requirement and dependencies path
  tools/setup/setup.sh
Due: none

docs: update Cursor Rules with workflow decision guidelines
  .cursorrules
Due: none

refactor(config): remove duplicate config files
  .markdownlintignore
  .vale.ini
Due: none

refactor(config): remove obsolete all-contributors config
  config/dev/.all-contributorsrc
Due: none

refactor(config): remove obsolete quarto netlify.toml
  quarto/netlify.toml
Due: none

Simplifies workflow name
  .github/workflows/publish-live.yml
Due: yamllint, validate-github-workflows

feat(workflows): add weekly scheduled cache cleanup
  .github/workflows/cleanup-caches.yml
Due: yamllint, validate-github-workflows

fix(workflows): prevent container builds from triggering on main branch
  .github/workflows/build-linux-container.yml
  .github/workflows/build-windows-container.yml
Due: yamllint, validate-github-workflows

fix(workflows): replace status check waiting with direct workflow run detection
  .github/workflows/publish-live.yml
Due: yamllint, validate-github-workflows

docs: update workflow references from quarto-build.yml to quarto-build-container.yml
  docs/CONTAINER_BUILDS.md
  docs/PUBLISH_LIVE_WORKFLOW.md
  tools/scripts/docs/WORKFLOW_CLEANUP.md
Due: none

feat(workflows): enable flexible concurrency for parallel testing
  .github/workflows/publish-live.yml
  .github/workflows/quarto-build-baremetal.yml
  .github/workflows/quarto-build-container.yml
  .github/workflows/validate-dev.yml
Due: yamllint, validate-github-workflows

refactor(workflows): simplify concurrency to cancel-and-restart approach
  .github/workflows/quarto-build-baremetal.yml
  .github/workflows/quarto-build-container.yml
  .github/workflows/validate-dev.yml
Due: yamllint, validate-github-workflows

refactor(workflows): remove unnecessary GitHub environment usage
  .github/workflows/deploy-preview.yml
  .github/workflows/publish-live.yml
Due: yamllint, validate-github-workflows

refactor(validate-dev): remove unused deploy_preview input
  .github/workflows/validate-dev.yml
Due: yamllint, validate-github-workflows

fix(workflows): correct workflow reference in publish-live.yml
  .github/workflows/publish-live.yml
Due: yamllint, validate-github-workflows

fix(workflows): remove redundant wait-for-build job
  .github/workflows/publish-live.yml
Due: yamllint, validate-github-workflows

docs(workflows): update artifact descriptions to include EPUB support
  .github/workflows/publish-live.yml
Due: yamllint, validate-github-workflows

fix(workflows): correct job dependency order in publish-live
  .github/workflows/publish-live.yml
Due: yamllint, validate-github-workflows

fix(workflows): use current workflow run for artifact download
  .github/workflows/publish-live.yml
Due: yamllint, validate-github-workflows

feat(workflows): improve concurrency control in validate-dev
  .github/workflows/validate-dev.yml
Due: yamllint, validate-github-workflows

fix(workflows): use actions/download-artifact for reliable artifact downloads
  .github/workflows/publish-live.yml
Due: yamllint, validate-github-workflows

feat(workflows): improve artifact coordination system
  .github/workflows/publish-live.yml
  .github/workflows/quarto-build-container.yml
Due: yamllint, validate-github-workflows

fix(workflows): correct HTML artifact verification logic
  .github/workflows/publish-live.yml
Due: yamllint, validate-github-workflows

fix(workflows): install Ollama in release notes job for AI generation
  .github/workflows/publish-live.yml
Due: yamllint, validate-github-workflows

refactor(workflows): streamline AI system testing in pre-flight checks
  .github/workflows/publish-live.yml
Due: yamllint, validate-github-workflows

feat(workflows): upgrade default AI model to gemma2:27b for better release notes
  .github/workflows/publish-live.yml
Due: yamllint, validate-github-workflows
