Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

collapse-extra-blank-lines:
  name: Collapse extra blank lines
  entry: python tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

yamllint:
  name: Validate YAML files
  entry: yamllint
  language: system
  args:
  - --config-file=.yamllint
  description: Validate all YAML files with custom config

check-duplicate-labels:
  name: Check for duplicate labels
  entry: python tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: Detect inline-style Markdown headers
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: Check for forbidden words
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

validate-images:
  name: Validate image files
  entry: python tools/scripts/utilities/manage_images.py
  language: python
  additional_dependencies:
  - pillow
  - rich
  pass_filenames: true

validate-external-images:
  name: Check for external images in Quarto files
  entry: python tools/scripts/manage_external_images.py --validate quarto/contents/
  language: python
  additional_dependencies:
  - requests
  pass_filenames: false
  description: Ensure all images are local for build reliability

validate-image-references:
  name: Check that all image references exist on disk
  entry: python tools/scripts/validate_image_references.py -d quarto/contents/ --quiet
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all referenced images exist on disk

prevent-svg-files:
  name: Prevent manual SVG files from being committed
  ...

sanitize-svgs:
  name: Remove control chars from existing SVGs
  entry: bash -c 'perl -pi -e '\''s/[\x00-\x08\x0B\x0C\x0E-\x1F]//g'\'' "$@"' --
  language: system
  description: Clean up control characters in generated/existing SVG files

chore(feedback): remove processed prerelease feedback files
  feedback/acceleration_feedback.md
  feedback/ai_for_good_feedback.md
  feedback/benchmarking_feedback.md
  feedback/conclusion_feedback.md
  feedback/data_engineering_feedback.md
  feedback/dl_primer_feedback.md
  feedback/dnn_architectures_feedback.md
  feedback/efficient_ai_feedback.md
  feedback/frameworks_feedback.md
  feedback/frontiers_feedback.md
  feedback/introduction_feedback.md
  feedback/ml_systems_feedback.md
  feedback/ondevice_learning_feedback.md
  feedback/ops_feedback.md
  feedback/optimizations_feedback.md
  feedback/responsible_ai_feedback.md
  feedback/robust_ai_feedback.md
  feedback/security_privacy_feedback.md
  feedback/sustainable_ai_feedback.md
  feedback/training_feedback.md
  feedback/workflow_feedback.md
Due: none

chore: update section IDs and add table formatting utilities
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/emerging_topics_quizzes.json
  quarto/contents/core/ml_systems/frontiers_quizzes.json
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ml_systems/ml_systems_quizzes.json
  tools/scripts/format_tables.py
  tools/scripts/test_format_tables.py
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

docs: add table formatter documentation and update dependencies
  .claude/footnote_context.md
  .gitignore
  requirements-dev.txt
  tools/dependencies/requirements.txt
  tools/scripts/README_TABLE_FORMATTER.md
  tools/scripts/format_tables.py
Due: none

polish: remove AI writing patterns from multiple chapters
  quarto/contents/core/ai_for_good/ai_for_good_quizzes.json
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/benchmarking/footnote_context_quizzes.json
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/conclusion/footnote_context_quizzes.json
  quarto/contents/core/dl_primer/dl_primer_quizzes.json
  quarto/contents/core/dnn_architectures/dnn_architectures_quizzes.json
  quarto/contents/core/efficient_ai/efficient_ai_quizzes.json
  quarto/contents/core/frameworks/footnote_context_quizzes.json
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers_quizzes.json
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration_quizzes.json
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/introduction/introduction_quizzes.json
  quarto/contents/core/ml_systems/footnote_context_quizzes.json
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning_quizzes.json
  quarto/contents/core/ops/ops_quizzes.json
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/optimizations/optimizations_quizzes.json
  quarto/contents/core/privacy_security/privacy_security_quizzes.json
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/responsible_ai/responsible_ai_quizzes.json
  quarto/contents/core/robust_ai/footnote_context_quizzes.json
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai_quizzes.json
  quarto/contents/core/training/training_quizzes.json
  quarto/contents/core/workflow/workflow_quizzes.json
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Update Tikz figure in chapter-12
  quarto/contents/core/benchmarking/benchmarking.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish: apply remaining pre-commit fixes
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/ai_for_good/ai_for_good_quizzes.json
  quarto/contents/core/conclusion/footnote_context_quizzes.json
  quarto/contents/core/data_engineering/data_engineering_quizzes.json
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dl_primer/dl_primer_quizzes.json
  quarto/contents/core/dnn_architectures/dnn_architectures_quizzes.json
  quarto/contents/core/efficient_ai/efficient_ai_quizzes.json
  quarto/contents/core/frameworks/footnote_context_quizzes.json
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration_quizzes.json
  quarto/contents/core/introduction/introduction_quizzes.json
  quarto/contents/core/ml_systems/footnote_context_quizzes.json
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning_quizzes.json
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/ops/ops_quizzes.json
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/privacy_security/privacy_security_quizzes.json
  quarto/contents/core/responsible_ai/responsible_ai_quizzes.json
  quarto/contents/core/robust_ai/footnote_context_quizzes.json
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai_quizzes.json
  quarto/contents/core/training/training_quizzes.json
  quarto/contents/core/workflow/workflow_quizzes.json
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish: add progress report and complete initial editorial pass
  quarto/contents/core/benchmarking/footnote_context_quizzes.json
  quarto/contents/core/data_engineering/data_engineering_quizzes.json
  quarto/contents/core/dnn_architectures/dnn_architectures_quizzes.json
  quarto/contents/core/frameworks/footnote_context_quizzes.json
  quarto/contents/core/frontiers/frontiers_quizzes.json
  quarto/contents/core/ml_systems/footnote_context_quizzes.json
  quarto/contents/core/optimizations/optimizations_quizzes.json
  quarto/contents/core/workflow/workflow_quizzes.json
Due: none

docs: finalize progress documentation and completion summary
  quarto/contents/core/benchmarking/footnote_context_quizzes.json
  quarto/contents/core/frontiers/frontiers_quizzes.json
  quarto/contents/core/robust_ai/footnote_context_quizzes.json
Due: none

Update Tikz figure in chapter-7
  quarto/contents/core/frameworks/frameworks.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish: remove AI patterns from quiz JSON files
  quarto/contents/core/benchmarking/benchmarking_quizzes.json
  quarto/contents/core/frameworks/frameworks_quizzes.json
  quarto/contents/core/ml_systems/ml_systems_quizzes.json
Due: none

docs(introduction): Define AI Engineering as formal discipline
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(docker): fix Windows container TeX Live installation with proper error checking
  docker/windows/Dockerfile
Due: none

chore(docker): remove redundant execution policy setting in Scoop installation
  docker/windows/Dockerfile
Due: none

fix(docker): restore working TeX Live installation via Chocolatey with full scheme
  docker/windows/Dockerfile
Due: none

fix(docker): use explicit paths for TeX Live executables and verify bin directory
  docker/windows/Dockerfile
Due: none

docs(content): update bibliographies and content across chapters
  quarto/_quarto.yml
  quarto/contents/core/benchmarking/benchmarking.bib
  quarto/contents/core/conclusion/conclusion.bib
  quarto/contents/core/dl_primer/dl_primer.bib
  quarto/contents/core/dnn_architectures/dnn_architectures.bib
  quarto/contents/core/efficient_ai/efficient_ai.bib
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.bib
  quarto/contents/core/hw_acceleration/hw_acceleration.bib
  quarto/contents/core/introduction/introduction_quizzes.json
  quarto/contents/core/ops/ops.bib
  quarto/contents/core/optimizations/optimizations.bib
  quarto/contents/core/sustainable_ai/sustainable_ai.bib
  quarto/index.qmd
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish: comprehensive workflow chapter enhancement
  quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish: comprehensive textbook polish for dl_primer chapter
  quarto/contents/core/dl_primer/dl_primer.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish(frameworks): comprehensive textbook polish - academic excellence achieved
  quarto/contents/core/frameworks/frameworks.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish: comprehensive textbook polish for DNN architectures chapter
  quarto/contents/core/dnn_architectures/dnn_architectures.bib
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish: comprehensive editorial improvements to benchmarking chapter
  quarto/contents/core/benchmarking/benchmarking.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish(ondevice_learning): comprehensive textbook polish with enhanced learning objectives
  quarto/_quarto.yml
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/._optimizations_xref.json
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
  quarto/contents/core/workflow/workflow_glossary.json
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish(sustainable_ai): comprehensive textbook polish workflow
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(docker): replace broken Chocolatey texlive with official network installer
  docker/windows/Dockerfile
Due: none

fix(docker): use PowerShell escape sequences instead of here-string for profile
  docker/windows/Dockerfile
Due: none

fix(docker): resolve PowerShell parser error with MB unit in string interpolation
  docker/windows/Dockerfile
Due: none

revert: undo polish commits from 2025-10-06
  quarto/_quarto.yml
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.bib
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/._optimizations_xref.json
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
  quarto/contents/core/workflow/workflow_glossary.json
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Clarifies formatting preservation instructions
  .claude/agents/editorial/editor.md
  .claude/agents/editorial/stylist.md
Due: none

fix(docker): use string concatenation instead of interpolation for size output
  docker/windows/Dockerfile
Due: none

Update Tikz figure in chapter 11
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(docker): use explicit string concatenation for PATH to avoid semicolon parsing issues
  docker/windows/Dockerfile
Due: none

docs(hw_acceleration): enhance architectural explanation for accelerator anatomy figure
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(docker): Use here-string for TeX Live profile in Windows build
  docker/windows/Dockerfile
Due: none

fix(docker): Use multi-stage build for TeX Live profile
  docker/windows/Dockerfile
Due: none

fix(docker): Correct multi-stage build order for TeX Live profile
  docker/windows/Dockerfile
Due: none

fix(docker): create TeX Live profile line-by-line to avoid Docker parse errors
  docker/windows/Dockerfile
Due: none

fix: standardize conclusion learning objectives and clean Purpose sections
  .claude/agents/workflow/polish.md
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.bib
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.bib
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.bib
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.bib
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.bib
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.bib
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.bib
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.bib
  quarto/contents/core/workflow/workflow.qmd
  tools/scripts/docs/FORMATTING_PRESERVATION.md
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(content): resolve all pre-commit validation errors
  docker/windows/Dockerfile
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(docker): switch back to Chocolatey TeX Live with full scheme for faster install
  docker/windows/Dockerfile
  quarto/contents/core/data_engineering/data_engineering_quizzes.json
  quarto/contents/core/dl_primer/dl_primer_quizzes.json
  quarto/contents/core/hw_acceleration/hw_acceleration_quizzes.json
  quarto/contents/core/introduction/introduction_quizzes.json
  quarto/contents/core/ml_systems/ml_systems_quizzes.json
  quarto/contents/core/ops/ops_quizzes.json
  quarto/contents/core/privacy_security/privacy_security_quizzes.json
  quarto/contents/core/training/training_quizzes.json
Due: none

fix(docker): keep official installer as commented alternative
  docker/windows/Dockerfile
Due: none

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$
