Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

collapse-extra-blank-lines:
  name: Collapse extra blank lines
  entry: python tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

yamllint:
  name: Validate YAML files
  entry: yamllint
  language: system
  args:
  - --config-file=.yamllint
  description: Validate all YAML files with custom config

check-duplicate-labels:
  name: Check for duplicate labels
  entry: python tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: Detect inline-style Markdown headers
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: Check for forbidden words
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

validate-images:
  name: Validate image files
  entry: python tools/scripts/utilities/manage_images.py
  language: python
  additional_dependencies:
  - pillow
  - rich
  pass_filenames: true

validate-external-images:
  name: Check for external images in Quarto files
  entry: python tools/scripts/manage_external_images.py --validate quarto/contents/
  language: python
  additional_dependencies:
  - requests
  pass_filenames: false
  description: Ensure all images are local for build reliability

validate-image-references:
  name: Check that all image references exist on disk
  entry: python tools/scripts/validate_image_references.py -d quarto/contents/ --quiet
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all referenced images exist on disk

prevent-svg-files:
  name: Prevent manual SVG files from being committed
  ...

sanitize-svgs:
  name: Remove control chars from existing SVGs
  entry: bash -c 'perl -pi -e '\''s/[\x00-\x08\x0B\x0C\x0E-\x1F]//g'\'' "$@"' --
  language: system
  description: Clean up control characters in generated/existing SVG files

refactor(stylist): make agent fully independent and self-directed
  .claude/agents/stylist.md
Due: none

feat(cli): add html command for selective HTML builds with index.qmd
  cli/commands/build.py
  cli/main.py
Due: none

feat(callouts): add callout-definition for specialized definition blocks
  quarto/config/_quarto-html.yml
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat(binder): implement selective chapter building for PDF and EPUB
  cli/commands/build.py
Due: none

chore: minor maintenance updates
  .claude/agents/stylist.md
  tools/scripts/content/manage_section_ids.py
Due: none

chore: remove temporary build artifacts
  quarto/contents/core/introduction/._introduction_xref.json
Due: none

Revert "Merge feature/callout-definition-blocks into dev"
  quarto/config/_quarto-html.yml
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Updates callout title for definition
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat(callouts): implement callout-definition styled like quiz-question
  quarto/_quarto.yml
  quarto/_quarto_html_only.yml
  quarto/assets/images/icons/callouts/icon_callout-definition.pdf
  quarto/assets/images/icons/callouts/icon_callout-definition.png
  quarto/config/_quarto-epub.yml
  quarto/config/_quarto-html.yml
  quarto/config/_quarto-pdf.yml
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
  quarto/diagram-4ae7960299078afeff6e437af54c5e8151e88c95.pdf
  quarto/index.html
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(callouts): add proper CSS styling for callout-definition
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.css
  quarto/assets/styles/style.scss
Due: none

fix(foldbox): add callout-definition support to Lua filter
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.lua
Due: none

fix(config): add missing callout-definition class to HTML config
  quarto/config/_quarto-html.yml
Due: yamllint

fix(css): add .callout-definition to foldbox exclusion rule
  quarto/assets/styles/style.scss
Due: none

feat(callouts): make custom-numbered-blocks extension truly generic
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.lua
  quarto/_quarto.yml
  quarto/_quarto_html_only.yml
  quarto/index.html
Due: yamllint

fix(callouts): revert markdown changes, keep CSS wrapper fix
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(callouts): iterative improvements to match definition and quiz styling
  quarto/assets/styles/style.scss
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat(extension): add callout class to custom-numbered-blocks processed divs
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/custom-numbered-blocks.lua
  quarto/assets/styles/style.scss
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(css): enhance empty paragraph hiding for definition callouts
  quarto/assets/styles/style.scss
Due: none

fix(callouts): resolve definition callout alignment by removing title attribute
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/custom-numbered-blocks.lua
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.css
  quarto/assets/images/icons/callouts/icon_callout-example.pdf
  quarto/assets/images/icons/callouts/icon_callout-example.png
  quarto/assets/styles/style.scss
  quarto/config/_quarto-epub.yml
  quarto/config/_quarto-html.yml
  quarto/config/_quarto-pdf.yml
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat(callouts): ensure Harvard Crimson-complementary colors across all formats
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.css
  quarto/config/_quarto-epub.yml
  quarto/config/_quarto-html.yml
  quarto/config/_quarto-pdf.yml
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$
