Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs, validate-json, yamllint

collapse-extra-blank-lines:
  name: '[Book] Collapse extra blank lines'
  entry: python book/tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

format-python-in-qmd:
  name: '[Book] Format Python code blocks (Black, 70 chars)'
  entry: python book/tools/scripts/content/format_python_in_qmd.py
  language: python
  additional_dependencies:
  - black>=23.0.0
  pass_filenames: true

check-list-formatting:
  name: '[Book] Fix markdown list formatting'
  entry: python book/tools/scripts/utilities/check_list_formatting.py --fix
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: Ensure bullet lists are preceded by blank lines for proper markdown rendering

check-duplicate-labels:
  name: '[Book] Check for duplicate labels'
  entry: python book/tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - book/quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

validate-citations:
  name: '[Book] Validate citation references in .qmd files'
  entry: python book/tools/scripts/content/validate_citations.py --quiet
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: Ensure all @key citations have corresponding entries in .bib files

validate-footnotes:
  name: '[Book] Validate footnote references and definitions'
  entry: python book/tools/scripts/content/footnote_cleanup.py -d book/quarto/contents/ --validate
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

check-forbidden-footnotes:
  name: '[Book] Check for footnotes in tables/captions/divs'
  entry: python book/tools/scripts/content/check_forbidden_footnotes.py -d book/quarto/contents/
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: '[Book] Detect inline-style Markdown headers'
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: '[Book] Check for forbidden words'
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

check-purpose-unnumbered:
  name: '[Book] Ensure Purpose sections are unnumbered'
  entry: bash -c 'grep -n "^## Purpose" "$@" | grep -v "\.unnumbered" && exit 1 || exit 0' --
  language: system
  pass_filenames: true
  description: 'Ensure all ## Purpose sections have {.unnumbered} attribute'

check-table-formatting:
  name: '[Book] Check table formatting (alignment, bolding, spacing)'
  entry: python book/tools/scripts/content/format_tables.py --check -d quarto/contents/
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all tables have proper bolding, alignment, and spacing

Improve narrative flow in AI Training chapter
  book/quarto/contents/vol1/training/training.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

Improve narrative flow in data efficiency chapter
  book/quarto/contents/vol1/data_efficiency/data_efficiency.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

Improve section-to-section flow in benchmarking chapter
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/ops/ops.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

Add power measurement to Key Takeaways for consistency
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

Improve narrative flow in MLOps chapter
  book/quarto/contents/vol1/ops/ops.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

Improve section flow transitions in DL primer chapter
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

Refine AI Training chapter structure and pacing
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: Improve narrative flow in Responsible Engineering chapter
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: weave Part III Optimize with Napkin Math and transition hooks
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: weave Part IV Deploy and Conclusion with Napkin Math and transition hooks
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: weave entire Volume 1 with Napkin Math and transition hooks
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: remove duplicate callout in benchmarking chapter
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

style: standardize Napkin Math callout titles
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

style: standardize all Napkin Math callout titles
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(tests): remove all pytest.skip patterns for honest test results
  tinytorch/tests/01_tensor/test_tensor_core.py
  tinytorch/tests/02_activations/test_activations_core.py
  tinytorch/tests/03_layers/test_layers_core.py
  tinytorch/tests/04_losses/test_losses_core.py
  tinytorch/tests/05_dataloader/test_dataloader_core.py
  tinytorch/tests/06_autograd/test_autograd_gradient_flow.py
  tinytorch/tests/09_convolutions/test_convolutions_core.py
  tinytorch/tests/10_tokenization/test_tokenization_core.py
  tinytorch/tests/11_embeddings/test_embeddings_core.py
  tinytorch/tests/13_transformers/test_transformers_core.py
  tinytorch/tests/14_profiling/test_profiler_core.py
  tinytorch/tests/15_quantization/test_quantizer_core.py
  tinytorch/tests/16_compression/test_compressor_core.py
  tinytorch/tests/17_acceleration/test_acceleration_core.py
  tinytorch/tests/18_memoization/test_kv_cache_core.py
  tinytorch/tests/19_benchmarking/test_benchmark_core.py
  tinytorch/tests/20_capstone/test_capstone_core.py
  tinytorch/tests/e2e/test_user_journey.py
  tinytorch/tests/environment/test_setup_validation.py
  tinytorch/tests/integration/integration_tests.py
  tinytorch/tests/integration/test_cnn_integration.py
  tinytorch/tests/integration/test_integration_01_setup.py
  tinytorch/tests/integration/test_integration_gradient_flow.py
  tinytorch/tests/integration/test_layers_integration.py
  tinytorch/tests/integration/test_module_05_dense.py
  tinytorch/tests/integration/test_nlp_pipeline_flow.py
  tinytorch/tests/integration/test_optimizers_integration.py
  tinytorch/tests/integration/test_training_flow.py
  tinytorch/tests/integration_tests.py
  tinytorch/tests/milestones/test_milestones_run.py
  tinytorch/tests/regression/test_gradient_flow_fixes.py
  tinytorch/tests/regression/test_nlp_components_gradient_flow.py
  tinytorch/tests/system/test_forward_passes.py
  tinytorch/tests/system/test_gradients.py
  tinytorch/tests/system/test_integration.py
Due: none

style: standardize Napkin Math titles in Part I and II chapters
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

style: standardize Napkin Math titles in Data Efficiency chapter
  book/quarto/contents/vol1/data_efficiency/data_efficiency.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs(workflow): update contributor recognition wording
  .github/workflows/all-contributors-add.yml
Due: yamllint

docs: improve narrative flow in Hardware Acceleration chapter
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

cleanup(tests): remove redundant performance tests and aliases
  tinytorch/tests/performance/performance_test_framework.py
  tinytorch/tests/performance/run_all_performance_tests.py
  tinytorch/tests/performance/test_module_15_profiling.py
  tinytorch/tests/performance/test_module_16_acceleration.py
  tinytorch/tests/performance/test_module_17_quantization.py
  tinytorch/tests/performance/test_module_19_caching.py
  tinytorch/tests/performance/test_module_20_benchmarking.py
Due: none

polish: remove duplicate callout and update training cost napkin math
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(tests): resolve import errors for honest test execution
  tinytorch/tests/20_capstone/test_capstone_core.py
  tinytorch/tests/integration/test_integration_01_setup.py
Due: none

fix(ci): increase unit test timeout from 10 to 30 minutes
  .github/workflows/tinytorch-ci.yml
Due: yamllint

feat: surpass H&P standard by formalizing Entropy, Fairness, and Sustainability as engineering laws
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

polish: smooth narrative transition into hardware summary
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

restore fig-running-out-of-human-data to Data Efficiency chapter
  book/quarto/contents/vol1/data_efficiency/data_efficiency.qmd
  book/quarto/contents/vol1/data_efficiency/images/png/running_out_of_data.png
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references

fix(tests): resolve API mismatches and fix test infrastructure
  tinytorch/tests/20_capstone/test_capstone_core.py
  tinytorch/tests/checkpoints/test_checkpoint_integration.py
  tinytorch/tests/environment/test_all_requirements.py
  tinytorch/tests/integration_simple_test.py
  tinytorch/tests/integration_tinygpt_test.py
  tinytorch/tests/milestones/test_milestones_run.py
Due: none

fix(tests): correct API calls in system milestone tests
  tinytorch/tests/system/test_milestones.py
Due: none

fix(tests): add optimizer creation to enable gradient flow in tests
  tinytorch/tests/integration/test_integration_gradient_flow.py
  tinytorch/tests/system/test_gradients.py
  tinytorch/tests/test_gradient_flow_overall.py
Due: none

refactor: consolidate to volume-only structure
  .gitignore
  book/quarto/config/_quarto-epub-vol1.yml
  book/quarto/config/_quarto-epub-vol2.yml
  book/quarto/config/_quarto-epub.yml
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-html-vol2.yml
  book/quarto/config/_quarto-html.yml
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/config/_quarto-pdf.yml
  book/quarto/contents/parts/best_practices.qmd
  book/quarto/contents/parts/design_principles.qmd
  book/quarto/contents/parts/foundations.qmd
  book/quarto/contents/parts/impact_outlook.qmd
  book/quarto/contents/parts/summaries.yml
  book/quarto/contents/vol1/parts/build_principles.qmd
  book/quarto/contents/vol1/parts/deploy_principles.qmd
  book/quarto/contents/vol1/parts/foundations_principles.qmd
  book/quarto/contents/vol1/parts/optimize_principles.qmd
  book/quarto/contents/vol1/parts/summaries.yml
  book/quarto/contents/vol2/parts/inference_principles.qmd
  book/quarto/contents/vol2/parts/infrastructure_principles.qmd
  book/quarto/contents/vol2/parts/production_principles.qmd
  book/quarto/contents/vol2/parts/responsible_principles.qmd
  book/quarto/contents/vol2/parts/scale_principles.qmd
  book/quarto/contents/vol2/parts/summaries.yml
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, yamllint

fix(cli): resolve Rich markup rendering in module completion message
  tinytorch/tito/commands/module/workflow.py
Due: none

fix: resolve pre-commit hook failures
  .codespell-ignore-words.txt
  book/quarto/contents/vol1/backmatter/appendix_math_foundations.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_efficiency/data_efficiency.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/parts/optimize_principles.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/orchestration/orchestration.qmd
  book/quarto/contents/vol2/parts/infrastructure_principles.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/tools/scripts/utilities/validate_part_keys.py
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

chore: apply pre-commit auto-fixes
  book/quarto/contents/vol1/REVIEW_NOTES.md
  book/quarto/contents/vol1/backmatter/references.bib
  book/quarto/contents/vol1/data_engineering/data_engineering.bib
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol2/backmatter/references.bib
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: resolve forbidden footnotes and table formatting issues
  book/quarto/contents/vol1/backmatter/appendix_math_foundations.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_efficiency/data_efficiency.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/tools/scripts/content/check_forbidden_footnotes.py
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(modules): standardize formatting and fix NBGrader directives
  tinytorch/src/01_tensor/01_tensor.py
  tinytorch/src/02_activations/02_activations.py
  tinytorch/src/03_layers/03_layers.py
  tinytorch/src/04_losses/04_losses.py
  tinytorch/src/05_dataloader/05_dataloader.py
  tinytorch/src/06_autograd/06_autograd.py
  tinytorch/src/07_optimizers/07_optimizers.py
  tinytorch/src/08_training/08_training.py
  tinytorch/src/09_convolutions/09_convolutions.py
  tinytorch/src/10_tokenization/10_tokenization.py
  tinytorch/src/11_embeddings/11_embeddings.py
  tinytorch/src/12_attention/12_attention.py
  tinytorch/src/13_transformers/13_transformers.py
  tinytorch/src/14_profiling/14_profiling.py
  tinytorch/src/15_quantization/15_quantization.py
  tinytorch/src/16_compression/16_compression.py
  tinytorch/src/17_acceleration/17_acceleration.py
  tinytorch/src/18_memoization/18_memoization.py
  tinytorch/src/19_benchmarking/19_benchmarking.py
  tinytorch/src/20_capstone/20_capstone.py
Due: none

chore: improve section ID management script
  book/tools/scripts/content/manage_section_ids.py
Due: none

feat: add cross-chapter footnote audit utility
  book/tools/scripts/utilities/audit_footnotes_cross_chapter.py
Due: none

Path conditions:
  collapse-extra-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  format-python-in-qmd: any of: ^book/quarto/contents/.*\.qmd$
  check-list-formatting: any of: ^book/.*\.qmd$
  check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  header-inline-check: any of: ^book/quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/quarto/contents/.*\.qmd$
  check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  prevent-svg-files: any of: ^book/.*\.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: ^book/.*\.svg$
  validate-json: any of: \.json$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

