Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines, validate-images

check-section-ids:
  name: Check section IDs
  entry: python scripts/content/manage_section_ids.py -d book/contents/ --verify --yes
  language: python
  additional_dependencies:
  - nltk>=3.8
  pass_filenames: false

header-inline-check:
  name: Detect inline-style Markdown headers
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: Check for forbidden words
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

collapse-extra-blank-lines:
  name: Collapse extra blank lines
  entry: python scripts/content/collapse_blank_lines.py
  language: python
  pass_filenames: true

validate-images:
  name: Validate image files
  entry: python scripts/utilities/check_images.py
  language: python
  language_version: python3.13
  additional_dependencies:
  - pillow
  - rich
  pass_filenames: true

Improve custom callout spacing for better consistency
  book/_extensions/ute/custom-numbered-blocks/style/foldbox.tex
Due: none

Fine-tune chapter connections icon and text positioning
  book/_extensions/ute/custom-numbered-blocks/style/foldbox.tex
Due: none

Adjust chapter connections text spacing to 2.5em
  book/_extensions/ute/custom-numbered-blocks/style/foldbox.tex
Due: none

Enhance binder CLI with explicit format requirements
  README.md
  binder
  docs/BINDER.md
Due: none

Add table formatting tools and documentation
  tools/scripts/content/README_table_formatting.md
  tools/scripts/content/format_grid_tables.py
  tools/scripts/content/table_formatting_examples.qmd
Due: none

Enhance table formatting system with intelligent analysis
  config/linting/table-formatting.yaml
  tools/scripts/content/README_table_formatting.md
  tools/scripts/content/format_all_tables.sh
  tools/scripts/content/format_grid_tables.py
Due: none

Improve table parser with comprehensive test suite and multi-line cell support
  tools/scripts/content/format_grid_tables.py
  tools/scripts/content/test_table_parser.py
Due: none

Apply table formatting improvements across all book content
  book/contents/core/ai_for_good/ai_for_good.qmd
  book/contents/core/benchmarking/benchmarking.qmd
  book/contents/core/data_engineering/data_engineering.qmd
  book/contents/core/dl_primer/dl_primer.qmd
  book/contents/core/dnn_architectures/dnn_architectures.qmd
  book/contents/core/efficient_ai/efficient_ai.qmd
  book/contents/core/emerging_topics/emerging_topics.qmd
  book/contents/core/frameworks/frameworks.qmd
  book/contents/core/hw_acceleration/hw_acceleration.qmd
  book/contents/core/introduction/introduction.qmd
  book/contents/core/ml_systems/ml_systems.qmd
  book/contents/core/ondevice_learning/ondevice_learning.qmd
  book/contents/core/ops/ops.qmd
  book/contents/core/optimizations/optimizations.qmd
  book/contents/core/privacy_security/privacy_security.qmd
  book/contents/core/responsible_ai/responsible_ai.qmd
  book/contents/core/robust_ai/robust_ai.qmd
  book/contents/core/sustainable_ai/sustainable_ai.qmd
  book/contents/core/training/training.qmd
  book/contents/core/workflow/workflow.qmd
  book/contents/labs/ide_setup.qmd
  book/contents/labs/kits.qmd
  book/contents/labs/labs.qmd
  book/contents/labs/raspi/raspi.qmd
  book/contents/labs/seeed/grove_vision_ai_v2/grove_vision_ai_v2.qmd
  book/contents/labs/seeed/xiao_esp32s3/xiao_esp32s3.qmd
  tools/scripts/content/debug_alignment.py
  tools/scripts/content/debug_table_parser.py
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Add proper line breaks before and after tables and captions
  book/contents/core/ai_for_good/ai_for_good.qmd
  book/contents/core/benchmarking/benchmarking.qmd
  book/contents/core/data_engineering/data_engineering.qmd
  book/contents/core/dl_primer/dl_primer.qmd
  book/contents/core/dnn_architectures/dnn_architectures.qmd
  book/contents/core/efficient_ai/efficient_ai.qmd
  book/contents/core/frameworks/frameworks.qmd
  book/contents/core/hw_acceleration/hw_acceleration.qmd
  book/contents/core/introduction/introduction.qmd
  book/contents/core/ml_systems/ml_systems.qmd
  book/contents/core/ondevice_learning/ondevice_learning.qmd
  book/contents/core/ops/ops.qmd
  book/contents/core/optimizations/optimizations.qmd
  book/contents/core/privacy_security/privacy_security.qmd
  book/contents/core/responsible_ai/responsible_ai.qmd
  book/contents/core/robust_ai/robust_ai.qmd
  book/contents/core/sustainable_ai/sustainable_ai.qmd
  book/contents/core/training/training.qmd
  book/contents/core/workflow/workflow.qmd
  book/contents/labs/kits.qmd
  book/contents/labs/labs.qmd
  book/contents/labs/raspi/raspi.qmd
  book/contents/labs/seeed/grove_vision_ai_v2/grove_vision_ai_v2.qmd
  book/contents/labs/seeed/xiao_esp32s3/xiao_esp32s3.qmd
  tools/scripts/content/TABLE_FORMATTING_SUMMARY.md
  tools/scripts/content/format_grid_tables.py
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Fix GitHub workflows to use dual-config system properly
  .github/workflows/controller.yml
  .github/workflows/inkscape.yml
  .github/workflows/quarto-build-lite.yml
  .github/workflows/quarto-build.yml
Due: none

Add EPUB support to dual-config build system
  .github/workflows/controller.yml
  .github/workflows/quarto-build.yml
  book/_quarto-epub.yml
Due: none

Update binder CLI: Add EPUB support and shell-safe dash syntax
  binder
Due: none

Test HTML build workflow - validating GitHub Actions setup
  test-build.md
Due: none

Remove test file after validating workflow setup
  book/_quarto-pdf.yml
  book/_quarto.yml
  test-build.md
Due: none

Fix production build matrix to properly use all OS combinations
  .github/workflows/controller.yml
Due: none

Temporarily disables section ID check
  .pre-commit-config.yaml
Due: none

Adds placeholder content for emerging topics
  book/contents/core/emerging_topics/emerging_topics.bib
  book/contents/core/emerging_topics/emerging_topics.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Organizes project directory structure
  README.md
Due: none

Fixes minor typos and formatting issues
  book/contents/frontmatter/about/about.qmd
  book/contents/labs/kits.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Update README.md
  README.md
Due: none

Disables crossref injection
  book/_quarto-html.yml
  book/_quarto-pdf.yml
Due: none

Updates documentation for XIAO ESP32S3 Sense
  book/contents/labs/seeed/xiao_esp32s3/setup/setup.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Cleans Quarto-generated figure artifacts
  .gitignore
  binder
Due: none

Removes unused figures.
  book/contents/core/hw_acceleration/hw_acceleration_files/figure-html/fig-compute-memory-imbalance-1.png
  book/contents/core/hw_acceleration/hw_acceleration_files/figure-html/fig-memory-wall-1.png
  book/contents/core/hw_acceleration/hw_acceleration_files/figure-html/fig-processor-trends-1.png
Due: validate-images

Removes obsolete Quarto build workflow
  .github/workflows/quarto-build-lite.yml
Due: none

Updates texlive package file location
  .github/workflows/quarto-build.yml
Due: none

Adds academic PDF build configuration
  book/_quarto-pdf.yml
Due: none

Improves readability of YAML file
  book/_quarto-pdf.yml
Due: none

Removes unnecessary blank lines
  book/_quarto-html.yml
Due: none

Disables Lua filters
  book/_quarto-pdf.yml
Due: none

Adds titlepage extension for document styling
  book/_extensions/nmfs-opensci/titlepage/_author-affiliation-themes.tex
  book/_extensions/nmfs-opensci/titlepage/_coverpage.tex
  book/_extensions/nmfs-opensci/titlepage/_header-footer-date-themes.tex
  book/_extensions/nmfs-opensci/titlepage/_title-themes.tex
  book/_extensions/nmfs-opensci/titlepage/_titlepage.tex
  book/_extensions/nmfs-opensci/titlepage/before-body.tex
  book/_extensions/nmfs-opensci/titlepage/fonts/qualitype/doc/qualitype-doc.pdf
  book/_extensions/nmfs-opensci/titlepage/fonts/qualitype/doc/qualitype-doc.tex
  book/_extensions/nmfs-opensci/titlepage/mathjax.html
  book/_extensions/nmfs-opensci/titlepage/pandoc.tex
Due: none

Remove generated PDF files from Git tracking
  .gitignore.swp
  book/_quarto.yml
  book/contents/core/benchmarking/benchmarking_files/figure-pdf/fig-imagenet-challenge-1.pdf
  book/contents/core/benchmarking/benchmarking_files/figure-pdf/fig-imagenet-gpus-1.pdf
  book/contents/core/benchmarking/benchmarking_files/figure-pdf/fig-power-differentials-1.pdf
  book/contents/core/hw_acceleration/hw_acceleration_files/figure-pdf/fig-compute-memory-imbalance-1.pdf
  book/contents/core/hw_acceleration/hw_acceleration_files/figure-pdf/fig-memory-wall-1.pdf
  book/contents/core/hw_acceleration/hw_acceleration_files/figure-pdf/fig-processor-trends-1.pdf
  book/contents/core/sustainable_ai/sustainable_ai_files/figure-pdf/fig-ai-data-center-demand-1.pdf
Due: none

Shorten support mission text and add New! to impact link
  book/index.qmd
Due: none

Refactors Quarto config selection in CI
  .pre-commit-config.yaml
Due: none

Fix foldbox colors and icon rendering for PDF builds
  book/_extensions/ute/custom-numbered-blocks/style/foldbox.tex
  book/_extensions/ute/custom-numbered-blocks/style/icons/icon_callout-chapter-connection.pdf
  book/_extensions/ute/custom-numbered-blocks/style/icons/icon_callout-quiz-answer.pdf
  book/_extensions/ute/custom-numbered-blocks/style/icons/icon_callout-quiz-question.pdf
  book/_extensions/ute/custom-numbered-blocks/style/icons/icon_callout-resource-exercises.pdf
  book/_extensions/ute/custom-numbered-blocks/style/icons/icon_callout-resource-slides.pdf
  book/_extensions/ute/custom-numbered-blocks/style/icons/icon_callout-resource-videos.pdf
  docs/BUILD.md
  tools/scripts/convert_icons.sh
Due: none

Removes unnecessary language version specification
  .pre-commit-config.yaml
Due: none

Adds conditional sidenotes for specific formats
  config/lua/sidenote.lua
Due: none

Refactors filter configurations
  book/_quarto-epub.yml
  book/_quarto-html.yml
  book/_quarto-pdf.yml
Due: none

Replaces image with a "coming soon" message
  book/contents/core/emerging_topics/emerging_topics.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Updates part titles and removes LaTeX artifact
  book/contents/core/sustainable_ai/sustainable_ai.qmd
  book/part_summaries.yml
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Path conditions:
  check-section-ids: any of: ^book/contents/.*\.qmd$
  header-inline-check: any of: ^book/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/contents/.*\.qmd$
  collapse-extra-blank-lines: any of: ^book/contents/.*\.qmd$
  validate-images: any of: ^book/contents/core.*\.(png|jpg|jpeg|gif)$
