Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-validate-json, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-images, book-validate-external-images, book-validate-image-references, book-prevent-svg

book-collapse-blank-lines:
  name: 'Book: Collapse extra blank lines'
  entry: python book/tools/scripts/content/format_blank_lines.py
  language: python
  pass_filenames: true

book-format-python:
  name: 'Book: Format Python code blocks (Black, 70 chars)'
  entry: python book/tools/scripts/content/format_python_in_qmd.py
  language: python
  additional_dependencies:
  - black>=23.0.0
  pass_filenames: true

book-check-list-formatting:
  name: 'Book: Fix markdown list formatting'
  entry: python book/tools/scripts/utilities/check_list_formatting.py --fix
  language: python
  pass_filenames: true

book-validate-json:
  name: 'Book: Validate JSON files'
  entry: python book/tools/scripts/utilities/validate_json.py
  language: python
  pass_filenames: true

book-check-unreferenced-labels:
  name: 'Book: Check for unreferenced labels'
  entry: python book/tools/scripts/content/check_unreferenced_labels.py ./book/quarto/contents/core
  language: python
  pass_filenames: false

book-check-duplicate-labels:
  name: 'Book: Check for duplicate labels'
  entry: python book/tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - book/quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  pass_filenames: false

book-validate-citations:
  name: 'Book: Validate citation references'
  entry: python book/tools/scripts/content/validate_citations.py --quiet
  language: python
  pass_filenames: true

book-validate-footnotes:
  name: 'Book: Validate footnote references'
  entry: python book/tools/scripts/content/footnote_cleanup.py -d book/quarto/contents/ --validate
  language: python
  pass_filenames: false

book-check-forbidden-footnotes:
  name: 'Book: Check for footnotes in tables/captions'
  entry: python book/tools/scripts/content/check_forbidden_footnotes.py -d book/quarto/contents/
  language: python
  pass_filenames: false

book-check-purpose-unnumbered:
  name: 'Book: Ensure Purpose sections are unnumbered'
  entry: bash -c 'grep -n "^## Purpose" "$@" | grep -v "\.unnumbered" && exit 1 || exit 0' --
  language: system
  pass_filenames: true

book-check-table-formatting:
  name: 'Book: Check table formatting'
  entry: python book/tools/scripts/content/format_tables.py --check -d book/quarto/contents/
  language: python
  pass_filenames: false

book-validate-part-keys:
  name: 'Book: Validate part keys'
  entry: python book/tools/scripts/utilities/validate_part_keys.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

book-validate-images:
  name: 'Book: Validate image files'
  entry: python book/tools/scripts/images/manage_images.py
  language: python
  additional_dependencies:
  - pillow
  - rich
  pass_filenames: true

book-validate-external-images:
  name: 'Book: Check for external images'
  entry: python book/tools/scripts/images/manage_external_images.py --validate book/quarto/contents/
  language: python
  additional_dependencies:
  - requests
  pass_filenames: false

Add figure completeness validation and fix missing fig-cap/fig-alt
  .pre-commit-config.yaml
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/tools/scripts/content/check_figure_completeness.py
  book/tools/scripts/content/figure_table_flow_audit.py
  book/tools/scripts/publish/extract_figures.py
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Standardize volume titles to full 'Machine Learning Systems' naming
  book/docs/PART_KEY_VALIDATION.md
  book/docs/VOLUME_STRUCTURE.md
  book/quarto/contents/vol1/frontmatter/about.qmd
  book/quarto/contents/vol1/parts/build_principles.qmd
  book/quarto/contents/vol1/parts/deploy_principles.qmd
  book/quarto/contents/vol1/parts/foundations_principles.qmd
  book/quarto/contents/vol1/parts/optimize_principles.qmd
  book/quarto/contents/vol1/parts/summaries.yml
  book/quarto/contents/vol2/frontmatter/about.qmd
  book/quarto/contents/vol2/frontmatter/foreword.qmd
  book/quarto/contents/vol2/index.qmd
  book/quarto/contents/vol2/parts/summaries.yml
  landing/index.html
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Remove stale Quarto configs and generated figure list
  book/quarto/FIGURE_LIST_VOL1.md
  book/quarto/config/_quarto-epub-vol1.yml
  book/quarto/config/_quarto-epub-vol2.yml
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-html-vol2.yml
  book/quarto/config/_quarto-pdf-vol1-copyedit.yml
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
Due: none

Add fallacy and pitfall callout icons (SVG + PNG)
  book/quarto/assets/images/icons/callouts/icon_callout_fallacy.png
  book/quarto/assets/images/icons/callouts/icon_callout_fallacy.svg
  book/quarto/assets/images/icons/callouts/icon_callout_pitfall.png
  book/quarto/assets/images/icons/callouts/icon_callout_pitfall.svg
Due: none

Update chapter content, appendix cleanup, and Lua extension fixes
  book/quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/custom-numbered-blocks.lua
  book/quarto/contents/vol1/backmatter/appendix_historical.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/tex/header-includes.tex
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Add calc module for reproducible quantitative computations
  book/quarto/calc/__init__.py
  book/quarto/calc/_legacy_ch_ml_systems.py
  book/quarto/calc/calc.qmd
  book/quarto/calc/ch_example.py
  book/quarto/calc/constants.py
  book/quarto/calc/export.py
  book/quarto/calc/formulas.py
  book/quarto/calc/generate_appendix.py
  book/quarto/calc/viz.py
Due: book-validate-part-keys

Add debug CLI command and improve build command
  book/cli/commands/build.py
  book/cli/commands/debug.py
  book/cli/main.py
Due: none

Add content validation and publishing scripts
  book/tools/scripts/content/check_forbidden_footnotes.py
  book/tools/scripts/content/check_references.py
  book/tools/scripts/preview_diagrams.py
  book/tools/scripts/preview_systems_gap.py
  book/tools/scripts/publish/mit-press-release.sh
Due: none

Add narrative invariant tests and update dependencies
  book/tests/test_narrative_invariants.py
  book/tools/dependencies/requirements.txt
Due: none

Add VSCode extension for book build and debug tooling
  book/vscode-ext/.gitignore
  book/vscode-ext/.vscodeignore
  book/vscode-ext/package-lock.json
  book/vscode-ext/package.json
  book/vscode-ext/resources/icon.svg
  book/vscode-ext/src/commands/buildCommands.ts
  book/vscode-ext/src/commands/contextMenuCommands.ts
  book/vscode-ext/src/commands/debugCommands.ts
  book/vscode-ext/src/commands/precommitCommands.ts
  book/vscode-ext/src/commands/publishCommands.ts
  book/vscode-ext/src/constants.ts
  book/vscode-ext/src/extension.ts
  book/vscode-ext/src/models/treeItems.ts
  book/vscode-ext/src/providers/buildTreeProvider.ts
  book/vscode-ext/src/providers/debugTreeProvider.ts
  book/vscode-ext/src/providers/precommitTreeProvider.ts
  book/vscode-ext/src/providers/publishTreeProvider.ts
  book/vscode-ext/src/types.ts
  book/vscode-ext/src/utils/chapters.ts
  book/vscode-ext/src/utils/terminal.ts
  book/vscode-ext/src/utils/workspace.ts
  book/vscode-ext/tsconfig.json
Due: book-validate-json

Add backmatter appendix figures (activities diagram, HoG visualization)
  book/quarto/contents/vol1/backmatter/images/png/activities.png
  book/quarto/contents/vol1/backmatter/images/png/hog.png
Due: book-validate-images

Remove @principle-* cross-reference IDs in favor of text-based principle names
  book/quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/custom-numbered-blocks.lua
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/parts/build_principles.qmd
  book/quarto/contents/vol1/parts/deploy_principles.qmd
  book/quarto/contents/vol1/parts/foundations_principles.qmd
  book/quarto/contents/vol1/parts/optimize_principles.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Fix 'Pareto Curve' to 'Pareto Frontier' for principle naming consistency
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Refine principle framework to 12 quantitative principles (2-2-4-4)
  book/quarto/contents/vol1/frontmatter/about.qmd
  book/quarto/contents/vol1/parts/build_principles.qmd
  book/quarto/contents/vol1/parts/deploy_principles.qmd
  book/quarto/contents/vol1/parts/foundations_principles.qmd
  book/quarto/contents/vol1/parts/optimize_principles.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Fix all Vol I chapter builds (HTML + PDF) and unblock Vol II builds
  book/cli/commands/debug.py
  book/quarto/calc/constants.py
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol2/ai_for_good/ai_for_good.bib
  book/quarto/contents/vol2/communication/communication.bib
  book/quarto/contents/vol2/conclusion/conclusion.bib
  book/quarto/contents/vol2/distributed_training/distributed_training.bib
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.bib
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.bib
  book/quarto/contents/vol2/frontiers/frontiers.bib
  book/quarto/contents/vol2/inference/inference.bib
  book/quarto/contents/vol2/infrastructure/infrastructure.bib
  book/quarto/contents/vol2/introduction/introduction.bib
  book/quarto/contents/vol2/ops_scale/ops_scale.bib
  book/quarto/contents/vol2/privacy_security/privacy_security.bib
  book/quarto/contents/vol2/responsible_ai/responsible_ai.bib
  book/quarto/contents/vol2/robust_ai/robust_ai.bib
  book/quarto/contents/vol2/storage/storage.bib
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.bib
  book/quarto/viz.py
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Fix duplicate appendix chapters, remove glossary boilerplate, integrate principles
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/contents/vol1/backmatter/appendix_algorithm.qmd
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/backmatter/glossary/glossary.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/frontmatter/about.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Regenerate Vol I glossary with 511 terms from all 19 chapters
  book/quarto/contents/vol1/backmatter/glossary/glossary.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Add MIT Press print polish: drop caps, half-title, copyright, running headers, thumb index
  book/quarto/.gitignore
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/filters/dropcap.lua
  book/quarto/tex/before-body-includes-vol2.tex
  book/quarto/tex/copyright-vol2.tex
  book/quarto/tex/header-includes.tex
Due: none

Enforce progressive disclosure in Fallacies and Pitfalls sections
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Updates training profile code blocks
  book/quarto/contents/vol1/training/training.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Registers pint units for data scales and FLOPs
  book/quarto/calc/README.md
  book/quarto/calc/constants.py
  book/quarto/calc/test_units.py
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Refactors code block formatting in introduction
  book/quarto/contents/vol1/introduction/introduction.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Remove empty group-header rows from deployment comparison table
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Eliminate cross-chapter redundancy in Fallacies and Pitfalls sections
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Reorganize introduction flow and fix transition seams
  book/quarto/contents/vol1/introduction/introduction.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Refactor: Migrate 24 chapters to calc.constants physics engine
  book/quarto/calc/constants.py
  book/quarto/calc/test_units.py
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

docs(slides): specify genai usage (#1149)
  tinytorch/src/01_tensor/ABOUT.md
  tinytorch/src/02_activations/ABOUT.md
  tinytorch/src/03_layers/ABOUT.md
  tinytorch/src/04_losses/ABOUT.md
  tinytorch/src/05_dataloader/ABOUT.md
  tinytorch/src/06_autograd/ABOUT.md
  tinytorch/src/07_optimizers/ABOUT.md
  tinytorch/src/08_training/ABOUT.md
  tinytorch/src/09_convolutions/ABOUT.md
  tinytorch/src/10_tokenization/ABOUT.md
  tinytorch/src/11_embeddings/ABOUT.md
  tinytorch/src/12_attention/ABOUT.md
  tinytorch/src/13_transformers/ABOUT.md
  tinytorch/src/14_profiling/ABOUT.md
  tinytorch/src/15_quantization/ABOUT.md
  tinytorch/src/16_compression/ABOUT.md
  tinytorch/src/17_acceleration/ABOUT.md
  tinytorch/src/18_memoization/ABOUT.md
  tinytorch/src/19_benchmarking/ABOUT.md
  tinytorch/src/20_capstone/ABOUT.md
Due: none

Enforce Computed Arithmetic Rule across all chapters (1,064 inline refs, 0 unresolved)
  SEMINAL_PAPERS_CORPUS.md
  book/docs/BINDER.md
  book/docs/VOLUME_STRUCTURE.md
  book/quarto/calc/validate_inline_refs.py
  book/quarto/calc/viz.py
  book/quarto/contents/frontmatter/about/about.qmd
  book/quarto/contents/vol1/REVIEW_NOTES.md
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/parts/build_principles.qmd
  book/quarto/contents/vol1/parts/deploy_principles.qmd
  book/quarto/contents/vol1/parts/foundations_principles.qmd
  book/quarto/contents/vol1/parts/optimize_principles.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
  book/quarto/scripts/fix_cross_references.py
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Computed Arithmetic Rule passes 2-3: fix 47 more derived values (1,124 total refs)
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/storage/storage.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Add --open/-o flag to binder CLI to auto-open build output
  book/cli/commands/build.py
  book/cli/main.py
Due: none

Fix table formatter HTML escaping bug and add rendering validator
  book/tools/scripts/content/format_tables.py
  book/tools/scripts/content/validate_tables.py
Due: none

Reformat grid tables across all Vol 1 chapters and fix rendering issues
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Computed Arithmetic Rule pass 4: fix 20 remaining prose violations (1,195 total refs)
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/orchestration/orchestration.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Update color palette, constants, viz, and Vol I chapter edits
  book/quarto/calc/constants.py
  book/quarto/calc/viz.py
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/contents/vol1/backmatter/appendix_algorithm.qmd
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Reorder Lighthouse Examples for consistent progression and minor fixes
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/config/_quarto-pdf-vol2.yml
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol2/optimization/optimization.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Add new bibliography entries for data systems and ML foundations
  book/quarto/contents/vol1/backmatter/references.bib
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frontmatter/foreword.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol2/frontmatter/foreword.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Enables all Volume I chapters
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/contents/vol1/backmatter/glossary/glossary.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Path conditions:
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-check-list-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  book-prevent-svg: any of: ^book/quarto/contents/.*\.svg$, but not: .*_files/mediabag/.*\.svg$
