Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$

refactor: remove unused import in find_safe_insertion_points
  tools/scripts/genai/quizzes.py
Due: none

docs: add incremental development practices to CLAUDE.md
  CLAUDE.md
Due: none

feat: add comprehensive knowledge map for quiz generation
  tools/scripts/genai/knowledge_map.json
Due: none

feat: add quiz files for emerging_topics and frontiers chapters
  quarto/contents/core/emerging_topics/emerging_topics_quizzes.json
  quarto/contents/core/frontiers/frontiers_quizzes.json
Due: none

docs: add CALC question guidelines with bad/good examples
  tools/scripts/genai/CALC_QUESTION_GUIDELINES.md
Due: none

fix(quiz): uncomment Gradio import to enable review GUI
  quarto/contents/core/ai_for_good/ai_for_good_quizzes.json
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/benchmarking/benchmarking_quizzes.json
  quarto/contents/core/benchmarking/generative_ai_quizzes.json
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/conclusion/conclusion_quizzes.json
  quarto/contents/core/data_engineering/data_engineering_quizzes.json
  quarto/contents/core/dl_primer/dl_primer_quizzes.json
  quarto/contents/core/dnn_architectures/dnn_architectures_quizzes.json
  quarto/contents/core/efficient_ai/efficient_ai_quizzes.json
  quarto/contents/core/emerging_topics/emerging_topics.qmd
  quarto/contents/core/emerging_topics/emerging_topics_quizzes.json
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frameworks/frameworks_quizzes.json
  quarto/contents/core/frameworks/frontiers_quizzes.json
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/frontiers/frontiers_quizzes.json
  quarto/contents/core/hw_acceleration/hw_acceleration_quizzes.json
  quarto/contents/core/introduction/introduction_quizzes.json
  quarto/contents/core/ml_systems/emerging_topics_quizzes.json
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ml_systems/ml_systems_quizzes.json
  quarto/contents/core/ondevice_learning/ondevice_learning_quizzes.json
  quarto/contents/core/ops/ops_quizzes.json
  quarto/contents/core/optimizations/optimizations_quizzes.json
  quarto/contents/core/privacy_security/privacy_security_quizzes.json
  quarto/contents/core/responsible_ai/responsible_ai_quizzes.json
  quarto/contents/core/robust_ai/robust_ai_quizzes.json
  quarto/contents/core/sustainable_ai/sustainable_ai_quizzes.json
  quarto/contents/core/training/training_quizzes.json
  quarto/contents/core/workflow/workflow_quizzes.json
  quarto/filters/inject_quizzes.lua
  tools/scripts/genai/CALC_QUESTION_GUIDELINES.md
  tools/scripts/genai/quizzes.py
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(quiz): escape curly braces in SYSTEM_PROMPT documentation
  tools/scripts/genai/quizzes.py
Due: none

feat: implement topics_covered approach for quiz generation
  quarto/contents/core/ai_for_good/ai_for_good_quizzes.json
  quarto/contents/core/benchmarking/generative_ai_quizzes.json
  quarto/contents/core/conclusion/conclusion_quizzes.json
  quarto/contents/core/data_engineering/data_engineering_quizzes.json
  quarto/contents/core/dl_primer/dl_primer_quizzes.json
  quarto/contents/core/dnn_architectures/dnn_architectures_quizzes.json
  quarto/contents/core/efficient_ai/efficient_ai_quizzes.json
  quarto/contents/core/emerging_topics/emerging_topics_quizzes.json
  quarto/contents/core/frameworks/emerging_topics_quizzes.json
  quarto/contents/core/frameworks/frameworks_quizzes.json
  quarto/contents/core/frameworks/frontiers_quizzes.json
  quarto/contents/core/frontiers/frontiers_quizzes.json
  quarto/contents/core/hw_acceleration/hw_acceleration_quizzes.json
  quarto/contents/core/introduction/introduction_quizzes.json
  quarto/contents/core/ml_systems/emerging_topics_quizzes.json
  quarto/contents/core/ml_systems/frontiers_quizzes.json
  quarto/contents/core/ml_systems/ml_systems_quizzes.json
  quarto/contents/core/ondevice_learning/ondevice_learning_quizzes.json
  quarto/contents/core/ops/ops_quizzes.json
  quarto/contents/core/optimizations/optimizations_quizzes.json
  quarto/contents/core/privacy_security/privacy_security_quizzes.json
  quarto/contents/core/responsible_ai/responsible_ai_quizzes.json
  quarto/contents/core/robust_ai/robust_ai_quizzes.json
  quarto/contents/core/sustainable_ai/sustainable_ai_quizzes.json
  quarto/contents/core/training/training_quizzes.json
  quarto/contents/core/workflow/workflow_quizzes.json
  tools/scripts/genai/quizzes.py
Due: none

feat: implement concept-driven cross-reference system
  quarto/contents/core/ai_for_good/ai_for_good_xrefs.json
  quarto/contents/core/benchmarking/benchmarking_xrefs.json
  quarto/contents/core/conclusion/conclusion_xrefs.json
  quarto/contents/core/data_engineering/data_engineering_xrefs.json
  quarto/contents/core/dl_primer/dl_primer_xrefs.json
  quarto/contents/core/dnn_architectures/dnn_architectures_xrefs.json
  quarto/contents/core/efficient_ai/efficient_ai_xrefs.json
  quarto/contents/core/emerging_topics/emerging_topics_xrefs.json
  quarto/contents/core/frameworks/frameworks_xrefs.json
  quarto/contents/core/frontiers/frontiers_xrefs.json
  quarto/contents/core/generative_ai/generative_ai_xrefs.json
  quarto/contents/core/hw_acceleration/hw_acceleration_xrefs.json
  quarto/contents/core/introduction/introduction_xrefs.json
  quarto/contents/core/ml_systems/ml_systems_xrefs.json
  quarto/contents/core/ondevice_learning/ondevice_learning_xrefs.json
  quarto/contents/core/ops/ops_xrefs.json
  quarto/contents/core/optimizations/optimizations_xrefs.json
  quarto/contents/core/privacy_security/privacy_security_xrefs.json
  quarto/contents/core/responsible_ai/responsible_ai_xrefs.json
  quarto/contents/core/robust_ai/robust_ai_xrefs.json
  quarto/contents/core/sustainable_ai/sustainable_ai_xrefs.json
  quarto/contents/core/training/training_xrefs.json
  quarto/contents/core/workflow/workflow_xrefs.json
  tools/scripts/cross_refs/concept_xrefs_generator.py
Due: none

feat: add cross-reference analysis and optimization tools
  tools/scripts/cross_refs/analyze_xrefs_coverage.py
  tools/scripts/cross_refs/llm_enhanced_xrefs.py
  tools/scripts/cross_refs/optimized_xrefs_generator.py
Due: none

fix: remove white background from definition icon
  quarto/assets/images/icons/callouts/icon_callout-definition.pdf
  quarto/assets/images/icons/callouts/icon_callout-definition.png
Due: none

refactor: rename inject_crossrefs.lua to xrefs-inject.lua
  quarto/config/_quarto-epub.yml
  quarto/config/_quarto-html.yml
  quarto/config/_quarto-pdf.yml
  quarto/filters/xrefs-inject.lua
Due: yamllint

refactor: improve cross-reference formatting and cleanup
  quarto/filters/inject-xrefs.lua
Due: none

feat: implement hybrid cross-reference placement strategy
  quarto/filters/inject-xrefs-backup.lua
  quarto/filters/inject-xrefs-clean.lua
  quarto/filters/inject-xrefs-experimental.lua
  quarto/test-xref-analysis.md
  test-xref-modes.sh
Due: none

fix: correct stats variable names in inject-xrefs filter
  quarto/filters/inject-xrefs.lua
Due: none

feat: switch to gemma2:27b model and regenerate cross-references
  quarto/contents/core/ai_for_good/ai_for_good_cognitive_xrefs.json
  quarto/contents/core/benchmarking/benchmarking_cognitive_xrefs.json
  quarto/contents/core/conclusion/conclusion_cognitive_xrefs.json
  quarto/contents/core/data_engineering/data_engineering_cognitive_xrefs.json
  quarto/contents/core/dl_primer/dl_primer_cognitive_xrefs.json
  quarto/contents/core/dnn_architectures/dnn_architectures_xrefs.json
  quarto/contents/core/efficient_ai/efficient_ai_cognitive_xrefs.json
  quarto/contents/core/emerging_topics/emerging_topics_cognitive_xrefs.json
  quarto/contents/core/frameworks/frameworks_cognitive_xrefs.json
  quarto/contents/core/frontiers/frontiers_cognitive_xrefs.json
  quarto/contents/core/generative_ai/generative_ai_cognitive_xrefs.json
  quarto/contents/core/hw_acceleration/hw_acceleration_cognitive_xrefs.json
  quarto/contents/core/introduction/introduction_cognitive_xrefs.json
  quarto/contents/core/ml_systems/ml_systems_cognitive_xrefs.json
  quarto/contents/core/ondevice_learning/ondevice_learning_cognitive_xrefs.json
  quarto/contents/core/ops/ops_cognitive_xrefs.json
  quarto/contents/core/optimizations/optimizations_cognitive_xrefs.json
  quarto/contents/core/privacy_security/privacy_security_cognitive_xrefs.json
  quarto/contents/core/responsible_ai/responsible_ai_cognitive_xrefs.json
  quarto/contents/core/robust_ai/robust_ai_cognitive_xrefs.json
  quarto/contents/core/sustainable_ai/sustainable_ai_cognitive_xrefs.json
  quarto/contents/core/training/training_cognitive_xrefs.json
  quarto/contents/core/workflow/workflow_cognitive_xrefs.json
  tools/scripts/cross_refs/HOW_TO_REGENERATE_XREFS.md
  tools/scripts/cross_refs/llm_enhanced_xrefs.py
  tools/scripts/cross_refs/manage_cross_references.py
  tools/scripts/cross_refs/production_summary.json
  tools/scripts/cross_refs/regenerate_xrefs.py
Due: none

refactor: improve cross-reference placement and styling
  quarto/contents/core/ai_for_good/ai_for_good_xrefs.json
  quarto/filters/inject-xrefs.lua
  tools/scripts/cross_refs/enhance_xref_explanations.py
Due: none

feat: enhance cross-reference explanations with Gemma 2
  quarto/contents/core/introduction/introduction_xrefs.json
  tools/scripts/cross_refs/enhance_all_xrefs.py
  tools/scripts/cross_refs/quick_enhance.py
Due: none

refactor: simplify cross-reference styling
  quarto/contents/core/data_engineering/data_engineering_xrefs.json
  quarto/contents/core/dl_primer/dl_primer_xrefs.json
  quarto/contents/core/frameworks/frameworks_xrefs.json
  quarto/contents/core/ml_systems/ml_systems_xrefs.json
  quarto/contents/core/workflow/workflow_xrefs.json
  quarto/filters/inject-xrefs.lua
Due: none

fix: adjust thresholds to show more diverse cross-references
  quarto/contents/core/efficient_ai/efficient_ai_xrefs.json
  quarto/contents/core/hw_acceleration/hw_acceleration_xrefs.json
  quarto/contents/core/optimizations/optimizations_xrefs.json
  quarto/contents/core/training/training_xrefs.json
  quarto/filters/inject-xrefs.lua
Due: none

fix: resolve cross-reference issues for better readability
  quarto/contents/core/benchmarking/benchmarking_xrefs.json
  quarto/contents/core/data_engineering/data_engineering_xrefs.json
  quarto/contents/core/efficient_ai/efficient_ai_xrefs.json
  quarto/contents/core/hw_acceleration/hw_acceleration_xrefs.json
  quarto/contents/core/introduction/introduction_xrefs.json
  quarto/contents/core/ml_systems/ml_systems_xrefs.json
  quarto/contents/core/ondevice_learning/ondevice_learning_xrefs.json
  quarto/contents/core/ops/ops_xrefs.json
  quarto/contents/core/optimizations/optimizations_xrefs.json
  quarto/contents/core/privacy_security/privacy_security_xrefs.json
  quarto/contents/core/responsible_ai/responsible_ai_xrefs.json
  quarto/contents/core/training/training_xrefs.json
  quarto/contents/core/workflow/workflow_xrefs.json
  tools/scripts/cross_refs/fix_xref_issues.py
Due: none

refactor: remove emerging_topics directory and update xrefs filter naming
  quarto/assets/styles/style.scss
  quarto/config/_quarto-html.yml
  quarto/config/_quarto-pdf.yml
  quarto/contents/core/conclusion/conclusion_xrefs.json
  quarto/contents/core/emerging_topics/._emerging_topics_xref.json
  quarto/contents/core/emerging_topics/emerging_topics.bib
  quarto/contents/core/emerging_topics/emerging_topics.qmd
  quarto/contents/core/emerging_topics/emerging_topics_concepts.yml
  quarto/contents/core/emerging_topics/emerging_topics_quizzes.json
  quarto/contents/core/emerging_topics/emerging_topics_xrefs.json
  quarto/contents/core/frontiers/frontiers_xrefs.json
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/introduction/introduction_xrefs.json
  quarto/contents/core/robust_ai/robust_ai_xrefs.json
  quarto/contents/core/sustainable_ai/sustainable_ai_xrefs.json
  quarto/contents/frontmatter/about/about.qmd
  quarto/filters/inject_xrefs.lua
  quarto/tex/header-includes.tex
  tools/scripts/cross_refs/academic_explanation_generator.py
  tools/scripts/cross_refs/add_section_titles.py
  tools/scripts/cross_refs/add_target_sections.py
  tools/scripts/cross_refs/context_aware_xref_generator.py
  tools/scripts/cross_refs/contextual_explanation_generator.py
  tools/scripts/cross_refs/fix_intro_explanations.py
  tools/scripts/cross_refs/improve_explanations.py
  tools/scripts/cross_refs/progressive_xref_generator.py
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Adds complement xrefs
  quarto/filters/inject_xrefs.lua
Due: none

Update robust_ai.qmd and images from chapter-15 branch
  quarto/contents/core/robust_ai/images/png/adversarial_attack_detection.png
  quarto/contents/core/robust_ai/images/png/adversarial_googlenet.png
  quarto/contents/core/robust_ai/images/png/data_augmentation.png
  quarto/contents/core/robust_ai/images/png/dirty_label_example.png
  quarto/contents/core/robust_ai/images/png/hardware_errors.png
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references

Fixes image path for gradient attack
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(ci): resolve Inkscape PATH timing issue in Windows builds
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

fix(ci): resolve Ghostscript installation issues in Windows builds
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

improve(ci): use exact winget package matching for reliability
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

refactor(ci): simplify Inkscape and Ghostscript installations
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint

polish: improve clarity in Introduction chapter
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish: improve clarity in Frameworks chapter
  quarto/contents/core/frameworks/frameworks.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish: improve clarity in Training chapter
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish: improve clarity in Optimizations chapter
  quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish: improve clarity in Benchmarking chapter
  quarto/contents/core/benchmarking/benchmarking.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish: improve clarity in Operations chapter
  quarto/contents/core/ops/ops.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

polish: improve clarity in core chapters
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(ci): replace winget with Scoop for Ghostscript installation
  .github/workflows/quarto-build-baremetal.yml
Due: yamllint
