Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$

Elaborates on the scaling hypothesis
  quarto/contents/core/frontiers/frontiers.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Clarifies network constraints and processing.
  quarto/contents/core/ai_for_good/ai_for_good.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Enhance technical content with expanded explanations and cross-references
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Adds carbon footprint tracking example
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

refactor: optimize paragraph structure in introduction based on Phase 1 feedback
  quarto/contents/core/introduction/introduction.bib
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix: prevent agents from auto-creating git branches
  .claude/README.md
  .claude/agents/editor.md
  .claude/agents/footnote.md
  .claude/agents/glossary-builder.md
  .claude/agents/learning-objectives.md
  .claude/agents/reviewer.md
  .claude/agents/stylist.md
  .claude/docs/agents/footnote_complete_guide.md
  .claude/docs/shared/GIT_WORKFLOW.md
  .claude/docs/shared/agent_commit_policy.md
  CLAUDE.md
Due: none

fix sec broken links
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Adds new glossary terms
  quarto/contents/core/dl_primer/dl_primer_glossary.json
  quarto/contents/core/frameworks/frameworks_glossary.json
  quarto/contents/core/introduction/introduction_glossary.json
  quarto/contents/core/optimizations/optimizations_glossary.json
  quarto/contents/core/training/training_glossary.json
Due: none

Refines content for clarity and accuracy
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers_glossary.json
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Adds new terms to several glossaries
  quarto/contents/core/ai_for_good/ai_for_good_glossary.json
  quarto/contents/core/benchmarking/benchmarking_glossary.json
  quarto/contents/core/data_engineering/data_engineering_glossary.json
  quarto/contents/core/efficient_ai/efficient_ai_glossary.json
  quarto/contents/core/hw_acceleration/hw_acceleration_glossary.json
  quarto/contents/core/ondevice_learning/ondevice_learning_glossary.json
  quarto/contents/core/privacy_security/privacy_security_glossary.json
  quarto/contents/core/responsible_ai/responsible_ai_glossary.json
  quarto/contents/core/robust_ai/robust_ai_glossary.json
  quarto/contents/core/sustainable_ai/sustainable_ai_glossary.json
  quarto/contents/core/workflow/workflow_glossary.json
Due: none

Updates content for clarity and adds glossary terms
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/ops/ops_glossary.json
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

docs(binder): document selective PDF chapter building functionality
  .claude/agents/editor.md
  .claude/agents/reviewer.md
  .claude/agents/stylist.md
  docs/BINDER.md
  quarto/_quarto.yml
  quarto/contents/backmatter/glossary/glossary.json
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
  quarto/scripts/fix_glossary_html.py
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(binder): exclude glossary and references from selective PDF builds
  cli/commands/build.py
  docs/BINDER.md
Due: none

fix(glossary): remove warning when no glossary file is found
  quarto/filters/inject_glossary.lua
Due: none

Minor tweaks
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Removes accidental bold formatting.
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/generative_ai/generative_ai.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Removes bolding for emphasis
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/frontiers/frontiers.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Updates agent report output locations
  .claude/agents/editor.md
  .claude/agents/glossary-builder.md
  .claude/agents/learning-objectives.md
  .claude/agents/reviewer.md
  debug_section_ids.py
Due: none

Refactors HTML-only build process
  cli/commands/build.py
Due: none

docs: update core chapters and fix validation issues
  quarto/config/_quarto-html.yml
  quarto/config/_quarto-pdf.yml
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Writing edits
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/data_engineering/data_engineering.bib
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.bib
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.bib
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.bib
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.bib
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Adds introductory paragraphs to sections
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(content): clean up unused footnote definitions and fix unreferenced figure
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Adds energy efficiency consideration to ML systems.
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: enhance frameworks chapter with Patterson bandwidth specifications
  quarto/contents/core/frameworks/frameworks.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Enhances system measurement and resource optimization
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: add strategic forward references to address performance adaptation in robust AI
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(content): correct section label references
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Refines introduction to ML systems engineering
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat(introduction): rewrite Purpose section to establish ML Systems Engineering as new discipline
  .claude/README.md
  EDITORIAL_WORKFLOW.md
  SYSTEMATIC_WORKFLOW_ORCHESTRATOR.md
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: enhance textbook with framework-centric perspective and improved formatting
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: implement comprehensive polish workflow with standardized schemas
  .claude/agents/editorial/citation-validator.md
  .claude/agents/editorial/cross-reference-optimizer.md
  .claude/agents/editorial/editor.md
  .claude/agents/editorial/fact-checker.md
  .claude/agents/editorial/footnote.md
  .claude/agents/editorial/glossary-builder.md
  .claude/agents/editorial/independent-review.md
  .claude/agents/editorial/learning-objectives.md
  .claude/agents/editorial/narrative-flow-analyzer.md
  .claude/agents/editorial/reviewer.md
  .claude/agents/editorial/stylist.md
  .claude/agents/glossary-builder.md
  .claude/agents/workflow/consensus-builder.md
  .claude/agents/workflow/git-commit.md
  .claude/agents/workflow/polish.md
Due: none

Enhances editorial agent formatting guidelines
  .claude/agents/editorial/editor.md
Due: none

Implement comprehensive flow optimization for DNN architectures chapter
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

refactor(dl_primer): implement flow optimization fixes based on chapter analysis
  quarto/contents/core/dl_primer/dl_primer.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Refines footnote and review processes
  .claude/agents/editorial/editor.md
  .claude/agents/editorial/footnote.md
  .claude/agents/editorial/independent-review.md
  .claude/agents/reviewer.md
Due: none

Updates and standardizes BibTeX entries
  quarto/contents/core/ai_for_good/ai_for_good.bib
  quarto/contents/core/benchmarking/benchmarking.bib
  quarto/contents/core/conclusion/conclusion.bib
  quarto/contents/core/data_engineering/data_engineering.bib
  quarto/contents/core/dl_primer/dl_primer.bib
  quarto/contents/core/dnn_architectures/dnn_architectures.bib
  quarto/contents/core/efficient_ai/efficient_ai.bib
  quarto/contents/core/frameworks/frameworks.bib
  quarto/contents/core/frontiers/frontiers.bib
  quarto/contents/core/hw_acceleration/hw_acceleration.bib
  quarto/contents/core/introduction/introduction.bib
  quarto/contents/core/ml_systems/ml_systems.bib
  quarto/contents/core/ondevice_learning/ondevice_learning.bib
  quarto/contents/core/ops/ops.bib
  quarto/contents/core/optimizations/optimizations.bib
  quarto/contents/core/privacy_security/privacy_security.bib
  quarto/contents/core/responsible_ai/responsible_ai.bib
  quarto/contents/core/robust_ai/robust_ai.bib
  quarto/contents/core/sustainable_ai/sustainable_ai.bib
  quarto/contents/core/training/training.bib
  quarto/contents/core/workflow/workflow.bib
Due: none
