Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-images, book-validate-external-images, book-validate-image-references

book-format-python:
  name: 'Book: Format Python code blocks (Black, 70 chars)'
  entry: ./book/binder format python
  language: system
  pass_filenames: true

book-collapse-blank-lines:
  name: 'Book: Collapse extra blank lines'
  entry: ./book/binder format blanks
  language: system
  pass_filenames: true

book-fix-list-spacing:
  name: 'Book: Fix list spacing (blank before lists, tight items)'
  entry: ./book/binder format lists
  language: system
  pass_filenames: true

book-validate-json:
  name: 'Book: Validate JSON files'
  entry: ./book/binder check json
  language: system
  pass_filenames: false

book-verify-section-ids:
  name: 'Book: Verify all sections have IDs'
  entry: ./book/binder check headers --vol1
  language: system
  pass_filenames: false

book-check-unreferenced-labels:
  name: 'Book: Check for unreferenced labels'
  entry: ./book/binder check labels --scope orphans --vol1
  language: system
  pass_filenames: false

book-check-duplicate-labels:
  name: 'Book: Check for duplicate labels'
  entry: ./book/binder check labels --scope duplicates --figures --tables --listings
  language: system
  pass_filenames: false

book-validate-citations:
  name: 'Book: Validate citation references'
  entry: ./book/binder check refs --scope citations
  language: system
  pass_filenames: false

book-check-references:
  name: 'Book: Check reference/citation issues'
  entry: ./book/binder check refs --scope cross-refs --citations-in-code
  language: system
  pass_filenames: false

book-validate-footnotes:
  name: 'Book: Validate footnote references'
  entry: ./book/binder check footnotes --scope integrity
  language: system
  pass_filenames: false

book-check-forbidden-footnotes:
  name: 'Book: Check for footnotes in tables/captions'
  entry: ./book/binder check footnotes --scope placement
  language: system
  pass_filenames: false

book-check-purpose-unnumbered:
  name: 'Book: Ensure Purpose sections are unnumbered'
  entry: bash -c 'grep -n "^## Purpose" "$@" | grep -v "\.unnumbered" && exit 1 || exit 0' --
  language: system
  pass_filenames: true

book-check-unclosed-divs:
  name: 'Book: Check for malformed div fences (:::)'
  entry: 'bash -c ''for f in "$@"; do grep -nE "^:::[ ]+[^{ ]" "$f" && echo "  ^^^ ERROR in $f: div fence (:::) has trailing text. The ::: must be on its own line to close a div." && exit 1; done; exit 0'' --'
  language: system
  pass_filenames: true

book-check-four-colon-space:
  name: 'Book: Check for malformed nested div fences (::::)'
  ...

book-check-figure-completeness:
  name: 'Book: Check figures have captions and alt-text'
  entry: ./book/binder check figures --scope captions
  language: system
  pass_filenames: false

book-check-figure-placement:
  name: 'Book: Check figure/table placement (near first reference)'
  entry: ./book/binder check figures --scope flow
  language: system
  pass_filenames: false

book-mlsys-test-units:
  name: 'Book: MLSys unit checks'
  entry: ./book/binder check units
  language: system
  pass_filenames: false

Record final MLPerf EDU audit results
  mlperf-edu/USER_JOURNEY_AUDIT.md
Due: none

Vol 1 camera-ready: fix accuracy findings from full review pass
  book/quarto/contents/vol1/backmatter/appendix_assumptions.qmd
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/model_compression/model_compression.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/training/training.qmd
  mlsysim/mlsysim/hardware/data/tech/memory.yaml
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Plan local execution for all MLPerf EDU workloads
  mlperf-edu/COURSE_BUDGETS.md
  mlperf-edu/DATASET_RELEASE_REVIEW.md
  mlperf-edu/DESIGN_PHILOSOPHY.md
  mlperf-edu/LOCAL_EXECUTION_PLAN.md
  mlperf-edu/PRODUCT_READINESS_PLAN.md
  mlperf-edu/READINESS.md
  mlperf-edu/README.md
  mlperf-edu/WORK_CHECKLIST.md
  mlperf-edu/examples/README.md
  mlperf-edu/site/guide/running.qmd
  mlperf-edu/site/index.qmd
  mlperf-edu/site/labs/index.qmd
  mlperf-edu/site/readiness.qmd
Due: none

Vol 1: use accurate iPhone 15 Pro memory bandwidth (51.2 GB/s)
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/tests/test_units.py
  mlsysim/mlsysim/hardware/data/mobile/iPhone15Pro.yaml
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Fix MLPerf EDU documentation contract drift
  mlperf-edu/README.md
  mlperf-edu/site/benchmarks/graph/graph-node-classification.qmd
  mlperf-edu/site/benchmarks/language/causal-language-modeling.qmd
  mlperf-edu/site/benchmarks/language/information-retrieval.qmd
  mlperf-edu/site/benchmarks/language/text-classification.qmd
  mlperf-edu/site/benchmarks/timeseries/time-series-forecasting.qmd
  mlperf-edu/site/benchmarks/tiny/anomaly-detection.qmd
  mlperf-edu/site/benchmarks/tiny/keyword-spotting.qmd
  mlperf-edu/site/benchmarks/tiny/visual-wake-words.qmd
  mlperf-edu/site/benchmarks/vision/image-classification.qmd
  mlperf-edu/site/guide/instructors.qmd
  mlperf-edu/site/guide/results.qmd
  mlperf-edu/site/reference/cli.qmd
  mlperf-edu/src/mlperf/edu_cli.py
  mlperf-edu/tests/test_edu_cli.py
  mlperf-edu/tests/test_generate_docs.py
  mlperf-edu/tools/generate_docs.py
Due: none

Vol 1: deep prose-validity audit fixes (rendered-prose defects)
  book/quarto/contents/vol1/backmatter/appendix_assumptions.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Improve MLPerf EDU first-run experience
  mlperf-edu/INDEPENDENT_AUDIT.md
  mlperf-edu/LOCAL_EXECUTION_PLAN.md
  mlperf-edu/README.md
  mlperf-edu/WORK_CHECKLIST.md
  mlperf-edu/site/_quarto.yml
  mlperf-edu/site/benchmarks/graph/graph-node-classification.qmd
  mlperf-edu/site/benchmarks/language/code-generation.qmd
  mlperf-edu/site/benchmarks/language/function-calling.qmd
  mlperf-edu/site/benchmarks/language/information-retrieval.qmd
  mlperf-edu/site/benchmarks/language/text-classification.qmd
  mlperf-edu/site/benchmarks/recommendation/recommendation.qmd
  mlperf-edu/site/benchmarks/reinforcement/reinforcement-learning.qmd
  mlperf-edu/site/benchmarks/timeseries/time-series-forecasting.qmd
  mlperf-edu/site/benchmarks/tiny/anomaly-detection.qmd
  mlperf-edu/site/benchmarks/tiny/keyword-spotting.qmd
  mlperf-edu/site/benchmarks/tiny/visual-wake-words.qmd
  mlperf-edu/site/benchmarks/vision/image-classification.qmd
  mlperf-edu/site/benchmarks/vision/image-generation.qmd
  mlperf-edu/site/getting-started.qmd
  mlperf-edu/site/guide/research.qmd
  mlperf-edu/site/guide/results.qmd
  mlperf-edu/site/guide/running.qmd
  mlperf-edu/site/guide/troubleshooting.qmd
  mlperf-edu/site/index.qmd
  mlperf-edu/site/readiness.qmd
  mlperf-edu/site/styles.scss
  mlperf-edu/tests/test_generate_docs.py
  mlperf-edu/tools/check_site_layout.py
  mlperf-edu/tools/generate_docs.py
Due: none

tinytorch module 09 diagrams and spacing
  tinytorch/src/09_convolutions/09_convolutions.py
Due: none

feat(staffml): add recent-papers section to About page
  interviews/staffml/pnpm-lock.yaml
  interviews/staffml/src/app/about/page.tsx
  interviews/staffml/src/components/RecentPapers.tsx
Due: none

docs: use theme-aware star history chart in all READMEs
  README.md
  README/README_ja.md
  README/README_ko.md
  README/README_zh.md
Due: none

style: recast 'By …' sentence openers across Vol 2
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

style: gloss Slurm and Kubernetes at first use (fleet orchestration)
  book/quarto/contents/vol2/fleet_orchestration/fleet_orchestration.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Refine Volume I layout updates
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

feat(staffml): add 3 more recent papers, verify multi-item UI
  interviews/staffml/src/components/RecentPapers.tsx
Due: none

Standardize matrix/vector notation to bold convention (vol1)
  book/quarto/contents/vol1/backmatter/appendix_algorithm.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/frontmatter/_notation_body.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/model_compression/model_compression.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Standardize matrix/vector notation to bold convention (vol2)
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

docs(vol1): translate leftover Serbian figure comments to English
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

docs: translate remaining Serbian figure comments to English
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Save current Volume I layout refinements
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/model_compression/model_compression.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(tinytorch): tito CLI crashes on Windows due to no-op encoding fix
  tinytorch/tito/main.py
Due: none

fix(tinytorch): installer can hang forever with no error on Windows
  tinytorch/quarto/install.sh
Due: none

fix(tinytorch): tito crashes on Windows when a subprocess's output can't be decoded as cp1252
  tinytorch/tito/commands/dev/preflight.py
  tinytorch/tito/commands/dev/test.py
  tinytorch/tito/commands/export_utils.py
  tinytorch/tito/commands/milestone.py
  tinytorch/tito/commands/module/test.py
  tinytorch/tito/commands/module/workflow.py
  tinytorch/tito/commands/nbgrader.py
  tinytorch/tito/commands/package/nbdev.py
  tinytorch/tito/commands/setup.py
  tinytorch/tito/commands/system/health.py
  tinytorch/tito/commands/system/update.py
  tinytorch/tito/core/auth.py
  tinytorch/tito/core/status_analyzer.py
Due: none

fix(tinytorch): tito olympics logo crashes with NameError
  tinytorch/tito/commands/olympics.py
Due: none

fix(tinytorch): benchmark capstone always reports Module 20 as incomplete
  tinytorch/tito/commands/benchmark.py
Due: none

fix(tinytorch): tito dev clean/build crash with raw traceback when make is missing
  tinytorch/tito/commands/dev/build.py
  tinytorch/tito/commands/dev/clean.py
Due: none

fix(tinytorch): tito package nbdev --test/--clean/--build-docs crash, wrong command names
  tinytorch/tito/commands/package/nbdev.py
Due: none

fix(socratiq): enable AI companion and free Ctrl+/ from search
  book/quarto/assets/scripts/socratiq-search-shortcut-fix.js
  book/quarto/config/_quarto-html-vol1.yml
  book/quarto/config/_quarto-html-vol2.yml
  book/quarto/tools/scripts/socratiQ/bundle.js
  socratiq/src_shadow/index.html
  socratiq/src_shadow/indexHtml.js
Due: none

fix: swap Acceleration/Memoization descriptions on TinyTorch dashboard
  tinytorch/quarto/community/dashboard.html
Due: none

fix: allow GitHub Pages origin in vault worker CORS allowlist
  interviews/staffml-vault-worker/wrangler.toml
Due: none

fix(staffml): restore working eslint config and fix errors it surfaces
  interviews/staffml/package-lock.json
  interviews/staffml/package.json
  interviews/staffml/src/lib/hooks/useFullQuestion.ts
  interviews/staffml/src/lib/plans.ts
  interviews/staffml/src/lib/progress.ts
Due: none

fix(staffml): make local-corpus vault-CLI probe work on Windows
  interviews/staffml/scripts/build-local-corpus.mjs
Due: none

fix(staffml): fix static-corpus fetch race and unhandled rejection in Gauntlet
  interviews/staffml/src/app/gauntlet/page.tsx
  interviews/staffml/src/lib/corpus.ts
Due: none

fix(kits): correct table rendering
  kits/contents/seeed/grove_vision_ai_v2/grove_vision_ai_v2.qmd
Due: none

Grade paper evidence against the live registry contract
  mlperf-edu/paper/generate_registry_snapshot.py
  mlperf-edu/paper/generated_registry.tex
  mlperf-edu/paper/paper.tex
Due: none

Add ship plan targeting a downloadable, runnable benchmark
  mlperf-edu/SHIP_PLAN.md
Due: none

Correct workload status claims and refresh generated CLI reference
  mlperf-edu/PUBLIC_RULES.md
  mlperf-edu/READINESS.md
  mlperf-edu/RELEASE_CHECKLIST.md
  mlperf-edu/SPEC.md
  mlperf-edu/USER_JOURNEY_AUDIT.md
  mlperf-edu/site/reference/cli.qmd
Due: none

Add static workload ship-readiness auditor
  mlperf-edu/tools/audit_workload_readiness.py
Due: none

Source reference-host facts and abstract counts from the artifact
  mlperf-edu/paper/generate_registry_snapshot.py
  mlperf-edu/paper/generated_registry.tex
  mlperf-edu/paper/paper.tex
Due: none

Keep measurements out of the website and send readers to their own run
  mlperf-edu/site/benchmarks/graph/graph-node-classification.qmd
  mlperf-edu/site/benchmarks/language/causal-language-modeling.qmd
  mlperf-edu/site/benchmarks/language/code-generation.qmd
  mlperf-edu/site/benchmarks/language/function-calling.qmd
  mlperf-edu/site/benchmarks/language/information-retrieval.qmd
  mlperf-edu/site/benchmarks/language/text-classification.qmd
  mlperf-edu/site/benchmarks/recommendation/recommendation.qmd
  mlperf-edu/site/benchmarks/reinforcement/reinforcement-learning.qmd
  mlperf-edu/site/benchmarks/timeseries/time-series-forecasting.qmd
  mlperf-edu/site/benchmarks/tiny/anomaly-detection.qmd
  mlperf-edu/site/benchmarks/tiny/keyword-spotting.qmd
  mlperf-edu/site/benchmarks/tiny/visual-wake-words.qmd
  mlperf-edu/site/benchmarks/vision/image-classification.qmd
  mlperf-edu/site/benchmarks/vision/image-generation.qmd
  mlperf-edu/tests/test_generate_docs.py
  mlperf-edu/tools/generate_docs.py
Due: none

Separate user documentation from internal working notes
  mlperf-edu/INSTALL.md
  mlperf-edu/README.md
  mlperf-edu/docs/internal/COURSE_BUDGETS.md
  mlperf-edu/docs/internal/DATASET_RELEASE_REVIEW.md
  mlperf-edu/docs/internal/DESIGN_PHILOSOPHY.md
  mlperf-edu/docs/internal/INDEPENDENT_AUDIT.md
  mlperf-edu/docs/internal/LOCAL_EXECUTION_PLAN.md
  mlperf-edu/docs/internal/NORTH_STAR.md
  mlperf-edu/docs/internal/PRODUCT_READINESS_PLAN.md
  mlperf-edu/docs/internal/PROPOSAL.md
  mlperf-edu/docs/internal/QUALITY_TARGET_REVIEW.md
  mlperf-edu/docs/internal/READINESS.md
  mlperf-edu/docs/internal/README.md
  mlperf-edu/docs/internal/RELEASE_CHECKLIST.md
  mlperf-edu/docs/internal/SHIP_PLAN.md
  mlperf-edu/docs/internal/USER_JOURNEY_AUDIT.md
  mlperf-edu/docs/internal/WORK_CHECKLIST.md
  mlperf-edu/examples/README.md
  mlperf-edu/site/guide/troubleshooting.qmd
  mlperf-edu/site/labs/index.qmd
  mlperf-edu/site/readiness.qmd
  mlperf-edu/tools/check_reference_claims.py
Due: none

Path conditions:
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-fix-list-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-verify-section-ids: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-check-references: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unclosed-divs: any of: ^book/quarto/contents/.*\.qmd$
  book-check-four-colon-space: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-completeness: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-check-grid-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-prettify-pipe-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-check-render-patterns: any of: ^book/quarto/contents/.*\.qmd$
  book-check-python-echo: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-dropcap: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-validate-inline: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-test-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-index-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-check-heading-levels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-words: any of: ^book/quarto/contents/.*\.qmd$
  book-check-percent-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unit-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-binary-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-contractions: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unblended-prose: any of: ^book/quarto/contents/.*\.qmd$
  book-check-times-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
