Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs, validate-json, yamllint

Path conditions:
  collapse-extra-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  format-python-in-qmd: any of: ^book/quarto/contents/.*\.qmd$
  check-list-formatting: any of: ^book/.*\.qmd$
  check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  header-inline-check: any of: ^book/quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/quarto/contents/.*\.qmd$
  check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  prevent-svg-files: any of: ^book/.*\.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: ^book/.*\.svg$
  validate-json: any of: \.json$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$


style: convert bold-term patterns to narrative prose in hw_acceleration chapters
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol2/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor: simplify Vol I Part names to single words
  book/docs/VOLUME_STRUCTURE.md
  book/quarto/config/_quarto-html.yml
Due: yamllint

docs: remove stale volume planning documents
  book/docs/VOLUME_SPLIT_ROADMAP.md
  book/docs/VOLUME_SPLIT_SURGICAL_PLAN.md
  book/docs/VOLUME_STRUCTURE_PROPOSAL.md
  book/docs/reviewer-feedback-synthesis-r1.md
  book/docs/volume-outline-draft.md
Due: none

refactor: remove ondevice_learning chapter (merged into edge_intelligence)
  book/quarto/contents/vol2/ondevice_learning/images/jpg/pruning.jpeg
  book/quarto/contents/vol2/ondevice_learning/images/png/cover_ondevice_learning.png
  book/quarto/contents/vol2/ondevice_learning/images/png/federatedvsoil.png
  book/quarto/contents/vol2/ondevice_learning/images/png/ondevice_fed_averaging.png
  book/quarto/contents/vol2/ondevice_learning/images/png/ondevice_gboard_approach.png
  book/quarto/contents/vol2/ondevice_learning/images/png/ondevice_gboard_example.png
  book/quarto/contents/vol2/ondevice_learning/images/png/ondevice_intro.png
  book/quarto/contents/vol2/ondevice_learning/images/png/ondevice_medperf.png
  book/quarto/contents/vol2/ondevice_learning/images/png/ondevice_pretraining.png
  book/quarto/contents/vol2/ondevice_learning/images/png/ondevice_quantization_matrix.png
  book/quarto/contents/vol2/ondevice_learning/images/png/ondevice_split_model.png
  book/quarto/contents/vol2/ondevice_learning/images/png/ondevice_training_flow.png
  book/quarto/contents/vol2/ondevice_learning/images/png/ondevice_transfer_learning_apps.png
  book/quarto/contents/vol2/ondevice_learning/images/png/ondevice_transfer_tinytl.png
  book/quarto/contents/vol2/ondevice_learning/images/png/transfer_learning.png
  book/quarto/contents/vol2/ondevice_learning/ondevice_learning.bib
  book/quarto/contents/vol2/ondevice_learning/ondevice_learning.qmd
  book/quarto/contents/vol2/ondevice_learning/ondevice_learning_concepts.yml
  book/quarto/contents/vol2/ondevice_learning/ondevice_learning_glossary.json
  book/quarto/contents/vol2/ondevice_learning/ondevice_learning_quizzes.json
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, validate-json, yamllint

refactor: restructure Vol II chapters and add Vol I serving chapter
  book/docs/VOLUME_STRUCTURE.md
  book/quarto/config/_quarto-epub.yml
  book/quarto/config/_quarto-html-volumes-test.yml
  book/quarto/config/_quarto-html.yml
  book/quarto/config/_quarto-pdf.yml
  book/quarto/contents/backmatter/glossary/glossary.json
  book/quarto/contents/backmatter/glossary/glossary.qmd
  book/quarto/contents/frontmatter/about/about.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/serving/serving.bib
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/serving/serving_concepts.yml
  book/quarto/contents/vol1/serving/serving_glossary.json
  book/quarto/contents/vol1/serving/serving_quizzes.json
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.bib
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence_concepts.yml
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence_glossary.json
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence_quizzes.json
  book/quarto/contents/vol2/edge_intelligence/images/jpg/pruning.jpeg
  book/quarto/contents/vol2/edge_intelligence/images/png/cover_ondevice_learning.png
  book/quarto/contents/vol2/edge_intelligence/images/png/federatedvsoil.png
  book/quarto/contents/vol2/edge_intelligence/images/png/ondevice_fed_averaging.png
  book/quarto/contents/vol2/edge_intelligence/images/png/ondevice_gboard_approach.png
  book/quarto/contents/vol2/edge_intelligence/images/png/ondevice_gboard_example.png
  book/quarto/contents/vol2/edge_intelligence/images/png/ondevice_intro.png
  book/quarto/contents/vol2/edge_intelligence/images/png/ondevice_medperf.png
  book/quarto/contents/vol2/edge_intelligence/images/png/ondevice_pretraining.png
  book/quarto/contents/vol2/edge_intelligence/images/png/ondevice_quantization_matrix.png
  book/quarto/contents/vol2/edge_intelligence/images/png/ondevice_split_model.png
  book/quarto/contents/vol2/edge_intelligence/images/png/ondevice_training_flow.png
  book/quarto/contents/vol2/edge_intelligence/images/png/ondevice_transfer_learning_apps.png
  book/quarto/contents/vol2/edge_intelligence/images/png/ondevice_transfer_tinytl.png
  book/quarto/contents/vol2/edge_intelligence/images/png/transfer_learning.png
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/hw_acceleration/hw_acceleration.bib
  book/quarto/contents/vol2/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/robust_ai/robust_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, validate-json, yamllint

refactor: rename Vol I tagline from Operate to Deploy
  book/README.md
  book/docs/VOLUME_STRUCTURE.md
  book/quarto/contents/frontmatter/about/about.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: expand serving chapter outline with comprehensive structure
  book/quarto/contents/vol1/serving/serving.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: add DALL-E 3 prompts to Vol II chapters missing cover images
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/storage/storage.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: polish prose across Vol I and Vol II chapters
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/ai_for_good/ai_for_good.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/frontiers/frontiers.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/responsible_ai/responsible_ai.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

feat: add cover images for Vol II chapters
  book/quarto/contents/vol2/communication/images/png/cover_communication.png
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/distributed_training/images/png/cover_distributed.png
  book/quarto/contents/vol2/fault_tolerance/images/png/cover_fault_tolerance.png
  book/quarto/contents/vol2/inference/images/png/cover_inference_at_scale.png
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/ops_scale/images/png/cover_ops_scale.png
  book/quarto/contents/vol2/storage/images/png/cover_storage.png
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references

docs: add model-type diversity editorial guidelines to Vol II chapters
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/storage/storage.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: enhance serving chapter with expert feedback improvements
  book/quarto/contents/vol1/serving/serving.bib
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/serving/serving_quizzes.json
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, validate-json

chore: add bibliography files for Vol II stub chapters
  book/quarto/contents/vol2/communication/communication.bib
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.bib
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/inference/inference.bib
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.bib
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/storage/storage.bib
  book/quarto/contents/vol2/storage/storage.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

feat: add cover image for Vol I serving chapter
  book/quarto/contents/vol1/serving/images/png/cover_serving.png
Due: validate-images

feat: add cover image for Vol II infrastructure chapter
  book/quarto/contents/vol2/infrastructure/images/png/cover_infrastructure.png
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references

polish: comprehensive editorial polish on serving chapter
  book/quarto/contents/vol1/serving/serving.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix: resolve pre-commit issues in serving chapter and Vol I chapters
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer_quizzes.json
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/efficient_ai/efficient_ai.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/introduction/introduction_quizzes.json
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references, validate-json

docs: update AI Triangle to AI Triad in learning objectives framework
  book/docs/LEARNING_OBJECTIVES_FRAMEWORK.md
Due: none

docs: expand Production Environment Evaluation with examples
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.bib
  book/quarto/contents/vol1/conclusion/conclusion.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

docs: add Evaluation & Validation section to Workflow chapter
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references
