Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-images, book-validate-external-images, book-validate-image-references

book-format-python:
  name: 'Book: Format Python code blocks (Black, 70 chars)'
  entry: ./book/binder format python
  language: system
  pass_filenames: true

book-collapse-blank-lines:
  name: 'Book: Collapse extra blank lines'
  entry: ./book/binder format blanks
  language: system
  pass_filenames: true

book-fix-list-spacing:
  name: 'Book: Fix list spacing (blank before lists, tight items)'
  entry: ./book/binder format lists
  language: system
  pass_filenames: true

book-validate-json:
  name: 'Book: Validate JSON files'
  entry: ./book/binder check json
  language: system
  pass_filenames: false

book-verify-section-ids:
  name: 'Book: Verify all sections have IDs'
  entry: ./book/binder check headers --vol1
  language: system
  pass_filenames: false

book-check-unreferenced-labels:
  name: 'Book: Check for unreferenced labels'
  entry: ./book/binder check labels --scope orphans --vol1
  language: system
  pass_filenames: false

book-check-duplicate-labels:
  name: 'Book: Check for duplicate labels'
  entry: ./book/binder check labels --scope duplicates --figures --tables --listings
  language: system
  pass_filenames: false

book-validate-citations:
  name: 'Book: Validate citation references'
  entry: ./book/binder check refs --scope citations
  language: system
  pass_filenames: false

book-check-references:
  name: 'Book: Check reference/citation issues'
  entry: ./book/binder check refs --scope cross-refs --citations-in-code
  language: system
  pass_filenames: false

book-validate-footnotes:
  name: 'Book: Validate footnote references'
  entry: ./book/binder check footnotes --scope integrity
  language: system
  pass_filenames: false

book-check-forbidden-footnotes:
  name: 'Book: Check for footnotes in tables/captions'
  entry: ./book/binder check footnotes --scope placement
  language: system
  pass_filenames: false

book-check-purpose-unnumbered:
  name: 'Book: Ensure Purpose sections are unnumbered'
  entry: bash -c 'grep -n "^## Purpose" "$@" | grep -v "\.unnumbered" && exit 1 || exit 0' --
  language: system
  pass_filenames: true

book-check-unclosed-divs:
  name: 'Book: Check for malformed div fences (:::)'
  entry: 'bash -c ''for f in "$@"; do grep -nE "^:::[ ]+[^{ ]" "$f" && echo "  ^^^ ERROR in $f: div fence (:::) has trailing text. The ::: must be on its own line to close a div." && exit 1; done; exit 0'' --'
  language: system
  pass_filenames: true

book-check-four-colon-space:
  name: 'Book: Check for malformed nested div fences (::::)'
  ...

book-check-figure-completeness:
  name: 'Book: Check figures have captions and alt-text'
  entry: ./book/binder check figures --scope captions
  language: system
  pass_filenames: false

book-check-figure-placement:
  name: 'Book: Check figure/table placement (near first reference)'
  entry: ./book/binder check figures --scope flow
  language: system
  pass_filenames: false

book-mlsys-test-units:
  name: 'Book: MLSys unit checks'
  entry: ./book/binder check units
  language: system
  pass_filenames: false

chore(staffml): delete 5 completed plan docs
  interviews/staffml/AUTONOMOUS_PLAN.md
  interviews/staffml/DEVLOG.md
  interviews/staffml/ITERATION_PLAN.md
  interviews/staffml/MIGRATION_PLAN.md
  interviews/staffml/UX_PLAN.md
Due: none

fix(staffml): security hardening + mobile responsiveness sweep
  interviews/staffml/public/og-image.svg
  interviews/staffml/public/theme-bootstrap.js
  interviews/staffml/src/app/contribute/page.tsx
  interviews/staffml/src/app/framework/page.tsx
  interviews/staffml/src/app/globals.css
  interviews/staffml/src/app/layout.tsx
  interviews/staffml/src/app/not-found.tsx
  interviews/staffml/src/app/page.tsx
  interviews/staffml/src/app/practice/page.tsx
  interviews/staffml/src/components/vault/TopicDetail.tsx
  interviews/staffml/src/lib/corpus.ts
  interviews/staffml/src/lib/url.ts
Due: none

docs(staffml): archive Gemini holistic audit + diff review
  interviews/staffml/.gemini-reviews/2026-04-07-call-1-holistic-audit.md
  interviews/staffml/.gemini-reviews/2026-04-07-call-2-diff-review.md
Due: none

pass 16 vol1/vol2: persistent accept-list for scanner FPs (item A)
  book/tools/audit/README.md
  book/tools/audit/accept_list.py
  book/tools/audit/accepted_fps.json
  book/tools/audit/scan.py
Due: book-validate-json

pass 16 vol1/vol2: improve h3_titlecase detector (item B)
  book/tools/audit/README.md
  book/tools/audit/accepted_fps.json
  book/tools/audit/checks/h3_titlecase.py
Due: book-validate-json

pass 16 audit: fix LineWalker $$ {#eq-label} display-math tracking
  book/tools/audit/protected_contexts.py
Due: none

pass 16 vol1/vol2: concept-term-capitalization check (item C)
  book/tools/audit/README.md
  book/tools/audit/checks/concept_term_capitalization.py
  book/tools/audit/scan.py
Due: none

pass 16 vol1/vol2: abbreviation-first-use check (item D)
  book/tools/audit/README.md
  book/tools/audit/checks/abbreviation_first_use.py
  book/tools/audit/scan.py
Due: none

pass 16 vol1/vol2: latin-running-text check (item E1)
  book/tools/audit/checks/latin_running_text.py
  book/tools/audit/scan.py
Due: none

pass 16 vol1/vol2: alt-text-style check (item E3)
  book/tools/audit/checks/alt_text_style.py
  book/tools/audit/scan.py
Due: none

pass 16 vol1/vol2: bibliography-hygiene check + scanner extension (item E2)
  book/tools/audit/checks/bibliography_hygiene.py
  book/tools/audit/scan.py
Due: none

pass 16 audit: concept-term bold-span containment (§10.3 exception 8)
  book/tools/audit/checks/concept_term_capitalization.py
Due: none

pass 16 audit: preserved named-principle phrases for concept-term check
  book/tools/audit/checks/concept_term_capitalization.py
Due: none

pass 16 vol1: lowercase §10.3 concept terms in body prose (11 fixes)
  book/quarto/contents/vol1/backmatter/appendix_dam.qmd
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

pass 16 vol2: h3-titlecase sentence-case in performance_engineering (29 fixes)
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

pass 16 vol1/vol2: close latin-running-text + alt-text-style (4 fixes)
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

pass 16 vol1: h3-titlecase sentence-case sweep (61 fixes, 13 files)
  book/quarto/contents/vol1/backmatter/appendix_dam.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ml_ops/ml_ops.qmd
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
  book/quarto/contents/vol1/model_serving/model_serving.qmd
  book/quarto/contents/vol1/nn_architectures/nn_architectures.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

pass 16 vol2: lowercase §10.3 concept terms in body prose (60 fixes)
  book/quarto/contents/vol2/backmatter/appendix_assumptions.qmd
  book/quarto/contents/vol2/backmatter/appendix_c3.qmd
  book/quarto/contents/vol2/backmatter/appendix_dam.qmd
  book/quarto/contents/vol2/backmatter/appendix_systems.qmd
  book/quarto/contents/vol2/collective_communication/collective_communication.qmd
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/conclusion/conclusion.qmd
  book/quarto/contents/vol2/data_storage/data_storage.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/network_fabrics/network_fabrics.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/performance_engineering/performance_engineering.qmd
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix(tinytorch): mobile responsiveness for intro page grid sections
  tinytorch/site/_static/custom.css
  tinytorch/site/intro.md
Due: none

pass 16 vol1: close concept-term residual (data_engineering callout title)
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

pass 16 bib: pilot sweep (vol1 + CITATION) + bib_lint infrastructure
  .pre-commit-config.yaml
  CITATION.bib
  book/quarto/contents/vol1/backmatter/references.bib
  book/tools/bib_lint.py
  book/tools/bib_lint_baseline.json
Due: book-validate-json

staffml: dynamic question counts from vault-manifest.json
  interviews/staffml/src/app/layout.tsx
  interviews/staffml/src/app/not-found.tsx
  interviews/staffml/src/lib/stats.ts
Due: none

staffml: label the More nav trigger 'About' for discoverability
  interviews/staffml/src/components/Nav.tsx
Due: none

staffml: about-page rewrite and /practice?random=1 handler
  interviews/staffml/src/app/about/page.tsx
  interviews/staffml/src/app/practice/page.tsx
Due: none

staffml: first-run /welcome landing moment
  interviews/staffml/src/app/page.tsx
  interviews/staffml/src/app/welcome/page.tsx
Due: none

staffml: progress page storage-wipe warning and Last Exported readout
  interviews/staffml/src/app/progress/page.tsx
  interviews/staffml/src/lib/progress.ts
Due: none

staffml: narrower vault drawer, no backdrop scrim, j/k topic sweep
  interviews/staffml/src/app/page.tsx
  interviews/staffml/src/components/KeyboardShortcutsOverlay.tsx
Due: none

staffml: AskInterviewer free-tier framing and waitlist modal
  interviews/staffml/src/components/AskInterviewer.tsx
Due: none

staffml-worker: CORS allowlist default + /waitlist endpoint
  interviews/staffml/WORKER_DEPLOY.md
  interviews/staffml/worker/src/index.ts
  interviews/staffml/worker/wrangler.toml
Due: none

staffml: theme-aware roofline chart colors
  interviews/staffml/src/app/roofline/page.tsx
Due: none

staffml: contribute page clarity + localStorage failure surfacing
  interviews/staffml/src/app/contribute/page.tsx
Due: none

staffml-worker: wire real KV namespace IDs + wrangler v3 kv syntax
  interviews/staffml/WORKER_DEPLOY.md
  interviews/staffml/worker/wrangler.toml
Due: none

staffml-worker: custom route at mlsysbook.ai/api/staffml-interviewer
  .github/workflows/staffml-preview-dev.yml
  interviews/staffml/worker/src/index.ts
  interviews/staffml/worker/wrangler.toml
Due: none

staffml-workflow: add interviewer endpoint to publish-live build env
  .github/workflows/staffml-publish-live.yml
Due: none

staffml-worker: provider-extensibility README with copy-paste templates
  interviews/staffml/worker/README.md
Due: none

feat(paper): elevate Staff ML paper for architectural rigor and fix SVG generation
  .vscode/settings.json
  interviews/paper/Makefile
  interviews/paper/paper.tex
Due: none

feat(paper): update competency model SVG
  interviews/paper/figures/fig-competency-model.svg
Due: none

pass 16 vol2: verify publisher/journal/doi via web search per §5 (113 entries)
  book/quarto/contents/vol2/backmatter/references.bib
Due: none

paper hygiene: verify publisher/journal/doi across repo paper .bib files (73 entries)
  interviews/paper/references.bib
  mlsysim/docs/references.bib
  mlsysim/paper/references.bib
  periodic-table/paper/references.bib
  tinytorch/paper/references.bib
Due: none

bib_lint: regenerate baseline allow-list after Pass 16 sweep
  book/tools/bib_lint_baseline.json
Due: book-validate-json

Path conditions:
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-fix-list-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-verify-section-ids: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-check-references: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unclosed-divs: any of: ^book/quarto/contents/.*\.qmd$
  book-check-four-colon-space: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-completeness: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-check-grid-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-prettify-pipe-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-check-render-patterns: any of: ^book/quarto/contents/.*\.qmd$
  book-check-python-echo: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-dropcap: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-validate-inline: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-test-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-index-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-check-heading-levels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-words: any of: ^book/quarto/contents/.*\.qmd$
  book-check-percent-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unit-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-binary-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-contractions: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unblended-prose: any of: ^book/quarto/contents/.*\.qmd$
  book-check-times-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
