Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-texlive-packages, check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

update-texlive-packages:
  name: Update TeX Live package list
  entry: python scripts/update_texlive_packages.py
  language: python
  additional_dependencies:
  - PyYAML
  pass_filenames: false

check-section-ids:
  name: Check section IDs
  entry: python scripts/section_id_manager.py -d contents/ --verify --yes
  language: python
  additional_dependencies:
  - nltk>=3.8
  pass_filenames: false

header-inline-check:
  name: Detect inline-style Markdown headers
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: Check for forbidden words
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

collapse-extra-blank-lines:
  name: Collapse extra blank lines
  entry: python scripts/collapse_blank_lines.py
  language: python
  pass_filenames: true

Update quarto-build-lite.yml
  .github/workflows/quarto-build-lite.yml
Due: none

Ensures quiz insertion before parts begin
  contents/core/benchmarking/benchmarking.qmd
  contents/core/conclusion/conclusion.qmd
  contents/core/dnn_architectures/dnn_architectures.qmd
  contents/core/robust_ai/robust_ai.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Enhances Quarto build workflow reliability
  .github/workflows/quarto-build-lite.yml
  .github/workflows/quarto-build.yml
Due: none

Updates book structure in _quarto.yml
  _quarto.yml
Due: update-texlive-packages

Removes trailing newline
  contents/core/ai_for_good/ai_for_good.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Adds Times font package.
  tex/header-includes.tex
Due: update-texlive-packages

Updates TeX Live packages and workflow
  .github/workflows/quarto-build.yml
  texlive_packages
  tl_packages
Due: none

Auto stash before merge of "dev" and "origin/885-quizzes-not-being-fully-inserted"
  contents/core/benchmarking/benchmarking_files/figure-html/fig-imagenet-challenge-1.png
  contents/core/benchmarking/benchmarking_files/figure-html/fig-imagenet-gpus-1.png
  contents/core/benchmarking/benchmarking_files/figure-html/fig-label-1.png
  contents/core/benchmarking/benchmarking_files/figure-html/fig-power-differentials-1.png
  contents/core/efficient_ai/efficient_ai_files/figure-html/fig-datacenter-energy-usage-1.png
  contents/core/efficient_ai/efficient_ai_files/mediabag/30e637ed889e55da578670a5f469b321380faf18.svg
  contents/core/efficient_ai/efficient_ai_files/mediabag/3f2d855b5b92a938a1cde6f46035fddc7ace7864.svg
  contents/core/efficient_ai/efficient_ai_files/mediabag/4f777f9b9d0c56ee770aee855501b41174eb6c3c.svg
  contents/core/efficient_ai/efficient_ai_files/mediabag/9b25a7f4b299595f8ea288d179dd0d8c906a30ac.svg
  contents/core/efficient_ai/efficient_ai_files/mediabag/cf6e9e337b0a2e2336fd1da2518c291c4d064046.svg
  contents/core/efficient_ai/efficient_ai_files/mediabag/d9bdaf0b2f49dc0b9478c79d7609dff3d7f3d866.svg
  contents/core/efficient_ai/efficient_ai_files/mediabag/f430ea11271eb3ef91d20eee2df3ad2c41bc1dce.svg
  contents/core/frameworks/Github.code-profile
  contents/core/frameworks/diagram-5920cd7a0983cd2520b6a5050140cb5546970efd.pdf
  contents/core/frameworks/frameworks_files/mediabag/38f44708a0d28aa92b1da743823c60ed51ae82b7.svg
  contents/core/frameworks/frameworks_files/mediabag/9d97b979239bae947e244f196a2c2c09f83fbe2d.svg
  contents/core/frameworks/frameworks_files/mediabag/f67be4ceefec9455d1e2792a3a1ada5242b234b2.svg
  contents/core/hw_acceleration/hw_acceleration_files/figure-html/fig-compute-memory-imbalance-1.png
  contents/core/hw_acceleration/hw_acceleration_files/figure-html/fig-memory-wall-1.png
  contents/core/hw_acceleration/hw_acceleration_files/figure-html/fig-processor-trends-1.png
  contents/core/introduction/diagram-f89d1148c3621b49aab6fea2bb5c6c3089ed5396.pdf
  contents/core/introduction/images/png/image.png
  contents/core/optimizations/optimizations_files/figure-html/fig-quantization_impact-1.png
  contents/core/optimizations/optimizations_files/figure-html/fig-quantized-energy-1.png
  contents/core/optimizations/optimizations_files/figure-html/fig-targets-1.png
  contents/core/sustainable_ai/sustainable_ai_files/figure-html/fig-ai-data-center-demand-1.png
  tex/header-includes.tex
Due: update-texlive-packages

Auto stash before merge of "dev" and "origin/885-quizzes-not-being-fully-inserted"
  contents/core/benchmarking/benchmarking.qmd
  contents/core/dnn_architectures/dnn_architectures.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Final test after syncing with upstream dev
  _quarto.yml
Due: update-texlive-packages

Adds image validation pre-commit hook
  .pre-commit-config.yaml
  contents/core/dl_primer/images/jpg/mlp_connection_weights.jpg
  contents/core/dnn_architectures/images/jpg/rnn_unrolled.jpg
  contents/core/dnn_architectures/images/png/rnn_unrolled.png
  contents/core/introduction/images/gif/alphafold.gif
  contents/core/introduction/images/png/alphafold.gif
  contents/core/introduction/introduction.qmd
  contents/core/ml_systems/images/jpg/cloud_ml_tpu.jpeg
  contents/core/ml_systems/images/jpg/cloud_ml_tpu.jpg
  contents/core/ml_systems/images/jpg/microprocessor_vs_microcontroller.jpg
  contents/core/ml_systems/images/png/tiny_ml.png
  contents/core/ml_systems/ml_systems.qmd
  contents/core/ops/images/jpg/mlops_overview_layers.jpeg
  contents/core/workflow/images/jpg/ML_life_cycle.jpeg
  requirements.txt
  scripts/check_images.py
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Adds script to extract headers from .qmd files
  scripts/extract_headers.py
Due: none

Adds pre-commit hook to detect locked files
  .pre-commit-config.yaml
Due: none

Improves pre-commit hook configuration
  .pre-commit-config.yaml
Due: none

Increases job timeout to 90 minutes
  .github/workflows/quarto-build.yml
Due: none

Increases job timeout duration
  .github/workflows/quarto-build.yml
Due: none

Make new margin note box
  _extensions/custom-numbered-blocks/style/foldbox.css
  _extensions/custom-numbered-blocks/style/foldbox.tex
  _extensions/custom-numbered-blocks/style/icons/icon_callout-chapter-connection.pdf
  _extensions/custom-numbered-blocks/style/icons/icon_callout-chapter-connection.png
  _quarto.yml
  contents/core/introduction/introduction.qmd
  lua/margin-connections.lua
Due: update-texlive-packages, check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Adds TinyTorch release link to announcement
  _quarto.yml
Due: update-texlive-packages

Update README.md
  README.md
Due: none

Create CITATION.bib
  CITATION.bib
Due: none

Improve styling of reference and chapter connection blocks
  _extensions/custom-numbered-blocks/style/foldbox.css
  _quarto.yml
  contents/core/introduction/images/png/alphafold.png
  contents/core/introduction/introduction.qmd
  contents/core/ml_systems/images/png/op_perf_char.png
  contents/core/ml_systems/ml_systems.qmd
  lua/margin-connections.lua
  style.scss
Due: update-texlive-packages, check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Add new Tikz figures in ch3 to ch6
  contents/core/data_engineering/data_engineering.qmd
  contents/core/data_engineering/images/png/CS249r_Labels_new.png
  contents/core/data_engineering/images/png/label-errors-examples_new.png
  contents/core/dl_primer/dl_primer.qmd
  contents/core/dl_primer/images/jpg/usps_examples_new.jpg
  contents/core/dnn_architectures/dnn_architectures.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Adds callout block styles
  _quarto.yml
Due: update-texlive-packages

Adds dependencies for cross-referencing
  requirements.txt
Due: none

Reorders book contents in _quarto.yml
  _quarto.yml
Due: update-texlive-packages

Improve chapter connection styling: use footnote size and add spacing between items
  _quarto.yml
  lua/margin-connections.lua
Due: update-texlive-packages

Reorders filters to ensure correct processing
  _quarto.yml
Due: update-texlive-packages

Updates callout in introduction chapter
  contents/core/introduction/introduction.qmd
Due: check-section-ids, header-inline-check, grep-forbidden-phrases, collapse-extra-blank-lines

Add comprehensive cross-referencing system for ML Systems book
  .gitignore
  _quarto.yml
  lua/inject_xrefs.lua
Due: update-texlive-packages

Path conditions:
  update-texlive-packages: any of: ^(tex/header-includes\.tex|_quarto\.yml)$
  check-section-ids: any of: ^contents/.*\.qmd$
  header-inline-check: any of: ^contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^contents/.*\.qmd$
  collapse-extra-blank-lines: any of: ^contents/.*\.qmd$
