Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$

chore: Remove README_ICONS.md documentation file
  quarto/assets/images/icons/callouts/README_ICONS.md
Due: none

feat(icons): Upscale all callout icons to high resolution (128x128)
  quarto/assets/images/icons/callouts/icon_callout_chapter_connection.pdf
  quarto/assets/images/icons/callouts/icon_callout_chapter_connection.png
  quarto/assets/images/icons/callouts/icon_callout_colab.pdf
  quarto/assets/images/icons/callouts/icon_callout_colab.png
  quarto/assets/images/icons/callouts/icon_callout_definition.pdf
  quarto/assets/images/icons/callouts/icon_callout_definition.png
  quarto/assets/images/icons/callouts/icon_callout_quiz_answer.pdf
  quarto/assets/images/icons/callouts/icon_callout_quiz_answer.png
  quarto/assets/images/icons/callouts/icon_callout_quiz_question.pdf
  quarto/assets/images/icons/callouts/icon_callout_quiz_question.png
  quarto/assets/images/icons/callouts/icon_callout_resource_exercises.pdf
  quarto/assets/images/icons/callouts/icon_callout_resource_exercises.png
  quarto/assets/images/icons/callouts/icon_callout_resource_slides.pdf
  quarto/assets/images/icons/callouts/icon_callout_resource_slides.png
  quarto/assets/images/icons/callouts/icon_callout_resource_videos.pdf
  quarto/assets/images/icons/callouts/icon_callout_resource_videos.png
Due: none

fix(styling): Add callout-colab styles to EPUB format
  quarto/assets/styles/epub.css
Due: none

fix(styling): Add callout-colab to all style.scss rules matching other callouts
  quarto/assets/styles/style.scss
Due: none

fix(callout): Use title attribute for callout-colab matching definition pattern
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

chore: Remove test callout-colab from Introduction chapter
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat(accessibility): Add GenAI-powered alt-text generation tools
  tools/scripts/genai/QUICK_START_ALT_TEXT.md
  tools/scripts/genai/README_ALT_TEXT.md
  tools/scripts/genai/generate_alt_text.py
Due: none

docs: Add comprehensive callout styling architecture analysis
  CALLOUT_STYLING_ANALYSIS.md
Due: none

refactor(styles): Consolidate callout styling into foldbox.css extension
  quarto/assets/styles/dark-mode.scss
  quarto/assets/styles/style.scss
Due: none

docs: Document completed callout styling consolidation
  CALLOUT_STYLING_ANALYSIS.md
Due: none

fix(styles): Restore callout dark mode styles for manual toggle
  quarto/assets/styles/dark-mode.scss
Due: none

fix(styles): Ensure comprehensive left-alignment for all callout content
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.css
Due: none

fix(icons): Increase example icon size to match quiz icons
  quarto/assets/images/icons/callouts/icon_callout_example.pdf
  quarto/assets/images/icons/callouts/icon_callout_example.png
Due: none

fix(icons): Add hyphenated icon filenames for PDF compilation
  quarto/assets/images/icons/callouts/icon_callout-colab.pdf
  quarto/assets/images/icons/callouts/icon_callout-colab.png
  quarto/assets/images/icons/callouts/icon_callout-definition.pdf
  quarto/assets/images/icons/callouts/icon_callout-definition.png
  quarto/assets/images/icons/callouts/icon_callout-example.pdf
  quarto/assets/images/icons/callouts/icon_callout-example.png
  quarto/assets/images/icons/callouts/icon_callout-quiz-answer.pdf
  quarto/assets/images/icons/callouts/icon_callout-quiz-answer.png
  quarto/assets/images/icons/callouts/icon_callout-quiz-question.pdf
  quarto/assets/images/icons/callouts/icon_callout-quiz-question.png
Due: none

refactor(icons): Standardize to snake_case filenames only
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.tex
  quarto/assets/images/icons/callouts/icon_callout-chapter-connection.pdf
  quarto/assets/images/icons/callouts/icon_callout-chapter-connection.png
  quarto/assets/images/icons/callouts/icon_callout-code.pdf
  quarto/assets/images/icons/callouts/icon_callout-code.png
  quarto/assets/images/icons/callouts/icon_callout-colab.pdf
  quarto/assets/images/icons/callouts/icon_callout-colab.png
  quarto/assets/images/icons/callouts/icon_callout-definition.pdf
  quarto/assets/images/icons/callouts/icon_callout-definition.png
  quarto/assets/images/icons/callouts/icon_callout-example.pdf
  quarto/assets/images/icons/callouts/icon_callout-example.png
  quarto/assets/images/icons/callouts/icon_callout-quiz-answer.pdf
  quarto/assets/images/icons/callouts/icon_callout-quiz-answer.png
  quarto/assets/images/icons/callouts/icon_callout-quiz-question.pdf
  quarto/assets/images/icons/callouts/icon_callout-quiz-question.png
  quarto/assets/images/icons/callouts/icon_callout-resource-exercises.pdf
  quarto/assets/images/icons/callouts/icon_callout-resource-exercises.png
  quarto/assets/images/icons/callouts/icon_callout-resource-slides.pdf
  quarto/assets/images/icons/callouts/icon_callout-resource-slides.png
  quarto/assets/images/icons/callouts/icon_callout-resource-videos.pdf
  quarto/assets/images/icons/callouts/icon_callout-resource-videos.png
Due: none

feat(lint): add JSON validation to pre-commit hooks
  .pre-commit-config.yaml
  quarto/contents/core/sustainable_ai/sustainable_ai_quizzes.json
  quarto/data/cross_refs.json
  quarto/data/cross_refs_no_explanation.json
Due: yamllint

refactor(lint): use Python built-in json module for validation
  .pre-commit-config.yaml
  tools/scripts/utilities/validate_json.py
Due: yamllint

fix(pdf): replace ALL hyphens in callout icon names
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.tex
Due: none

Improves LaTeX command robustness.
  quarto/_extensions/mlsysbook-ext/custom-numbered-blocks/style/foldbox.tex
Due: none

Removes outdated Windows Dockerfile
  docker/windows/Dockerfile.backup-2025-10-08
Due: none

Removes broken Chocolatey Dockerfile
  docker/windows/Dockerfile.chocolatey.broken
Due: none

Removes deprecated cross-ref injection filters
  quarto/filters/inject-xrefs-backup.lua
  quarto/filters/inject-xrefs-experimental.lua
Due: none

Removes backup file
  tools/scripts/.backup_20251009_133211.json
Due: none

Revert "Merge branch 'feature/alt-text-generation' into dev"
  tools/scripts/genai/QUICK_START_ALT_TEXT.md
  tools/scripts/genai/README_ALT_TEXT.md
  tools/scripts/genai/generate_alt_text.py
Due: none

Removes obsolete symlink and adds to ignore.
  .gitignore
  quarto/_quarto.yml
Due: yamllint

Consolidates callout styling to extension
  CALLOUT_STYLING_ANALYSIS.md
Due: none

chore(config): consolidate gitignore and restore _quarto.yml
  .gitignore
  quarto/.gitignore
  quarto/_quarto.yml
Due: yamllint

fix(security): upgrade lychee-action to v2.0.2
  .github/workflows/link-check.yml
Due: yamllint

cleanup: remove build artifacts, cache files, and empty catalogs
  quarto/contents/core/frontiers/diagram-52a87d5641145f9e75a213d86be7ad9fd8f3cd91.pdf
  quarto/contents/core/frontiers/footnote_catalog.json
  quarto/contents/core/introduction/footnote_catalog.json
  quarto/contents/core/ml_systems/diagram-a6b7fd5c5bb402e18c4c17681f52ed885cdcd955.pdf
  quarto/contents/core/ml_systems/footnote_catalog.json
  quarto/contents/core/privacy_security/footnote_catalog.json
  quarto/contents/core/training/diagram-8cc4e273a32d35d621d0dbd7df7fce3c80864c5d.pdf
  tools/scripts/cross_refs/COMPREHENSIVE_CROSS_REFERENCE_REPORT.md
  tools/scripts/cross_refs/FINAL_IMPLEMENTATION_SUMMARY.md
  tools/scripts/cross_refs/QUALITY_ANALYSIS_REPORT.md
  tools/scripts/cross_refs/RECIPE.md
  tools/scripts/cross_refs/REFINEMENT_SUMMARY.md
  tools/scripts/cross_refs/cognitive_load_analysis.json
  tools/scripts/cross_refs/experimental_results.json
  tools/scripts/cross_refs/production_summary.json
  tools/scripts/cross_refs/refined_experimental_results.json
Due: none

cleanup: remove Claude Code author attributions from scripts
  tools/scripts/cross_refs/cognitive_load_optimized_generator.py
  tools/scripts/cross_refs/experimental_framework.py
Due: none

Fixing link and typo in README for SocratiQ
  socratiQ/README.md
Due: none

Fixing link and typo in README for SocratiQ (#1044)
  socratiQ/README.md
Due: none

Fixing typos in 3 files
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos in 3 files (#1045)
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos in 3 files
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/labs/raspi/object_detection/object_detection.qmd
  quarto/contents/labs/raspi/setup/setup.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos in 3 files (#1046)
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/labs/raspi/object_detection/object_detection.qmd
  quarto/contents/labs/raspi/setup/setup.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos in 3 files
  quarto/contents/labs/arduino/nicla_vision/object_detection/object_detection.qmd
  quarto/contents/labs/raspi/object_detection/object_detection.qmd
  quarto/contents/labs/raspi/vlm/vlm.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos in 3 files (#1047)
  quarto/contents/labs/arduino/nicla_vision/object_detection/object_detection.qmd
  quarto/contents/labs/raspi/object_detection/object_detection.qmd
  quarto/contents/labs/raspi/vlm/vlm.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos in 2 files
  quarto/contents/labs/arduino/nicla_vision/motion_classification/motion_classification.qmd
  quarto/contents/labs/seeed/grove_vision_ai_v2/image_classification/image_classification.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references
