Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-validate-json, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-images, book-validate-external-images, book-validate-image-references

Path conditions:
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-fix-list-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-verify-section-ids: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/vol1/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-check-references: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unclosed-divs: any of: ^book/quarto/contents/.*\.qmd$
  book-check-four-colon-space: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-completeness: any of: ^book/quarto/contents/.*\.qmd$
  book-check-figure-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-check-grid-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-prettify-pipe-tables: any of: ^book/quarto/contents/.*\.qmd$
  book-check-render-patterns: any of: ^book/quarto/contents/.*\.qmd$
  book-check-python-echo: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-dropcap: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-validate-inline: any of: ^book/quarto/contents/.*\.qmd$
  book-mlsys-test-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-index-placement: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-check-heading-levels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-words: any of: ^book/quarto/contents/.*\.qmd$
  book-check-percent-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unit-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-check-binary-units: any of: ^book/quarto/contents/.*\.qmd$
  book-check-contractions: any of: ^book/quarto/contents/.*\.qmd$
  book-check-unblended-prose: any of: ^book/quarto/contents/.*\.qmd$
  book-check-times-spacing: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$

fix: align binder volume index symlinks
  book/cli/core/config.py
  book/quarto/config/_quarto-html-vol1.yml
Due: none

fix: clean volume front matter and margin layout
  book/quarto/contents/vol1/model_compression/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/index-vol1.qmd
  book/quarto/index-vol2.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Revert "chore: bump volume version(s) to vol1-v0.7.1+vol2-v0.2.1"
  book/quarto/contents/vol1/index.qmd
  book/quarto/contents/vol2/index.qmd
  book/quarto/index-vol1.qmd
  book/quarto/index-vol2.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix: honor site-only publish guard
  .github/workflows/book-publish-live.yml
Due: none

fix: preserve site-only release identity
  .github/scripts/rewrite-dev-urls.sh
  .github/workflows/book-preview-dev.yml
  .github/workflows/book-publish-live.yml
  mlsysim/docs/config/_quarto-html.yml
Due: none

🔮 Deploy Labs labs-v0.1.0 - 7f29e86228d7be25d72cdc8e5e4405540803f40f 7f29e86228d7be25d72cdc8e5e4405540803f40f
  labs/labs/release-manifest.json
  labs/release-manifest.json
  labs/sitemap.xml
Due: none

fix: clean TinyTorch Quarto deploy
  .github/workflows/tinytorch-publish-live.yml
Due: none

fix: keep volume legacy paths compatible
  .github/scripts/flatten-vol-urls.sh
Due: none

fix: honor StaffML base path in announcement
  interviews/staffml/src/lib/announcement.ts
Due: none

fix: preserve TinyTorch PDFs on site-only deploy
  .github/workflows/tinytorch-publish-live.yml
Due: none

fix: use dedicated Cloudflare purge token
  .github/workflows/infra-cloudflare-purge.yml
Due: none

fix: strengthen Volume 2 principle callbacks
  book/quarto/contents/vol2/compute_infrastructure/compute_infrastructure.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/security_privacy/security_privacy.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

fix: hide MLSysim homepage page toc
  mlsysim/docs/index.qmd
Due: none

🧮 Deploy MLSYSIM mlsysim-v0.2.0 - 08c07f7bed488f93df4aa93ed4a5b0adfd2df389 08c07f7bed488f93df4aa93ed4a5b0adfd2df389
  mlsysim/index.html
  mlsysim/mlsysim-paper.pdf
  mlsysim/release-manifest.json
  mlsysim/sitemap.xml
  mlsysim/tutorial_module1.pdf
  mlsysim/tutorial_module2.pdf
  mlsysim/tutorial_module3.pdf
  mlsysim/tutorial_module4.pdf
  mlsysim/tutorials/00_hello_roofline.html
  mlsysim/tutorials/01_memory_wall.html
  mlsysim/tutorials/02_two_phases.html
  mlsysim/tutorials/03_kv_cache.html
  mlsysim/tutorials/04_starving_the_gpu.html
  mlsysim/tutorials/05_quantization.html
  mlsysim/tutorials/06_scaling_1000_gpus.html
  mlsysim/tutorials/07_geography.html
  mlsysim/tutorials/08_nine_million_dollar.html
  mlsysim/tutorials/09_sensitivity.html
  mlsysim/tutorials/10_gpu_vs_wafer.html
  mlsysim/tutorials/11_training_memory_capacity_moe.html
  mlsysim/tutorials/12_full_stack_audit.html
  mlsysim/tutorials/distributed.html
Due: none

fix(book): render pseudocode algorithms and contain their overflow
  book/quarto/_extensions/mlsysbook-ext/pseudocode/pseudocode.lua
  book/quarto/assets/styles/_base-styles.scss
Due: none

fix: apply all-contributors credits on merge
  .github/workflows/all-contributors-add.yml
  .github/workflows/all-contributors-auto-credit.yml
  .github/workflows/contributors/README.md
  .github/workflows/contributors/add_contributor.py
  README.md
  book/.all-contributorsrc
  book/README.md
Due: none

Refine front matter and Chapter 1 introduction layout
  book/quarto/_extensions/mlsysbook-ext/titlepage/before-body.tex
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/tex/frontmatter-vol1.tex
  book/quarto/tex/header-includes.tex
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

docs: backfill missed contributor credits
  README.md
  book/.all-contributorsrc
  book/README.md
  instructors/.all-contributorsrc
  instructors/README.md
  interviews/.all-contributorsrc
  interviews/README.md
  kits/.all-contributorsrc
  kits/README.md
  labs/.all-contributorsrc
  labs/README.md
  mlsysim/.all-contributorsrc
  mlsysim/README.md
  slides/.all-contributorsrc
  slides/README.md
  tinytorch/.all-contributorsrc
  tinytorch/README.md
Due: none

fix(site): avoid Safari hiding subscribe nav link
  shared/config/navbar-common.yml
Due: none

ci: purge Cloudflare after Pages deployment
  .github/workflows/infra-cloudflare-purge.yml
Due: none

fix(site): open subscribe modal from navbar CTA
  book/quarto/assets/scripts/subscribe-modal.js
  kits/assets/scripts/subscribe-modal.js
  labs/assets/scripts/subscribe-modal.js
  mlsysim/docs/scripts/subscribe-modal.js
  shared/scripts/subscribe-modal.js
  site/assets/scripts/subscribe-modal.js
  tinytorch/quarto/assets/scripts/subscribe-modal.js
Due: none

Refined the PDF layout for chapter 2 (ml_systems.qmd)
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Refined the PDF layout for chapter 3 (ml_workflow.qmd)
  book/quarto/contents/vol1/ml_workflow/ml_workflow.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Refined the PDF layout for chapter 4 (data_engineering.qmd)
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_engineering/images/png/data_engineering_kws.png
  book/quarto/contents/vol1/data_engineering/images/svg/data_engineering_debt_compounding.svg
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-images, book-validate-external-images, book-validate-image-references

Refined the PDF layout for chapter 5 (nn_computation.qmd)
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Add Patterson foreword to Volume 1
  book/quarto/contents/vol1/frontmatter/foreword.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Apply hook formatting after layout merges
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/nn_computation/nn_computation.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Update Volume 1 front matter
  book/quarto/contents/vol1/frontmatter/foreword.qmd
  book/quarto/tex/frontmatter-vol1.tex
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Improve Volume 1 foreword byline
  book/quarto/contents/vol1/frontmatter/foreword.qmd
Due: book-format-python, book-collapse-blank-lines, book-fix-list-spacing, book-verify-section-ids, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-check-references, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-unclosed-divs, book-check-four-colon-space, book-check-figure-completeness, book-check-figure-placement, book-check-table-formatting, book-check-grid-tables, book-prettify-pipe-tables, book-check-render-patterns, book-check-python-echo, book-validate-dropcap, book-mlsys-validate-inline, book-mlsys-test-units, book-check-index-placement, book-validate-part-keys, book-check-heading-levels, book-check-duplicate-words, book-check-percent-spacing, book-check-unit-spacing, book-check-binary-units, book-check-contractions, book-check-unblended-prose, book-check-times-spacing, book-validate-external-images, book-validate-image-references

Refine Volume 1 dedication gratitude
  book/quarto/tex/frontmatter-vol1.tex
Due: none

fix(staffml): guard localStorage access in ThemeProvider against strict-storage browsers
  interviews/staffml/src/__tests__/theme-provider-storage.test.tsx
  interviews/staffml/src/components/ThemeProvider.tsx
Due: none

fix(staffml): expose expanded state on Nav disclosure toggles
  interviews/staffml/src/__tests__/nav-disclosure-aria.test.tsx
  interviews/staffml/src/components/Nav.tsx
Due: none

fix(staffml): give StarGate proper dialog semantics and focus management
  interviews/staffml/src/__tests__/stargate-dialog-a11y.test.tsx
  interviews/staffml/src/components/StarGate.tsx
Due: none

fix(staffml): give the framework primitive-detail modal dialog semantics and focus management
  interviews/staffml/src/__tests__/framework-modal-a11y.test.tsx
  interviews/staffml/src/app/framework/page.tsx
Due: none

fix(staffml): remove invalid HTML button nested inside the explore SVG
  interviews/staffml/src/__tests__/explore-svg-markup.test.tsx
  interviews/staffml/src/app/explore/page.tsx
Due: none
