Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

collapse-extra-blank-lines:
  name: Collapse extra blank lines
  entry: python tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

yamllint:
  name: Validate YAML files
  entry: yamllint
  language: system
  args:
  - --config-file=.yamllint
  description: Validate all YAML files with custom config

check-duplicate-labels:
  name: Check for duplicate labels
  entry: python tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: Detect inline-style Markdown headers
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: Check for forbidden words
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

validate-images:
  name: Validate image files
  entry: python tools/scripts/utilities/manage_images.py
  language: python
  additional_dependencies:
  - pillow
  - rich
  pass_filenames: true

validate-external-images:
  name: Check for external images in Quarto files
  entry: python tools/scripts/manage_external_images.py --validate quarto/contents/
  language: python
  additional_dependencies:
  - requests
  pass_filenames: false
  description: Ensure all images are local for build reliability

validate-image-references:
  name: Check that all image references exist on disk
  entry: python tools/scripts/validate_image_references.py -d quarto/contents/ --quiet
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all referenced images exist on disk

prevent-svg-files:
  name: Prevent manual SVG files from being committed
  ...

sanitize-svgs:
  name: Remove control chars from existing SVGs
  entry: bash -c 'perl -pi -e '\''s/[\x00-\x08\x0B\x0C\x0E-\x1F]//g'\'' "$@"' --
  language: system
  description: Clean up control characters in generated/existing SVG files

chore: update main quarto config for consistency
  quarto/_quarto.yml
Due: yamllint

feat: update agents for CS/Engineering textbook context
  .claude/agents/editor.md
  .claude/agents/footnote.md
  .claude/agents/reviewer.md
Due: none

feat: enhance footnote agent as pedagogical expert
  .claude/agents/footnote.md
Due: none

fix: clarify expected CS/Engineering student background in agents
  .claude/agents/editor.md
  .claude/agents/reviewer.md
Due: none

feat: establish MLSE pedagogical context and philosophy
  .claude/CONTEXT.md
  .claude/agents/editor.md
  .claude/agents/footnote.md
  .claude/agents/reviewer.md
Due: none

fix: improve footnote agent with key principles
  .claude/CONTEXT.md
  .claude/agents/footnote.md
  .claude/agents/reviewer.md
  quarto/contents/core/introduction/VERSION_COMPARISON.md
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: add evidence-based footnote guidelines from research
  .claude/FOOTNOTE_GUIDELINES.md
  .claude/agents/footnote.md
Due: none

feat: refactor stylist agents for improved academic writing consistency
  .claude/agents/code-stylist.md
  .claude/agents/stylist.md
Due: none

cleanup: remove unused .claude files and commands
  .claude/AGENT_ARCHITECTURE_PLAN.md
  .claude/COMMIT_RULES.md
  .claude/PROGRESSIVE_KNOWLEDGE_TRACKER.md
  .claude/REVIEW_HANDOFF_SPEC.md
  .claude/WORKFLOW_EXAMPLE.md
  .claude/agents/code-stylist.md
  .claude/commands/improve.md
  .claude/commands/review.md
Due: none

improve: refine reviewer and footnote agents for better selectivity
  .claude/agents/footnote.md
  .claude/agents/reviewer.md
Due: none

fix: prevent technical meaning changes in replacements
  .claude/GIT_WORKFLOW.md
  .claude/agents/editor.md
  .claude/agents/reviewer.md
Due: none

refactor: simplify knowledge map and fix reviewer philosophy
  .claude/KNOWLEDGE_MAP.md
  .claude/agents/reviewer.md
Due: none

feat: add concept extraction tool and v2 knowledge map
  .claude/KNOWLEDGE_MAP_V2.md
  tools/scripts/content/extract_concepts.py
Due: none

feat: consolidate knowledge maps and establish review file conventions
  .claude/KNOWLEDGE_MAP.md
  .claude/KNOWLEDGE_MAP_V2.md
  .gitignore
Due: none

refactor: organize agent documentation into structured directories
  .claude/agents/editor.md
  .claude/agents/footnote.md
  .claude/agents/reviewer.md
  .claude/agents/stylist.md
  .claude/docs/README.md
  .claude/docs/agents/FOOTNOTE_GUIDELINES.md
  .claude/docs/shared/CONTEXT.md
  .claude/docs/shared/GIT_WORKFLOW.md
  .claude/docs/shared/KNOWLEDGE_MAP.md
Due: none

refactor: enforce footnote separation and branch naming conventions
  .claude/agents/editor.md
  .claude/agents/footnote.md
  .claude/agents/reviewer.md
  .claude/agents/stylist.md
  .claude/docs/shared/GIT_WORKFLOW.md
  CLAUDE.md
Due: none

docs: enforce branch deletion after merge
  .claude/docs/shared/GIT_WORKFLOW.md
  CLAUDE.md
Due: none

feat(section-id-manager): make chapter header processing default
  tools/scripts/content/manage_section_ids.py
Due: none

fix(section-id-manager): show chapter headers in --list output
  tools/scripts/content/manage_section_ids.py
Due: none

gitignore: prevent backup files from being committed
  .gitignore
Due: none

refactor: establish staging-only workflow for agents
  .claude/agents/editor.md
  .claude/agents/footnote.md
  .claude/agents/stylist.md
  .claude/docs/shared/GIT_WORKFLOW.md
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

cleanup: remove all footnotes from qmd files for fresh start
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
  scripts/remove_footnotes.py
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix: properly remove all footnote inline references
  .claude/footnote_context.md
  footnote_catalog.json
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
  scripts/catalog_footnotes.py
  scripts/remove_footnotes.py
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

docs: add comprehensive footnote agent workflow
  .claude/docs/agents/footnote_workflow.md
Due: none

docs: update agent guidelines for footnotes and commit policy
  .claude/docs/agents/footnote_prompt_guidelines.md
  .claude/docs/agents/footnote_workflow.md
  .claude/docs/shared/agent_commit_policy.md
Due: none

docs: add footnote placement rules and two-phase approach
  .claude/docs/agents/footnote_placement_rules.md
  .claude/docs/agents/footnote_two_phase_approach.md
  .claude/docs/agents/footnote_workflow.md
Due: none

cleanup: consolidate .claude documentation and remove redundancies
  .claude/README.md
  .claude/docs/agents/FOOTNOTE_GUIDELINES.md
  .claude/docs/agents/footnote_complete_guide.md
  .claude/docs/agents/footnote_placement_rules.md
  .claude/docs/agents/footnote_prompt_guidelines.md
  .claude/docs/agents/footnote_two_phase_approach.md
  .claude/docs/agents/footnote_workflow.md
Due: none

editor: fix forward references and improve clarity in chapters 2-4
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

editor: fix forward references in chapters 5-7
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix: restore frameworks chapter content
  quarto/contents/core/frameworks/frameworks.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

footnote: add enriched footnotes to introduction chapter
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

editor: minimal fixes to frameworks chapter
  quarto/contents/core/frameworks/frameworks.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix: review and edit Chapter 8 (Training)
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix: review and edit Chapter 9 (Efficient AI)
  quarto/contents/core/efficient_ai/efficient_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix: review and edit Chapter 10 (Model Optimizations)
  quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix: review and edit Chapter 11 (AI Acceleration)
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix: review and edit Chapter 12 (Benchmarking AI)
  quarto/contents/core/benchmarking/benchmarking.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$
