Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$

refactor(ai-for-good): improve chapter flow and contextual integration
  quarto/contents/core/ai_for_good/ai_for_good.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

refactor(ai-for-good): add minor flow refinements to theory section
  quarto/contents/core/ai_for_good/ai_for_good.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Improve sustainable_ai chapter structure and flow
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Refactor conclusion chapter: Transform from chronological review to principles-based synthesis
  quarto/contents/core/conclusion/conclusion.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Improve frontiers chapter: enhance flow, coherence, and conceptual progression
  quarto/contents/core/frontiers/frontiers.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Restructure introduction chapter for improved logical flow and pedagogy
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Update footnote guidelines to emphasize ML systems relevance
  .claude/agents/editorial/footnote.md
Due: none

Add comprehensive citations to frontiers chapter
  quarto/contents/core/frontiers/frontiers.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Apply systems-first philosophy to introduction footnotes
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Phase 2: Complete footnote systems-relevance improvements
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

docs: enhance chapter integration and cross-references across book
  quarto/_quarto.yml
  quarto/config/_quarto-epub.yml
  quarto/config/_quarto-pdf.yml
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

cleanup: remove analysis files after coherence improvements
  ai_for_good_chapter_analysis.yaml
  benchmarking_coherence_analysis.yaml
  chapter_coherence_analysis.md
  comprehensive_coherence_report.md
  conclusion_coherence_analysis.yaml
  data_engineering_coherence_analysis.yaml
  dl_primer_chapter_analysis.md
  dnn_architectures_coherence_analysis.yaml
  efficient_ai_chapter_analysis.yaml
  efficient_ai_optimizations_redundancy_analysis.md
  final_integration_summary.md
  frameworks_chapter_analysis.md
  frontiers_chapter_analysis.yaml
  hw_acceleration_chapter_analysis.yaml
  integration_changes_summary.md
  introduction_coherence_analysis.md
  ondevice_learning_integration_fixes.md
  ops_chapter_analysis.yaml
  optimizations_chapter_analysis.yaml
  privacy_security_chapter_analysis.yaml
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/training/training.qmd
  responsible_ai_chapter_analysis.yaml
  sustainable_ai_coherence_analysis.yaml
  sustainable_ai_final_implementation_summary.md
  sustainable_ai_implementation_summary.md
  sustainable_ai_structure_proposal.md
  training_chapter_analysis.yaml
  workflow_chapter_analysis.yaml
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

refactor: improve chapter overview sections for better narrative flow
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

refactor: remove self-referencing in all chapters
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

refactor: optimize footnotes across all chapters for clarity and consistency
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix: apply pre-commit formatting to sustainable AI chapter
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Refactor ML Systems chapter for textbook narrative flow
  quarto/contents/core/ml_systems/ml_systems.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Improve chapter transitions and eliminate redundancy
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Refine DL Primer summary flow and formatting
  quarto/contents/core/dl_primer/dl_primer.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Streamline summary by removing redundant 'Looking Ahead' section
  quarto/contents/core/ml_systems/ml_systems.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Refactor workflow chapter to clarify DR case study as pedagogical tool
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Refactor workflow chapter to emphasize scaffolding purpose
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Polish introduction chapter narrative flow for smooth reading experience
  quarto/contents/core/introduction/introduction.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Improve content clarity and readability in core chapters
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Enhance data engineering chapter: add equations, citations, four pillars diagram, and narrative improvements
  quarto/contents/core/data_engineering/data_engineering.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Update learning objectives and key takeaways to reflect four pillars framework and engineering depth
  quarto/contents/core/data_engineering/data_engineering.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Refine formatting and flow in data engineering chapter
  quarto/contents/core/data_engineering/data_engineering.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Improve training chapter: pedagogical enhancements and cross-references
  quarto/contents/core/training/training.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Improve data engineering chapter: flow and transition enhancements
  quarto/contents/core/data_engineering/data_engineering.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Improve hardware acceleration chapter flow and organization
  .claude/agents/editorial/footnote.md
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/benchmarking/benchmarking.bib
  quarto/contents/core/benchmarking/benchmarking.qmd
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frontiers/frontiers.bib
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
  quarto/contents/core/optimizations/optimizations.bib
  quarto/contents/core/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Enhance Robust AI chapter: improve flow, add compound scenarios, strengthen narrative arc
  quarto/contents/core/ai_for_good/ai_for_good.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Reorder Part IV chapters: on-device learning → security & privacy → robust AI → ML ops
  quarto/config/_quarto-epub.yml
  quarto/config/_quarto-html.yml
  quarto/config/_quarto-pdf.yml
  quarto/contents/frontmatter/about/about.qmd
  quarto/contents/parts/summaries.yml
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Enable full book PDF build and add Python formatting utility
  CHANGELOG.md
  corrected_v0.4.1_comprehensive_notes.md
  fix_div_syntax.py
  quarto/config/_quarto-pdf.yml
  quarto/contents/footnote_catalog.json
  tools/scripts/format_python_in_qmd.py
Due: yamllint

Fix critical path bugs in changelog scripts and workflows
  .github/workflows/link-check.yml
  tools/scripts/maintenance/changelog-releasenotes.py
  tools/scripts/maintenance/generate_release_content.py
Due: yamllint

Fix changelog script bugs and generate AI-powered changelog
  .pre-commit-config.yaml
  CHANGELOG.md
  tools/scripts/maintenance/changelog-releasenotes.py
Due: yamllint

Fix chapter numbering in changelog
  CHANGELOG.md
  tools/scripts/maintenance/changelog-releasenotes.py
Due: none

docs(chapters): add intuitive analogies and fix broken cross-references
  quarto/contents/core/conclusion/conclusion.qmd
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/dl_primer/dl_primer.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures.qmd
  quarto/contents/core/dnn_architectures/dnn_architectures_quizzes.json
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/frameworks/frameworks.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/introduction/introduction.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/ops/ops.qmd
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/core/privacy_security/privacy_security.qmd
  quarto/contents/core/responsible_ai/responsible_ai.qmd
  quarto/contents/core/robust_ai/robust_ai.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
  quarto/contents/core/training/training.qmd
  quarto/contents/core/workflow/workflow.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references
