Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs

collapse-extra-blank-lines:
  name: Collapse extra blank lines
  entry: python tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

yamllint:
  name: Validate YAML files
  entry: yamllint
  language: system
  args:
  - --config-file=.yamllint
  description: Validate all YAML files with custom config

check-duplicate-labels:
  name: Check for duplicate labels
  entry: python tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: Detect inline-style Markdown headers
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: Check for forbidden words
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

validate-images:
  name: Validate image files
  entry: python tools/scripts/utilities/manage_images.py
  language: python
  additional_dependencies:
  - pillow
  - rich
  pass_filenames: true

validate-external-images:
  name: Check for external images in Quarto files
  entry: python tools/scripts/manage_external_images.py --validate quarto/contents/
  language: python
  additional_dependencies:
  - requests
  pass_filenames: false
  description: Ensure all images are local for build reliability

validate-image-references:
  name: Check that all image references exist on disk
  entry: python tools/scripts/validate_image_references.py -d quarto/contents/ --quiet
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all referenced images exist on disk

prevent-svg-files:
  name: Prevent manual SVG files from being committed
  ...

sanitize-svgs:
  name: Remove control chars from existing SVGs
  entry: bash -c 'perl -pi -e '\''s/[\x00-\x08\x0B\x0C\x0E-\x1F]//g'\'' "$@"' --
  language: system
  description: Clean up control characters in generated/existing SVG files

Fixing typos in 2 files (#1048)
  quarto/contents/labs/arduino/nicla_vision/motion_classification/motion_classification.qmd
  quarto/contents/labs/seeed/grove_vision_ai_v2/image_classification/image_classification.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos in 2 files
  quarto/contents/labs/raspi/object_detection/object_detection.qmd
  quarto/contents/labs/raspi/vlm/vlm.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos (#1049)
  quarto/contents/labs/raspi/object_detection/object_detection.qmd
  quarto/contents/labs/raspi/vlm/vlm.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos in files
  quarto/config/_quarto-epub.yml
  quarto/config/_quarto-html.yml
  quarto/contents/labs/arduino/nicla_vision/kws/kws.qmd
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fix typos in files (#1050)
  quarto/config/_quarto-epub.yml
  quarto/config/_quarto-html.yml
  quarto/contents/labs/arduino/nicla_vision/kws/kws.qmd
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos in 3 files
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(epub): Replace CSS variables with literal values to prevent XML parsing errors
  quarto/assets/styles/epub.css
Due: none

feat: Add --all flag to pdf, epub, and html commands
  cli/main.py
Due: none

feat: Add comprehensive EPUB validator with epubcheck integration
  tools/scripts/utilities/validate_epub.py
Due: none

fix: Remove deprecated frameborder attribute from iframes
  quarto/contents/labs/seeed/xiao_esp32s3/kws/kws.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(epub): correct backtick placement in raspberry pi instructions
  quarto/contents/labs/raspi/object_detection/object_detection.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(epub): wrap list items in ul tags in hardware evolution table
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(epub): guard remote resources with format-specific conditionals
  quarto/contents/labs/seeed/xiao_esp32s3/kws/kws.qmd
  quarto/index.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(epub): convert file-path links to section references in lab overviews
  quarto/config/_quarto-epub.yml
  quarto/contents/labs/arduino/nicla_vision/nicla_vision.qmd
  quarto/contents/labs/raspi/raspi.qmd
  quarto/contents/labs/seeed/grove_vision_ai_v2/grove_vision_ai_v2.qmd
  quarto/contents/labs/seeed/xiao_esp32s3/xiao_esp32s3.qmd
  quarto/scripts/fix_cross_references.py
Due: collapse-extra-blank-lines, yamllint, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(epub): convert additional .qmd file-path links to section references
  quarto/contents/labs/labs.qmd
  quarto/contents/labs/seeed/xiao_esp32s3/motion_classification/motion_classification.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(epub): implement dynamic EPUB cross-reference resolution
  quarto/config/_quarto-epub.yml
  quarto/scripts/fix_cross_references.py
  quarto/scripts/fix_epub_references.sh
Due: yamllint

fix: mark Grove Vision AI V2 Object Detection as TBD
  quarto/contents/labs/seeed/grove_vision_ai_v2/grove_vision_ai_v2.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(epub): replace bash script with cross-platform Python wrapper
  quarto/config/_quarto-epub.yml
  quarto/scripts/epub_postprocess.py
Due: yamllint

chore(epub): remove obsolete bash wrapper script
  quarto/scripts/fix_epub_references.sh
Due: none

chore: clean up build artifacts and update gitignore
  .gitignore
  quarto/contents/core/frontiers/diagram-52a87d5641145f9e75a213d86be7ad9fd8f3cd91.pdf
  quarto/contents/core/frontiers/frontiers_files/libs/bootstrap/bootstrap-81267100e462c21b3d6c0d5bf76a3417.min.css
  quarto/contents/core/frontiers/frontiers_files/libs/bootstrap/bootstrap-icons.css
  quarto/contents/core/frontiers/frontiers_files/libs/bootstrap/bootstrap-icons.woff
  quarto/contents/core/frontiers/frontiers_files/libs/bootstrap/bootstrap.min.js
  quarto/contents/core/frontiers/frontiers_files/libs/clipboard/clipboard.min.js
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/anchor.min.js
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/popper.min.js
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/quarto-syntax-highlighting-e1a5c8363afafaef2c763b6775fbf3ca.css
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/quarto.js
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/tabsets/tabsets.js
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/tippy.css
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/tippy.umd.min.js
  quarto/contents/core/ml_systems/diagram-a6b7fd5c5bb402e18c4c17681f52ed885cdcd955.pdf
  quarto/contents/core/training/diagram-8cc4e273a32d35d621d0dbd7df7fce3c80864c5d.pdf
Due: none

chore: clean up build artifacts and update gitignore
  .gitignore
  quarto/contents/core/frontiers/frontiers_files/libs/bootstrap/bootstrap-81267100e462c21b3d6c0d5bf76a3417.min.css
  quarto/contents/core/frontiers/frontiers_files/libs/bootstrap/bootstrap-icons.css
  quarto/contents/core/frontiers/frontiers_files/libs/bootstrap/bootstrap-icons.woff
  quarto/contents/core/frontiers/frontiers_files/libs/bootstrap/bootstrap.min.js
  quarto/contents/core/frontiers/frontiers_files/libs/clipboard/clipboard.min.js
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/anchor.min.js
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/popper.min.js
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/quarto-syntax-highlighting-e1a5c8363afafaef2c763b6775fbf3ca.css
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/quarto.js
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/tabsets/tabsets.js
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/tippy.css
  quarto/contents/core/frontiers/frontiers_files/libs/quarto-html/tippy.umd.min.js
Due: none

Fixing typos in 3 files (#1051)
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/frontiers/frontiers.qmd
  quarto/contents/core/hw_acceleration/hw_acceleration.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Update chapter-6
  quarto/contents/core/data_engineering/data_engineering.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Update chapter-6 (#1054)
  quarto/contents/core/data_engineering/data_engineering.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat: establish Python-to-notebook workflow for Lens colabs
  colabs/CHAPTER_MAPPING.md
  colabs/CONVERSION_STATUS.md
  colabs/MLS_SIMULATOR_BUILD_VS_LEVERAGE.md
  colabs/NAMING_DISCUSSION.md
  colabs/PYTHON_TO_NOTEBOOK_WORKFLOW.md
  colabs/README.md
  colabs/notebooks/ch01_ai_triangle.ipynb
  colabs/src/ch01_ai_triangle.py
  colabs/src/utils/ai_triangle_sim.py
Due: none

Fixing typos in 3 files
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/labs/seeed/grove_vision_ai_v2/image_classification/image_classification.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos in 3 files (#1055)
  quarto/contents/core/data_engineering/data_engineering.qmd
  quarto/contents/core/ml_systems/ml_systems.qmd
  quarto/contents/labs/seeed/grove_vision_ai_v2/image_classification/image_classification.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos in 2 files
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/labs/raspi/object_detection/object_detection.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fix typos in 2 files (#1056)
  quarto/contents/core/optimizations/optimizations.qmd
  quarto/contents/labs/raspi/object_detection/object_detection.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fix labels.txt download URL in image classification lab
  quarto/contents/labs/raspi/image_classification/image_classification.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

fix(redirects): Update TinyTorch redirect to use dedicated domain
  netlify.toml
  quarto/_redirects
Due: none

Fixing typos in 2 files
  quarto/_extensions/mlsysbook-ext/titlepage/fonts/qualitype/README
  quarto/contents/core/dl_primer/dl_primer.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos in 2 files (#1058)
  quarto/_extensions/mlsysbook-ext/titlepage/fonts/qualitype/README
  quarto/contents/core/dl_primer/dl_primer.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Fixing typos in 3 files
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

Adding Star History chart at bottom of README.md
  README.md
Due: none

Fixing typos in 3 files (#1060)
  quarto/contents/core/efficient_ai/efficient_ai.qmd
  quarto/contents/core/ondevice_learning/ondevice_learning.qmd
  quarto/contents/core/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, check-duplicate-labels, header-inline-check, grep-forbidden-phrases, validate-external-images, validate-image-references

feat(redirects): Add GitHub Pages HTML redirects to replace Netlify
  quarto/changelog.html
  quarto/epub.html
  quarto/kits.html
  quarto/labs.html
  quarto/pdf.html
  quarto/tinytorch.html
Due: none

fix(redirects): Use directory structure for extensionless URLs
  quarto/changelog/index.html
  quarto/epub/index.html
  quarto/kits/index.html
  quarto/labs/index.html
  quarto/pdf/index.html
  quarto/tinytorch/index.html
Due: none

Path conditions:
  collapse-extra-blank-lines: any of: ^quarto/contents/.*\.qmd$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

  check-duplicate-labels: any of: ^quarto/contents/.*\.qmd$
  header-inline-check: any of: ^quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^quarto/contents/.*\.qmd$
  validate-images: any of: ^quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^quarto/contents/.*\.qmd$
  validate-image-references: any of: ^quarto/contents/.*\.qmd$
  prevent-svg-files: any of: \.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: \.svg$
