Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs, validate-json, yamllint

collapse-extra-blank-lines:
  name: '[Book] Collapse extra blank lines'
  entry: python book/tools/scripts/content/format_blank_lines.py
  language: python
  additional_dependencies: []
  pass_filenames: true

format-python-in-qmd:
  name: '[Book] Format Python code blocks (Black, 70 chars)'
  entry: python book/tools/scripts/content/format_python_in_qmd.py
  language: python
  additional_dependencies:
  - black>=23.0.0
  pass_filenames: true

check-list-formatting:
  name: '[Book] Fix markdown list formatting'
  entry: python book/tools/scripts/utilities/check_list_formatting.py --fix
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: Ensure bullet lists are preceded by blank lines for proper markdown rendering

check-duplicate-labels:
  name: '[Book] Check for duplicate labels'
  entry: python book/tools/scripts/content/check_duplicate_labels.py
  args:
  - -d
  - book/quarto/contents/
  - --figures
  - --tables
  - --listings
  - --quiet
  - --strict
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

validate-citations:
  name: '[Book] Validate citation references in .qmd files'
  entry: python book/tools/scripts/content/validate_citations.py --quiet
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: Ensure all @key citations have corresponding entries in .bib files

validate-footnotes:
  name: '[Book] Validate footnote references and definitions'
  entry: python book/tools/scripts/content/footnote_cleanup.py -d book/quarto/contents/ --validate
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

check-forbidden-footnotes:
  name: '[Book] Check for footnotes in tables/captions/divs'
  entry: python book/tools/scripts/content/check_forbidden_footnotes.py -d book/quarto/contents/
  language: python
  additional_dependencies: []
  pass_filenames: false
  ...

header-inline-check:
  name: '[Book] Detect inline-style Markdown headers'
  entry: bash -c 'find . -name "*.qmd" -exec grep -nE "^[^#\n]*\\.[#]{1,6} " {} + && exit 1 || exit 0'
  language: system
  pass_filenames: false

grep-forbidden-phrases:
  name: '[Book] Check for forbidden words'
  entry: bash -c 'grep --color=always -n -E "Retry" "$@" && exit 1 || exit 0'
  language: system
  pass_filenames: true

check-purpose-unnumbered:
  name: '[Book] Ensure Purpose sections are unnumbered'
  entry: bash -c 'grep -n "^## Purpose" "$@" | grep -v "\.unnumbered" && exit 1 || exit 0' --
  language: system
  pass_filenames: true
  description: 'Ensure all ## Purpose sections have {.unnumbered} attribute'

check-table-formatting:
  name: '[Book] Check table formatting (alignment, bolding, spacing)'
  entry: python book/tools/scripts/content/format_tables.py --check -d quarto/contents/
  language: python
  additional_dependencies: []
  pass_filenames: false
  description: Ensure all tables have proper bolding, alignment, and spacing

docs: update callout styles to engineer notebooks
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(pdf): resolve Vol II PDF build errors
  book/quarto/_quarto.yml
  book/quarto/assets/images/icons/callouts/icon_callout_notebook.png
  book/quarto/assets/images/icons/callouts/icon_callout_notebook.svg
  book/quarto/assets/styles/epub.css
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/contents/parts/summaries-vol1.yml
  book/quarto/contents/parts/summaries-vol2.yml
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/optimizations/optimizations.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol2/communication/communication.qmd
  book/quarto/contents/vol2/distributed_training/distributed_training.qmd
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/contents/vol2/fault_tolerance/fault_tolerance.qmd
  book/quarto/contents/vol2/fault_tolerance/images/png/cover_inference_at_scale.png
  book/quarto/contents/vol2/inference/inference.qmd
  book/quarto/contents/vol2/infrastructure/cluster_networking.qmd
  book/quarto/contents/vol2/infrastructure/infrastructure.qmd
  book/quarto/contents/vol2/introduction/introduction.qmd
  book/quarto/contents/vol2/ops_scale/ops_scale.bib
  book/quarto/contents/vol2/ops_scale/ops_scale.qmd
  book/quarto/contents/vol2/privacy_security/privacy_security.qmd
  book/quarto/contents/vol2/storage/storage.qmd
  book/quarto/filters/inject_parts.lua
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-images, validate-external-images, validate-image-references, prevent-svg-files, sanitize-svgs, yamllint

fix(icons): redesign callout icons with unified line-art style
  book/quarto/assets/images/icons/callouts/icon_callout_chapter_connection.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_chapter_connection.png
  book/quarto/assets/images/icons/callouts/icon_callout_chapter_connection.svg
  book/quarto/assets/images/icons/callouts/icon_callout_colab.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_colab.png
  book/quarto/assets/images/icons/callouts/icon_callout_colab.svg
  book/quarto/assets/images/icons/callouts/icon_callout_definition.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_definition.png
  book/quarto/assets/images/icons/callouts/icon_callout_definition.svg
  book/quarto/assets/images/icons/callouts/icon_callout_example.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_example.png
  book/quarto/assets/images/icons/callouts/icon_callout_example.svg
  book/quarto/assets/images/icons/callouts/icon_callout_notebook.png
  book/quarto/assets/images/icons/callouts/icon_callout_notebook.svg
  book/quarto/assets/images/icons/callouts/icon_callout_quiz_answer.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_quiz_answer.png
  book/quarto/assets/images/icons/callouts/icon_callout_quiz_answer.svg
  book/quarto/assets/images/icons/callouts/icon_callout_quiz_question.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_quiz_question.png
  book/quarto/assets/images/icons/callouts/icon_callout_quiz_question.svg
  book/quarto/assets/images/icons/callouts/icon_callout_resource_exercises.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_resource_exercises.png
  book/quarto/assets/images/icons/callouts/icon_callout_resource_exercises.svg
  book/quarto/assets/images/icons/callouts/icon_callout_resource_slides.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_resource_slides.png
  book/quarto/assets/images/icons/callouts/icon_callout_resource_slides.svg
  book/quarto/assets/images/icons/callouts/icon_callout_resource_videos.pdf
  book/quarto/assets/images/icons/callouts/icon_callout_resource_videos.png
  book/quarto/assets/images/icons/callouts/icon_callout_resource_videos.svg
  book/quarto/contents/vol2/ops_scale/ops_scale.bib
Due: prevent-svg-files, sanitize-svgs

fix(bib): clean up Unicode characters in Vol 2 bibliography files
  book/quarto/contents/vol2/conclusion/conclusion.bib
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.bib
  book/quarto/contents/vol2/robust_ai/robust_ai.bib
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.bib
Due: none

fix(bib): remove LaTeX encoding from citation keys
  book/quarto/contents/vol2/robust_ai/robust_ai.bib
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.bib
  book/quarto/contents/vol2/sustainable_ai/sustainable_ai.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(layers): remove requires_grad from Linear layer Tensor calls
  tinytorch/src/03_layers/03_layers.py
  tinytorch/src/03_layers/ABOUT.md
Due: none

feat(datasets): add tinydigits and tinytalks educational datasets
  tinytorch/datasets/README.md
  tinytorch/datasets/tinydigits/LICENSE
  tinytorch/datasets/tinydigits/README.md
  tinytorch/datasets/tinydigits/create_tinydigits.py
  tinytorch/datasets/tinydigits/test.pkl
  tinytorch/datasets/tinydigits/train.pkl
  tinytorch/datasets/tinytalks/CHANGELOG.md
  tinytorch/datasets/tinytalks/DATASHEET.md
  tinytorch/datasets/tinytalks/LICENSE
  tinytorch/datasets/tinytalks/README.md
  tinytorch/datasets/tinytalks/SUMMARY.md
  tinytorch/datasets/tinytalks/examples/demo_usage.py
  tinytorch/datasets/tinytalks/scripts/generate_tinytalks.py
  tinytorch/datasets/tinytalks/scripts/stats.py
  tinytorch/datasets/tinytalks/scripts/validate_dataset.py
  tinytorch/datasets/tinytalks/splits/test.txt
  tinytorch/datasets/tinytalks/splits/train.txt
  tinytorch/datasets/tinytalks/splits/val.txt
  tinytorch/datasets/tinytalks/tinytalks_v1.txt
Due: none

docs(tinytorch): add versioning and release documentation
  tinytorch/CONTRIBUTING.md
Due: none

feat(tito): add dynamic --version flag reading from tinytorch package
  tinytorch/tito/main.py
Due: none

feat(tinytorch): add versioning system
  .github/workflows/tinytorch-publish-live.yml
  tinytorch/CHANGELOG.md
  tinytorch/site/_config.yml
  tinytorch/site/_static/custom.css
  tinytorch/site/_static/version-badge.js
Due: yamllint

feat(tito): improve update command with GitHub API tag checking
  tinytorch/tito/commands/update.py
Due: none

fix(tinytorch): update install URL and version in installer
  .github/workflows/tinytorch-publish-live.yml
  tinytorch/site/extra/install.sh
  tinytorch/tito/commands/update.py
Due: yamllint

docs(tinytorch): fix Python version and add version badge
  tinytorch/README.md
  tinytorch/site/getting-started.md
Due: none

fix(tinytorch): support Python 3.8+ instead of 3.10+
  tinytorch/README.md
  tinytorch/site/extra/install.sh
  tinytorch/site/getting-started.md
  tinytorch/tito/commands/update.py
Due: none

fix(workflow): add proper job result checks and fetch latest main before tagging
  .github/workflows/tinytorch-publish-live.yml
Due: yamllint

docs(workflow): add comprehensive workflow documentation header
  .github/workflows/tinytorch-publish-live.yml
Due: yamllint

feat(tinytorch): add dismissible announcement bar
  .github/workflows/tinytorch-publish-live.yml
  tinytorch/site/_config.yml
  tinytorch/site/_static/announcement-bar.js
  tinytorch/site/_static/announcement.json
  tinytorch/site/_static/custom.css
Due: validate-json, yamllint

fix(tinytorch): use CSS keyframe animations for announcement bar
  tinytorch/site/_static/announcement-bar.js
  tinytorch/site/_static/announcement.json
  tinytorch/site/_static/custom.css
Due: validate-json

feat(book): use book-v* tag prefix for releases
  .github/workflows/book-publish-live.yml
Due: yamllint

fix(tinytorch): reset announcement dismissId to v0.1.1
  tinytorch/site/_static/announcement.json
Due: validate-json

fix(tinytorch): fix trailing whitespace and EOF in tinytalks docs
  tinytorch/datasets/tinytalks/CHANGELOG.md
  tinytorch/datasets/tinytalks/DATASHEET.md
  tinytorch/datasets/tinytalks/README.md
  tinytorch/datasets/tinytalks/SUMMARY.md
Due: none

docs(frameworks): add text references for all code listings
  book/quarto/contents/vol1/frameworks/frameworks.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

fix(tinytorch): reorder workflow to run integration tests AFTER export
  tinytorch/tito/commands/module/workflow.py
Due: none

fix(workflow): link announcement to specific TinyTorch release tag
  .github/workflows/tinytorch-publish-live.yml
Due: yamllint

feat(tinytorch): install script pulls from main branch for stability
  tinytorch/site/extra/install.sh
Due: none

fix(tinytorch): use relative path for announcement.json
  tinytorch/site/_static/announcement-bar.js
Due: none

fix(tinytorch): announcement bar no longer overlaps navbar
  tinytorch/site/_static/announcement-bar.js
  tinytorch/site/_static/custom.css
Due: none

fix(tinytorch): tito module complete no longer overwrites student notebooks
  tinytorch/tito/commands/__init__.py
  tinytorch/tito/commands/dev/dev.py
  tinytorch/tito/commands/dev/export.py
  tinytorch/tito/commands/milestone.py
  tinytorch/tito/commands/module/workflow.py
  tinytorch/tito/commands/src.py
  tinytorch/tito/main.py
Due: none

refactor(vol1): optimize and de-duplicate optimizations chapter
  book/quarto/contents/vol1/optimizations/optimizations.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

refactor(cli): reorganize commands and add welcome message
  tinytorch/site/_static/demos/scripts/demo.sh
  tinytorch/site/_static/demos/scripts/tito-demo.sh
  tinytorch/site/_static/demos/scripts/validate_demos.sh
  tinytorch/site/_static/demos/tapes/01-zero-to-ready.tape
  tinytorch/site/_static/demos/tapes/05-logo.tape
  tinytorch/site/getting-started.md
  tinytorch/tito/commands/grade.py
  tinytorch/tito/commands/system/logo.py
  tinytorch/tito/commands/system/system.py
  tinytorch/tito/commands/system/update.py
  tinytorch/tito/main.py
Due: none

docs(nbgrader): mark as experimental, update instructor guide
  tinytorch/INSTRUCTOR.md
  tinytorch/assignments/release/02_tensor/02_tensor.ipynb
  tinytorch/assignments/source/02_tensor/02_tensor.ipynb
  tinytorch/tito/commands/nbgrader.py
Due: none

feat(site): add feedback link to announcement bar
  tinytorch/site/_static/announcement.json
Due: validate-json

feat(vol1): add formal definitions for key systems concepts
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: collapse-extra-blank-lines, format-python-in-qmd, check-list-formatting, check-duplicate-labels, validate-citations, validate-footnotes, check-forbidden-footnotes, header-inline-check, grep-forbidden-phrases, check-purpose-unnumbered, check-table-formatting, validate-external-images, validate-image-references

chore(tinytorch): bump version to tinytorch-v0.1.3
  tinytorch/tinytorch/__init__.py
Due: none

Path conditions:
  collapse-extra-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  format-python-in-qmd: any of: ^book/quarto/contents/.*\.qmd$
  check-list-formatting: any of: ^book/.*\.qmd$
  check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  header-inline-check: any of: ^book/quarto/contents/.*\.qmd$
  grep-forbidden-phrases: any of: ^book/quarto/contents/.*\.qmd$
  check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  prevent-svg-files: any of: ^book/.*\.svg$, but not: (?x)^(
    .*_files/mediabag/.*\.svg$
)$

  sanitize-svgs: any of: ^book/.*\.svg$
  validate-json: any of: \.json$
  yamllint: any of: \.(yml|yaml)$, but not: (?x)^(
    node_modules/|
    \.git/|
    _site/|
    _book/|
    \.venv/|
    __pycache__/|
    \.pyc$
)$

