Repository harvard-edge/cs249r_book: changes, and which pre-commit hooks are due for each by the changed paths.
All: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-validate-json, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-images, book-validate-external-images, book-validate-image-references, book-prevent-svg

Path conditions:
  book-collapse-blank-lines: any of: ^book/quarto/contents/.*\.qmd$
  book-format-python: any of: ^book/quarto/contents/.*\.qmd$
  book-check-list-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-json: any of: ^book/.*\.json$
  book-check-unreferenced-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-check-duplicate-labels: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-citations: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-forbidden-footnotes: any of: ^book/quarto/contents/.*\.qmd$
  book-check-purpose-unnumbered: any of: ^book/quarto/contents/.*\.qmd$
  book-check-table-formatting: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-part-keys: any of: ^book/.*\.qmd$
  book-validate-images: any of: ^book/quarto/contents/.*\.(png|jpg|jpeg|gif)$
  book-validate-external-images: any of: ^book/quarto/contents/.*\.qmd$
  book-validate-image-references: any of: ^book/quarto/contents/.*\.qmd$
  book-prevent-svg: any of: ^book/quarto/contents/.*\.svg$, but not: .*_files/mediabag/.*\.svg$

feat: add step-by-step visualization to milestones
  tinytorch/milestones/01_1958_perceptron/01_rosenblatt_forward.py
  tinytorch/milestones/02_1969_xor/01_xor_crisis.py
  tinytorch/milestones/02_1969_xor/02_xor_solved.py
  tinytorch/milestones/03_1986_mlp/01_rumelhart_tinydigits.py
  tinytorch/milestones/04_1998_cnn/01_lecun_tinydigits.py
  tinytorch/milestones/05_2017_transformer/01_vaswani_attention.py
  tinytorch/milestones/06_2018_mlperf/01_optimization_olympics.py
  tinytorch/milestones/06_2018_mlperf/02_generation_speedup.py
Due: none

feat(workflow): add website-only deploy for TinyTorch (no version bump)
  .github/workflows/tinytorch-deploy-site-only.yml
Due: none

refactor(workflow): add site_only option to TinyTorch publish workflow
  .github/workflows/tinytorch-deploy-site-only.yml
  .github/workflows/tinytorch-publish-live.yml
Due: none

Refactors calculations into `physx` library
  .pre-commit-config.yaml
  book/quarto/calc/INLINE_PYTHON_GUIDE.md
  book/quarto/calc/README.md
  book/quarto/calc/__init__.py
  book/quarto/calc/formulas.py
  book/quarto/calc/verify_render.py
  book/quarto/physx/README.md
  book/quarto/physx/__init__.py
  book/quarto/physx/_legacy_ch_ml_systems.py
  book/quarto/physx/archetypes.py
  book/quarto/physx/calc.qmd
  book/quarto/physx/ch_appendix_algorithm.py
  book/quarto/physx/ch_data_selection.py
  book/quarto/physx/ch_example.py
  book/quarto/physx/ch_hw_acceleration.py
  book/quarto/physx/ch_introduction.py
  book/quarto/physx/constants.py
  book/quarto/physx/energy.py
  book/quarto/physx/export.py
  book/quarto/physx/formatting.py
  book/quarto/physx/formulas.py
  book/quarto/physx/generate_appendix.py
  book/quarto/physx/latency.py
  book/quarto/physx/registry.py
  book/quarto/physx/roofline.py
  book/quarto/physx/speedup.py
  book/quarto/physx/systems.py
  book/quarto/physx/test_units.py
  book/quarto/physx/throughput.py
  book/quarto/physx/tiers.py
  book/quarto/physx/validate_inline_refs.py
  book/quarto/physx/viz.py
  book/quarto/physx/workloads.py
Due: book-validate-part-keys

Removes old viz.py and replaces with import shim
  book/quarto/calc/viz.py
Due: none

fix(ci): use pull_request_target for auto-label write permissions
  .github/workflows/auto-label.yml
Due: none

Fix CLI config fallback and ml_systems chapter issues
  book/cli/core/config.py
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Update chapters with physx refactoring and cleanup
  book/audit_references.py
  book/quarto/PRODUCTION_FIGURE_ERRATA.md
  book/quarto/contents/frontmatter/about/about.qmd
  book/quarto/contents/frontmatter/socratiq/socratiq.qmd
  book/quarto/contents/vol1/STATUS.md
  book/quarto/contents/vol1/backmatter/appendix_algorithm.qmd
  book/quarto/contents/vol1/backmatter/appendix_dam.qmd
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/backmatter/references.bib
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/frontmatter/notation.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/_shelved_automl_section.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/parts/optimize_principles.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/contents/vol2/backmatter/references.bib
  book/quarto/contents/vol2/edge_intelligence/edge_intelligence.qmd
  book/quarto/physx/README.md
  book/quarto/tex/header-includes.tex
  book/scan_styling.py
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Fix bibtex formatting (pre-commit auto-fix)
  book/quarto/contents/vol1/backmatter/references.bib
Due: none

Fix figure placement issues in data_selection and dnn_architectures
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/index.idx
  book/quarto/index.ilg
  book/quarto/index.ind
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Fix physx test path and add pint dependency to pre-commit
  .pre-commit-config.yaml
  book/quarto/physx/test_units.py
Due: none

Inline viz.py plotting code into QMD files (partial)
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol2/storage/storage.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Inline remaining viz.py plotting code into QMD files
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Auto-fix: formatting cleanup from pre-commit hooks
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/index.ilg
  book/quarto/index.ind
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Auto-fix: additional formatting from pre-commit
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/index.idx
  book/quarto/index.ilg
  book/quarto/index.ind
Due: none

Fix: list formatting issue in data_engineering.qmd
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/index.idx
  book/quarto/index.ilg
  book/quarto/index.ind
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Fix: use simple 'physx' path for sys.path.insert
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Fix: use '.' for sys.path to import physx module
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Simplify plotting code: project-wide PYTHONPATH + viz returns plt
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/physx/_startup.py
  book/quarto/physx/viz.py
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Fix: move #| directives before imports in all code blocks
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/dl_primer/dl_primer.qmd
  book/quarto/contents/vol1/dnn_architectures/dnn_architectures.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/responsible_engr/responsible_engr.qmd
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/contents/vol1/training/training.qmd
  book/quarto/contents/vol1/workflow/workflow.qmd
  book/quarto/index.idx
  book/quarto/index.ilg
  book/quarto/index.ind
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

fixes
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/frontmatter/notation.qmd
  book/quarto/contents/vol1/serving/serving.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

stale
  book/quarto/viz.py
Due: none

Add automatic figure list generation for MIT Press
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/scripts/mit_press/FIGURE_LIST_VOL1.csv
  book/quarto/scripts/mit_press/FIGURE_LIST_VOL1_COMPLETE.csv
  book/quarto/scripts/mit_press/README.md
  book/quarto/scripts/mit_press/clear_figure_cache.py
  book/quarto/scripts/mit_press/figure_list_for_press.py
  book/quarto/scripts/mit_press/generate_figure_list.py
  book/quarto/scripts/mit_press/merge_figure_data.py
  book/quarto/tex/header-includes.tex
Due: none

Consolidate figure list scripts into single file with --clear flag
  book/quarto/config/_quarto-pdf-vol1.yml
  book/quarto/figure_manifest.txt
  book/quarto/index_figures.txt
  book/quarto/scripts/extract_figure_manifest.py
  book/quarto/scripts/generate_figure_manifest.py
  book/quarto/scripts/mit_press/clear_figure_cache.py
  book/quarto/scripts/mit_press/generate_figure_list.py
  book/quarto/site.webmanifest
Due: none

Enable all chapters in PDF vol1 config for full book builds
  book/quarto/config/_quarto-pdf-vol1.yml
Due: none

Fix fenced div and footnote warnings
  book/quarto/_quarto.yml
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol2/infrastructure/networking.qmd
  book/quarto/index_figures.txt
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

Fix malformed equation in serving.qmd
  book/quarto/contents/vol1/serving/serving.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

fix principle references
  book/quarto/contents/vol1/ml_systems/ml_systems.qmd
  book/quarto/contents/vol1/ops/ops.qmd
  book/quarto/contents/vol1/optimizations/model_compression.qmd
  book/quarto/contents/vol1/parts/foundations_principles.qmd
  book/quarto/contents/vol1/training/training.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

figure listing
  book/quarto/scripts/mit_press/figure_list_for_press.py
  book/quarto/scripts/mit_press/generate_figure_list.py
Due: none

mit release (after fig alt issue fix)
  book/quarto/_quarto.yml
  book/quarto/contents/vol1/backmatter/appendix_dam.qmd
  book/quarto/contents/vol1/backmatter/appendix_data.qmd
  book/quarto/contents/vol1/backmatter/appendix_machine.qmd
  book/quarto/contents/vol1/benchmarking/benchmarking.qmd
  book/quarto/contents/vol1/conclusion/conclusion.qmd
  book/quarto/contents/vol1/data_engineering/data_engineering.qmd
  book/quarto/contents/vol1/data_selection/data_selection.qmd
  book/quarto/contents/vol1/frameworks/frameworks.qmd
  book/quarto/contents/vol1/frontmatter/acknowledgements.qmd
  book/quarto/contents/vol1/frontmatter/notation.qmd
  book/quarto/contents/vol1/hw_acceleration/hw_acceleration.qmd
  book/quarto/contents/vol1/index.qmd
  book/quarto/contents/vol1/introduction/introduction.qmd
  book/quarto/contents/vol1/parts/deploy_principles.qmd
  book/quarto/contents/vol1/parts/foundations_principles.qmd
  book/quarto/contents/vol1/parts/optimize_principles.qmd
  book/quarto/contents/vol1/parts/summaries.yml
  book/quarto/contents/vol1/serving/serving.qmd
  book/quarto/index_figures.txt
  book/quarto/tex/header-includes.tex
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

remove vol 1 title
  book/quarto/contents/vol1/backmatter/glossary/glossary.qmd
Due: book-collapse-blank-lines, book-format-python, book-check-list-formatting, book-check-unreferenced-labels, book-check-duplicate-labels, book-validate-citations, book-validate-footnotes, book-check-forbidden-footnotes, book-check-purpose-unnumbered, book-check-table-formatting, book-validate-part-keys, book-validate-external-images, book-validate-image-references

fix(attention): correct O(n²) complexity explanation and memory table bug
  tinytorch/src/12_attention/12_attention.py
Due: none

fix(activations): correct misleading GELU hint about 1.702 constant
  tinytorch/src/02_activations/02_activations.py
Due: none

docs(activations): expand GELU explanation with both approximation forms
  tinytorch/src/02_activations/02_activations.py
Due: none

fix(ci): use pipe delimiter in sed to handle branch names with slashes
  tinytorch/scripts/test-fresh-install.sh
Due: none

fix(workflow): deterministic project detection in all-contributors
  .github/workflows/all-contributors-add.yml
  book/.all-contributorsrc
Due: none

fix(paper): escape special LaTeX characters breaking PDF build
  tinytorch/paper/paper.tex
  tinytorch/paper/references.bib
Due: none

fix(ci): use head_ref for PR branch in fresh install test
  .github/workflows/tinytorch-validate-dev.yml
  tinytorch/scripts/test-fresh-install.sh
Due: none
